#sandbar {
  background: #F1F1F1;
  height: 77px;
  overflow: hidden;
}

.gc-search .searchbox {
  overflow: hidden;
}

.page-title {
  border-bottom: 0;
  padding-bottom: 0;
}

#maps-footer {
  font-family: 'Open Sans';
  background: url(/maps/images/hero-bg.png) repeat-x;
  padding: 44px 0;
  background-position: 50% 50%;
}

#maps-footer #maps-footer-inner {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

#maps-footer-inner,
#maps-footer-inner h3 {
  color: #868686;
  font-weight: 200;
  font-size: 20px;
}

#maps-footer-inner h3 {
  margin: 0;
  padding: 0;
}

#maps-footer-inner a {
  text-decoration: none;
  color: #333;
}

#maps-footer .gc-hero-devices {
  height: 418px;
  position: relative;
  margin: 0 auto;
  width: 590px;
}

#maps-footer .gc-hero-devices div {
  position: absolute;
  background-position: 6px bottom;
  background-repeat: no-repeat;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: 100% auto;
}

#maps-footer .gc-device-chromebook {
  left: 0;
  bottom: 56px;
  background-image: url(/maps/images/hero-chromebook-shadow.png);
}

#maps-footer .gc-device-chromebook img {
  margin-bottom: 4px;
  width: 442px;
  height: 267px;
}

#maps-footer .gc-device-ios {
  left: 31px;
  bottom: 0;
  background-image: url(/maps/images/hero-iphone-shadow.png);
}

#maps-footer .gc-device-ios img {
  margin-bottom: 2px;
  width: 87px;
  height: 178px;
}

#maps-footer .gc-device-android {
  right: 0;
  bottom: 13px;
  background-image: url(/maps/images/hero-nexus10-shadow.png);
}

#maps-footer .gc-device-android img {
  margin-bottom: 6px;
  width: 307px;
  height: 210px;
}

#maps-footer .gc-hero-devices div:hover {
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  #maps-footer #maps-footer-inner {
    width: auto;
  }

  #maps-footer .gc-hero-devices {
    width: auto;
    overflow: hidden;
  }

  #maps-footer .gc-device-chromebook {
    left: 50%;
    margin-left: -221px;
  }
}

/* Use this to make text not selectable. */
body .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Redesign fixes (backwards-compatible) */
.slim #sandbar {
  height: 71px;
}

.slim #maps-site h2::after,
.slim #maps-devsite h2::after {
  content: none;
}
