		/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 12 March 2015 02:03:11
*/


@font-face {
  font-family: 'icons';
  src: url('http://www.elsevier.com/__data/assets/file/0005/142628/icons.eot?v=0.1.1?63643407');
  src: url('http://www.elsevier.com/__data/assets/file/0005/142628/icons.eot?v=0.1.1?63643407#iefix') format('embedded-opentype'),
       url('http://www.elsevier.com/__data/assets/file/0017/142631/icons.woff?v=0.1.1?63643407') format('woff'),
       url('http://www.elsevier.com/__data/assets/file/0016/142630/icons.ttf?v=0.1.1?63643407') format('truetype'),
       url('http://www.elsevier.com/__data/assets/file/0006/142629/icons.svg?v=0.1.1?63643407#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
font-family:Helvetica; Arial; San-serif;
}
a {
  color:#0089c1;
  color:#006080;
  color: #00759b;
}
.wrapper {
  margin: 0 auto;
  width: 960px;
width:1032px;
  padding: 38px 10px 0;
}
h1, h2, h3, h4, h5, h6 {
  color:#333;
}
.clearfix { clear:both; }
.article-content {
  /*font-size:0.8em;*/
  font-size:12px;
  line-height:1.7em;
}
p {
    /*font-size:12px !important;*/
    font-size:12px;
    line-height: 1.5em;
    margin-top: 0px;

}
h1, h2, h3 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 12px;
    color:#666666
}
.entry_title {
    margin-top:0 !important;
    color:#666;;
}
/*  ============================================= *
 *    header
 *  ============================================= */
.header {
  border-bottom:1px solid #ddd;
  padding-bottom:20px;
  margin-bottom:20px;
}
.header a {
  text-decoration:none;
  float:left;
}
.header > ul {
  list-style:none;
  padding:0;
  margin:20px 0 0;
}
.header > ul > li {
  float:left;
  position:relative;
}
.header > ul > li:hover ul {
    visibility:visible;
    opacity:1;
}
.header li a {
  padding:3px 10px;
  font-size:1.1em;
color:#00759b;
}
.header li:first-child a {
  padding-left:0;
}
.header .current a  {
  color:#666;
  font-weight:bold;
}
.header .sub-menu {
    visibility:hidden;
    opacity:0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition:    opacity 0.3s ease-in-out;
    -o-transition:      opacity 0.3s ease-in-out;
    -ms-transition:     opacity 0.3s ease-in-out;
    transition:         opacity 0.3s ease-in-out;
    list-style:none;
    padding:0;
    margin:0;
    position:absolute;
    top:100%;
    width:200px;
    background:#f9f9f9;
    z-index:2;
    border:1px solid #ddd;
    border-bottom:0;
}
.header .sub-menu li {
    float:none;
    width:100%;
}
.header .sub-menu li a {
    display:block;
    width:190px;
    color:#555;
    padding:5px;
    font-size:0.8em;
    border-bottom:1px solid #ddd;
    font-weight:bold;
}
.header .sub-menu li a:hover {
    background:#eee;
}
.header .search {
  float: right;
  width: 360px;
  padding: 0 0 20px;
}
.header .search p {
    font-weight:100;
    font-size: 17px;
    text-align:center;
    color:#888;
    margin:0 0 10px 0;
}
/* search changes acc to ticket: 19885 */

.header .search input[type="text"] {
  width:303px; /* 318px */ /* 323px */
  float:left;
  border:1px solid #dcdcdc;
  height:18px; /* 20px */
  padding:2px 2px 2px 15px; /* 2px */
  background:#f3f3f3;
  border-radius:         12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius:    12px 0 0 12px;
  -moz-box-shadow:    inset 0px 0 5px #bfbfbf;
  -webkit-box-shadow: inset 0px 0 5px #bfbfbf;
  box-shadow:         inset 3px 3px 5px #bfbfbf;
font-size:13px;
}
.header .search input[type="submit"] {
  border-radius:         0 12px 12px 0;
  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius:    0 12px 12px 0;
  height:26px;
  border:0;
  display:block;
  border:1px solid #dcdcdc;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ededed), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#ededed 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#ededed 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#ededed 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  width:30px;
  font-family:"icons";
  color:#0089c1;
}
.header .social {
  float:right;
  width:140px;
  padding-left: 5px;
}
.header .social a {
  display:block;
  float:left;
  width:24px;
  height:24px;
  background-image: url('http://www.elsevier.com/__data/assets/image/0019/142651/social-sprite.png?v=0.1.1');
  margin-right:5px;
}
.header .social .social-last-child {
  margin:0;
}
.header .social .fb {
  background-position: -24px 0;
}
.header .social .li {
  background-position: -48px 0;
}
.header .social .gp {
  background-position: -72px 0;
}
.header .social .rss {
  background-position: -96px 0;
}

/*  ============================================= *
 *    content
 *  ============================================= */
.content-left {
  width:190px;
  float:left;
}
.content-left a {
  display:block;
  margin-bottom:10px;
  margin-bottom:4px;
  text-decoration:none;
  font-size:0.8em;
  padding:4px 10px;
}
.content-left .current {
  background:#666;
  border-radius:11px;
  color:#fff;
  padding-left: 10px;
}
.content-left h4 {
  padding-left:10px;
margin-top:2px;
}
.content-right {
  float:left;
  margin-left:19px;
  padding-left:20px;
  width:728px;
width:800px;
  border-left:1px solid #ddd;
}
.parent-category {
  text-decoration:none;
  font-size:0.8em;
}
.article-info {
    color:#777;
    font-size:0.8em;
    margin-bottom:20px
}

.content-left .menu{
    padding-left:0;
}

.content-left .category-sub-all{
    padding: 0 0 0 30px;
    display:none;
}

.content-left .category-sub{
    list-style-type:none;
    
}

.content-left .category-main {
  list-style-type: none;
  padding:5px 0 0px 0;
}

.content-left .category-main .category-link{
    display: inline-block;
    font-weight:bold;
    color:#00759b; 
    width:100%;
    clear:both;
}

.content-left .category-link a{
  width: 80%;
  word-wrap: break-word;
  padding-top: 0px;
  display: inline-block;
  float: left;
  margin-bottom:0px;
}

.content-left .category-link a.current{
  width:70%;
  padding-top:4px;
}

.content-left .category-main .category-link .show-hide{
    line-height:16px;
    height:15px;
    width:12%;
    display: inline-block;
    cursor: pointer;
    float:left;
}

.content-left .category-main .category-link .show-hide.expandable{
    background:none;
    background: transparent url(http://www.elsevier.com/__data/assets/image/0009/149787/show-hide-icon.png?v=0.1.3) 0 -15px no-repeat;
}

.content-left .category-main.expanded .category-link .show-hide.expandable{
  background-position:0 0;
}

 div.free-text span.icon{
     background: transparent url() no-repeat; /* show-hide-icon.png */
     width: 15px;
     display: block;
     float: left;
     margin-left: 10px;
     cursor: pointer;
  }
  div.free-text span.hide{
     background-position: 0 0;
  }
  div.free-text span.show{
     background-position: 0 -15px;
  }
  div.pod-box .box-header span.icon{
     margin-right: 14px;
     margin-top: 14px;
     display: block;
     float: right;
     background: transparent url() no-repeat; /* show-hide-icon.png */
     width: 15px;
     height: 15px;
     cursor: pointer;
  }
/*  ============================================= *
 *    Article Listing
 *  ============================================= */

.article-listing {
  padding:0;
  margin:0;
  list-style:none;
}
.article-listing li {
  clear:both;
  padding-bottom:20px;
  float:left;
  width: 100%;
}
.article-listing img {
  float:left;
  width:125px;
  height:auto;
  margin-right:20px;
}
.article-listing .article-listing-featured img {
    width: auto;
    height: auto;
    float: none;
}
.article-listing a {
  overflow: hidden;
  text-decoration:none;
}
.article-listing .article-listing-auth {
  font-size:0.8em;
  padding-top:10px;
  color:#999;
}
.article-listing-auth strong {
  padding: 0 4px;
}
.article-listing .article-listing-more {
  font-size:0.75em;
}
/* Commented by mthomas on 28/08/2013 at 16:08
.article-listing-content {
  float: left;
  width: 650px;
}
*/
.article-listing-content {
    margin-left: 145px;
}
.article-listing .article-listing-featured {
  border-bottom:1px solid #ddd;
  padding:0;
  margin-bottom:20px;
}
/* Commented by mthomas on 28/08/2013 at 16:08
.article-listing .article-listing-featured img {
  width: 390px;
  height: 230px;
}
*/
.article-listing .article-listing-featured img {
  width: auto;
  max-width: 400px;
  height: auto;
}
/* Commented by mthomas on 28/08/2013 at 16:08
.article-listing-featured .article-listing-content {
  width: 390px;
}
*/
.article-listing-featured a {
  padding: 15px 0;
  float: left;
}
.article-listing-featured > a:first-child {
  font-size: 1.3em;
  font-weight: bold;
}
.article-listing-summary h4 {
  margin:0;
}
.article-listing-content .article-listing-cat{
  margin-bottom: 7px;
}
.article-listing-content p{
  margin-bottom: 7px;
  margin-top: 10px;
  line-height: 1.5em;
}
.article-listing-featured-title {
  display:block;
  width:100%;
}
.article-inner-note {
float: right;
border: 1px solid lightgray;
padding: 10px;
margin: 10px;
color: #4c4c4c;
}
.listing-sorting {
    text-align:right;
    font-size:0.8em;
}
.listing-sorting select {
    float:right;
    margin-bottom:20px;
    background:#006080;
    color:#fff;
    border:#fff 1px solid;
    display:block;
    margin-left:5px;
}

/*  ============================================= *
 *    Comments
 *  ============================================= */

.comment-create {
  border:1px solid #eaeaea;
  padding:20px;
  margin-bottom: 20px;
  background:#fbfbfb;
  border-radius:         10px;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
}
.comment-create h4 {
  margin:0;
  color:#000;
}
.comment-create textarea {
    width:680px !important;
    height:100px;
}
.comment-create label {
  display:block;
  font-size:0.8em;
  margin:5px 0;
  font-weight:bold;
  color:#777;
}
.comment-extras {
  margin:20px 0;
}
.comment-extras div {
  width:33%;
  float:left;
}
.comment-extras input {
  width:80% !important;
}
#sq_commit_button {
  border: 1px solid #333;
  margin-top: 18px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #11759C;
  color: #fff;
  font-weight: bold;
  height: 30px;
  background-image: none;
}
.comment-list > a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  margin-bottom: 10px;

}
.comment-list > a span {
  color:#000;
}
.comment-list > em {
  display:block;
  font-size: 11px;
  display: block;
  padding-bottom:10px;
}
.comment-captcha {
  float:left;
  margin:10px 0;
}
#sq_regen_captcha {
    font-size:0.8em;
}
.comment-error {
  color:#c13f3f
}

/*  ============================================= *
 *    Sharing
 *  ============================================= */
.social-bar {
  padding:5px 1%;
  width:98%;
  border:1px solid #ddd;
  border-radius:         5px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  margin: 0 0 20px 0;
}
.social-right {
    float:right;
    width:315px;
}
.social-left {
    float:left;
}
.social-right > span {
    margin:5px 0 0 7px;
  display:block;
  width:20px;
  float:left;
}
.social-left em {
  font-size:0.8em;
  color:#777;
  float:left;
  padding: 5px 5px 0 0;
}

.footer { clear:both; float:left; font-size: 12px; margin:20px 0; padding:20px 0; width:100%; border-top:1px solid #ddd; }
.footer .logo { display:block; float:left; overflow:hidden; }
.footer a { font-size: 12px !important; text-decoration:none; }
.footer .links { font-size:12px; float:right; margin:0; }
.footer .links li { float:left; list-style:none; margin-left:30px; }
.footer .links li.follow-us { position:relative; }
.footer .links li.follow-us a.title { background:url('http://cdn.elsevier.com/assets/image/0019/685/small.png') scroll no-repeat right -197px transparent; padding-right:15px; }
.footer .links li.follow-us .wrapper { background:url('http://cdn.elsevier.com/assets/image/0019/676/box-on-hover-shadow.png') scroll no-repeat right bottom transparent; bottom:-34px; display:none; left:-11px; position:absolute; padding-bottom:23px; z-index:1500; }
.footer .links li.follow-us .wrapper div { background-color:white; border:1px solid #cfcfcf; padding:10px 30px 10px 10px; }
.footer .links li.follow-us .wrapper div a.box-title { background:url('http://cdn.elsevier.com/assets/image/0019/685/small.png') scroll no-repeat right -247px transparent; padding-right:15px; }
.footer .links li.follow-us .wrapper div ul { margin:0; }
.footer .links li.follow-us .wrapper div ul li { background-image:url('http://cdn.elsevier.com/assets/image/0019/685/small.png'); background-repeat:no-repeat; float:none; margin:0; padding:3px 0 3px 25px; }
.footer .links li.follow-us .wrapper div ul li.newsletter { background-position:0 -300px; }
.footer .links li.follow-us .wrapper div ul li.twitter { background-position:0 -350px; }
.footer .links li.follow-us .wrapper div ul li.linkedin { background-position:0 -400px; }
.footer .links li.follow-us .wrapper div ul li.facebook { background-position:0 -450px; }
.footer .links li.follow-us:hover .wrapper { display:block; }
.footer .copyright-and-terms { float:right; margin-top:10px; }
.footer .copyright-and-terms p { float:left; line-height:24px; margin:0 10px 0 0; }
.footer .copyright-and-terms ul { float:left; margin:0; line-height:24px; }
.footer .copyright-and-terms ul li { list-style:none; float:left; margin-left:30px; }

/*  ============================================= *
 *    content fixes - temp
 *  ============================================= */
.article-inner-replaced.alignright,  .article-inner-replaced.alignleft, .article-inner-replaced.alignnone {
  float:right;
  width:35%;
  padding:10px;
  border:1px solid #ddd;
  margin:0 0 20px 20px;
}
.article-inner-replaced.alignleft {
  float:left;
  margin: 0 20px 20px 0;
}
.article-inner-replaced.alignnone {
  float:none;
  margin:10px 0;
  width:100%;
  clear:both;
}
.article-inner-replaced.alignright img, .article-inner-replaced.alignleft img, .article-inner-replaced.alignnone img {
  width:100%;
}
.alignleft {
  float:left;
  margin: 10px 20px 20px 0;
}
.article-inner-pullquote {
  border:1px solid #ddd;
  padding:10px;
  float:right;
  font-style:italic;
  width:40%;
  margin:10px;
  position:relative;
}
.article-inner-pullquote:before {
  display:block;
  content:" ";
  position:absolute;
  width:10px;
  height:10px;
  background:#fff;
  right:99%;
  top:20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-width:0px 0px 1px 1px;
  border-color: #ddd;
  border-style:solid;

}

.article-content iframe{ margin-top: 15px; }

.header .search input[type="image"]{
   float: left;
}

/* Pagination */
.listing_pagination span, .listing_pagination a{
  border: solid 1px #ccc;
  display: block;
  float: left;
  padding: 1px 7px;
  margin-right: 5px;
  text-decoration:none;
  color:#666;
  font-size:0.8em;
}
.listing_pagination a:hover{
  border:1px solid #777;
}
.listing_pagination span.active{
  color: #444;
  background: #ddd;
}
.listing_pagination a span.prevnext{
  border:0;
  padding:0;
  margin:0;
  font-size:1em;
}
.pagination-clear{
  clear:both;
}
.listing_pagination{
  padding-bottom: 20px;
  margin-top: 11px;
}

/* Additional design changes #19903 & 19904 */
.browse_articles_h1{
margin-top:3px;
font-size: 1.5em;
color:#555;
}
.header .search p {
    font-weight:lighter;
    font-size: 19px !important;
    text-align:left;
    color:#999;
    margin:0 0 10px 10px;
}
.article-listing-featured > a:first-child{
  font-size:18px;
  color:#00759b;
  display:block;
  width:100%;
}
.article-listing-featured a{
padding:3px 0 15px 0;
}
.article-listing .article-listing-auth{
font-size:12px;
color:#777777;
}
.article-listing-summary h4{
font-size:14px;
color:#000000;
font-weight:bold;
}
.article-listing-content p{
color:#000000;
font-size:12px;
}
.article-listing .article-listing-more{
color:#006080;
font-size:12px;
}
.content-left a,.content-left h4{
padding-left:0;
}
.article_h1{
font-size:22px;
color:#555;
margin-top:18px;
}
.article-content iframe{
max-width:100%;
}
.article_h2{
font-size: 18px;
color: #000;
font-weight: normal;
}

.article-listing .article-listing-more.category-link{
   vertical-align: top;
}
h1.entry_title a {
    color: #666;
    font-size: 20px;
    text-decoration:none;
    font-weight:800;
    /*font: normal 19px/20px Arial,'palatino linotype',palatino,'times new roman',times,serif;*/
}

/* Shortcodes */
.pullquote, .quote, blockquote {
    font-style:italic;
    font-family:inherit;
    color: #555;
    font-size:100%;
    width:80%;
    padding:10px;
}
.box {
    border:1px solid #dfdfdf;
    padding:20px;
    float:left;
    width:96%;
    margin: 0 0 15px 0;
  clear:both;
}
.box li {
    font-size: 12px;
    line-height: 1.5em;
    margin-top: 0;
}
.quote, blockquote {
    background: url(http://cdn.elsevier.com/assets/image/0006/147813/blockquote_gray.gif) no-repeat 0 4px;
    padding: 10px 20px 10px 50px;
    color: #555;
    font-style: italic;
    margin:0 0 15px 0;
    font-size:12px
}
.alignright {
    float: right !important;
    margin: 10px 0px 20px 20px;
    max-width:400px;
    width:auto;
}
.alignleft {
    float: left !important;
    margin: 10px 20px 20px 0px;
    max-width:400px;
    width:auto;
  clear:both;
}
.pullquote.alignleft, .pullquote, .pullquote[align="alignleft"] {
    border-left:3px solid #dddddd;
    padding-left:15px;
}
.pullquote.alignright, .pullquote[align="alignright"] {
    padding-right:15px;
    float:right;
    text-align:left;
    width:auto;
}


/* -- Home page videos styles */
.videos-container{
    position: relative;
    margin-bottom: 15px;
}
ul.videos-home li{
    float: left;
    width: 170px;
    margin: 10px 12px 0 0;
    list-style: none inside none;
}
ul.videos-home li a.img-link{
    position:relative;
/* Commented on: 20 Aug 2013 by Bwalters
    width: 170px;
    height: 110px;
*/
    overflow: hidden;
    display: block;
}
/* Commented on: 20 Aug 2013 by Bwalters
ul.videos-home li img{
    width: 170px;
}
*/
ul.videos-home li h4{
    margin: 0px;
    font-size: 0.75em;
    text-align: left;
}
ul.videos-home li a{
    text-decoration: none;
}
.video-icon {
    background:url('http://www.elsevier.com/__data/assets/image/0003/148485/play-button.png?v=0.0.2') center center no-repeat;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.comment-list .comment-list {
  padding-left:40px;
}
/* -- Home page videos styles end */

/* -- Crop Images quickfix -- */
.article-listing img{
   /* Commented by mthomas on 28/08/2013 at 16:08
   width: auto;
   */
   margin-right: 0px;
}

.article-listing > li > a {
    float: left;
    margin-right: 20px;
    overflow: hidden;
    text-decoration: none;
    /* Commented by mthomas on 28/08/2013 at 16:08
    width: 125px;
    display: block;
    */
    display: inline-block;
    background-size: cover;
}

/* Commented on: 29 Aug 2013 by Bwalters
.article-listing .article-listing-featured > a{
   height: auto;
   width: auto;
}
*/

.article-listing-featured > a{
    clear: left;
}
.comment-reply {
color: #00759b;
font-size: 12px !important;
}
/* -- Crop Images fix end -- */

/* -- Divider -- */

.su-divider {
  clear: both;
  height: 0px;
  margin: 1.5em 0 -10px 0;
  border-top: 1px solid #ccc;
}
.su-divider a {
  display: block;
  float: right;
  padding-left: 10px;
  margin-top: -1.2em;
  background: #fff;
  color: #777;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
}

/* image fixes */
img[align="left"] {
    margin-left:0 !important;
}
img[align="right"] {
    margin-right:0 !important;
}

img.stroke { border: 1px solid #000 }
/*fix for pullquotes, left & right*/

.pullquote[align="right"]

{float: right;
width: 30%;
font-style: italic;
text-align: left;
border-left: 3px solid #dddddd;
padding: 20px;
font-family: inherit;
color: #555;
font-size: 90%;
margin: 0 0 0 20px;}

.pullquote[align="left"]

{float: left;
width: 30%;
font-style: italic;
border-left: 3px solid #dddddd;
padding: 20px;
font-family: inherit;
color: #555;
font-size: 90%;
margin: 0 20px 10px 0px;}

.border {
  border: 1px solid #333;
}

/* View more button styles - added by Dennis Smit on 14 Oct 13*/

.viewMoreButton {
float:left;
display: block;
height: 30px;
width: 193px;
background-color:#D9EAF0;
color: #006080;
border: 1px solid #006080;
border-radius: 6px 6px 6px 6px;
font-size: 14px;
text-align: center;
text-decoration: none;
line-height: 32px;
margin-left: 300px;
padding: 0;
}

/* Elsevier navigation styles added by Dennis Smit 21 Oct 2013 */

#navElsevierCom {
    width: 860px;
    height: 42px;
    margin:0 auto 10px auto;
    font-size: 16px;
    text-align: center;
    background-color: #fcfcfc;
    border-bottom:1px solid #a2a2a2;
    border-right:1px solid #a2a2a2;
    border-left:1px solid #a2a2a2;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
#navElsevierCom ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
#navElsevierCom li { 
    float:left;
}
#navElsevierCom a {
    text-decoration: none;
    display:block;
    line-height:2.6em;
    width:210px;
    color: #00759b;
}
#navElsevierCom a.elsevierFont {
    font-family:"Times New Roman", Times, serif;
    font-size:24px;
    color:#f93;
    line-height:1.6em;
}
#navElsevierCom a.borderRightTab {
    border-right:1px solid #a2a2a2;    
    height:42px;
}
.shadowCenterEffect {
    position:relative;       
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
}
.shadowCenterEffect:before, .shadowCenterEffect:after {
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 7px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 7px rgba(0,0,0,0.8);
    box-shadow:0 0 7px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:30px;
    right:30px;
    -moz-border-radius:200px / 10px;
    border-radius:200px / 10px;
} 
.shadowCenterEffect:after {
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
    -moz-transform:skew(8deg) rotate(3deg);     
    -ms-transform:skew(8deg) rotate(3deg);     
    -o-transform:skew(8deg) rotate(3deg); 
    transform:skew(8deg) rotate(3deg);
}

.article-inner-replaced.alignright, .article-inner-replaced.alignleft, .article-inner-replaced.alignnone { 
  width: auto; 
}

.article-content .article-inner-replaced.alignright img,
.article-content .article-inner-replaced.alignleft img,
.article-content .article-inner-replaced.alignnone img {
  display: block;
  float: none !important;
  margin: 0 auto 5px auto !important;
  max-width: 100%;
  width: auto !important;
}
.pagination {
    padding: 15px 0 5px;
    text-align: center;
}
.pagination span {
    font-weight: bold;
    margin: 0 7px;
    padding: 0 8px;
}
.hide { display:none; }


/*hidden skip navigation link*/

.show-on-focus {
    display: block;
    left: -100px;
    position: absolute;
    top: -100px;
}

.mainnav > ul {
  list-style:none;
  padding:0;
  margin:20px 0 0;
}
.mainnav > ul > li {
  float:left;
  position:relative;
}
.mainnav > ul > li:hover ul, .mainnav > ul .open ul {
    visibility:visible;
    opacity:1;
}