/*-----------------------------------------------
/* Plugin: WP Shortcode
/* Author: MyThemeShop
/* Version: 1.2
/*---------------------------------------------*/

/*-[ Notifications ]---------------------------*/
.message_box { margin: 15px 0 }
pre {
    overflow: auto;
    background: #F7F7F7 url('../images/code.png') 10px 2px no-repeat;
    padding: 2em 1em 1em 1em;
    border: 1px solid #DDD;
    margin: 15px 0;
}
.note {
    background: #FEF4C8;
    color: #666;
    border: 1px solid #FDEBA5;
}
.note p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('../images/thumb.png') left no-repeat;
    margin: 0.3em 0.8em;
}
.announce {
    background: #D7EFFB;
    color: #666;
    border: 1px solid #BEE5F8;
}
.announce p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('../images/speaker.png') left no-repeat;
    margin: 0.3em 0.8em;
}
.success {
    background: #E8F6D2;
    color: #666;
    border: 1px solid #DEF1BF;
}
.success p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('../images/tick.png') left no-repeat;
    margin: 0.3em 0.8em;
}
.warning {
    background: #FFE7E7;
    color: #666;
    border: 1px solid #FFDBDB;
}
.warning p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('../images/cross.png') left no-repeat;
    margin: 0.3em 0.8em;
}
/*-[ Buttons ]---------------------------------*/
.article .buttons {
    font-size: 12px;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 15px 15px 15px 0;
    padding: 12px 10px;
    overflow: hidden;
    display: inline-block;
    width: auto;
}
.buttons span { float: none; overflow: hidden;}
a.buttons { color: #fff!important; text-decoration: none; }
a.buttons.left {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    
}
a.buttons.right {
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
}
div.button-center {
    width: 100%;
    text-align: center;
}
a.buttons.center {
    clear: both;
    display: inline-block;
    float: none;
    width: auto;
}
a.btn_white { color: #4F4F4F!important }
.btn_brown {
    background-color: #D9C2A5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9C2A5), color-stop(100%, #C3A178));
    background-image: -webkit-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -moz-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -ms-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -o-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: linear-gradient(top, #D9C2A5, #C3A178);
    border-top: 1px solid #BD986A;
    border-right: 1px solid #BD986A;
    border-bottom: 1px solid #9A7445;
    border-left: 1px solid #BD986A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
    -moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
    box-shadow: inset 0 1px 0 0 #DFCC9F;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #BA905E;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_brown:hover {
    background-color: #D1B593;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D1B593), color-stop(100%, #BC966B));
    background-image: -webkit-linear-gradient(top, #D1B593, #BC966B);
    background-image: -moz-linear-gradient(top, #D1B593, #BC966B);
    background-image: -ms-linear-gradient(top, #D1B593, #BC966B);
    background-image: -o-linear-gradient(top, #D1B593, #BC966B);
    background-image: linear-gradient(top, #D1B593, #BC966B);
    border-top: 1px solid #BD986A;
    border-right: 1px solid #BD986A;
    border-bottom: 1px solid #9A7445;
    border-left: 1px solid #BD986A;
    -webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
    -moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
    box-shadow: inset 0 1px 0 0 #DFCC9F;
    cursor: pointer;
    color: white!important;
}
.btn_brown:active {
    border: 1px solid #B2824C;
    -webkit-box-shadow: inset 0 0 8px 2px #C19B70;
    -moz-box-shadow: inset 0 0 8px 2px #C19B70;
    box-shadow: inset 0 0 8px 2px #C19B70;
}
.btn_blue {
    background-color: #A5B8DA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A5B8DA), color-stop(100%, #7089B3));
    background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: linear-gradient(top, #A5B8DA, #7089B3);
    border-top: 1px solid #758FBA;
    border-right: 1px solid #6C84AB;
    border-bottom: 1px solid #5C6F91;
    border-left: 1px solid #6C84AB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #64799E;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_blue:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer;
    color: white!important;
}
.btn_blue:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6;
    box-shadow: inset 0 0 8px 2px #7e8da6;
}
.btn_green {
    background-color: #6CB24C;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CB24C), color-stop(100%, #52873A));
    background-image: -webkit-linear-gradient(top, #6CB24C, #52873A);
    background-image: -moz-linear-gradient(top, #6CB24C, #52873A);
    background-image: -ms-linear-gradient(top, #6CB24C, #52873A);
    background-image: -o-linear-gradient(top, #6CB24C, #52873A);
    background-image: linear-gradient(top, #6CB24C, #52873A);
    border-top: 1px solid #477532;
    border-right: 1px solid #477532;
    border-bottom: 1px solid #3A6029;
    border-left: 1px solid #477532;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #8FC477;
    -moz-box-shadow: inset 0 1px 0 0 #8FC477;
    box-shadow: inset 0 1px 0 0 #8FC477;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 12px 10px;
    text-shadow: 0 -1px 1px #416B2D;
    text-transform: uppercase;
}
.btn_green:hover {
    background-color: #5F9D43;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68AB49), color-stop(100%, #4A7834));
    background-image: -webkit-linear-gradient(top, #68AB49, #4A7834);
    background-image: -moz-linear-gradient(top, #68AB49, #4A7834);
    background-image: -ms-linear-gradient(top, #68AB49, #4A7834);
    background-image: -o-linear-gradient(top, #68AB49, #4A7834);
    background-image: linear-gradient(top, #68AB49, #4A7834);
    border-top: 1px solid #4E8037;
    border-right: 1px solid #4E8037;
    border-bottom: 1px solid #3A6029;
    border-left: 1px solid #4E8037;
    -webkit-box-shadow: inset 0 1px 0 0 #8FC477;
    -moz-box-shadow: inset 0 1px 0 0 #8FC477;
    box-shadow: inset 0 1px 0 0 #8FC477;
    cursor: pointer;
    color: white!important;
}
.btn_green:active {
    border: 1px solid #436D30;
    -webkit-box-shadow: inset 0 0 8px 2px #467131;
    -moz-box-shadow: inset 0 0 8px 2px #467131;
    box-shadow: inset 0 0 8px 2px #467131;
}
.btn_yellow {
    background-color: #FFDA6B;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFDA6B), color-stop(100%, #FEAE2D));
    background-image: -webkit-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -moz-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -ms-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -o-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: linear-gradient(top, #FFDA6B, #FEAE2D);
    border-top: 1px solid #D6AB00;
    border-right: 1px solid #D6AB00;
    border-bottom: 1px solid #BC9600;
    border-left: 1px solid #D6AB00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FFE599;
    -moz-box-shadow: inset 0 1px 0 0 #FFE599;
    box-shadow: inset 0 1px 0 0 #FFE599;
    color: #fff;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 1px 1px #BC9600;
    text-transform: uppercase;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 12px 10px;
}
.btn_yellow:hover {
    background-color: #FFD351;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD351), color-stop(100%, #FDA00B));
    background-image: -webkit-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -moz-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -ms-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -o-linear-gradient(top, #FFD351, #FDA00B);
    background-image: linear-gradient(top, #FFD351, #FDA00B);
    border-top: 1px solid #D6AB00;
    border-right: 1px solid #D6AB00;
    border-bottom: 1px solid #BC9600;
    border-left: 1px solid #D6AB00;
    -webkit-box-shadow: inset 0 1px 0 0 #FFE599;
    -moz-box-shadow: inset 0 1px 0 0 #FFE599;
    box-shadow: inset 0 1px 0 0 #FFE599;
    cursor: pointer;
    color: #fff!important;
}
.btn_yellow:active {
    border: 1px solid #F29202;
    -webkit-box-shadow: inset 0 0 8px 2px #F29202;
    -moz-box-shadow: inset 0 0 8px 2px #F29202;
    box-shadow: inset 0 0 8px 2px #F29202;
}
.btn_red {
    background-color: #E83030;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E83030), color-stop(100%, #B71414));
    background-image: -webkit-linear-gradient(top, #E83030, #B71414);
    background-image: -moz-linear-gradient(top, #E83030, #B71414);
    background-image: -ms-linear-gradient(top, #E83030, #B71414);
    background-image: -o-linear-gradient(top, #E83030, #B71414);
    background-image: linear-gradient(top, #E83030, #B71414);
    border-top: 1px solid #9C1111;
    border-right: 1px solid #9C1111;
    border-bottom: 1px solid #890F0F;
    border-left: 1px solid #9C1111;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FF6B6B;
    -moz-box-shadow: inset 0 1px 0 0 #FF6B6B;
    box-shadow: inset 0 1px 0 0 #FF6B6B;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #A01111;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_red:hover {
    background-color: #E63131;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E63131), color-stop(100%, #9C1111));
    background-image: -webkit-linear-gradient(top, #E63131, #9C1111);
    background-image: -moz-linear-gradient(top, #E63131, #9C1111);
    background-image: -ms-linear-gradient(top, #E63131, #9C1111);
    background-image: -o-linear-gradient(top, #E63131, #9C1111);
    background-image: linear-gradient(top, #E63131, #9C1111);
    border-top: 1px solid #9C1111;
    border-right: 1px solid #9C1111;
    border-bottom: 1px solid #890F0F;
    border-left: 1px solid #9C1111;
    -webkit-box-shadow: inset 0 1px 0 0 #FE4C4C;
    -moz-box-shadow: inset 0 1px 0 0 #FE4C4C;
    box-shadow: inset 0 1px 0 0 #FE4C4C;
    cursor: pointer;
    color: white!important;
}
.btn_red:active {
    border: 1px solid #890F0F;
    -webkit-box-shadow: inset 0 0 8px 2px #890F0F;
    -moz-box-shadow: inset 0 0 8px 2px #890F0F;
    box-shadow: inset 0 0 8px 2px #890F0F;
}
.btn_white {
    background-color: #F7F7F7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #E0E0E0));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -moz-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -ms-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -o-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: linear-gradient(top, #F7F7F7, #E0E0E0);
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #CECECE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: inset 0 1px 0 0 #FFFFFF;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    color: #4F4F4F;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #fff;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_white:hover {
    background-color: #F4F4F4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F4F4), color-stop(100%, #D3D3D3));
    background-image: -webkit-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -moz-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -ms-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -o-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: linear-gradient(top, #F4F4F4, #D3D3D3);
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #CECECE;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    cursor: pointer;
    color: #4F4F4F!important;
}
.btn_white:active {
    border: 1px solid #C1C1C1;
    -webkit-box-shadow: inset 0 0 8px 2px #C1C1C1;
    -moz-box-shadow: inset 0 0 8px 2px #C1C1C1;
    box-shadow: inset 0 0 8px 2px #C1C1C1;
}
/*-[ Video Shortcode ]-------------------------*/
.textwidget .youtube-video, .textwidget .vimeo-video, .textwidget .googlemaps { margin: 0 }
.youtube-video, .vimeo-video { margin: 10px 0 10px 0 }
/*-[ Google Maps ]-----------------------------*/
.googlemaps { margin: 5px 15px 10px 0 }
/*-[ Columns ]---------------------------------*/
.one_half { width: 48% }
.one_third { width: 30.66% }
.two_third { width: 65.33% }
.one_fourth { width: 22% }
.three_fourth { width: 74% }
.one_fifth { width: 16.8% }
.two_fifth { width: 37.6% }
.three_fifth { width: 58.4% }
.four_fifth { width: 67.2% }
.one_sixth { width: 13.33% }
.five_sixth { width: 82.67% }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    position: relative;
    margin-right: 4%;
    margin-bottom: 15px;
    float: left;
}
.column-last {
    margin-right: 0!important;
    clear: right;
}
/*-[ Tabs ]------------------------------------*/
.tab_widget {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.tab_widget ul.wps_tabs {
    display: block;
    position: relative;
    list-style: none;
    height: 40px;
    border-bottom: 1px solid #DDD;
    margin: 0;
}
.tab_widget ul.wps_tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 39px;
    line-height: 39px;
    border: 1px solid #DDD;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -o-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(230,230,230)), color-stop(0.55, rgb(238,238,238)) );
}
.tab_widget ul.wps_tabs li:first-child { border-left: 1px solid #DDD }
.tab_widget ul.wps_tabs li a {
    text-decoration: none;
    color: #888!important;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    outline: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    border: none;
    border-left: 1px solid #F9F9F9;
}
.tab_widget ul.wps_tabs li:first-child a { border-left: none }
.tab_widget ul.wps_tabs li a:hover { background: none }
.tab_widget ul.wps_tabs li.active, .tab_widget ul.wps_tabs li.active a:hover {
    background: #FFF;
    border-bottom: 1px solid #FFF;
}
.tab_widget ul.wps_tabs li.active { border-top: 1px solid #DDD }
.tab_widget ul.wps_tabs li.active a { color: #777 }
.tab_widget .tab_container {
    display: block;
    border-top: none;
    overflow: hidden;
    position: relative;
    clear: both;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
.tab_widget .tab_content {
    display: block;
    position: relative;
    padding: 15px;
}
/*-[ Toggle ]-----------------------*/
.toggle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.toggle .wps_togglet, .toggle .toggleta {
    display: block;
    position: relative;
    height: 36px;
    padding: 0 12px;
    background: #EEE;
    border: 1px solid #DDD;
    cursor: pointer;
    margin: 0;
}
.toggle .wps_togglet span, .toggle .toggleta span {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    padding-left: 20px;
    background: url("../images/toggle-down.png") no-repeat left;
}
.toggle .toggleta span { background: url("../images/toggle-up.png") no-repeat left }
.toggle .togglec {
    display: block;
    position: relative;
    padding: 15px;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
/*-[ Dividers ]--------------------------------*/
.divider {
    clear: both;
    display: block;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}
.top-of-page {
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}