/*-----------------------------------------------------------------------------------*/
/*	Notice for Checkout Page
/*-----------------------------------------------------------------------------------*/

.tcraf-cart-display{
	background:url(../images/tc-raf-icon.png) 9px center no-repeat transparent !important;
	background-size:42px auto !important;
	border:1px solid #e6e6e6;
	padding:8px 8px 8px 62px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px !important;
	line-height:22px !important;
	width:auto !important;
	margin:0 0 15px 0;
}

.tcraf-clear{
	clear:both;
	height:0px;
}

/*-----------------------------------------------------------------------------------*/
/*	Social Buttons and Container
/*-----------------------------------------------------------------------------------*/

.tcraf-social-container{
	width:100%;
	padding:20px 0px;
	margin:40px 0px;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	text-align:center;
}

.tcraf-social-desc{
	text-align:center;
	display:block;
	margin:20px 0 0 0 !important;
}

.tcraf-social-button{
	width:128px;
	height:128px;
	background-size:128px auto !important;
	cursor:pointer;
	text-indent:-99999px;
	display:inline-block !important;
	margin-right:20px;
}

.tcraf-social-button.last{
	margin-right:0px !important;
}

.tcraf-social-button.facebook{background:url(../images/facebook-256.png) center no-repeat transparent}
.tcraf-social-button.twitter{background:url(../images/twitter-256.png) center no-repeat transparent;}
.tcraf-social-button.google{background:url(../images/google-256.png) center no-repeat transparent;}