	
span.dropcap {
	display: block;
	float:left !important;
	font-size: 76px;
	line-height:70px;
	margin: -4px 3px -6px 0;
	color: #666;
}
.stroke {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.article p.intro_quote {
	margin-top: 18px;
}
.full {
	float:none;
}
.right {
	float:right;
	margin-left: 20px;
}
.left {
	float:left;
	margin-right: 20px;
}
.article p.pull, .article .audio p {
	font-family: Source Sans Pro, sans-serif;
	font-weight: 600; 
	font-size: 30px; 
	line-height: 1.25em;
	margin-top: -2px;
	margin-bottom: 15px;
	color: #999;
}
.audio p {
 	font-weight: normal;
	font-size: 21px;
	line-height: 24px;
	padding: 15px 15px 0;
}