/*********************************
 *
 * CSS control - DO NOT CHANGE OR REMOVE
 * needed to track loading of this css file
 *
 *********************************/

.pluck-comments-css-loaded { /* DO NOT CHANGE OR REMOVE - needed to track loading of this css file */
	border-bottom-color: #010204;
}

/*********************************
 * 
 * colors
 *
 *********************************/
 
h4.pluck-comm-username-url span,
.pluck-comm-comment-content p {
	color:#1A1414;
}

.pluck-comm-commentcount p.pluck-comm-commenttext,
.pluck-comm-commentcount p.pluck-comm-commenttext a.pluck-comm-number-highlight-followed,
.pluck-comm-comment-input {
	color:#E0E0E0;
}

a.pluck-comm-pagination-prev,
a.pluck-comm-pagination-next,
.pluck-comm-submit-wait-msg {
	color: #1A1414;
}

.pluck-comm-comment-content a,
h4.pluck-comm-username-url a,
.pluck-comm-comment-content .pluck-comm-hide-hidden-info,
.pluck-comm-comment-content .pluck-comm-show-hidden-info,
.pluck-comm-action-controls a,
.pluck-comm-edit-controls a,
.pluck-comm-show-hide-replies a.pluck-comm-show-reply-link,
.pluck-comm-show-hide-replies a.pluck-comm-hide-reply-link,
.pluck-comm-show-hide-replies span.pluck-comm-wait-reply-link,
.pluck-comm-errors {
	color:#0066cc;
}

.pluck-comm-single-comment-main .pluck-error-message {
	color: #cc3333;
}	
 
.pluck-comm-commentcount p.pluck-comm-commenttext span.pluck-comm-comment-number-highlight {
	color:#ffffcc;
}

.pluck-comm-commentcount-actions p {
	color:#ffffcc;
}

.pluck-comm-comment-content p.pluck-comm-lastEditBy {
	color:#999999;
}

a.pluck-comm-cancel {
	color:#615555;
}

.pluck-comm-reply-input p.pluck-comm-calltoaction {
	color: #615555;
}

span.pluck-comm-facebook-option,
span.pluck-comm-twitter-option,
span.pluck-comm-socialoptions-posttext,
.pluck-comm-submitoptions label,
.pluck-comm-socialoptions label {
	color:#615555;
}

.pluck-comm-comment-content p.pluck-comm-timestamp {
	color: #999999;
}

.pluck-comm-action-controls span.pluck-comm-actions-element span {
	color: #999999;
}

span.pluck-comm-reply-button a,
.pluck-comm-report-abuse {
	color: #615555;
}

a.pluck-comm-report-abuse:hover {
	color:#cc3333;
}

.pluck-comm-abuse-area .pluck-abuse-reported {
	color: #999999;
}

/*********************************
 * 
 * fonts
 *
 *********************************/

.pluck-comm > .pluck-user-mp-dialog,
.pluck-comm > .pluck-dialog,
.pluck-comm-wrapper,
.pluck-comm-commentcount,
.pluck-comm-commentcount select.pluck-comm-comment-filters,
.pluck-comm-single-comment-main,
.pluck-comm-errors,
.pluck-comm-comment-input,
p.pluck-comm-calltoaction,
.pluck-comm-message-border textarea,
.pluck-comm-reply-input .pluck-comm-message-border textarea {
	font-family: Calibri, Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}

.pluck-standardfont.pluck-comm > .pluck-user-mp-dialog,
.pluck-standardfont.pluck-comm > .pluck-dialog,
.pluck-standardfont .pluck-comm-wrapper,
.pluck-standardfont .pluck-comm-commentcount,
.pluck-standardfont .pluck-comm-commentcount select.pluck-comm-comment-filters,
.pluck-standardfont .pluck-comm-single-comment-main,
.pluck-standardfont .pluck-comm-errors,
.pluck-standardfont .pluck-comm-comment-input,
.pluck-standardfont p.pluck-comm-calltoaction,
.pluck-standardfont .pluck-comm-message-border textarea,
.pluck-standardfont .pluck-comm-reply-input .pluck-comm-message-border textarea {
	font-size: 14px;
}

.pluck-comm-commentcount select.pluck-comm-comment-filters,
.pluck-comm-comment-content p.pluck-comm-timestamp,
.pluck-comm-comment-content p.pluck-comm-lastEditBy,
h4.pluck-comm-username-url a,
h4.pluck-comm-username-url span,
.pluck-comm-action-controls a,
.pluck-comm-action-controls span.pluck-comm-actions-element span,
.pluck-comm-edit-controls span,
.pluck-comm-single-comment-main .pluck-error-message,
.pluck-comm-show-hide-replies a.pluck-comm-show-reply-link,
.pluck-comm-show-hide-replies a.pluck-comm-hide-reply-link,
.pluck-comm-show-hide-replies span.pluck-comm-wait-reply-link,
.pluck-comm-report-abuse,
a.pluck-comm-pagination-prev,
a.pluck-comm-pagination-next,
.pluck-comm-message-border textarea,
.pluck-comm-reply-input .pluck-comm-message-border textarea,
.pluck-comm-submitoptions label,
.pluck-comm-socialoptions label,
span.pluck-comm-socialoptions-posttext,
a.pluck-comm-submit,
a.pluck-comm-cancel,
.pluck-comm-submit-wait-msg {
	font-size: 0.8em;
}

.pluck-comm-commentcount-actions p,
.pluck-comm-comment-content p,
.pluck-comm-comment-content p.pluck-comm-body {
	font-size:0.9em;
}

div.pluck-comm-commentcount,
span.pluck-comm-reply-button a,
p.pluck-comm-calltoaction,
.pluck-comm-reply-input p.pluck-comm-calltoaction {
	font-size: 1.0em;
}



/*********************************
 * 
 * backgrounds
 *
 *********************************/

.pluck-comm-single-comment-main { 
	background: #ffffff url('/ver1.0/Content/ua/images/comments/pluck-comm-background.png') top right repeat-y; 
}

.pluck-comm-comment-action-group, span.pluck-comm-reply-button a, span.pluck-comm-reply-button a:hover, span.pluck-comm-reply-button a:active {
	background-color: transparent;
	background-image: url('/ver1.0/Content/ua/images/comments/pluck-comm-action-buttons.png');
	background-repeat: no-repeat;
}

.pluck-comm-wrapper div.pluck-user-isFeatured .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/comments/pluck-comm-featured-posts.jpg') bottom left no-repeat;
}

.pluck-comm-wrapper div.pluck-user-isSystemEditor .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/comments/pluck-comm-editor-posts.jpg') bottom left no-repeat;
}

.pluck-comm-wrapper div.pluck-user-isGroupManager .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/users/pluck-groupmanager-posts.jpg') bottom left no-repeat;
}

.pluck-comm-wrapper div.pluck-user-isGroupAdmin .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/users/pluck-groupadmin-posts.jpg') bottom left no-repeat;
}

.pluck-comm-wrapper div.pluck-comm-isDeleted .pluck-comm-sc-avatar {
	background: transparent;
}

.pluck-comm-wrapper div.pluck-comm-isBlocked .pluck-comm-sc-avatar {
	background: transparent;
}

.pluck-comm-wrapper div.pluck-user-isHidden .pluck-comm-sc-avatar {
	background: transparent;
}

.pluck-comm-wrapper div.pluck-user-isIgnored .pluck-comm-sc-avatar {
	background: transparent;
}

.pluck-comm-wrapper div.pluck-comm-isUnderReview .pluck-comm-sc-avatar {
	background: transparent;
}

.pluck-comm-pagination-wrapper { 
	background: #ffffff url('/ver1.0/Content/ua/images/pluck-pagination-bg-2.jpg') top right no-repeat;
}

a.pluck-comm-pagination-first {
	background: url('/ver1.0/Content/ua/images/pluck-pagination-first-bg.png') top left no-repeat;
}

a.pluck-comm-pagination-prev {
	background: url('/ver1.0/Content/ua/images/pluck-pagination-prev-bg.png') top left no-repeat;
}

a.pluck-comm-pagination-next {
	background: transparent url('/ver1.0/Content/ua/images/pluck-pagination-next-bg.png') no-repeat scroll left top;
}

a.pluck-comm-pagination-last {
	background: url('/ver1.0/Content/ua/images/pluck-pagination-last-bg.png') top left no-repeat;
}

.pluck-comm-no-comments .pluck-comm-message-border .pluck-comm-first-to-comment {
	background: transparent url('/ver1.0/Content/ua/images/comments/pluck-comm-first-comment.gif') center center no-repeat;
}
 
.pluck-comm-show-hide-replies,
.pluck-comm-comment-action-group-arrow,
.pluck-comm-report-abuse {
	background: transparent;
}
 
 .pluck-comm-wrapper { 
	background: #9b9a95;
}

.pluck-comm-comment-input,
.pluck-comm-input-content {
	background: #767572;
}
	
.pluck-comm-commentcount { 
	background: #a1a09c;
}

.pluck-comm-single-comment-top,
.pluck-comm-wait-modal,
.pluck-comm-wait-msg,
.pluck-comm-narrow .pluck-comm-pagination-wrapper,
.pluck-comm-errors,
.pluck-comm-reply-input,
.pluck-comm-message-border textarea,
.pluck-comm-submit-wait-msg {
	background-color: #ffffff;
}

.pluck-comm-narrow .pluck-comm-single-comment-main {
	background: #ffffff;
}

.pluck-comm-input-rounded-wrap,
.pluck-comm-submit-wait-modal {
	background: #dddddd;
}

.pluck-comm-socialoptions {
	background: #c2c3c8;
}

/*********************************
 * 
 * pluck/comments
 *
 *********************************/

.pluck-comm-wrapper { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	border-bottom: 4px solid #767572;
	border-left: 4px solid #767572;
	border-right: 4px solid #767572;
	max-width:2400px;
	margin:0px auto 0px 5px;
	margin-top:0px;
	margin-bottom:0px;
	min-width:250px;
	min-height: 45px;
	padding-top: 0;
	position:relative;
}


/*********************************
 * 
 * pluck/comments/list
 *
 *********************************/

/*     !region Comment Count Area */
.pluck-comm-ReplyLevel-1, .pluck-comm-ReplyLevel-2 { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	position: relative;
	zoom: 1;
}

.pluck-comm-commentcount { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	max-width:2400px;
	margin:0px auto 0px 0px;
	min-width:250px;
	min-height: 25px;
	padding: 10px;
	padding-top: 0;
	position:relative;
	width:auto;
}

.pluck-comm-commentcount p.pluck-comm-commenttext {
	font-weight:bold;
	padding-top:10px;
	margin-top:0px;
	margin-left:3px;
	margin-bottom:0px;
}

.pluck-comm-commentcount p.pluck-comm-commenttext a.pluck-comm-number-highlight-followed {
	font-weight:bold;
}

.pluck-comm-commentcount .pluck-comm-commentcount-actions {
	position:absolute;
	right:0px;
	top:2px;
}

.pluck-comm-commentcount-actions p {
	float: left;
	margin-top:10px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.pluck-comm-commentcount select.pluck-comm-comment-filters {
	float: left;
	display: block;
	margin-top:8px;
	margin-bottom:0px;
	margin-right: 10px;
	margin-left: 10px;
}

.pluck-comm-commentcount .pluck-comm-commentcount-actions a {
	float: left;
	display: block;
	border:none;
	margin-right:10px;
	margin-top:10px;
}

.pluck-comm-commentcount .pluck-comm-commentcount-actions a img {
	border:none;
}

.pluck-comm-single-comment-top { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	position: relative;
}

.pluck-comm-single-comment-main { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	border-top: 1px solid #a6a6a5;
	min-height: 121px;
	max-width:2400px;
	min-width:250px;
	margin:0px auto 0px 0px;
	overflow:visible;
	padding: 0px 0px 0px 10px;
	width:auto;
}



/*     !endregion Comment Count Area */

/*     !region Comment Area */
.pluck-comm-sc-threading {
	position:relative;
	padding-bottom: 10px;
}

/*         !region user avatar */

.pluck-comm-sc-avatar { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	float: left;
	height:40px;
	left:0px;
	margin-top: 10px;
	margin-left:3px;
	top:0px;
	width: 45px;
}

img.pluck-comm-avatarimg { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	-ms-interpolation-mode: bicubic; /* conditional for IE6 and IE7 for bicubic resampling of large images */
	border: 2px solid #afa89c;
	float: left;
	height: 40px;
	margin-left:0px;
	width: 40px;
}

/*         !endregion user avatar */

/*         !region Comment Content */
.pluck-comm-comment-content { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	margin-bottom: 0px;
	margin-left:60px;
	margin-right:150px;
	margin-top:-4px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-top: 9px;
	width:auto;
}

.pluck-comm-narrow .pluck-comm-comment-content {
	margin-right: 10px;
}

.pluck-comm-rate-system {
	float:right;
	padding-top: 8px;
}

h4.pluck-comm-username-url { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	margin-top:5px;
	margin-bottom:0px;
	padding-top:5px;
}

h4.pluck-comm-username-url a {
	font-weight: normal;
	text-decoration:none;
}

h4.pluck-comm-username-url span {
	font-weight: normal;
}

.pluck-comm-comment-content p {
	margin-top:0px;
	margin-bottom:0px;
}

.pluck-comm-comment-content p.pluck-comm-body {
	overflow: hidden;
}

.pluck-comm-comment-content p.pluck-comm-body a {
	text-decoration: none;
}

.pluck-comm-comment-content p.pluck-comm-body img {
	padding-top:5px; max-width: 100%; _width: expression(this.offsetWidth > 300 ? "300px" : this.offsetWidth);
}

.pluck-comm-comment-content p.pluck-comm-lastEditBy {
	padding: 10px 0 0 0;
	text-align: right;
}
	

.pluck-comm-comment-content .pluck-comm-hide-hidden-info,
.pluck-comm-comment-content .pluck-comm-show-hidden-info {
	margin-left: 10px;
	font-weight: normal;
	text-decoration:none;
}

.pluck-comm-hide-hidden-info {
	display: none;
}

.pluck-comm-action-controls {
	display: block;
	padding: 10px 10px 0 0px;
	vertical-align: top;
}

.pluck-comm-action-controls a {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-decoration: none;
}

.pluck-comm-action-controls .pluck-thumb-voted-action {
	margin-right: 15px;
}

.pluck-comm-action-controls img {
	border: none;
	vertical-align: text-bottom;
}

.pluck-comm-edit-controls {
	display: block;
	padding: 10px 10px 0 0px;
	vertical-align: top;
}

.pluck-comm-edit-controls span {
	margin-right: 15px;
}

.pluck-comm-edit-controls a {
	text-decoration: none;
	display: inline-block;
} 

.pluck-comm-edit-controls a img {
	border: 0px solid #fff;
	margin-right: 5px;
	float: left;
}

.pluck-comm-single-comment-main .pluck-error-message {
	margin: 0;
	padding: 10px 10px 0 0px;
	display: none;
}

.pluck-comm-show-hide-replies {
	margin-top:0px;
	margin-left:60px;
	margin-right:150px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.pluck-comm-narrow .pluck-comm-show-hide-replies {
	margin-right: 10px;
}

.pluck-comm-show-hide-replies-links {
	padding: 0;
	line-height: 18px;
}

.pluck-comm-show-hide-replies-open {
	margin-bottom:-20px;
}

.pluck-comm-show-hide-replies span.pluck-comm-show-hide-reply-toggle img {
	float: left;
	border:none;
	margin-right:5px;
	margin-left:0px;
	margin-top:2px;
}

.pluck-comm-show-hide-replies a.pluck-comm-show-reply-link {
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
	text-decoration:none;
}

.pluck-comm-show-hide-replies a.pluck-comm-hide-reply-link {
	display: none;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
	text-decoration:none;
}

.pluck-comm-show-hide-replies span.pluck-comm-wait-reply-link {
	display: none;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
	text-decoration:none;
}

/*         !endregion Comment Content */

/*         !region Comment Actions */

.pluck-comm-comment-action-group-arrow-wrapper {
	float:right;
	position:relative;
	width:130px;
}

.pluck-comm-comment-action-group-arrow { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	min-height: 50px;
	position: absolute;
	right: 10px;
	top: 7px;
	width: 110px;
}

.pluck-comm-comment-action-group {
	background-position: 0px 275px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 110px;
}

span.pluck-comm-reply-button {
	height:25px;
	min-width:110px;
	width:110px;
}

span.pluck-comm-reply-button a {
	background-position: -9px -10px;
	border:none;
	display:block;
	height:25px;
	text-indent: 45px;
	padding-top:3px;
	text-decoration:none;
	width:auto;
}

span.pluck-comm-reply-button a:hover {
	background-position: -9px -45px;
}

span.pluck-comm-reply-button a:active {
	background-position: -9px -82px;
	border:none;
}

.pluck-comm-rate-controls {
	height:26px;
	margin-top: 3px;
	position:relative;
	width: 110px;
}

.pluck-comm-share-abuse-controls {
	display:block;
	width:110px;
}

.pluck-comm-share-abuse-controls span {
	margin-top:10px;
}

.pluck-comm-share-abuse-controls-top span {
	margin-top:0px;
}

span.pluck-comm-email-area {
	float:left;
	height:16px;
	margin-bottom:0px;
	margin-left:15px;
	margin-right:15px;
	width:16px;
}

span.pluck-comm-share-area {
	float:left;
	height:16px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	width:16px;
}

span.pluck-comm-permalink-area {
	float:left;
	height:16px;
	margin-bottom:0px;
	margin-left:15px;
	margin-right:15px;
	width:16px;
}

div.pluck-comm-abuse-area {
	margin-bottom:10px;
	margin-top:0px;
	text-align: center;
}

.pluck-comm-report-abuse {
	text-decoration:none;
}

a.pluck-comm-report-abuse {
	cursor:pointer;
}



/*         !endregion Comment Actions */

/*    !endregion Comment Area */

/*    !region Wait  - DJL OK */
.pluck-comm-wait {
	position:absolute;
	display: none;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index: 10;
}

.pluck-comm-wait-modal {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:11;
	opacity:0.80;
	filter:alpha(opacity=80);
 }

.pluck-comm-wait-display {
	position:absolute;
	top: 20px;
	left: 20%;
	right: 20%;
	z-index: 12;
}

.pluck-comm-wait-msg {
	border: 1px solid #CCC;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	color: #1a1414;
}

.pluck-comm-wait-msg span a {
	margin-top: 10px;
	margin-right: 5px;
}

/*    !endregion Wait */

/*    !region Levels - DJL OK */
.pluck-comm-ReplyLevel-2 .pluck-comm-comment-action-group-arrow-wrapper {
	border-top: 1px solid #a6a6a5;
}

.pluck-comm-ReplyLevel-2 div.pluck-comm-sc-avatar { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	margin-left:60px;
}

.pluck-comm-ReplyLevel-2 div.pluck-comm-comment-content {
	margin-bottom: 0;
	margin-left: 117px;
	margin-top: 0;
	padding-bottom: 10px;
	padding-top: 5px;
}

.pluck-comm-ReplyLevel-2 .pluck-comm-single-comment-main { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	border-top: 0px solid transparent;
	margin-top:0px;
	margin-bottom:0px;
	min-height: 97px;
	zoom: 1;
}

/*    !endregion Levels */


/*    !region Comment State conditionals */
.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-comment-action-group-arrow,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-comment-action-group-arrow,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-comment-action-group-arrow,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-comment-action-group-arrow,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-comment-action-group-arrow,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-comment-action-group-arrow,
.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-comment-action-controls,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-comment-action-controls,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-comment-action-controls,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-comment-action-controls,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-comment-action-controls,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-comment-action-controls {
	display:none;
}

.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-sc-avatar-inactive,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-sc-avatar-inactive,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-sc-avatar-inactive {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-sc-avatar-active,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-sc-avatar-active,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-sc-avatar-active,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-sc-avatar-active {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-sc-avatar-active-persona-disabled,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-sc-avatar-active-persona-disabled,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-sc-avatar-active-persona-disabled,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-sc-avatar-active-persona-disabled {
	display:none;
}

.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-username-withheld,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-username-withheld,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-username-withheld {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-username-display,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-username-display,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-username-display,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-username-display {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-deletedmsg,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-deletedmsg,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-deletedmsg,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-deletedmsg,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-deletedmsg,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-deletedmsg {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-blockedmsg,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-blockedmsg,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-blockedmsg,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-blockedmsg,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-blockedmsg,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-blockedmsg {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-reviewedmsg,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-reviewedmsg,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-reviewedmsg,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-reviewedmsg,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-reviewedmsg,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-reviewedmsg {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-hiddenmsg,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-hiddenmsg,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-hiddenmsg,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-hiddenmsg,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-hiddenmsg,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-hiddenmsg {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-ignoredmsg,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-ignoredmsg,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-ignoredmsg,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-ignoredmsg,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-ignoredmsg,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-ignoredmsg {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-abusereportedmsg,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-abusereportedmsg,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-abusereportedmsg,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-abusereportedmsg,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-abusereportedmsg,
.pluck-comm-wrapper .pluck-comm-isVisible .pluck-comm-abusereportedmsg {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-body,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-body,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-body,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-body,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-body,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-body {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-lastEditBy,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-lastEditBy,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-lastEditBy,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-lastEditBy,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-lastEditBy,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-lastEditBy{
	display:none;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-single-comment-main, 
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-single-comment-main, 
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-single-comment-main,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-single-comment-main,
.pluck-comm-wrapper .pluck-comm-isAbuseReported .pluck-comm-single-comment-main,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-single-comment-main { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	min-height: 100px;
}

.pluck-comm-wrapper div.pluck-comm-isDeleted img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-comm-isBlocked img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-user-isHidden img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-user-isIgnored img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-comm-isUnderReview img.pluck-comm-avatarimg {
	border: 2px solid #d96a6a;
}

.pluck-comm-wrapper div.pluck-comm-isDeleted .pluck-comm-edit-controls {
	display:none;
}

.pluck-comm-wrapper div.pluck-user-isHidden .pluck-comm-unblock,
.pluck-comm-wrapper div.pluck-user-isIgnored .pluck-comm-unblock,
.pluck-comm-wrapper div.pluck-comm-isAbuseReported .pluck-comm-unblock,
.pluck-comm-wrapper div.pluck-comm-isUnderReview .pluck-comm-unblock,
.pluck-comm-wrapper div.pluck-comm-isVisible .pluck-comm-unblock {
	display:none;
}

.pluck-comm-wrapper div.pluck-comm-isBlocked .pluck-comm-block {
	display:none;
}

.pluck-comm-wrapper div.pluck-comm-isDeleted .pluck-comm-show-hide-replies,
.pluck-comm-wrapper div.pluck-comm-isBlocked .pluck-comm-show-hide-replies,
.pluck-comm-wrapper div.pluck-user-isHidden .pluck-comm-show-hide-replies,
.pluck-comm-wrapper div.pluck-comm-isUnderReview .pluck-comm-show-hide-replies {
	display:none;
}

.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-username-display,
.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-sc-avatar-active,
.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-body,
.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-lastEditBy {
	display:block;
}

.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-sc-avatar-active-persona-disabled {
	display: block;
}

.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-hide-hidden-info {
	display: inline;
}

.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-username-withheld,
.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-sc-avatar-inactive,
.pluck-comm-wrapper .pluck-comm-showHiddenInfo .pluck-comm-show-hidden-info {
	display:none;
}

/*    !endregion Comment State conditionals */

/*     !region Featured Comments */
.pluck-comm-wrapper div.pluck-user-isFeatured .pluck-comm-sc-avatar {
	height:62px;
}

.pluck-comm-wrapper div.pluck-user-isFeatured img.pluck-comm-avatarimg {
	border: 2px solid #3f90f4;
}

/* This goes here since editor overrides featured */
.pluck-comm-wrapper div.pluck-user-isGroupAdmin .pluck-comm-sc-avatar,
.pluck-comm-wrapper div.pluck-user-isGroupManager .pluck-comm-sc-avatar,
.pluck-comm-wrapper div.pluck-user-isSystemEditor .pluck-comm-sc-avatar {
	height:62px;
}

.pluck-comm-wrapper div.pluck-user-isGroupAdmin img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-user-isGroupManager img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-user-isSystemEditor img.pluck-comm-avatarimg {
	border: 2px solid #3f90f4;
}

/* This goes here since blocked/bozoed/ignored/underReview have precedence */
.pluck-comm-wrapper div.pluck-comm-isDeleted img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-comm-isBlocked img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-user-isHidden img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-user-isIgnored img.pluck-comm-avatarimg,
.pluck-comm-wrapper div.pluck-comm-isUnderReview img.pluck-comm-avatarimg {
	border: 2px solid #d96a6a;
	height: 40px;
}

/*     !endregion */

/*     !region Pagination */

.pluck-comm-pagination-separator {
	border-top: 1px solid #a6a6a5;
}

.pluck-comm-pagination-wrapper { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	height:39px;
	margin-top:0px;
	margin-bottom:0px;
	width:auto;
}

.pluck-comm-ReplyLevel-2 .pluck-comm-pagination-wrapper {
	padding-left: 65px;
	border-top: none;
}

.pluck-comm-pagination-level1 {
	border-top: 1px solid #a6a6a5;
}

div.pluck-comm-pagination-logo-area {
	float:right;
	height: 39px;
	width: 130px;
	overflow: hidden;
}

div.pluck-comm-pagination-logo-area img {
	border:none;
	margin-left: 1px;
}

div.pluck-comm-pagination-back-area {
	margin-left:15px;
	padding-top:7px;
	height: 30px;
}

a.pluck-comm-pagination-first {
	display: block;
	float: left;
	height: 25px;
	margin-right: 7px;
	width: 28px;
}

a.pluck-comm-pagination-prev {
	display: block;
	float: left;
	height:20px;
	padding-top: 5px;
	padding-left: 25px;
	text-decoration:none;
	width:44px;
}

div.pluck-comm-pagination-forward-area {
	float:right;
	margin-right:15px;
	padding-top:7px;
	height: 25px;
	width:106px;
}

.pluck-comm-ReplyLevel-2 div.pluck-comm-pagination-forward-area { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	margin-right: 145px;
}

a.pluck-comm-pagination-next {
	display: block;
	float:right;
	height:20px;
	padding-right:0;
	padding-top:5px;
	text-align: left;
	text-decoration:none;
	text-indent: 15px;
	width:69px;
}

a.pluck-comm-pagination-last {
	display: block;
	float: right;
	height: 25px;
	margin-left: 7px;
	width: 28px;
}


/*     !endregion Pagination */

/*     !region Retrieval Errors */
.pluck-comm-errors { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	border-top: 3px solid #767572;
	max-width:2400px;
	margin:0px auto 0px 0px;
	min-width:250px;
	min-height: 25px;
	padding-top: 0;
	position:relative;
	width:auto;
}

.pluck-comm-error-msg {
	padding: 10px;
}

.pluck-comm-error-details {
	border-top: 1px solid #a6a6a5;
	display:none;
	padding: 10px;
}

/*     !endregion */

/*********************************
 * 
 * pluck/comments/submit
 *
 *********************************/

.pluck-comm-comment-input {
	border-top:4px solid #767572;
	border-right:4px solid #767572;
	border-left:4px solid #767572;
	max-width:2400px;
	margin:5px auto 0px 5px;
	min-width:350px;
	position: relative; /* Needed for corners */
	padding-top: 0px;
	padding-right: 0px;
}

.pluck-comm-no-comments {
	border-bottom:4px solid #767572;
}

.pluck-comm-comment-input .pluck-error-message {
	display: none;
	margin: 5px 0px 0px 10px;
}

.pluck-comm-comment-input .pluck-confirm-message {
	display: none;
	margin: 0px 0px 0px 10px;
}

.pluck-comm-reply-input .pluck-error-message, .pluck-comm-reply-input .pluck-confirm-message {
	margin-left: 15px;
}

.pluck-comm-reply-input {
	border: 0px solid #ffffff;
	display:none;
	margin:0px 150px 0px 0px;
	min-width: 300px;
	width:auto;
	padding-top: 10px;
	padding-bottom: 17px;
	position: relative;
}

.pluck-comm-narrow .pluck-comm-reply-input {
	margin-right: 10px;
}

.pluck-comm-input-content {
	position: relative;
	margin-right:0px;
	margin-top:0px;
	margin-bottom: 0px;
	padding:0px;
	width:auto;
}

p.pluck-comm-calltoaction {
	font-weight: normal;
	padding-left: 15px;
	margin-top:0px;
	margin-bottom:10px;
}

.pluck-comm-message-border {
	cursor: default;
	height: auto !important; /* This fixes IE6's problem with min height */
	min-width:300px;
	margin:0px;
	margin-top:10px;
	padding:5px 0px 0px 0px;
	position: relative;
	z-index:5;
	width: 90%;
}

.pluck-comm-message-border textarea {
	border-top: 2px solid #abadb3;
	border-left:none;
	display:block;
	height: 110px;
	margin-top:10px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding:0px;
	width: 310px;
	z-index:5;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.pluck-comm-reply-input .pluck-comm-message-border {
	width: auto;
	height: 80px;
}

.pluck-comm-reply-input .pluck-comm-message-border textarea {
	height: 80px;
	width: 90%;
	margin-left: 15px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.pluck-comm-no-comments .pluck-comm-message-border .pluck-comm-first-to-comment {
	width: 109px;
	height: 109px;
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 360px;
}

.pluck-comm-narrow .pluck-comm-message-border .pluck-comm-first-to-comment {
	left: 325px;
}

.pluck-comm-submitoptions {
	cursor: default;
	display:block;
	height: 39px;
	margin-left:0px;
	padding:5px 0 0px 10px;
	width:auto;
}

.pluck-comm-comment-input .pluck-comm-socialoptions {
	clear: right;
	cursor: default;
	display: block;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 0 10px 5px;
	width: 308px;
}

.pluck-comm-wrapper .pluck-comm-socialoptions {
	clear: right;
	cursor: default;
	display: block;
	height: 20px;
	margin-left: 15px;
	margin-right: 10px;
	padding: 10px 0 10px 5px;
	width: 89%;
}

.pluck-comm-reply-input .pluck-comm-submitoptions {
	padding-left: 15px;
}

.pluck-comm-submitoptions input, .pluck-comm-socialoptions input {
	float: left;
	display: inline-block;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	vertical-align: bottom;
}

.pluck-comm-submitoptions span, .pluck-comm-socialoptions span {
	display: inline;
	float:left;
}

span.pluck-comm-facebook-option, span.pluck-comm-twitter-option, span.pluck-comm-linkedin-option {
	margin-top:7px;
	margin-right: 10px;
}

span.pluck-comm-socialoptions-posttext {
	font-weight: bold;
	margin-right: 10px;
	margin-top:5px;

}

.pluck-comm-socialoptions span.pluck-comm-facebook-option, .pluck-comm-socialoptions span.pluck-comm-twitter-option, .pluck-comm-socialoptions span.pluck-comm-linkedin-option {
	margin-top:0px;
}

form.pluck-comm-posting-form {
	margin-top:0px;
	margin-bottom: 0px;
	padding-top:5px;
}

.pluck-comm-submitoptions label, .pluck-comm-socialoptions label {
	font-weight:bold;
}

.pluck-comm-socialoptions label {
	display: inline-block;
}

.pluck-comm-socialoptions label.isie {
	margin-top: 3px;
}

.pluck-comm-submitoptions label img, .pluck-comm-socialoptions label img {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
}

span.pluck-comm-submit-option {
    margin-top: 5px;
}

.pluck-comm-input-rounded-wrap {
	border-top:4px solid #dddddd;
	border-right:4px solid #dddddd;
	border-left:4px solid #dddddd;
	height: auto !important; /* This fixes IE6's problem with min height */
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	width:auto;
}

/*    !region Wait  - DJL OK */
.pluck-comm-submit-wait, .pluck-comm-submit-wait-fb {
	display:none;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index: 10;
}

.pluck-comm-submit-wait-modal {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:11;
	opacity:0.80;
	filter:alpha(opacity=80);
 }

.pluck-comm-submit-wait-display {
	position:absolute;
	top: 50px;
	left: 10%;
	right: 10%;
	z-index: 12;
}

.pluck-comm-submit-wait-msg {
	border: 1px solid #CCC;
	font-weight: bold;
	padding: 20px;
	text-align: center;
}

/*    !endregion Wait */

.pluck-nocomm-logo {
	text-align: center;
	padding-top: 10px;
}

.pluck-nocomm-logo img {
	border: 0;
}

.pluck-comm-comment-input-fb-auto {
	display: none;
}
.pluck-comm-commenting-as-persona-disabled,
.pluck-comm-commenting-as {
	padding-top: 15px; 
	padding-left: 60px;
	margin-bottom: 20px;
	margin-top: 0px;
	vertical-align: middle;
}

.pluck-user-isGroupAdmin .pluck-comm-commenting-as,
.pluck-user-isGroupManager .pluck-comm-commenting-as,
.pluck-user-isSystemEditor .pluck-comm-commenting-as,
.pluck-user-isFeatured .pluck-comm-commenting-as {
	margin-bottom: 42px;
}

.pluck-comm-commenting-as a,
.pluck-comm-commenting-as-persona-disabled a {
	color: #0066cc;
	font-weight: normal;
	text-decoration: none;
}

.pluck-comm-commenting-as-fb-icon {
	float: left; 
	padding-top: 2px; 
	padding-left:8px;
}

.pluck-comm-commenting-as-fb{ 
	color: #1A1414; 
	padding-left: 30px; 
	vertical-align: middle;
	width: 300px;
}

.pluck-comm-submit-loggedInUser {
	margin-left: 6px;
}


/**************
 * Updates for Pothole
 **************/

.pluck-comm-posting-form div.pluck-user-isFeatured .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/comments/pluck-comm-featured-posts.jpg') bottom left no-repeat;
}

.pluck-comm-posting-form div.pluck-user-isSystemEditor .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/comments/pluck-comm-editor-posts.jpg') bottom left no-repeat;
}

.pluck-comm-posting-form div.pluck-user-isGroupManager .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/users/pluck-groupmanager-posts.jpg') bottom left no-repeat;
}

.pluck-comm-posting-form div.pluck-user-isGroupAdmin .pluck-comm-sc-avatar {
	background: transparent url('/ver1.0/Content/ua/images/users/pluck-groupadmin-posts.jpg') bottom left no-repeat;
}

.pluck-comm-posting-form div.pluck-user-isGroupAdmin .pluck-comm-sc-avatar,
.pluck-comm-posting-form div.pluck-user-isGroupManager .pluck-comm-sc-avatar,
.pluck-comm-posting-form div.pluck-user-isSystemEditor .pluck-comm-sc-avatar,
.pluck-comm-posting-form div.pluck-user-isFeatured .pluck-comm-sc-avatar {
	height:62px;
}

.pluck-comm-posting-form div.pluck-user-isGroupAdmin img.pluck-comm-avatarimg,
.pluck-comm-posting-form div.pluck-user-isGroupManager img.pluck-comm-avatarimg,
.pluck-comm-posting-form div.pluck-user-isSystemEditor img.pluck-comm-avatarimg,
.pluck-comm-posting-form div.pluck-user-isFeatured img.pluck-comm-avatarimg {
	border: 2px solid #3f90f4;
}

/*******************
 * Updates for 2/22/11
 *******************/

.pluck-comm-paged-pagination a,
span.pluck-comm-paged-pagination-separator {
	color: #0066cc;
}

.pluck-comm-paged-pagination-page {
	font-size: 0.8em;
}

.pluck-comm-paged-pagination-wrapper {
	background: none;
}

.pluck-comm-paged-pagination-wrapper a.pluck-comm-paged-pagination-button-prev {
	background: transparent url('/ver1.0/pluck/reviews/pluck-pag-prev-active.png') top left no-repeat;
}

.pluck-comm-paged-pagination-wrapper span.pluck-comm-paged-pagination-button-prev {
	background: transparent url('/ver1.0/pluck/comments/list/pluck-pag-prev-disabled.png') top left no-repeat;
}

.pluck-comm-paged-pagination-wrapper a.pluck-comm-paged-pagination-button-next {
	background: transparent url('/ver1.0/pluck/comments/list/pluck-pag-next-active.png') top left no-repeat;
}

.pluck-comm-paged-pagination-wrapper span.pluck-comm-paged-pagination-button-next {
	background: transparent url('/ver1.0/pluck/comments/list/pluck-pag-next-disabled.png') top left no-repeat;
}

.pluck-comm-paged-pagination { /* See IE6 stylesheet for additional styles */
	height: 18px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: right;
}

.pluck-comm-paged-pagination-wrapper {
	height: 18px;
	float: right;
	padding-right: 20px;
}

.pluck-comm-ReplyLevel-2 .pluck-comm-paged-pagination-wrapper {
	padding-right: 140px;
}

.pluck-comm-paged-pagination-wrapper a {
	text-decoration: none;
}

.pluck-comm-paged-pagination-wrapper img {
	display: block;
	border: 0;
}

.pluck-comm-paged-pagination-button-prev {
	display: block;
	float: left;
	height: 18px;
	margin-right: 10px;
	width: 18px;
}

.pluck-comm-paged-pagination-button-next {
	display: block;
	float: left;
	height: 18px;
	margin-left: 5px;
	width: 18px;
}

.pluck-comm-paged-pagination-page {
	display: inline-block;
	float: left;
	margin-right: 5px;
	padding-top: 2px;
}

.pluck-comm-paged-pagination-separator {
	display: inline-block;
	float: left;
	margin-right: 5px;
	padding-top: 0px;
}

span.pluck-comm-paged-pagination-page {
	font-weight: bold;
}


p.pluck-comm-calltoaction-disabled {
	background: #E0E0E0;
	color: #cc6633;
	font-weight: bold;
	margin-bottom:0px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.pluck-comm-wrapper .pluck-comm-isDeleted .pluck-comm-action-controls,
.pluck-comm-wrapper .pluck-comm-isBlocked .pluck-comm-action-controls,
.pluck-comm-wrapper .pluck-user-isHidden .pluck-comm-action-controls,
.pluck-comm-wrapper .pluck-user-isIgnored .pluck-comm-action-controls,
.pluck-comm-wrapper .pluck-comm-isUnderReview .pluck-comm-action-controls {
	display:none;
}

.pluck-comm-show-hide-replies div.pluck-comm-wait-reply-link {
	color: #1a1414;
	display: none;
	font-size: 0.8em;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
	text-decoration:none;
	text-align: center;
}

/** Updates for Quicksand **/

.pluck-comm-commenting-as {
	padding-top: 18px;
}

.pluck-comm-submit-loggedInUser {
	height: 40px;
}

.pluck-comm-posting-form div.pluck-user-isGroupAdmin,
.pluck-comm-posting-form div.pluck-user-isGroupManager,
.pluck-comm-posting-form div.pluck-user-isSystemEditor,
.pluck-comm-posting-form div.pluck-user-isFeatured {
	height: 62px;
}

.pluck-comm-posting-form .pluck-comm-submit-loggedInUser h4 {
	color: #1a1414;
	font-size: 0.8em;
	font-weight: normal;
}

.pluck-comm-body, .pluck-comm-body a {
	word-wrap: break-word;
}
