/* Digital Directions Story Style Call
v2.0 09.20.2011 chung 
(c) Editorial Projects in Education
*/

@import url("storypage_v2_1.css");

/**special rewrite for backward compatibility**/
		.feature-image .left, .feature-image .right {
		width:515px;
		margin-left:45px;
		margin-bottom:13px;
		float:none;
		}

