div.SiteLife_Login {
display: none;
}
div.Forums_LoginStatus
{
display: none;
}
div.Persona_LoginStatus
{
display: none;
}


.pluck-error-message {
padding:10px 5px 13px 5px;
color:#CC6600;
border:1px dotted #CC6600;
margin-bottom:10px;
font-weight:bold;
font-size:11px;
}

/* ew-comments; for comments in article */
.Sitelife_PluckLogo {
text-align:right;
border-top:1px solid #6699CC;
padding-top:3px;
}
div.Comments_Container {
clear:both;
margin-top:0px;
padding:0;
border:none;
}

.comment-notice {
color:#999999;
font-size:10px;
font-weight:bold;
line-height:1.4em;
}
.comment-notice span {
color:#000000;
}

table.Comments_Table {
margin:0px;
}

.Comments_From a:link, .Comments_From a:visited {
color:#3366cc
}

.Comments_NestedRecommend, .Comments_NestedReport {
font-size:10px;
}

.Comments_NestedRecommend a:link, .Comments_NestedRecommend a:visited{
color:#336699
}

.Comments_NestedReport a:link, .Comments_NestedReport a:visited{
color:#666666
}

.Comments_NestedReport {
text-align:right;
}

tr.Comments_TableAltRowColor td, 
tr.Comments_TableRowColor td {
background-color:#FFFFFF;
}

td.Comments_TableRight, td.Comments_UserImage {
border-bottom:1px dotted #CCCCCC;
padding-top:6px;
}

#Paginator {
text-align:center; font-size:11px;
margin:8px 0px 15px 0px;
font-family:"Tahoma",Verdana,Lucida Sans Unicode,Helvetica,Arial,sans-serif;
padding:1px;
}
#Paginator a {
color:#3366cc;
}
/*recommend article*/
#article-recommend {
padding:15px 0px 10px 0px;
}
#article-recommend a {
color:#336699;
}

/* persona pages */

#container-persona {
width:995px;
margin:10px 0px 0px 5px;
}

/* profile header */
div.PersonaHeader_Container {
background-color:#FFFFCC;
border:1px solid #FFCC66;
padding:10px 5px 2px 5px ;
margin:5px 0px 10px 0px
}

/* leave message, add friend buttons */
div.PersonaHeader_PublicContent a {
border:1px solid #ffcc66;
color:#333333;
background-color:#FFFFFF
}

.SiteLife_Recommend a:link, 
.SiteLife_Recommend a:visited
{
color:#0066CC
}

.SiteLife_Recommended {
color:#0066CC
}

/* leave message, add friend buttons, HOVER state */
div.PersonaHeader_PublicContent a:hover {
background-color:#FFFFCC;
}

div#rpt_persona_abuse a.SiteLife_ReportAbuse {
float:right;
font-size:10px;
padding:6px 0px 1px 20px;
color:#666666
}

/* tab menu */
div.PersonaTabs_Container {
background-color:#FFFFFF;
border-bottom:none;
height:23px;
padding-left:10px;
}

/* selected tab ON state */
div.PersonaTabs_Container a.PersonaTabs_On {
background-color:#333333;
border-color:#333333;
color:#FFFFFF
}

/* not selected tab OFF state */
div.PersonaTabs_Container a.PersonaTabs_Off {
background-color:#ffffff;
border-color:#333333;
}
/* off HOVER state */
div.PersonaTabs_Container a.PersonaTabs_Off:hover {
background-color:#333333;
color:#FFFFFF
}

div.PersonaStyle_ItemContainer {
border:1px solid #333333;
margin-top:0px;
}

div.PersonaStyle_SectionHead {
background-color:#333333;
color:#FFFFCC
}

.Persona_2ColumnTableRight div.PersonaStyle_ItemContainer {
border:1px solid #ffcc66;
margin-top:0px;
}

.Persona_2ColumnTableRight div.PersonaStyle_SectionHead {
background-color:#ffffcc;
color:#000000;
}

#PersonaFriendsDest {
margin-bottom:10px;
}
body.PersonaProfile_Body  {
margin-top:-1px;
}


/*forum*/
/**updated 8.19.2011 CH**/
#content #container-forum {
line-height:1.3em;
}
.Forums_MainContainer .Sitelife_PluckLogo, .Forum_Main .Sitelife_PluckLogo {
border-top:none;
display:none;
}

.Forums_MainContainer div.Forums_Breadcrumbs h2, .Forums_MainContainer .Forums_BottomBreadcrumbs h2 {
color:#333;
padding:4px;
margin-top:6px;
font-size:10px;
}
.Forums_MainContainer .Forums_BottomBreadcrumbs {
margin-top:10px;
}
.Forums_MainContainer div.Forums_Breadcrumbs a, .Forums_MainContainer .Forums_BottomBreadcrumbs a {
color:#666;
text-decoration:underline;
}
.Forums_MainContainer div.Forums_Breadcrumbs a:hover, .Forums_MainContainer .Forums_BottomBreadcrumbs a:hover, .Forums_MainContainer div.ForumList_GroupHeading a:hover, .Forums_MainContainer div.Forums_ContainerHead a:hover{
text-decoration:none;
}
#forumTitle {
font-size:18px;
text-transform:uppercase;
padding:4px;
margin-top:7px;
font-weight:bold;
letter-spacing:-0.6pt;
}
.Forums_MainContainer .Forums_DescriptionText {
padding-left:4px;
font-weight:bold;
font-size:11px;
margin:0px 15px 8px 0px
}
.Forums_MainContainer td.Discussion_PostTablePost a {
color:#666633;
text-decoration:underline;
}
table.ForumList_TitleSearchTable {
margin-top:0;
}
/*headings*/
/**blue bread crumb updated 8.19.2011 CH**/
.Forums_MainContainer div.ForumList_GroupHeading, .Forums_MainContainer div.Forums_ContainerHead {
background:#4986C2; /*url(/images/ew-forum-bg.gif) REMOVED*/
text-transform:uppercase;
font-size:9px;
height:auto;
min-height: 25px;
padding: 5px;
font-family:Tahoma, Geneva, sans-serif;
}
.Forums_MainContainer div.ForumList_GroupHeading a, .Forums_MainContainer div.Forums_ContainerHead a {
	text-decoration:underline;
}
span.Forums_BaseCrumb, span.Forums_BaseCrumbArrows, span.Forums_CatCrumb, span.Forums_CatCrumbArrows, span.Forums_ForumCrumb, span.Forums_CurrentPageCrumbArrows, span.Forums_CurrentPageCrumb {
	float:none;
}
.Forums_MainContainer .ForumList_ForumName {
font-size:14px;
}
.Forums_MainContainer td.ForumList_TitleTD {
display:none;
}
/*search table*/
.Forums_MainContainer table.ForumList_SearchTable, .Forums_MainContainer table.ForumList_ForumSpecificSearchTable {
width:100%;
height:40px;
background:#cccccc;
border:none;
font-weight:bold;
text-transform:uppercase;
font-size:10px;
}
.Forums_MainContainer table.ForumList_SearchTable td.ForumList_SearchFieldTD {
text-align:left;
padding-left:5px;
}
.Forums_MainContainer table.ForumList_SearchTable td.ForumList_SearchTxt2TD {
text-align:center;
width:10px;
}
.Forums_MainContainer table.ForumList_SearchTable td.ForumList_SearchButtonTD {
width:100px;
padding-left:10px;
}
.ForumList_ForumSpecificTitleSearchTable td.ForumList_ForumSpecificTitleTD {
display:none;
}
/*forum table*/
.Forums_MainContainer table.ForumList_GroupTable, .Forums_MainContainer table.DiscussionList_ListTable {
border:none;
line-height:1.4em;
}
.Forums_MainContainer tr.ForumsTable_HeadTR {
background-color:#CCCCCC;
}
.Forums_MainContainer tr.ForumsTable_TRcolor {
background-color:#DEE7F7;
}
.Forums_MainContainer tr.ForumsTable_AltTRcolor {
background-color:#ECF1FA;
}
.Forums_MainContainer td.DiscussionList_ListTableName a {
color:#000000;
}
/*post table*/
.Forums_MainContainer table.Discussion_PostTitleTable {
background-color:#DEE7F7;
}
.Forums_MainContainer table.Discussion_PostTable {
background-color:#ECF1FA;
padding-right:6px;
}
.Forums_MainContainer table.Discussion_PostTable td.Discussion_PostTablePost {
line-height:1.6em;
}
.Forums_MainContainer div.Discussion_PostOptions {
background-color:#DEE7F7;
}
div.Forums_Moderator {
color:#620000;
}
.Forums_MainContainer div.Forums_HeadFeedContainer {
margin-top:-32px;
float:none;
text-align:right;
width:100%;
}
.Forums_MainContainer div.Forums_HeadFeedContainer a {
color:#4986C2;
font-weight:bold;
}
/*buttons*/
.Forums_MainContainer a.Forums_RegisterToJoinForums {
display: none;
}
.Forums_MainContainer a.Forums_StartDiscussion {
background:url(/images/newDiscussion.gif) top left no-repeat;
height:28px;
width:175px;
margin:2px 0px 2px 0px;
}
.Forums_MainContainer a.Forums_AddPost {
background:url(/images/addNewPost.gif) top left no-repeat;
height:28px;
width:135px;
margin:2px 0px 2px 0px;
}
table.CreateItem_Table { 
background:#ECECE6
}
.comment-num {
font-weight:normal;
font-size:10px;
}
/* user discovery */
div.Summary_Container table * {
font-size:10px;
}
tr.Summary_ProfileAltTRColor {
background:none;
}
div.Summary_ProfileName  {
padding:0;
}
div.Summary_Container table a{
color:#336699;
}
div.Summary_ProfileName a  {
font-size:11px;
}
td.Summary_ProfileTableRight {
padding:4px 5px 4px 4px;
}
td.Summary_ProfileTableLeft {
padding:4px 0 4px 5px;
}
td.Summary_ProfileTableLeft img {
border:1px solid #333;
}
/* sharing tools */
.usertoolbox-top span.share-facebook, .usertoolbox-top span.share-twitter {
	display:block;
	height:20px;
	margin: 5px 0px;
}
.usertoolbox-top span.share-facebook a.pluck-reactions-recommend-like, .usertoolbox-top span.share-facebook a.pluck-reactions-recommend-liked {
	font-size:10px;
	height:14px;
	    line-height: 14px;

}
.blogtool{
height:40px; 
padding-top:30px;
  width: 445px;
  font-size: 10px;
}
.blogtool span.share-facebook, .blogtool span.share-twitter, .blogtool span.share-addthis {
display:inline;
}
.blogtool span.share-addthis {
padding-right:5px;
}
.blogtool span.share-facebook {
float:right;
margin-left:-20px;
margin-top:0px;
}
.blogtool span.share-facebook a.pluck-reactions-recommend-like, .blogtool span.share-facebook a.pluck-reactions-recommend-liked {
    font-size: 10px;
    height: 14px;
    line-height: 14px;
 width: 80px;
}

