/* safari styls */

#top-well ul{
	margin:0px 0px 0px 210px;
	padding:2px 0px 0px 0px;
	list-style:none;
	}

/*
.header-issue-box a:link, .header-issue-box a:visited {
padding-bottom:2px;
}*/

	#Re09searchBox {
	height:23px;
	}