/*********************************
 *
 * CSS control - DO NOT CHANGE OR REMOVE
 * needed to track loading of this css file
 *
 *********************************/

.pluck-social-css-loaded { /* DO NOT CHANGE OR REMOVE - needed to track loading of this css file */
	border-bottom-color: #010204;
}

/*********************************
 * 
 * colors
 *
 *********************************/

.pluck-twitter-invite-dialog .pluck-wait-msg,
.pluck-linkedIn-invite-dialog .pluck-wait-msg {
	color:#786952;
}

 /*********************************
 * 
 * fonts
 *
 *********************************/

.pluck-twitter-invite-dialog .pluck-wait-msg,
.pluck-linkedIn-invite-dialog .pluck-wait-msg {
	font-size:0.8em;
}


/*********************************
 * 
 * pluck/social/facebook
 *
 *********************************/

.pluck-facebook-dialog { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	padding-bottom: 10px;
	min-height: 100px;
	height: auto !important;
	height: 100px;
	width: 467px;
}

.pluck-facebook-dialog .pluck-dialog-middle {
	width:463px;
}

.pluck-facebook-dialog .pluck-error-message {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.pluck-facebook-dialog span.pluck-dialog-actions {
	margin-left: 10px;
	padding-left: 0px;
}

/*********************************
 * 
 * pluck/social/twitter/inviteDialog
 *
 *********************************/

.pluck-twitter-invite-dialog { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	padding-bottom: 10px;
	min-height: 222px;
	height: auto !important;
	height: 222px;
	width: 267px;
}

.pluck-twitter-invite-dialog .pluck-dialog-middle {
	width:263px;
}

.pluck-twitter-invite-dialog .pluck-wait-display {
	top: 30px;
}

.pluck-twitter-invite-dialog .pluck-wait-msg {
	font-weight: bold;
}

.pluck-twitter-invite-dialog .pluck-error-message {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.pluck-twitter-invite-dialog span.pluck-dialog-group textarea {
	height:65px;
	margin-left: 10px;
	width: 240px;
}

.pluck-twitter-invite-dialog span.pluck-dialog-actions {
	margin-left: 10px;
	padding-left: 0px;
}


/*********************************
 * 
 * pluck/social/linkedIn/inviteDialog
 *
 *********************************/

.pluck-linkedIn-invite-dialog { /* SEE IE 6 STYLESHEET FOR MORE STYLES */
	padding-bottom: 10px;
	min-height: 222px;
	height: auto !important;
	height: 222px;
	width: 267px;
}

.pluck-linkedIn-invite-dialog .pluck-dialog-middle {
	width:263px;
}

.pluck-linkedIn-invite-dialog .pluck-wait-display {
	top: 30px;
}

.pluck-linkedIn-invite-dialog .pluck-wait-msg {
	font-weight: bold;
}

.pluck-linkedIn-invite-dialog .pluck-error-message {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.pluck-linkedIn-invite-dialog span.pluck-dialog-group textarea {
	height:65px;
	margin-left: 10px;
	width: 240px;
}

.pluck-linkedIn-invite-dialog span.pluck-dialog-actions {
	margin-left: 10px;
	padding-left: 0px;
}

/*********************************
 * 
 * pluck/social/syndication
 *
 *********************************/

.pluck-social-syndication {
	font-family: Calibri, Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}

.pluck-standardfont.pluck-social-syndication {
	font-size: 14px;
}

.pluck-social-syndication-connect {
	display: inline-block;
	margin: 5px 10px 0 0;
}

.pluck-social-syndication-connect input {
	display: inline-block;
	height: 16px;
	margin: 0;
}

.pluck-social-syndication-connect label {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin: 0;
}

.pluck-social-syndication-connect label.pluck-social-syndication-facebook {
	background: transparent url("/ver1.0/pluck/social/syndication/images/pluck-syndicate-facebook.gif") center center no-repeat;
}

.pluck-social-syndication-connect label.pluck-social-syndication-twitter {
	background: transparent url("/ver1.0/pluck/social/syndication/images/pluck-syndicate-twitter.gif") center center no-repeat;
}

.pluck-social-syndication-connect label.pluck-social-syndication-linkedIn {
	background: transparent url("/ver1.0/pluck/social/syndication/images/pluck-syndicate-linkedin.gif") center center no-repeat;
}

.pluck-social-syndication-messages .pluck-wait {
	bottom:1px;
	left:0px;
	right:0px;
	top:10px;
}

.pluck-social-syndication-messages .pluck-wait-modal,
.pluck-social-syndication-messages .pluck-confirm-modal {
	background: #fcfcf6;
}

.pluck-social-syndication-messages .pluck-wait-display {
	left: 30px;
	right: 30px;
	top: 10px;
}

.pluck-social-syndication-messages .pluck-wait-msg {
	font-size: 1.0em;
	font-weight: bold;
	padding: 10px;
}

/*********************************
 * 
 * pluck/social/syndicateOnDemand
 *
 *********************************/

.pluck-social-syndicateOnDemand {
	font-family: Calibri, Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}

a.pluck-standardfont.pluck-social-syndicateOnDemand {
	font-size: 14px;
}

.pluck-social-syndicateOnDemand-oninit {
	display: none;
}

a.pluck-social-syndicateOnDemand-link {
	display: inline-block;
	text-decoration: none;
}

.pluck-social-syndicateOnDemand-button a.pluck-social-syndicateOnDemand-link {
	background: url("/ver1.0/Content/ua/images/pluck-secondary-button-right.png") no-repeat scroll right top transparent;
	color: #615555;
	height: 25px;
	margin-right: 6px;
	padding-right: 6px;
	text-align: center;
}

.pluck-social-syndicateOnDemand-icon a.pluck-social-syndicateOnDemand-link {
	color: #0066cc;
	text-align: left;
	height: 16px;
	margin-right: 5px;
}

.pluck-social-syndicateOnDemand-disabled a.pluck-social-syndicateOnDemand-link {
	cursor: default;
	color: #999999;
}

.pluck-social-syndicateOnDemand-checkbox a.pluck-social-syndicateOnDemand-link {
	display: none;
}

.pluck-social-syndicateOnDemand-button .pluck-social-syndicateOnDemand-contents {
	background: url("/ver1.0/Content/ua/images/pluck-secondary-button-left.png") no-repeat scroll 0 0 transparent;
	color: #615555;
	cursor: pointer;
	display: block;
	line-height: 16px;
	padding: 4px 9px 5px 15px;
}

.pluck-social-syndicateOnDemand-icon .pluck-social-syndicateOnDemand-contents {
	margin: 0;
	padding: 0;
}

.pluck-social-syndicateOnDemand-checkbox input {
	display: inline-block;
}

.pluck-social-syndicateOnDemand-checkbox label {
	display: inline-block;
}

.pluck-social-syndicateOnDemand-disabled .pluck-social-syndicateOnDemand-contents {
	cursor: default;
	color: #999999;
}

.pluck-social-syndicateOnDemand-party {
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
}

.pluck-social-syndicateOnDemand-disabled .pluck-social-syndicateOnDemand-party {
	cursor: default;
}

span.pluck-social-syndicateOnDemand-facebook {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-facebook.gif") center center no-repeat;
}

.pluck-social-syndicateOnDemand-disabled span.pluck-social-syndicateOnDemand-facebook {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-facebook-disabled.gif") center center no-repeat;
}

span.pluck-social-syndicateOnDemand-twitter {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-twitter.gif") center center no-repeat;
}

.pluck-social-syndicateOnDemand-disabled span.pluck-social-syndicateOnDemand-twitter {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-twitter-disabled.gif") center center no-repeat;
}

span.pluck-social-syndicateOnDemand-linkedIn {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-linkedin.gif") center center no-repeat;
}

.pluck-social-syndicateOnDemand-disabled span.pluck-social-syndicateOnDemand-linkedIn {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-linkedin-disabled.gif") center center no-repeat;
}

.pluck-social-syndicateOnDemand-label {
	cursor: pointer;
	display: inline-block;
	height: 16px;
	line-height: 16px;
}

.pluck-social-syndicateOnDemand-disabled .pluck-social-syndicateOnDemand-label {
	cursor: default;
}

.pluck-social-syndicateOnDemand-dialog {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}

.pluck-social-syndicateOnDemand-dialog-modal {
	background: #f6f4ea;
	bottom: 0;
	filter: alpha(opacity=80);
	left: 0;
	opacity: 0.80;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;
}

a.pluck-social-syndicateOnDemand-dialog-modalClose {
	background: transparent url("/ver1.0/pluck/social/images/pluck-modal-close.png") center center no-repeat;
	display: none;
	height: 16px;
	position: absolute;
	text-decoration: none;
	width: 16px;
}

.pluck-social-syndicateOnDemand-dialog-wrapper {
	border: 4px solid #767572;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position:absolute;
	width: 475px;
	z-index: 12;
}

.pluck-social-syndicateOnDemand-dialog-title {
	background: #767572;
	height: 35px;
	width: 100%;
}

.pluck-social-syndicateOnDemand-dialog h1 {
	color: #e0e0e0;
	font-size: 1.1em;
	font-weight: normal;
	padding: 5px 0px 10px 15px;
	margin: 0px;
}

.pluck-social-syndicateOnDemand-dialog-workarea {
	background: #ffffff;
	padding: 10px;
}

.pluck-social-syndicateOnDemand-dialog-service {
	height: 24px;
	margin-bottom: 10px;
}

.pluck-social-syndicateOnDemand-dialog-service a {
	color: #0066cc;
}

.pluck-social-syndicateOnDemand-dialog-connect-icon {
	display: block;
	float: left;
	height: 24px;
	width: 101px;
}

.pluck-social-syndicateOnDemand-dialog-facebook .pluck-social-syndicateOnDemand-dialog-connect-icon {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-facebook-large-disabled.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-linkedIn .pluck-social-syndicateOnDemand-dialog-connect-icon {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-linkedin-large-disabled.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-twitter .pluck-social-syndicateOnDemand-dialog-connect-icon {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-twitter-large-disabled.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-connect {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 24px;
	margin-left: 106px;
	text-decoration: none;
}

.pluck-social-syndicateOnDemand-dialog-checkbox {
	display: none;
	float: left;
	height: 24px;
	width: 101px;
}

.pluck-social-syndicateOnDemand-dialog-facebook .pluck-social-syndicateOnDemand-dialog-checkbox {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-facebook-large-disabled.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-facebook .pluck-social-syndicateOnDemand-dialog-checked {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-facebook-large.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-linkedIn .pluck-social-syndicateOnDemand-dialog-checkbox {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-linkedin-large-disabled.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-linkedIn .pluck-social-syndicateOnDemand-dialog-checked {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-linkedin-large.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-twitter .pluck-social-syndicateOnDemand-dialog-checkbox {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-twitter-large-disabled.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-twitter .pluck-social-syndicateOnDemand-dialog-checked {
	background: transparent url("/ver1.0/pluck/social/images/pluck-syndicate-twitter-large.png") center center no-repeat;
}

.pluck-social-syndicateOnDemand-dialog-connected {
	display: none;
	font-size: 0.8em;
	line-height: 24px;
	margin-left: 106px;
}

.pluck-social-syndicateOnDemand-dialog-connected-name {
	font-weight: bold;
}

.pluck-social-syndicateOnDemand-dialog-progress {
	display: none;
	font-size: 0.8em;
	line-height: 24px;
	margin-left: 106px;
}

.pluck-social-syndicateOnDemand-dialog-error {
	display: none;
	font-size: 0.8em;
	line-height: 24px;
	margin-left: 106px;
}

.pluck-social-syndicateOnDemand-dialog-error a {
	margin-left: 5px;
}

.pluck-social-syndicateOnDemand-dialog-auth .pluck-social-syndicateOnDemand-dialog-connect-icon,
.pluck-social-syndicateOnDemand-dialog-auth .pluck-social-syndicateOnDemand-dialog-connect {
	display: none;
}

.pluck-social-syndicateOnDemand-dialog-auth .pluck-social-syndicateOnDemand-dialog-checkbox,
.pluck-social-syndicateOnDemand-dialog-auth .pluck-social-syndicateOnDemand-dialog-connected {
	display: block;
}

.pluck-social-syndicateOnDemand-dialog-sharing .pluck-social-syndicateOnDemand-dialog-connect,
.pluck-social-syndicateOnDemand-dialog-sharing .pluck-social-syndicateOnDemand-dialog-connected {
	display: none;
}

.pluck-social-syndicateOnDemand-dialog-sharing .pluck-social-syndicateOnDemand-dialog-connect-icon,
.pluck-social-syndicateOnDemand-dialog-sharing .pluck-social-syndicateOnDemand-dialog-checkbox {
	cursor: default;
}

.pluck-social-syndicateOnDemand-dialog-sharing .pluck-social-syndicateOnDemand-dialog-progress {
	display: block;
}

.pluck-social-syndicateOnDemand-dialog-connecting .pluck-social-syndicateOnDemand-dialog-connect,
.pluck-social-syndicateOnDemand-dialog-connecting .pluck-social-syndicateOnDemand-dialog-connected {
	display: none;
}

.pluck-social-syndicateOnDemand-dialog-connecting .pluck-social-syndicateOnDemand-dialog-connect-icon,
.pluck-social-syndicateOnDemand-dialog-connecting .pluck-social-syndicateOnDemand-dialog-checkbox {
	cursor: default;
}

.pluck-social-syndicateOnDemand-dialog-connecting .pluck-social-syndicateOnDemand-dialog-progress {
	display: block;
}

.pluck-social-syndicateOnDemand-dialog-failure .pluck-social-syndicateOnDemand-dialog-progress {
	display: none;
}

.pluck-social-syndicateOnDemand-dialog-failure .pluck-social-syndicateOnDemand-dialog-error {
	display: block;
}

.pluck-social-syndicateOnDemand-dialog-message {
	margin-bottom: 10px;
}

.pluck-social-syndicateOnDemand-dialog-message textarea {
	border: 1px solid #ABADB3;
	display: block;
	font-family: Calibri, Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
	height: 60px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	width: 99%;
}

.pluck-standardfont .pluck-social-syndicateOnDemand-dialog-message textarea {
	font-size: 14px;
}

.pluck-social-syndicateOnDemand-dialog-counter {
	color: #999999;
	font-size: 0.8em;
	margin-left: 30px;
}

textarea.pluck-social-syndicateOnDemand-dialog-oversize {
	color: #cc0000;
}

p.pluck-social-syndicateOnDemand-dialog-message-error {
	display: none;
	margin-top: 5px;
}

.pluck-social-syndicateOnDemand-dialog-controls {
	margin: 0;
	padding: 0;
	height: 25px;
}

a.pluck-social-syndicateOnDemand-dialog-nosyndicate {
	color: #999999;
	cursor: default;
}

a.pluck-social-syndicateOnDemand-dialog-nosyndicate .pluck-secondary-button-text {
	cursor: default;
}

.pluck-social-syndicateOnDemand-dialog-cancel {
	color: #0066cc;
	font-size: 0.9em;
}

/*********************************
 * 
 * pluck/social/pinterest/button
 *
 *********************************/

a.pluck-pinit-button {
	opacity: 0.2em;
	cursor: default;
}

.pluck-app a.pin-it-button {
	opacity: 0.2em;
	cursor: default;
}


