/* Area homepage (Show, Series, Blog, etc.)
-------------------------------------------------- */
.area-header {
	margin-bottom:20px;
}

.mainContent>.edit.button {
	position: absolute;
	right: 0;
	top: -2em;
}

.area-header h1 {
	padding-right: 165px;
}

.area-data li {
	color:#878787;
	line-height:1.3;
}

.area-header .area-data {
	margin-bottom:1.2em;
	overflow: hidden;
}

.area-header .area-data li {
	display: inline
}

.area-header .area-data li.episodes {
	float: left;
}


/* Entry summary overrides (defaults in entrySummary.css)
-------------------------------------------------- */
.entries>li {
	border-top:1px solid #d9d9d9;
	padding:24px 0 1.2em;
}

.entries>li:first-child {
	border:none;
}

.entries>li .entry-image {
	height:auto;
	width:222px;
}

.entries>li .entry-image .thumb {
	max-width:220px;
}

.entries>li .title {
	font-size:160%;
}

.entries>li .entry-meta {
	width:65%;
}

.entries>li .description {
	margin:1em 0;
}


/* Video options (queue, playlist, etc.)
-------------------------------------------------- */
.video-options {
	clear:both;
	float:right;
	margin-top:-20px;
}


/* Timebox filters (Currently under All Content -> Most Viewed or Highest Rated)
-------------------------------------------------- */
.filters {
	float:right;
	margin-top:20px;
}

.filters li {
	border-left:1px solid #333;
	float:left;
}

.filters li:first-child {
	border-left:none;
}

.filters li a,
.filters li span {
	display:block;
	padding:0 10px;
}

.filters li.selected span {
	font-weight:bold;
}