.microBtn,
.btn {
	color:#454545;
	cursor:pointer;
	padding:4px 12px;
	border:1px solid #969696;
	-webkit-border-radius:4px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-size:12px;
	font-weight:bold;
	background:#fff url(/styles/images/admin/bg_button.png) repeat-x 0 0;
}

.microBtn {
	padding:0 4px;
	cursor: default ;
}

.c9fileUpload .microBtn {
	margin-left: 3px;
}

.microBtn:hover,
.btn:hover {
	color: #454545;
	background-color:#f5f5f5;
	text-decoration:none;
}

.btn {
	margin:0 0 0 10px;
	color:#333 !important;
}

.btn.action {
	background-color:#017a8c;
	color:#fff !important;
}

.btn.action:hover {
	background-color:#016c7b;
}

input.btn,
input.btn.action {
	padding:3px 12px;
	margin-top:1px;
}
