/* Entry summary defaults
-------------------------------------------------- */
.entries>li {
	float:left;
	width:100%;
}

.entries>li .entry-image {
	clear:left;
	display:block;
	float:left;
	height:auto;
	margin-right:10px;
	overflow:hidden;
	position:relative;
	width:102px;
}

.entries>li .entry-image .thumb {
	border:1px solid #ccc;
	display:block;
	margin:auto auto;
	max-width:100px;
}

.entry-caption {
	background:transparent url(images/bg-translucent-black.png) repeat scroll 0 0;
	bottom:0;
	color:#fff;
	font-family:'Calibri','Lucida Grande',Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:normal;
	left:0;
	padding:8px 0;
	position:absolute;
	text-align:center;
	width:100%;
}

.entries>li .entry-meta {
	float:left;
	line-height:1.3;
	width:68%;
}

.entries>li .title {
	display:block;
	font-size:110%;
	font-weight:bold;
}

.entries>li a.commentJump {
	color:#878787;
}

.entries>li .views,
.entries>li .data {
	color:#878787;
	font-size:91%;
}

.entries>li .views {
	float:left;
	margin-left:5px;
}

.entries>li .views .viewsCount {
	margin-left:5px;
}

.entries>li .rating {
	float: left;
	margin-right:5px;
}

.entries>li .description {
	clear: both;
}

.entries>li .data .area {
	display:block;
}

.entries>li .data .comments {
	margin-left:6px;
}

.entries>li .data .comments img {
	height:12px;
}

.entries>li .data .commentsAndRatings .comments {
	position: relative;
	top: 3px;
	left: 3px;
}

.entries>li .data .commentsAndRatings .rating-count {
	font-size: 100%;
}

/* Rating overrides (defaults in rating.css)
-------------------------------------------------- */
.rating .avg-rating {
	display:none;
}