/* Event Page
-------------------------------------------------- */
.event-page.hasTopContent .branding {
    margin-bottom: 0px;
}

.event-page.hasTopContent .mainContent, 
.event-page.hasTopContent .sidebarHolder, 
.event-page.hasTopContent .pageNav {
    margin-top: 0px;
}

.event-page ul.item-data {
	display: block; /* needed by opera*/
}

.event-page .item-data li {
	border-left: 1px solid #C7C7C7;
	color: #6B6B6B;
	float: left;
	margin-left: -10px;
	margin-right: 21px;
	margin-top: 2px;
	padding-left: 10px;
	width: auto;
}

.event-page .item-data li.allSpeakers {
	clear: both;
}

.event-page .item-data li.sharelinks+.allSpeakers {
	clear: none;
}

.event-page .item-data li.sharelinks {
	border-left: 0px solid #C7C7C7;
	margin-right: 0px;
}

.event-page .sidebar .eventHome a {
	font-size: 130%;
	font-weight: bold;
}

.event-page .area-header {
    margin-bottom: 0px;
}

.event-page .mainContent>div.description {
    margin-bottom: 20px;
}

.event-page .mainContent>div.description iframe {
    display: block;
    margin: 0 auto;
}

.event-page .area-content {
    clear: both;
    padding-top: 30px;
}

.event-page .mainContent > .admin .button {
    top: -0em;
}

/***** Keynotes *****/
h2 {
	border-bottom: 1px dotted #333333;
	font-size: 170%;
	margin: 10px 0;
	padding: 0 0 10px;
}

ul.keynotes {
	margin-bottom: 20px;
	overflow: hidden;
}

ul.keynotes>li {
	border-top: 0px solid white;
	margin-right: 15px;
	padding-bottom: 0px;
	width: 345px;
}

ul.keynotes>li.even {
	clear: both;
}

ul.keynotes>li .entry-image {
	height: auto;
	margin-bottom: 10px;
	width: 100px;
}

ul.keynotes .entry-image img.thumb {
	max-width: 100px;
}

ul.keynotes>li .entry-meta {
	width: auto;
	float: none;
}

ul.keynotes>li .entry-meta .details {
	position: static;
	margin-left: 112px;
	width: 230px;
}

ul.keynotes .details a {
	white-space: nowrap;
}

ul.keynotes>li .entry-meta .details li {
	float: none;
}

ul.keynotes>li .entry-meta .details li.timing {
	display: inline;
}

ul.keynotes>li .entry-meta .details li.day + .date {
	border-left: 1px solid #C7C7C7;
	margin-left: 10px;
	padding-left: 10px;
}

ul.keynotes>li .entry-meta .description {
	margin-bottom: 0px;
	margin-top: 10px;
}

/***** session list *****/
.event-page .allSessions .entry-meta {
	width: 100%;
	float: none;
}

.event-page .allSessions .sessionList > li.odd {
	background-color: #E8F7F9;
}

.event-page .allSessions .sessionList > li {
	padding: 0px;
}

.event-page .allSessions .sessionList > li .entry-meta {
	display: block;
	width: auto;
	margin: 15px;
	overflow: hidden;
}

.event-page .allSessions div.rating {
	height: auto;
}

.event-page .allSessions .sessionList .downloads {
	bottom: auto;
	right: auto;
	position: static;
	float: right;
}

.event-page .allSessions .entry-meta .presentation {
	float: right;
	font-size: 115%;
	border-left: 0px solid #fff;
	border-right: 1px solid #C7C7C7;
	margin-left: 21px;
	margin-right: -11px;
	padding-left: 0px;
	padding-right: 10px;
}

.event-page .allSessions .entry-meta .downloads {
	margin-right: -10px;
}

.event-page .downloads>li {
	width: auto;
}

/***** schedule view *****/
.signedIn #myschedule-anon,
#tab_sortBy_myschedule {
	display: none;
}
.signedIn #tab_sortBy_myschedule 
{
	display: list-item;
}

#theSessions .entireCal {
	float: right;
}

#theSessions .entireCal,
#toggleSessionsOnly {
	margin: 25px 0;
}
#toggleMySessions {
	border-left: solid 1px #d9d9d9;
	float: left;
	margin-left: 10px;
	padding-left: 10px;
}
#toggleSessionsOnly span {
	font-weight: bold;
}
#toggleMySessions>span.toggle,
#toggleSessionsOnly>span.toggle {
	background: url(images/toggle.png) 0 -19px;
	cursor: pointer;
	display: inline-block;
	height: 19px;
	vertical-align: middle;
	width: 50px;
}
#toggleMySessions>span.toggled,
#toggleSessionsOnly>span.toggled {
	background: url(images/toggle.png) 0 0;
}
#toggleMySessions span {
	color: #D2730D;
}

#event-schedule.sessions-only .no-sessions,
#event-schedule.my-sessions-only .schedule-timeslot,
#event-schedule.my-sessions-only .schedule-session {
	display: none;
}
#event-schedule.my-sessions-only .schedule-timeslot.user-timeslot,
#event-schedule.my-sessions-only .schedule-session.user-schedule {
	display: block;
}
#event-schedule .schedule-day {
	margin-bottom: 40px;
}
#event-schedule .schedule-timeslot {
	border-bottom: solid 1px #d9d9d9;
	clear: left;
	padding: 15px 0;
	position: relative;
	margin-left: 20px;
}
#event-schedule .schedule-timeslot .row {
	overflow: hidden;
}
#event-schedule .schedule-timeslot-times {
	float: left;
	width: 190px;
}
#event-schedule .schedule-timeslot-name {
	float: left;
	text-align: center;
	width: 300px;
}

.schedule-timeslot .loading {
    display:block;
    margin: 15px auto;
    width:16px;
}

#event-schedule li.schedule-session {
    background-color: #F6F4E9;
    border: solid 1px #DEDBD1;
    margin: 5px 0 5px 20px;
	overflow: hidden;
	padding: 12px;
}

#event-schedule .schedule-session .row { 
	clear: left;
	min-height: 25px;
	position: relative;
}
#event-schedule .left-column {
	float: left;
	margin-right: 20px;
	width: 120px;
}
#event-schedule .left-column.no-button {
	margin-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100px;
}
#event-schedule .session-expanded .session-code {
	margin-left: 20px;
}
.scheduleAndEval .alert {
	bottom: 0;
	position: absolute;
}
.scheduleAndEval .scheduleHolder {
	float: left;
	margin-right: 10px;
}

/* Add to Schedule specific styles - could be pulled out */
.schedule-signin,
.schedule-error {
	max-width: 650px;
	padding-right: 20px;
	position: absolute;
	z-index: 1;
}
.schedule-signin a.close,
.schedule-error a.close {
	background:url("images/ui-icons_ef8c08_256x240.png") -80px -128px no-repeat;
	top:2px;
	display:block;
	height:16px;
	position:absolute;
	right:4px;
	text-indent:-9999em;
	width:16px;
}

#event-schedule .title {
	display: block;
	font-weight: bold;
	margin-left: 140px;
	max-width: 440px;
}
#event-schedule .speakers {
	margin-left: 140px;
	max-width: 440px;
}
#event-schedule .speakers li {
	display: inline;
}

#event-schedule .timeslot-toggle,
#event-schedule .session-toggle {
	position: absolute;
	right: 0;
}
#event-schedule .timeslot-toggle a, 
#event-schedule .session-toggle a {
	cursor: pointer;
}
#event-schedule .tag-list {
	margin-left: 140px;
}
#event-schedule .tag-list li {
	display: inline;
}
#event-schedule .comments {
	float: left;
	padding-left: 20px;
}
.noRating #event-schedule .comments {
	padding-left: 0px;
}
a.add-to-calendar {
	background: url(images/calendar.png) no-repeat 0 0;
	display: inline-block;
	padding-left: 20px;
	max-height: 18px;
	min-height: 16px;
}
a.add-to-calendar:hover {
	background: url(images/calendar.png) no-repeat -18px -18px;
}
#event-schedule .description {
	margin-left: 140px;
}
#event-schedule .evaluateHolder {
	text-align: center;	
}

.timeslot-expanded .timeslot-expanded-only,
.timeslot-collapsed .timeslot-collapsed-only,
.session-expanded .session-expanded-only,
.session-collapsed .session-collapsed-only {
	display: block;
}
.timeslot-collapsed .timeslot-expanded-only,
.timeslot-expanded .timeslot-collapsed-only,
.session-collapsed .session-expanded-only,
.session-expanded .session-collapsed-only {
	display: none;
}

/***** filter section *****/

.sidebar .search {
	margin-bottom: 35px;
}

.sidebar .search .term {
	margin-top: 35px;
	margin-bottom: 20px;
}

.sidebar .search .term input {
	width: 182px;
}

.sidebar .clearAll {
	display: block;
	margin-bottom: 15px
}

.sidebar .search fieldset {
	border: none;
	position: relative;
	margin-bottom: 35px;
}

.sidebar .search fieldset + input {
	margin-top: -15px
}

.alert .clearAll,
.sidebar .search input.clearAll:focus,
.sidebar .search input.clearAll {
	border: 0px solid white;
	background-color: transparent;
	padding: 0px;
}


.sidebar .search legend {
	bottom: 100%;
	font-weight: bold;
	font-size: 105%;
	white-space: normal;
	width: 100%;
}

.sidebar .search fieldset>div {
	background-color: white;
	background-image: none;
	border: 1px solid #b6b6b6;
	float: none;
	font-size: inherit;
	line-height: normal;
	margin-top: 2px;
	max-height: 135px;
	overflow-y: auto;
	padding: 0px 4px 7px;
	width: auto;
}

.sidebar .search fieldset>div input {
	float: left;
	margin: 12px 0 0;
	padding: 0;
}

.sidebar .search label {
	display: block;
	font-weight: normal;
	line-height: normal;
	margin-left: 25px;
	margin-top: 10px;
	padding: 0;
	text-align: left;
	vertical-align: top;
	width: auto;
}

.sidebar .search legend .filteredBy {
	display: block;
	font-size: 90%;
	font-weight: normal;
	line-height: 1.2;
	margin-left: 1em;
	margin-top: 5px;
}

.sidebar .currentlyFilteredBy .currentFilters {
	margin-top: 15px;
}

.sidebar .currentlyFilteredBy .currentFilters ul {
	margin-right: 16px;
}

/* Event Page Error
-------------------------------------------------- */
.event-page .alert {
	padding-bottom: 10px;
}

.event-page .alert ul,
.event-page .alert p {
	margin-bottom: 5px;
}

.event-page .alert p {
	margin-top: 10px;
}

.event-page .currentFilters li {
	font-weight: bold;
}

.event-page .currentFilters li li {
	font-weight: normal;
	margin-left: 15px;
}

/* evals
-------------------------------------------------- */
.event-page .evalDashboard {
	position: absolute;
	right: 0;
	top: 0px
}

.event-page.canEdit .evalDashboard {
	right: 90px;
}

