.pointelle_slider_fouc .pointelle_slider{display:none;}
.pointelle_slider h2, .pointelle_slider h4, .pointelle_slider div, .pointelle_slider span, .pointelle_slider a{margin:0px;padding:0px;vertical-align:baseline;border:none;line-height:18px !important;text-decoration:none;text-shadow:none}
.pointelle_slider p{margin:0px !important;}

.pointelle_slider { position: relative; z-index: 1; }
.pointelle_slides { position: absolute; z-index: 1;left:0px; }

div.pointelle-slider-control { position: absolute; z-index: 4; right: 0px; }
div.pointelle-slider-nav { float: left; padding: 10px 15px; cursor: pointer;}
.pointelle_nav_thumb{float: left !important; margin:0 15px 0 0 !important;padding:0px !important;display:block;}
span.pointelle-order { display: none; }
div.pointelle-slider-nav h2 { float: left; padding-bottom: 4px; clear:none; margin:0px !important;}
span.pointelle-meta { padding: 1px 0px; border: 1px solid #ccc; border-width: 1px 0 0 0; display: block; float: left;  }			
div.pointelle-active{ background: url(arrow_bg.png) no-repeat center left; background-color:transparent !important; margin-left: -20px; padding-left: 36px;border:none !important }
div.pointelle-active h2 { background: url(navtitle_act_border.png) repeat-x bottom left; margin-bottom: 1px; color: #222 !important; }
div.pointelle-active span.pointelle-meta{ color: #797979 !important; border: 0px !important; }
div.pointelle-active-lt{ background: url(arrow_lt_bg.png) no-repeat center right; background-color:transparent !important; margin-right: -20px; padding-right: 36px;border:none !important }
div.pointelle-active-lt h2 { background: url(navtitle_act_border.png) repeat-x bottom left; margin-bottom: 1px; color: #222 !important; }
div.pointelle-active-lt span.pointelle-meta{ color: #797979 !important; border: 0px !important; }

/*.pointelle_slider .pointelle_thumb_anchor{display:block;}*/
div.pointelle-excerpt { background: url(bg.png) repeat top left; position: absolute; bottom: 0px; left: 0px; padding: 10px 40px 15px 20px; z-index: 2; }
div.pointelle-excerpt h4{padding-bottom:5px;float:left;display:block;width:100%;}
div.pointelle-excerpt p { clear:left; }
.pointelle_overlay{background: url(overlay.png) repeat top left;position: absolute;top: 0px;left: 0px;display: block;z-index: 1;height:100%;width:100%;}
.pointelle_slider p.more a{text-decoration:underline;float:right;}
.pointelle_slider p.more a:hover{text-decoration:none;}

.pointelle_slider  .sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.pointelle_slider  .sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}
/*New CSS since version 1.5*/
.pointelle_nav_arrows{position:absolute;bottom:-2px;right:0px;width:48px;height:24px;z-index:10;background:#ccc;border:#fff;}
.pointelle_nav_down{width:12px;height:12px;background:url(img/down.png) top left no-repeat;margin:6px !important;float:left;cursor:pointer;}
.pointelle_nav_up{width:12px;height:12px;background:url(img/up.png) top left no-repeat;margin:6px!important;float:right;cursor:pointer;}
.pointelle_slide_arrow{display:none;}
.pointelle_nav_next{position:absolute;right:0px;top:40%;width:48px;height:48px;background:url(img/next.png) top left no-repeat;margin:6px;float:left;cursor:pointer;z-index:10;opacity:1;}
.pointelle_nav_prev{position:absolute;left:0px;top:40%;width:48px;height:48px;background:url(img/prev.png) top left no-repeat;margin:6px;float:right;cursor:pointer;z-index:10;opacity:1;}