#optin-sidebar{background:#DDD;border-bottom:1px dashed #CCC;text-align:center;width:auto;max-width:400px;padding:15px 0}
#optin-sidebar h4{font-weight:700;margin:10px 0 20px}
#optin-sidebar input[type=text]{border:1px solid #AAA;font-size:13px;width:80%;color:#888;margin:0 0 15px;padding:10px}
#optin-sidebar input{box-shadow:0 2px 2px #AAA;-moz-box-shadow:0 2px 2px #AAA;-webkit-box-shadow:0 2px 2px #AAA}
#optin-sidebar input[id=name]{background:url(../images/XrHTe.png) no-repeat scroll right center #FFF}
#optin-sidebar input[id=email]{background:url(../images/2BCD0.png) no-repeat scroll right center #FFF}
#optin-sidebar input[type=submit]{background:#DF6001;border:1px solid #B63C00;color:#FFF;cursor:pointer;font-family:arial;font-size:16px;font-weight:700;height:40px;margin-top:5px;text-shadow:-1px -1px #B63C00;text-transform:capitalize;padding:8px 5px}
#optin-sidebar input[type=submit]:hover{background:none repeat scroll 0 0 #B63C00}