.black-and-white {}
.gray-stripe {border-color: #666 !important;}
.teal-stripe {border-color: #4D8C8C !important;}
.blue-stripe {border-color: #369 !important;}
.blue {border-color: #FFF !important;}
 
/* Classic Black and White */
.black-and-white tr.black-and-whiteTableHeaderRow {background-color: Black; color: #FFF; } 
.black-and-white tr.black-and-whiteTableHeaderRow th {font-weight: bold; } 
.black-and-white tr.black-and-whiteTableHeaderRow td {font-weight: bold; } 
.black-and-white td.black-and-whiteTableHeaderFirstCol {border-left: solid 1px black; border-right: solid 2px black !important; font-weight: bold;} 
.black-and-white td.black-and-whiteTableHeaderLastCol {font-weight: bold; border-right: 1px solid black;} 
.black-and-white td.black-and-whiteTableHeaderOddCol {} 
.black-and-white td.black-and-whiteTableHeaderEvenCol {} 

.black-and-white tr.black-and-whiteTableOddRow {} 
.black-and-white tr.black-and-whiteTableEvenRow {} 
.black-and-white td.black-and-whiteTableFirstCol {border-left: solid 1px black; border-right: solid 2px black !important; font-weight: bold;} 
.black-and-white th.black-and-whiteTableFirstCol {border-left: solid 1px black; border-right: solid 2px black !important; font-weight: bold;} 
.black-and-white td.black-and-whiteTableLastCol {border-left: 1px solid black; border-right: solid 1px black; font-weight: bold;} 
.black-and-white th.black-and-whiteTableLastCol {border-left: 1px solid black; border-right: solid 1px black; font-weight: bold;} 
.black-and-white td.black-and-whiteTableOddCol {} 
.black-and-white td.black-and-whiteTableEvenCol {} 

.black-and-white tr.black-and-whiteTableFooterRow {font-weight: bold;} 
.black-and-white tr.black-and-whiteTableFooterRow td {border-bottom: solid 1px black; border-top: 1px solid black;} 
.black-and-white td.black-and-whiteTableFooterFirstCol {border-left: 1px solid black; border-right: solid 2px black !important; font-weight: bold;} 
.black-and-white td.black-and-whiteTableFooterLastCol {font-weight: bold; border-right: solid 1px black; border-left: 1px solid black;} 
.black-and-white td.black-and-whiteTableFooterOddCol {} 
.black-and-white td.black-and-whiteTableFooterEvenCol {} 

.black-and-white th {font-weight: normal;}


/* Classic Grayscale Zebra */
.gray-stripe tr.gray-stripeTableHeaderRow {background-color: #666; color: #FFF; } 
.gray-stripe tr.gray-stripeTableHeaderRow th {font-weight: bold; } 
.gray-stripe tr.gray-stripeTableHeaderRow td {font-weight: bold; } 
.gray-stripe td.gray-stripeTableHeaderFirstCol {border-left: solid 1px #666 !important; border-right: solid 2px #666 !important; font-weight: bold;} 
.gray-stripe td.gray-stripeTableHeaderLastCol {font-weight: bold; border-right: 1px solid #666 !important;} 
.gray-stripe td.gray-stripeTableHeaderOddCol {} 
.gray-stripe td.gray-stripeTableHeaderEvenCol {} 

.gray-stripe tr.gray-stripeTableOddRow {} 
.gray-stripe tr.gray-stripeTableEvenRow {background-color: #eee;} 
.gray-stripe td.gray-stripeTableFirstCol {border-left: solid 1px #666 !important; border-right: solid 2px #666 !important; font-weight: bold;} 
.gray-stripe th.gray-stripeTableFirstCol {border-left: solid 1px #666 !important; border-right: solid 2px #666 !important; font-weight: bold;} 
.gray-stripe td.gray-stripeTableLastCol {border-left: 1px solid #666 !important; border-right: solid 1px #666 !important; font-weight: bold;} 
.gray-stripe th.gray-stripeTableLastCol {border-left: 1px solid #666 !important; border-right: solid 1px #666 !important; font-weight: bold;} 
.gray-stripe td.gray-stripeTableOddCol {} 
.gray-stripe td.gray-stripeTableEvenCol {} 

.gray-stripe tr.gray-stripeTableFooterRow {font-weight: bold;}
.gray-stripe tr.gray-stripeTableFooterRow td {border-top: 3px solid #666 !important; border-bottom: 2px solid #666 !important;} 
.gray-stripe td.gray-stripeTableFooterFirstCol {border-left: 1px solid #666 !important; border-right: solid 2px #666 !important; font-weight: bold;} 
.gray-stripe td.gray-stripeTableFooterLastCol {border-left: 1px solid #666 !important; border-right: solid 1px #666 !important; font-weight: bold;} 
.gray-stripe td.gray-stripeTableFooterOddCol {} 
.gray-stripe td.gray-stripeTableFooterEvenCol {} 

.gray-stripe th {font-weight: normal;}
.gray-stripe td {border-color: #666 !important; }
.gray-stripe th {border-color: #666 !important; }

/* Simple Teal Zebra */
.teal-stripe tr.teal-stripeTableHeaderRow {background-color: #4D8C8C; color: #FFF;} 
.teal-stripe tr.teal-stripeTableHeaderRow th {font-weight: bold; border-top: 1px solid #4D8C8C !important; border-bottom: 1px solid #4D8C8C !important; } 
.teal-stripe tr.teal-stripeTableHeaderRow td {font-weight: bold; border-top: 1px solid #4D8C8C !important; border-bottom: 1px solid #4D8C8C !important;} 
.teal-stripe td.teal-stripeTableHeaderFirstCol {border-left: solid 1px #4D8C8C !important; border-right: solid 2px #4D8C8C !important; font-weight: bold;} 
.teal-stripe td.teal-stripeTableHeaderLastCol {font-weight: bold; border-left: 1px solid #4D8C8C !important; border-right: 1px solid #4D8C8C !important;} 
.teal-stripe td.teal-stripeTableHeaderOddCol {} 
.teal-stripe td.teal-stripeTableHeaderEvenCol {} 

.teal-stripe tr.teal-stripeTableOddRow {} 
.teal-stripe tr.teal-stripeTableEvenRow {background-color: #E8F0F0;} 
.teal-stripe td.teal-stripeTableFirstCol {border-left: solid 1px #4D8C8C !important; border-right: solid 2px #4D8C8C !important; font-weight: bold;} 
.teal-stripe th.teal-stripeTableFirstCol {border-left: solid 1px #4D8C8C !important; border-right: solid 2px #4D8C8C !important; font-weight: bold;} 
.teal-stripe td.teal-stripeTableLastCol {border-left: 1px solid #4D8C8C !important; border-right: solid 1px #4D8C8C !important; font-weight: bold;} 
.teal-stripe th.teal-stripeTableLastCol {border-left: 1px solid #4D8C8C !important; border-right: solid 1px #4D8C8C !important; font-weight: bold;} 
.teal-stripe td.teal-stripeTableOddCol {} 
.teal-stripe td.teal-stripeTableEvenCol {} 

.teal-stripe tr.teal-stripeTableFooterRow {font-weight: bold;} 
.teal-stripe tr.teal-stripeTableFooterRow td {border-top: 3px solid #4D8C8C !important; border-bottom: 2px solid #4D8C8C !important;} 
.teal-stripe td.teal-stripeTableFooterFirstCol {border-left: 1px solid #4D8C8C !important; border-right: solid 2px #4D8C8C !important; font-weight: bold;} 
.teal-stripe td.teal-stripeTableFooterLastCol {border-left: 1px solid #4D8C8C !important; border-right: solid 1px #4D8C8C !important;} 
.teal-stripe td.teal-stripeTableFooterOddCol {} 
.teal-stripe td.teal-stripeTableFooterEvenCol {} 

.teal-stripe th {font-weight: normal;}
.teal-stripe td {border-color: #4D8C8C !important; }
.teal-stripe th {border-color: #4D8C8C !important; }

/* Simple Blue Horizontal Zebra */
.blue-stripe tr.blue-stripeTableHeaderRow {background-color: #369; color: #FFF; } 
.blue-stripe tr.blue-stripeTableHeaderRow th {font-weight: bold; } 
.blue-stripe tr.blue-stripeTableHeaderRow td {font-weight: bold; } 
.blue-stripe td.blue-stripeTableHeaderFirstCol {border-left: solid 1px #369 !important; border-right: solid 2px #369 !important; font-weight: bold;} 
.blue-stripe td.blue-stripeTableHeaderLastCol {border-left: 1px solid #369 !important; border-right: 1px solid #369 !important; font-weight: bold; } 
.blue-stripe td.blue-stripeTableHeaderOddCol {} 
.blue-stripe td.blue-stripeTableHeaderEvenCol {} 

.blue-stripe tr.blue-stripeTableOddRow {} 
.blue-stripe tr.blue-stripeTableEvenRow {background-color: #E5EBF2;} 
.blue-stripe td.blue-stripeTableFirstCol {border-left: 1px solid #369 !important; border-right: solid 2px #369 !important; font-weight: bold;} 
.blue-stripe th.blue-stripeTableFirstCol {border-left: 1px solid #369 !important; border-right: solid 2px #369 !important; font-weight: bold;}
.blue-stripe td.blue-stripeTableLastCol {border-left: 1px solid #369 !important; border-right: solid 1px #369 !important; font-weight: bold;} 
.blue-stripe th.blue-stripeTableLastCol {border-left: 1px solid #369 !important; border-right: solid 1px #369 !important; font-weight: bold;}
.blue-stripe td.blue-stripeTableOddCol {} 
.blue-stripe td.blue-stripeTableEvenCol {} 

.blue-stripe tr.blue-stripeTableFooterRow {font-weight: bold;}
.blue-stripe tr.blue-stripeTableFooterRow td {border-top: 3px solid #369 !important; border-bottom: 2px solid #369 !important;} 
.blue-stripe td.blue-stripeTableFooterFirstCol {border-left: 1px solid #369 !important; border-right: solid 2px #369 !important; font-weight: bold;} 
.blue-stripe td.blue-stripeTableFooterLastCol {border-left: 1px solid #369 !important; border-right: solid 1px #369 !important; font-weight: bold;} 
.blue-stripe td.blue-stripeTableFooterOddCol {} 
.blue-stripe td.blue-stripeTableFooterEvenCol {} 

.blue-stripe th {font-weight: normal;}
.blue-stripe td {border-color: #369 !important; }
.blue-stripe th {border-color: #369 !important; }

/* Simple Blue */
.blue tr.blueTableHeaderRow {background-color: #C1D1E0;} 
.blue tr.blueTableHeaderRow th {font-weight: bold; } 
.blue tr.blueTableHeaderRow td {font-weight: bold; } 
.blue td.blueTableHeaderFirstCol {border-left: solid 1px #FFF !important; border-right: solid 2px #FFF !important; font-weight: bold;} 
.blue td.blueTableHeaderLastCol {border-left: 1px solid #FFF !important; border-right: 1px solid #FFF !important; font-weight: bold;} 
.blue td.blueTableHeaderOddCol {} 
.blue td.blueTableHeaderEvenCol {} 

.blue tr.blueTableOddRow {} 
.blue tr.blueTableEvenRow {} 
.blue td.blueTableFirstCol {border-left: 1px solid #FFF !important; border-right: solid 2px #FFF !important; font-weight: bold;} 
.blue th.blueTableFirstCol {border-left: 1px solid #FFF !important; border-right: solid 2px #FFF !important; font-weight: bold;} 
.blue td.blueTableLastCol {border-left: 1px solid #FFF !important; border-right: solid 1px #FFF !important; font-weight: bold;} 
.blue th.blueTableLastCol {border-left: 1px solid #FFF !important; border-right: solid 1px #FFF !important; font-weight: bold;} 
.blue td.blueTableOddCol {} 
.blue td.blueTableEvenCol {} 

.blue tr.blueTableFooterRow {font-weight: bold;}
.blue tr.blueTableFooterRow td {border-top: 3px solid #FFF !important; border-bottom: 2px solid #FFF !important;} 
.blue td.blueTableFooterFirstCol {border-left: 1px solid #FFF !important; border-right: solid 2px #FFF !important; font-weight: bold;} 
.blue td.blueTableFooterLastCol {border-left: 1px solid #FFF !important; border-right: solid 1px #FFF !important; font-weight: bold;} 
.blue td.blueTableFooterOddCol {} 
.blue td.blueTableFooterEvenCol {} 

.blue th {font-weight: normal;}
.blue tr {background-color: #E5EBF2;}
.blue td {border-bottom-color: #FFF !important; border-bottom-style: solid; border-bottom-width: 1px!important;}
.blue td {border-color: #FFF !important; }
.blue th {border-color: #FFF !important; }