/* Pinterest "Pin It" Button Public CSS */

/* Button Wrapper Div */

.pin-it-btn-wrapper,
.pin-it-btn-wrapper-shortcode,
.pin-it-btn-wrapper-widget {
    /* text-align set in settings */
}

.pin-it-btn-wrapper {
    padding-bottom: 10px;
}

/* Latest "clear fix" method: http://css-tricks.com/snippets/css/clear-fix/ */
.pib-clearfix:before,
.pib-clearfix:after {
    content:"";
    display: table;
}

.pib-clearfix:after {
    clear: both;
}

.pib-clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.pib-align-left {
    text-align: left !important;
}

.pin-it-btn-wrapper.pib-align-left .pib-count-table,
.pin-it-btn-wrapper-shortcode.pib-align-left .pib-count-table,
.pin-it-btn-wrapper-widget.pib-align-left .pib-count-table {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.pib-align-right {
    text-align: right !important;
}

.pin-it-btn-wrapper.pib-align-right .pib-count-table,
.pin-it-btn-wrapper-shortcode.pib-align-right .pib-count-table,
.pin-it-btn-wrapper-widget.pib-align-right .pib-count-table {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.pib-align-center {
    text-align: center !important;
}

.pin-it-btn-wrapper.pib-align-center .pib-count-table,
.pin-it-btn-wrapper-shortcode.pib-align-center .pib-count-table,
.pin-it-btn-wrapper-widget.pib-align-center .pib-count-table {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Share Bar Wrapper Div */

/* Need to override WP styles with !important tags */

.pib-sharebar {
	padding: 10px 0 5px;
	margin: 0;
	width: 100% !important;
    /* text-align set in settings */
    clear: both;
}

/* Set max height for sharebar to tallest custom button */
.pib-sharebar,
.pib-sharebar ul {
    height: 32px;
}

.pib-sharebar ul,
.pib-sharebar li {
    margin: 0 !important;
    padding: 0 !important;
	list-style: none !important;
	border: none !important;
	background: none !important;
    text-indent: 0 !important;    
}

.pib-sharebar ul { 
    display: inline-block !important;
}

.pib-sharebar li {
	float: left;
	margin: 0 5px 5px 0 !important;
	display: block;
    /* width set in settings */
}

.pib-sharebar li:before {
    content: none !important;
}

li.pib-sharebar-pinterest {
    text-align: left;
}

li.pib-sharebar-pinterest a {
    vertical-align: top !important;
}

li.pib-sharebar-facebook-share .fb_iframe_widget span {
	vertical-align: top !important;
}

/* Count Bubble CSS */

/* Need to override theme styles ith !important tags */

table.pib-count-table {
	border: 0 !important;
	border-collapse: collapse !important;
	border-spacing: 0 !important;
	margin-top: 0 !important;
    margin-bottom: 0 !important;
    /* change margin left/right for centering/left/right */
    margin-left: 0;
    margin-right: 0;
	padding: 0 !important;
	vertical-align: top !important;
	width: auto !important;
}

table.pib-count-table tr {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

table.pib-count-table td {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: top !important;
}

table.pib-count-table-horizontal td {
	text-align: left !important;
}

table.pib-count-table-vertical td {
	text-align: center !important;
}

a.pin-it-btn-custom-img-link,
a.pin-it-btn-custom-img-link:hover {
    background: none !important;
    border: 0 !important;
    text-decoration: none !important;
    width: auto !important;    
}

img.pin-it-btn-custom-img {
	border: 0 !important;
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
	vertical-align: top;
    width: auto !important;

    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.pib-count-cell {
	display: none; /* Initially hidden */
	position: relative !important;
}

table.pib-count-table-horizontal td.pib-count-cell {
	padding-left: 4px !important;
}

table.pib-count-table-vertical td.pib-count-cell {
	padding-bottom: 4px !important;
}

.pib-count-bubble {
	background-color: #FCF9F9 !important;
	border: 1px solid #C9C5C5 !important;
	border-radius: 1px !important;
	color: #777 !important;
	display: inline-block !important;
	position: relative !important;
	vertical-align: top !important;
}

table.pib-count-table-horizontal .pib-count-bubble {
	height: 10px !important; /* TODO Change to 19px? Test */
	font: 10px/10px Arial, Helvetica, sans-serif !important;
	margin: 0 !important;
	padding: 3px 5px 4px 5px !important;
	text-align: left !important;
	width: auto !important;
}

table.pib-count-table-vertical .pib-count-bubble {
	font: 12px/12px Arial, Helvetica, sans-serif !important;
	height: 21px !important;
	margin: 0 !important;
	padding: 9px 0 0 0 !important;
	text-align: center !important;
	width: 39px !important;
}

.pib-count-bubble:after,
.pib-count-bubble:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

table.pib-count-table-horizontal .pib-count-bubble:after,
table.pib-count-table-horizontal .pib-count-bubble:before {
	right: 100%;
}

table.pib-count-table-vertical .pib-count-bubble:after,
table.pib-count-table-vertical .pib-count-bubble:before {
	top: 100%;
}

.pib-count-bubble:after {
	border-width: 3px;
}

table.pib-count-table-horizontal .pib-count-bubble:after {
	border-right-color: #FCF9F9;
	top: 50%;
	margin-top: -3px;
}

table.pib-count-table-vertical .pib-count-bubble:after {
	border-top-color: #FCF9F9;
	left: 50%;
	margin-left: -3px;
}

.pib-count-bubble:before {
	border-width: 4px;
}

table.pib-count-table-horizontal .pib-count-bubble:before {
	border-right-color: #C9C5C5;
	top: 50%;
	margin-top: -4px;
}

table.pib-count-table-vertical .pib-count-bubble:before {
	border-top-color: #C9C5C5;
	left: 50%;
	margin-left: -4px;
}

/*** Button Overlay on Hover Image ***/

.pib-hover-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.pib-hover-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    text-align: left;
}

.pib-hover-btn-link {
    /* Default position is top-left corner */
    top: 0;
    left: 0;

    /* Background image should be overwritten, but leave in the default just in case. */
    background-image: url("//assets.pinterest.com/images/pidgets/pin_it_button.png");
    background-repeat: no-repeat;

    /* Button dimensions -- override when button image is changed */
    /* Base red button (a04) is 43w x 20h */
    /* Base red button (b04) is 58w x 27h <-- using now */

    width: 58px; /* 43px; */
    height: 27px; /* 20px; */
    position: absolute;

    /* Margin from any corner */
    margin: 10px;
    vertical-align: baseline;
    text-decoration: none;
}

/* Specific positions for hover button link */
.pib-hover-top-left {
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
}

.pib-hover-top-right {
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
}

.pib-hover-bottom-left {
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
}

.pib-hover-bottom-right {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

/* Same as original WP alignleft, alignright, aligncenter to fix ProPhoto/CSS overwrite issue */
.pib-hover-container-alignleft,
.pib-hover-mask-alignleft {
    float: left;
}

.pib-hover-container-alignright,
.pib-hover-mask-alignright {
    float: right;
}

.pib-hover-container-aligncenter,
.pib-hover-mask-aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
