/* Default css */
#pm_featurebox {
	max-width:960px;
	margin:20px auto;
}

#pm_featurebox h1{
    margin: 0px;
    padding:0px;
    line-height:0px;
}
#pm_featurebox h2{
    margin: 0px;
    padding:0px;
    line-height:0px;
}
.pm_clear{
    clear:both !important;
    line-height:0px !important;
}

#pm_content_wrap {
	float:left;
	width: 71%; 
	height: 346px; 
	background-color: #1d6397;
}

#pm_content_sub {
	float:left;
	width:62%;
	margin-top:20px;
	margin-left:40px;
}

#pm_h1_div {
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
}

#pm_h2_div {
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
}

h1#pm_h1{
    color: #fff;
	font-family:'Merriweather Sans';
	font-size: 26px; 
	font-weight: bold; 
	line-height:36px;
}

h2#pm_h2{
    color: #fff;
	font-family:'Merriweather Sans';
	font-size: 20px; 
	font-weight: bold; 
	line-height:95px;
	text-align:center;
}

#pm_description_div {
    margin-top:10px;
}
.pm_description {
	margin-top:0px;
	font-family: 'Domine'; /*Georgia; */
	height:180px;
	overflow:hidden;
	color: #fff;
	font-weight:normal;
	font-size: 14px; 
}
.pm_description ul {
	list-style-type: disc;
	margin-left:10px;
}
.pm_description li {
	margin:10px;
	line-height:22px;
	display:list-item;
}

#pm_image{
	background: url("images/template4.png") no-repeat scroll 50% 50% / cover rgba(0, 0, 0, 0);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    float: left;
    height: 250px;
    left: 30px;
    position: relative;
    top: 45px;
    width: 150px;
}
	

#pm_subscribe_wrap {
	float:left;
	width: 29%; 
	height: 346px; 
	background-color: #1b517d;
	box-shadow:10px 0 15px -8px #333 inset;
	-webkit-box-shadow: 10px 0 15px -8px #333 inset;
	-moz-box-shadow: 10px 0 15px -8px #333 inset;
	-o-box-shadow: 10px 0 15px -8px #333 inset;
	-ms-box-shadow: 10px 0 15px -8px #333 inset;
}	
	
#pm_subscribe_wrap h1{
	font-family:'Merriweather Sans';
	font-size: 20px; 
	font-weight: bold; 
	color: #fff; 
	position:relative;
	top:80px;
	margin:0px;
	padding:0px;
	text-shadow: 0 1px #203031;
	text-align:center;
}

#pm_send{
	text-align:center;
	position:relative;
}

#pm_input{
	font-family:'Domine';
	font-size: 14px; 
	color: #666;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px; 
	background-color: #fff; 
	border: solid 1px #d8d6d6;
    margin: 10px;
    padding: 11px 0px;
	padding-left:10px;
    width: 230px;	
}

#pm_name_field {
	font-family: 'Domine', serif;
	font-size: 14px; 
	color: #666;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px; 
	background-color: #fff; 
	border: solid 1px #d8d6d6;
    margin: 10px;
    padding: 11px 0px;
	padding-left:10px;
    width: 230px;	
}

#pm_button_div {
	width: 240px; 
	height: 46px;
	margin: 10px auto;
	position:relative;
	text-align:center;
}

input[type="button"].pm_default_btn {
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px; 
	background-color: #a90c05; 
	-webkit-box-shadow: inset 0 1px #dc5b57; 
	-moz-box-shadow: inset 0 1px #dc5b57;
	-o-box-shadow: inset 0 1px #dc5b57; 
	-ms-box-shadow: inset 0 1px #dc5b57;
	box-shadow: inset 0 1px #dc5b57; 
	border: solid 1px #a60b06; 
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12)); 
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12)); 
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12)); 
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.12), rgba(255,255,255,.12)); 
	background-image: linear-gradient(to top, rgba(0,0,0,.12), rgba(255,255,255,.12)); 
	text-decoration:none;
	font-size: 16px; 
	font-weight: bold; 
	color: #fff; 
	text-shadow: 0 1px #5d351e;
	padding:10px;
	text-align:center;
	width:240px;
	font-family: 'Domine', serif;
	cursor:pointer;
}
input[type="button"].pm_default_btn:hover {
	background:#a61d16;
}

@media only screen and (min-width : 768px) and (max-width : 1023px) { 
    #pm_featurebox {
         max-width: 750px !important; 
    }
    
    #pm_content_wrap {
        height: 300px !important;
        width: 71% !important;
    }
    #pm_content_sub {
        margin-left: 20px !important;
        margin-top: 20px !important;
        width: 65% !important;
    }
    h1#pm_h1 {
        font-size: 19px !important;
        line-height: 25px !important;  
    } 

    h2#pm_h2 {
        font-size: 14px !important;
        line-height: 75px !important;  
    }	
    
    #pm_description_div {
        margin-top: 10px !important;
    }
    .pm_description ul {
        margin-left: 0px !important;
    }
    .pm_description li {
        line-height: 20px !important;
        margin: 10px 0 !important;
    }
    .pm_description ul {
        margin-left: 0px !important;
    }
    #pm_image {
        height: 220px !important;
        left: 15px !important;
        top: 35px !important;
        width: 132px !important;
    }
    #pm_subscribe_wrap {
       height: 300px !important;
    }
    #pm_send {
       
    }
    #pm_name_field {
        font-size: 12px !important;
        margin: 10px 0px !important;
        padding: 7px 0 7px 7px !important;
        width: 90% !important;
    }
    #pm_input {
        font-size: 12px !important;
        margin: 10px 0px !important;
        padding: 7px 0 7px 7px !important;
        width: 90% !important;
    }
    #pm_button_div {
       height: auto !important;     
       width: 100% !important;
    }
    input.pm_default_btn[type="button"] {
        font-size: 14px !important;
        padding: 7px 20px !important;
        width: 90% !important;
    }
}
@media only screen and (min-width : 480px) and (max-width : 767px) {
      
    #pm_featurebox {
        max-width: 460px !important; 
    }
    
    #pm_content_wrap {
        height: 260px !important;
        position: relative !important;
        width: 100% !important;
    }
    #pm_content_sub {
        margin: 20px !important;
        width: 91% !important;
    }
    #pm_h1_div{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    h1#pm_h1 {
        font-size: 22px !important;
        line-height: 32px !important;
    } 
	
    h2#pm_h2 {
        font-size: 14px !important;
        line-height: 45px !important;
		padding-left: 50px !important;
    } 	
    
    #pm_description_div {
       margin: 0 !important;
    }
    .pm_description {
        height: 155px !important;
    }
    .pm_description ul {
       margin: 0 !important;
       padding-left: 20px !important;
    }
    .pm_description li {
        line-height: 20px !important;
        margin: 10px 0 !important;
    }

    #pm_image {
       height: 200px !important;
       left: 20px !important;
       top: 10px !important;
       width: 150px !important;
    }
    #pm_subscribe_wrap {
         height: 250px !important;
         width: 100% !important;
         box-shadow: 0 10px 15px -8px #333333 inset;
         -webkit-box-shadow: 0 10px 15px -8px #333 inset;
    	-moz-box-shadow: 0 10px 15px -8px #333 inset;
	    -o-box-shadow: 0 10px 15px -8px #333 inset;
	    -ms-box-shadow: 0 10px 15px -8px #333 inset;
    }
    #pm_send {
        margin: 0 20px 0 200px !important;
        width: auto !important;
    }
    #pm_name_field {
        font-size: 12px !important;
        margin: 0 0 10px !important;
        padding: 7px 0 7px 7px !important;
        width: 90% !important;
    }
    #pm_input {
        font-size: 12px !important;
        margin: 10px 0 !important;
        padding: 7px 0 7px 7px !important;
        width: 90% !important;
    }
    #pm_button_div {
        height: auto !important;
        margin-left: 200px !important;
        margin-right: 20px !important;
        margin-top: 10px !important;
        width: auto !important;
    }
    input.pm_default_btn[type="button"] {
        font-size: 13px !important;
        padding: 7px 20px !important;
        width: 90% !important;
    }
    
}

@media only screen and (min-width : 320px) and (max-width : 479px) { 
     #pm_featurebox {
        max-width: 300px !important; 
    }
    
    #pm_content_wrap {
        height: 480px !important;
        position: relative !important;
        width: 100% !important;
    }
    #pm_content_sub {
        margin: 10px 20px !important;
        width: 87% !important;
    }
    h1#pm_h1 {
        font-size: 18px !important;
        line-height: 24px !important;
    } 
    h2#pm_h2 {
        font-size: 12px !important;
        line-height: 30px !important;
    } 	
    .pm_description {
        height: 150px !important;
		font-size: 13px !important;
    }
    #pm_description_div {
       margin: 0 !important;
    }
    .pm_description ul {
       margin: 0 !important;
       padding-left: 20px !important;
    }
    .pm_description li {
        line-height: 18px !important;
        margin: 10px 0 !important;
    }
  
    #pm_image {
        display: block !important;
        bottom: 10px !important;
        height: 180px !important;
        left: 70px !important;
    	margin: 10px auto !important;
    	position: absolute !important;
    	width: 150px !important;
    	float: none !important;
    	top: auto !important;
    }
    #pm_subscribe_wrap {
        height: 200px !important;
        width: 100% !important;
        box-shadow: 0 10px 15px -8px #333333 inset;
        -webkit-box-shadow: 0 10px 15px -8px #333 inset;
    	-moz-box-shadow: 0 10px 15px -8px #333 inset;
	    -o-box-shadow: 0 10px 15px -8px #333 inset;          
	    -ms-box-shadow: 0 10px 15px -8px #333 inset;
    }
    #pm_send {
        margin: 0 20px 0 !important;
        width: auto !important;
    }
    #pm_name_field {
         font-size: 12px !important;
         margin: 0 0 10px !important;
         padding: 7px 0 7px 7px !important;
         width: 90% !important;
    }
    #pm_input {
        font-size: 12px !important;
        margin: 10px 0 !important;
        padding: 7px 0 7px 7px !important;
        width: 90% !important;
    }
    #pm_button_div {
        height: auto !important;
        margin: 0 20px !important;
        width: auto !important;
    }
    input.pm_default_btn[type="button"] {
         font-size: 12px !important;
         padding: 7px 20px !important;
         width: 90% !important;
    }

}
    
@media only screen and (min-width : 240px) and (max-width: 319px){ /* its applying to only portrait */
  
    #pm_featurebox {
        max-width: 220px !important; 
    }
    
    #pm_content_wrap {
        height: 300px !important;
        position: relative !important;
        width: 100% !important;
    }
    #pm_content_sub {
        margin: 15px !important;
        width: 87% !important;
    }
    h1#pm_h1 {
       font-size: 16px !important;
       line-height: 20px !important;
    } 
    h2#pm_h2 {
       font-size: 12px !important;
       line-height: 30px !important;  
    } 	
    .pm_description {
        height: 200px !important;
        font-size: 12px !important;
    }
    #pm_description_div {
        margin: 0 !important;
    }
    .pm_description ul {
       margin: 0 !important;
       padding-left: 20px !important;
    }
    .pm_description li {
        line-height: 16px !important;
        margin: 10px 0 !important;
    }
  
    #pm_image {
        display: none !important;
    }
    #pm_subscribe_wrap {
        height: 165px !important;
        width: 100% !important;
        box-shadow: 0 10px 15px -8px #333333 inset;
        -webkit-box-shadow: 0 10px 15px -8px #333 inset;
    	-moz-box-shadow: 0 10px 15px -8px #333 inset;
	    -o-box-shadow: 0 10px 15px -8px #333 inset;
	    -ms-box-shadow: 0 10px 15px -8px #333 inset;
    }
    #pm_send {
        margin: 0 20px 0 !important;
        width: auto !important;
    }
    #pm_name_field {
         font-size: 12px !important;
         margin: 0 0 10px !important;
         padding: 7px 0 7px 7px !important;
         width: 90% !important;
    }
    #pm_input {
        font-size: 12px !important;
        margin: 10px 0 !important;
        padding: 7px 0 7px 7px !important;
        width: 90% !important;
    }
    #pm_button_div {
        height: auto !important;
        margin: 0 20px !important;
        width: auto !important;
    }
    input.pm_default_btn[type="button"] {
        font-size: 12px !important;
        padding: 7px 20px !important;
        width: 90% !important;
    }
        
}


