@media print
{
  #Body p, #Body li, #Body blockquote
  {
    font-family: serif;
    line-height: 1.25;
  }
}

a:link, a:visited {
  color: #00D;
}

/* For some reason gecko seems to remove boldness from these elements when
** printing them -- they're fine on screen -- unless this is here: */
b, strong
{
  font-weight: bold;
}

body * {
  display: none;
}

body > header, body > header img, #page, #main-content, #main-col, #article, #article > header,
#article > header *, #body, #body *, body > footer, #footer_items, #footer_items ul, #footer_items li {
  display: block;
}

#article > header div {
  display: none;
}

#article .callout {
  margin: 1em 0 0;
}

#article .callout a, #article .callout span, #body p > a {
  display: inline;
}

#article .callout span {
  margin: 0 0 0 4em;
}

h2, h3 {
  margin: .5em 0 0;
}

#footer_items ul {
  padding: 1em 0 0;
  margin: 0;
}

#main-col {
  width: 620px;
}
