/* Page background color */
body { font-family:Arial ;background-color: #FFFFF0; font-size:10pt }

/* Table properties    */
.tabrow       { background: #FFFFFF } /* White */
.tabrow1	  { background: #FFD700 } /* Gold */
.title        { font-size:150%; font-weight:bold;} 
th, td        { font-size:10pt; }

/* Headers properties    */
h1 { font-size:18pt; color: #800000 }
h2 { font-size:14pt }
h3 { font-size:12pt }

/* Link properties        */
a:link    { color:#333300; text-decoration:underline; } 
a:visited { color:#333300; text-decoration:underline; }
a:active  { color:#333300; text-decoration:none; }   
