@CHARSET "UTF-8";

/*
 *	Gigya Style Tweaks
 */
div.gigya-screen-dialog {
	border: 0 !important;
}
div.gigya-screen-dialog a {
	color: #4479BD;
	text-decoration: none;
}
div.gigya-screen-dialog a:link {
	color: #4479BD;
	text-decoration: none;
}
div.gigya-screen-dialog a:visited {
	color: #4479BD;
	text-decoration: none;
}
div.gigya-screen-dialog a:hover {
	color: #ED2125;
}
div.gigya-screen-dialog a:active {
	color: #ED2125;
}
div.gigya-screen-dialog-content {
	margin-right: 0;
}
div.gigya-screen-dialog div.gigya-screen-dialog-inner {
	box-shadow: 8px 8px 2px rgba(177,179,182,0.3);
	border-color: #BFC0BF;
	width: 820px;
}
div.gigya-screen-dialog div.gigya-screen-dialog-inner div.gigya-screen-dialog-top {
	background-color: #707070;
	color: #ffffff;
	font-style: italic;
	padding: 5px 10px 5px 11px;
	text-align: center;
}
div.gigya-screen-dialog div.gigya-screen-dialog-inner div.gigya-screen-dialog-top div.gigya-screen-dialog-close {
	background-image: url( '../images/Button_X.png' );
	position: absolute;
	top: 5px;
	left: 790px;
}
div.gigya-screen-dialog div.gigya-screen-dialog-inner div.gigya-screen-dialog-top div.gigya-screen-dialog-caption {
	font-size: 22px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	float: none;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}

/*
 *	VentureBeat Generic, Template Styles
 */
div.gigya-screen {
}
div.gigya-screen a {
}
div.gigya-screen a:link {
}
div.gigya-screen a:visited {
}
div.gigya-screen a:hover {
}
div.gigya-screen a:active {
}
div#gigya-login-screen {
}
div#gigya-forgot-password-screen {
}
div#gigya-register-screen {
}
div#gigya-complete-registiration-screen {
}
div#gigya-update-profile-screen {
}
div#gigya-change-password-screen {
}
div.gigya-screen div.venturebeat-footer div.venturebeat-logo {
	width: 83px;
	height: 47px;
	background-image: url( 'http://static.venturebeat.com/assets/brand/vb-logo-gigya.png' );
	float: left;
}

div.gigya-screen div.venturebeat-footer div.gigya-seal {
	float: left;
	margin-top: 13px;
	margin-left: 20px;
}

div.gigya-screen div.venturebeat-footer input[type="submit"] {
	background: #ED2125;
	border: 0;
	border-radius: 0;
	color: #ffffff;
	font-weight: normal;
	padding: 10px 45px;
	font-size: 20px;
	height: auto;
	font-family: 'Open Sans', sans-serif;
}

/*
 *	VentureBeat Generic, Template Styles (Web)
 */
div.gigya-screen div.venturebeat-container * {
	font-family: 'Open Sans', sans-serif;
}
div.gigya-screen div.venturebeat-container div.gigya-composite-control-social-login {
	border-right: 0 !important;
	height: 65px !important;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-textbox,
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-password {
	padding: 0;
}
div.gigya-screen div.venturebeat-container input[type="text"],
div.gigya-screen div.venturebeat-container input[type="password"] {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	height: 30px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-left {
	float: left;
}
div.gigya-screen div.venturebeat-container h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #414141;
	margin-bottom: 15px;
}
div.gigya-screen div.venturebeat-container h2.add-bottom-margin {
	margin-bottom: 20px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-left h2.venturebeat-register-pitch-header {
}
div.gigya-screen div.venturebeat-container div.venturebeat-left div.venturebeat-register-pitch-content {
	font-size: 14px;
	color: #6D6E6D;
	margin-top: 15px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-left div.venturebeat-register-pitch-footer {
}
div.gigya-screen div.venturebeat-container div.venturebeat-left div.venturebeat-register-pitch-footer a {
	font-size: 14px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right {
	float: right;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-social-login {
	padding-top: 3px !important;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right label.gigya-label a {
	font-size: 14px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right label.gigya-label,
div.gigya-screen div.venturebeat-container div.venturebeat-top label.gigya-label {
	float: left;
	width: 100px;
	text-align: right;
	margin-top: 4px;
}
div.gigya-screen div.venturebeat-container span.gigya-error-msg {
	margin-left: 100px;
	display: inline;
}
div.gigya-screen div.venturebeat-container div.gigya-composite-control label.gigya-label,
div.gigya-screen div.venturebeat-container div.gigya-composite-control label.gigya-label span {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #6D6E6D;
	font-weight: normal;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-composite-control-checkbox {
	clear: both;
	overflow: auto;
	border: 1px solid #ffffff;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-composite-control-checkbox input[type="checkbox"] {
	float: left;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-composite-control-checkbox label.gigya-label {
	width: auto;
	margin-top: 1px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #6D6E6D;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.checkbox-wrapper {
	padding: 5px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.newsletter-checkbox {
	float: left;
	margin-right: 5px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.newsletter-label {
	float: left;
	width: 338px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.newsletter-label label.gigya-label {
	width: auto !important;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.newsletter-label label.gigya-label label.gigya-required-display {
	padding-right: 0;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox label.gigya-label label.gigya-required-display {
	color: red;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-layout-cell {
	width: 50px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-layout-cell label.gigya-label {
}
div.venturebeat-container div.venturebeat-footer div.gigya-change-password a.gigya-composite-control-link {
	padding-left: 0;
	display: inline;
}
div.gigya-screen div.venturebeat-container div.venturebeat-top {
}
div.gigya-screen div.venturebeat-container div.venturebeat-top label.gigya-composite-control-label {
	font-size: 14px;
	color: #6D6E6D;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer {
	clear: both;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer div.gigya-composite-control-submit {
	float: right;
	margin-top: 7px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer input[type="submit"] {
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer div.venturebeat-logo {
	margin-top: 11px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer div.venturebeat-footer-bottom {
	clear: both;
	float: right;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer div.venturebeat-footer-bottom div {
	float: right;
	margin-right: 14px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer div.venturebeat-footer-bottom a {
	display: inline;
	padding-left: 0;
	font-size: 14px;
}
div.gigya-screen div.venturebeat-container div.venturebeat-footer div.venturebeat-footer-bottom label {
	font-weight: normal;
	font-size: 14px;
	text-align: right;
}

/*
 *	VentureBeat Login Screens Styles (Web)
 */
div#gigya-login-screen div.venturebeat-container div.venturebeat-right {
	width: 450px;
}
div#gigya-login-screen div.venturebeat-container div.venturebeat-right label,
div#gigya-forgot-password-screen div.venturebeat-container div.venturebeat-top label {
	padding-right: 5px;
}
div#gigya-forgot-password-screen div.venturebeat-container div.venturebeat-top label.add-top-margin {
	margin-top: 9px;
}
div#gigya-login-screen div.venturebeat-container div.venturebeat-right span.gigya-forgot-password a {
	margin-top: 2px;
}
div#gigya-login-screen div.venturebeat-container div.venturebeat-right input[type="text"],
div#gigya-login-screen div.venturebeat-container div.venturebeat-right input[type="password"] {
	width: 350px;
}
div#gigya-forgot-password-screen div.venturebeat-container div.venturebeat-top input[type="text"],
div#gigya-forgot-password-screen div.venturebeat-container div.venturebeat-top input[type="password"] {
	width: 650px;
}
div#gigya-register-screen div.venturebeat-container div.venturebeat-left {
	width: 210px;
	margin-left: 11px;
}
div#gigya-register-screen div.venturebeat-container div.venturebeat-right {
	width: 510px;
}
div#gigya-register-screen div.venturebeat-container div.venturebeat-right div.gigya-social-login {
	height: 40px;
	min-height: 40px;
}
div#gigya-register-screen div.venturebeat-container div.venturebeat-right input[type="text"],
div#gigya-register-screen div.venturebeat-container div.venturebeat-right input[type="password"] {
	width: 400px;
}
div#gigya-register-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-layout-cell input[type="text"],
div#gigya-register-screen div.venturebeat-container div.venturebeat-right div.gigya-layout-row div.gigya-layout-cell input[type="password"] {
	width: 145px;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-left {
	width: 380px;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right {
	width: 390px;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-left div.gigya-composite-control label.gigya-label,
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label {
	width: 97px;
	float: left;
	text-align: right;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label {
	padding-right: 10px;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label label.gigya-required-display {
	padding-right: 0;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label#gigya-profile-country-label {
	width: 87px;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-left div.gigya-composite-control input[type="text"] {
	width: 260px;
	margin-top: 0;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control input[type="text"],
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control input[type="password"] {
	width: 280px;
	margin-top: 0;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control select {
	width: 280px;
	margin-top: 0;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label label.gigya-required-display {
	padding: 0;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox,
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.tou-checkbox {
	overflow: auto;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.tou-checkbox input[type="checkbox"],
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.tou-checkbox label {
	float: left;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.newsletter-label label.gigya-label,
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.tou-checkbox label.gigya-label {
	width: 330px;
	text-align: left;
	margin-top: 0;
	text-indent: 0;
	margin-left: 5px;
	padding-right: 0;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.tou-checkbox label.gigya-label span {
	float: left;
}
div#gigya-complete-registiration-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control-checkbox div.tou-checkbox label.gigya-label label.gigya-required-display {
	padding: 0px;
	color: red;
}

/*
 *	VentureBeat Profile Screens Styles (Web)
 */
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-left {
	width: 380px;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right {
	width: 390px;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-left div.gigya-composite-control label.gigya-label,
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label {
	width: 97px;
	float: left;
	text-align: right;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label {
	padding-right: 10px;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label.gigya-label label.gigya-required-display {
	padding-right: 0;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control label#gigya-profile-country-label {
	width: 87px;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-left div.gigya-composite-control input[type="text"] {
	width: 260px;
	margin-top: 0;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control input[type="text"] {
	width: 280px;
	margin-top: 0;
}
div#gigya-update-profile-screen div.venturebeat-container div.venturebeat-right div.gigya-composite-control select {
	width: 280px;
	margin-top: 0;
}
div#gigya-change-password-screen div.venturebeat-container div.venturebeat-top div.gigya-composite-control-password {
	padding-top: 0;
	padding-bottom: 0;
}
div#gigya-change-password-screen div.venturebeat-container div.venturebeat-top div.gigya-composite-control-password label.gigya-label {
	width: 130px;
	padding-right: 5px;
}
div#gigya-change-password-screen div.venturebeat-container div.venturebeat-top div.gigya-composite-control-password.gigya-change-password-confirm label.gigya-label {
	margin-top: 0;
}
div#gigya-change-password-screen div.venturebeat-container div.venturebeat-top div.gigya-composite-control-password input[type="password"] {
	width: 615px;
}
div#gigya-change-password-screen div.venturebeat-container div.venturebeat-top div.gigya-composite-control-password input#gigya-change-password-confirm {
	position: relative;
	top: 7px;
}

/*
 *	VentureBeat Generic, Template Styles (Mobile)
 */
div.gigya-screen-dialog-mobile {
	width: 100%;
}
div.gigya-screen-dialog-mobile h1.gigya-screen-caption {
 	background-color: #707070;
 	margin: 0;
 	padding: 5px 13px 5px 10px;
 	text-align: center;
 	color: #ffffff;
 	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}
div.gigya-screen div.venturebeat-mobile-container {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}
div.gigya-screen div.venturebeat-mobile-container * {
	font-family: 'Open Sans', sans-serif;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top {
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top h2 {
	font-weight: bold;
	font-style: italic;
	margin: 10px;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top label.gigya-message {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label {
	float: left;
	margin-right: 10px;
	text-align: right;
	font-weight: normal;
	margin-top: 12px;
	/* color: #6D6E6D; */
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label span {
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label label {
	width: auto !important;
	margin-top: 3px;
	margin-right: 0;
	padding-right: 0;
	float: right;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label label.gigya-required-display {
	color: #ED2125;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="text"],
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="password"] {
	width: 210px;
	height: 30px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.venturebeat-register-pitch-content {
	margin: 10px 10px 0 10px;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.venturebeat-register-pitch-footer {
	margin-bottom: 20px;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.venturebeat-register-pitch-footer a:link,
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.venturebeat-register-pitch-footer a:visited {
	text-decoration: none;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.venturebeat-register-pitch-footer a:hover,
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.venturebeat-register-pitch-footer a:active {
	text-decoration: underline;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox div.checkbox-wrapper {
	clear: both;
	overflow: auto;
	padding: 5px;
	border: 1px solid #ffffff;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox div.checkbox-wrapper input[type="checkbox"] {
	margin: 3px 10px 0 15px;
	float: left;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox div.checkbox-wrapper label.gigya-label {
	margin-top: 0;
	text-align: left;
	width: 235px !important;
	text-indent: 0;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox div.checkbox-wrapper label.gigya-label label {
	float: none;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer {
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.venturebeat-footer-bottom {
	clear: both;
	float: right;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.venturebeat-footer-bottom a:link,
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.venturebeat-footer-bottom a:visited {
	text-decoration: none;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.venturebeat-footer-bottom a:hover,
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.venturebeat-footer-bottom a:active {
	text-decoration: underline;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.gigya-form-error-msg {
	clear: both;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.venturebeat-logo {
	margin-left: 10px;
	margin-top: 5px;
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.gigya-composite-control-submit {
}
div.gigya-screen div.venturebeat-mobile-container div.venturebeat-footer div.gigya-composite-control-submit input[type="submit"] {
}

/*
 *	VentureBeat Login Screens Styles (Mobile)
 */
div#gigya-login-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-social-login {
	height: 80px !important;
}
div#gigya-login-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label {
	width: 75px;
}
div#gigya-login-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="text"],
div#gigya-login-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="password"] {
	width: 210px;
}
div#gigya-login-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control span.gigya-error-msg {
	margin-left: 95px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-social-login {
	height: 35px !important;
	margin-bottom: 20px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label {
	width: 100px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="text"],
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="password"] {
	width: 185px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox {
	overflow: auto;
	padding: 5px;
	margin: 5px 10px;
	border: 1px solid #ffffff;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox input[type="checkbox"] {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox label {
	float: left;
	width: 250px;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	padding-left: 10px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control span.gigya-error-msg {
	margin-left: 120px;
}
div#gigya-register-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control-checkbox label span label {
	float: none;
	padding-left: 0px;
}
div#gigya-forgot-password-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="text"] {
	width: 245px;
}
div#gigya-forgot-password-screen div.venturebeat-mobile-container div.venturebeat-top label.gigya-composite-control-label {
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}
div#gigya-forgot-password-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control span.gigya-error-msg {
	margin-left: 55px;
}
div#gigya-complete-registiration-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="text"],
div#gigya-complete-registiration-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="password"] {
	width: 198px;
}
div#gigya-complete-registiration-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label {
	width: 92px;
}
div#gigya-complete-registiration-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control select {
	width: 198px;
}
div#gigya-complete-registiration-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control span.gigya-error-msg {
	margin-left: 105px;
}

/*
 *	VentureBeat Profile Screens Styles (Mobile)
 */
div#gigya-update-profile-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="text"],
div#gigya-update-profile-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control input[type="password"] {
	width: 198px;
}
div#gigya-update-profile-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label {
	width: 92px;
}
div#gigya-update-profile-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control select {
	width: 198px;
}
div#gigya-update-profile-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control span.gigya-error-msg {
	margin-left: 105px;
}
div#gigya-change-password-screen div.venturebeat-mobile-container div.venturebeat-top div.gigya-composite-control label {
	width: 65px;
}