
/* Permalink page defaults (Show entry, Series entry, Blog entry, Lesson entry, etc.)
-------------------------------------------------- */
.entry .firstContent {
	position: relative;
}

.entry.hasTopContent.hasTopBanner .branding  {
	margin-bottom: 0px;
}

.session-page.hasTopBanner .firstContent a.area-page {
	display: block;
}

.entry .firstContent .entry {
	background: url("images/bg-post-content.gif") no-repeat scroll left bottom transparent;
	padding-bottom: 4px;
}

.entry .firstContent .entry:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.entry .entry-header {
	border-bottom:1px dotted #333;
	float:left;
	padding-bottom:1.2em;
	-ms-text-size-adjust:100%;
	width:100%;
}

.entry .entry-header .admin {
	position: absolute;
	right: 0px;
}

.entry .entry-header .admin .button {
	float:right;
}

.entry .entry-header .avatar {
	float:left;
	margin-right:18px;
	max-width:64px;
}

.entry .entry-header h1 {
	border-bottom:0;
	padding-bottom:0;
}

.entry .entry-header ul.entry-data {
	font-size:110%;
}

.entry .entry-header ul.entry-data li {
	color:#878787;
	line-height:1.4;
}

.entry .entry-header ul.entry-data li.comments,
.entry .entry-header ul.entry-data li.rating,
.entry .entry-header ul.entry-data li.views {
	clear:none;
	float:left;
	font-size:81%;
	line-height:1.4;
}

.entry .entry-header ul.entry-data li.comments,
.entry .entry-header ul.entry-data li.views {
	border-left:1px solid #c7c7c7;
	margin-left:10px;
	padding-left:10px;
}

.entry .entry-header ul.entry-data li.views .number {
	font-weight:bold;
}

.entry .mainContent {
	margin-top: 22px;
}

.entry .entry-content {
	clear:left;
	padding:0px 0 0 80px;
	overflow: hidden;
	width:640px;
}

.entry .entry-content+.entry-content {
	margin-top: 20px;
}

.playerPage .entry .entry-content {
	background-image: none;
	padding: 0;
	width: auto;
}

.playerPage,
.playerPage .entry,
.playerPage .entry .entry-content {
	width: 100%;
	height: 100%;
}

.entry .videoHolder {
	height: 540px;
	margin: 16px auto 0px;
	position: relative; /* this is needed for FF 3.5 and 4. they don't allow positioning of a table or table cell*/
	width: 960px;
}


/* video-download
-------------------------------------------------- */
.entry .downloadsAndEvals {
	border-bottom: 1px solid #D9D9D9;
	clear: both;
	margin-top: 6px;
	padding-bottom: 15px;
	text-align: center;
}

.entry .noDescription .downloadsAndEvals {
	border-bottom: 0px solid #D9D9D9;
}

.entry #video-download .download {
	clear: both;
	display: table;
	margin: 7px auto;
}

.entry #video-download .download li {
	display: table-cell;
	padding: 0px 10px;
}

.entry #video-download .download li span {
	display: block;
}

.entry .entry-content #video-download h3 {
	float:left;
	font-size:130%;
	margin:2px 0 0.5em 0;
	width:80px;
}

.entry .entry-content #video-download ul {
	clear:both;
}

.entry .entry-content #video-download li {
	text-align:center;
	margin-bottom:0.5em;
}

.entry .entry-content #video-download .note {
	clear:both;
}

.entry .entry-content #video-download .note,
.entry .entry-content #video-download .usage {
	color:#878787;
	display:block;
	font-size:80%;
}


/* Help-related popup divs
-------------------------------------------------- */
.entry #video-download .help .popup h3 {
	float:none;
	width:auto;
}

.entry #video-download .helpHolder div.help .popup {
    margin-top: 0;
    top: 1em;
}

.entry .entry-content #video-download .help .popup li {
	text-align:left;
}

.entry .download .help .popup {
	margin-top: 0px;
	text-align: left;
	width: 50px;
}

.entry #video-download .helpHolder {
	clear: both;
}

.entry #video-download .helpHolder .note+a{
	margin-left: 20px;
}

.entry #video-download .helpHolder .zip,
.entry #video-download .helpHolder .slides {
	margin-left: 10px
}

.entry #video-download .helpHolder h3, 
.entry #video-download .helpHolder div.help,
.entry #video-download .helpHolder div.help>img,
.entry #video-download .helpHolder p.note {
	display: inline;
}

.entry #video-download .helpHolder h3,
.entry #video-download .helpHolder div.help,
.entry #video-download .helpHolder div.help>img {
	float: none;
}

.entry #video-download .helpHolder div.help {
	position: relative;
	text-align: left;
}

.entry #video-download .helpHolder div.help .popup:hover,
.entry #video-download .helpHolder div.help:hover .popup {
	left: 0px;
}

.entry #video-download .helpHolder div.help>img {
	margin: 0 2px;
}

.entry #video-download h3 {
    font-size: 130%;
    margin: 2px 0 0.5em;
}


/* body
-------------------------------------------------- */
.entry .entry-content #entry-body {
	clear:both;
	float:left;
	width:40em;
}

.entry .entry-content #entry-body img {
	max-width:640px;
}

.entry .entry-content #entry-body ol img,
.entry .entry-content #entry-body ul img {
	max-width:600px; /* this was increased from 580 when site went from 940 to 960. Correct? */
}

.entry .entry-content #entry-body img.preview {
	float:left;
	margin:0 1.12em 0 -80px;
}

.entry #entry-tags {
	border-top:1px dotted #333;
	clear:both;
	font-size:115%;
	margin-top:20px;
	padding:0.5em 0 0 80px;
	width:640px;
}

.entry #entry-tags h3 {
	display:inline;
	font-size:115%;
	font-weight:bold;
	margin-right:0.25em;
}

.entry #entry-tags ul,
.entry #entry-tags li {
	display:inline;
}


/* Comments overrides (defaults in comments.css)
-------------------------------------------------- */
.comments.followDiscussion,
.comments.add-comment {
	width:720px;
}

.comments.add-comment fieldset li input[type=text] {
	width:264px;
}

.posts li {
	width:700px;
}

.posts li .post {
	width:558px;
}


/*pull quotes
-------------------------------------------------- */
.pullQuote {
	background-color:rgba(1, 131, 150, 0.02);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 6px #D2730D inset;
	display: block;
	float: right;
	padding: 20px 28px 10px;
	position: relative;
	margin: 10px;
	width: 250px;

}

.pullQuote p {
	margin: 0;
	text-indent: 1em;
	quotes: "\201c" "\201d";
	-ms-text-size-adjust:200%;
}

.pullQuote p:first-of-type {
	text-indent: 0;
}

.pullQuote p:last-of-type::after,
.pullQuote p::before {
	color: #D2730D;
	font-size: 100px;
	opacity: .2;
	position: absolute;
}

.pullQuote p::before {
	content: open-quote;
	left: 8px;
	top: 35px;
}

.pullQuote p::after {
	content: no-close-quote;
}

.pullQuote p:last-of-type::after {
	bottom: -13px;
	content: close-quote;
}

/* No video, reading view
-------------------------------------------------- */
.noVideo.entry .entry-content {
	padding: 20px 80px 0;
	width: auto;
}

.noVideo.entry .mainContent {
	margin-top: 0;
}

.noVideo.entry .entry-content #entry-body {
    clear: both;
    float: left;
    font-size: 1.35em;
    line-height: 1.78em;
    margin-top: 0.5em;
    width: auto;
}

.noVideo.entry .entry-content .intro {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px;
	margin: 0px 0px 25px;
	padding: 25px;
}

.noVideo.entry .entry-content .ch9.intro {
	background: url("images/bg-staff.png") no-repeat scroll right bottom  rgba(1, 131, 150, 0.035);
    -moz-box-shadow:0 0 3px rgba(197, 226, 226, 1) inset;
    -webkit-box-shadow:0 0 3px rgba(197, 226, 226, 1) inset;
    box-shadow:0 0 3px rgba(197, 226, 226, 1) inset;

}

.noVideo blockquote.plain {
	background-color: Transparent;
	border: 0px solid white;
	font-style: italic;
	margin: 30px 0px;
	padding: 0px 100px;
}

.noVideo.entry .entry-content hr {
	background: url("images/hrBG.png") no-repeat scroll center bottom  transparent;
	border: 0px solid white;
	height: 21px;
	margin-bottom: 30px;
}
