/*=============================================================
   Table of Content
 ==============================================================
  #Reset
    
  #Domument
    $Body
    $Typography
    $Clear
    $Image
    $Lists
    $Buttons
    $Icons
    $Tabs
    $Table
    $Forms
    $Grid
    $Other
 ============================================================== 

 >>>>>>>>>>>>>>>>>>>>>>>>>> #Reset <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/*------------ $CSS Reset [html5boilerplate v4.0] --------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }

::-webkit-selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: .67em 0; }

h2 { font-size: 1.5em; margin: .83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: .83em; margin: 1.67em 0; }

h6 { font-size: .75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace,serif; _font-family: 'courier new',monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/*>>>>>>>>>>>>>>>>>>> #Dodument [averta] <<<<<<<<<<<<<<<<<<<<<< */
/* $Body ==============================
======================================= */
html { overflow-y: scroll; min-height: 100%; font-size: 100.01%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { font: normal 81.25%/1.5 arial, helvetica, sans-serif; min-height: 100%; background: #eee; }

body, select, input, textarea { color: #444; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ text-rendering: optimizelegibility; }

/* $Typography ========================
======================================= */
/* links ------------- */
a { text-decoration: none; -webkit-transition: background-color 150ms linear, color 150ms linear; -moz-transition: background-color 150ms linear, color 150ms linear; -o-transition: background-color 150ms linear, color 150ms linear; transition: background-color 150ms linear, color 150ms linear; border: none; padding: 0; margin: 0; }
a:hover { color: #FFD62C; }
a img { display: block; border: none; padding: 0; margin: 0; }

::-webkit-selection, ::-moz-selection { background: #ffb7b7; }

.chromeframe { margin: 0.2em 0; background: #FFFF00; color: black; text-align: center; }
.chromeframe a { color: #007fff; }

a:focus { outline: none; }

/* paragraph ---------- */
p { margin: 0 0 1em 0; }
p.red::-webkit-selection { background: #ffb7b7; }
p.red::-moz-selection { background: #ffb7b7; }
p.blue::-webkit-selection { background: #a8d1ff; }
p.blue::-moz-selection { background: #a8d1ff; }
p.yellow::-webkit-selection { background: #fff2a8; }
p.yellow::-moz-selection { background: #fff2a8; }

hr, .divider { display: block; clear: both; height: 0; line-height: 0; border-color: #404040; border-bottom-width: 1px; border-top-width: 0; border-bottom-style: solid; }

.divider { position: relative; }
.divider > * { display: inline-block; position: absolute; right: 0; line-height: 100%; cursor: pointer; }

hr.dotted, .divider.dotted { border-bottom-style: dotted; }

hr.dashed, .divider.dashed { border-bottom-style: dashed; }

hr.both { margin-bottom: 1.5em; margin-top: 1.5em; }

hr.both2 { margin-bottom: 2em; margin-top: 2em; }

hr.top, article.top { margin-top: 1em; }

hr.top2 { margin-top: 2em; }

hr.bottom { margin-bottom: 1em; }

hr.bottom2 { margin-bottom: 2em; }

aside hr { margin-top: 1em; margin-bottom: 1em; }

pre { clear: both; line-height: 1.5em; padding: 0px .5em; }

pre, code, kbd, samp { font-family: monospace,Monaco, Courier New, serif; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

small { font-size: small; }

big { font-size: larger; }

.alert { color: #CA0000 !important; }

/* headings ----------- */
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: "Georgia",Helvetica, sans-serif; letter-spacing: 0; margin-top: .2em; text-rendering: optimizeSpeed; }

h1 { font-size: 2.76923em; line-height: 2; margin-bottom: .7em; letter-spacing: 0.1em; }

h2 { font-size: 2.15385em; line-height: 1.6; margin-bottom: .6em; letter-spacing: 0.01em; }

h3 { font-size: 1.69231em; line-height: 1.4; margin-bottom: .4em; letter-spacing: 0.015em; }

h4 { font-size: 1.38462em; line-height: 1.3; margin-bottom: .3em; letter-spacing: 0.025em; }

h5 { font-size: 1.23077em; line-height: 1.2; margin-bottom: .2em; letter-spacing: 0.04em; }

h6 { font-size: 1em; line-height: 1; margin-bottom: .2em; letter-spacing: 0.14em; }

h1 .small, h2 .small, h3 .small, h4 .small { font-weight: normal; }

h1 .small { font-size: 1.84615em; }

h2 .small { font-size: 1.38462em; }

h3 .small { font-size: 1.07692em; }

h4 .small { font-size: 1.07692em; }

/* blockquote ---------- */
blockquote { margin: 0 0 1em; padding: 1em 1em 1em 2em; border-left: 1px solid #ddd; *zoom: 1; position: relative; font-size: 120%; line-height: 1.6; color: #777; font-style: italic; }
blockquote:before, blockquote:after { content: ""; display: table; }
blockquote:after { clear: both; }
blockquote > i { color: #555; font-size: 450%; line-height: 1em; position: absolute; top: 0.1em; left: 0.2em; color: #B9B9B9; *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#8220;'); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 3; }
blockquote > i:before { content: '\201C'; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
blockquote > i + p { padding-left: 1.5em; }
blockquote p { margin: 0; }
blockquote cite { font-style: normal; font-size: 13px; }
blockquote blockquote { font-size: 100%; }

/* Clear =============================
====================================== */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix, .container, figure { *zoom: 1; }
.clearfix:before, .container:before, figure:before, .clearfix:after, .container:after, figure:after { content: ""; display: table; }
.clearfix:after, .container:after, figure:after { clear: both; }

.container { max-width: 960px; width: 100%; margin: 0 auto; }

/* $Image ==========================
==================================== */
img { image-rendering: -webkit-optimizeSpeed; max-width: 100%; height: auto; }
.ie7 img { -ms-interpolation-mode: bicubic; }
img.aligncenter { display: block; margin: 10px auto; }
img.alignleft { margin: 0.4em 1.2em 1em 0; float: left; }
img.alignright { margin: 0.4em 0 1em 1.2em; float: right; }

.frame { padding: .5em; border: 1px solid #c5c5c5; background-color: #FFFFFF; }

.imgHolder { display: block; position: relative; overflow: hidden; max-width: 100%; text-align: center; }
.imgHolder img, .imgHolder span, .imgHolder li, .imgHolder li a { -webkit-transition: all 250ms ease-out; -moz-transition: all 250ms ease-out; -o-transition: all 250ms ease-out; transition: all 250ms ease-out; }
.imgHolder > a { background: none; cursor: pointer; }
.imgHolder img { width: 100%; height: auto; display: block; }
.imgHolder span { display: block; position: absolute; top: 0; left: 0; opacity: 0; visibility: hidden; width: 100%; height: 100%; z-index: 99; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.imgHolder ul { margin: 0; display: inline-block; position: absolute; width: auto; height: 52px; text-align: center; z-index: 99; top: 50%; margin-top: -26px; }
.imgHolder ul.ico_2 { width: 104px; margin-left: -52px; left: 50%; }
.imgHolder ul.lightbox { width: 52px; margin-left: -26px; left: 50%; }
.imgHolder ul li { opacity: 0; display: inline-block; width: 52px; text-align: center; margin: 0 auto; height: 100%; overflow: hidden; *display: inline; zoom: 1; position: relative; }
.imgHolder ul li a { display: block; height: 100%; position: relative; }
.imgHolder.lightbox ul { width: 52px; margin-left: -26px; left: 50%; }
.imgHolder.ico_2 ul { width: 104px; margin-left: -52px; left: 50%; }
.imgHolder:hover span, .imgHolder a:hover span { visibility: visible; opacity: 1; }
.imgHolder:hover ul, .imgHolder a:hover ul { visibility: visible; }
.imgHolder:hover ul li, .imgHolder a:hover ul li { opacity: 1; }
.imgHolder.fade a:hover img { opacity: 0.5; }

.oldie .imgHolder ul { visibility: hidden; }
.oldie .imgHolder:hover ul { visibility: visible; }

/* $Lists ===========================
===================================== */
ul, ol { margin-bottom: 1em; margin-left: 0; padding: 0; border: none; }

ol { list-style: decimal; list-style-position: inside; }

ul ul, ul ol, ol ol, ol ul { margin: 0.3em 0 0.3em 2.7em; font-size: 97%; }

ul ul li, ul ol li, ol ol li, ol ul li { margin-bottom: .8em; }

li { margin-bottom: 1em; line-height: 1.5; border-color: #ccc; border-width: 1px; }

ul.large li { line-height: 100%; }

/* decorations */
ul.nostyle, ol.nostyle { margin-left: 0; list-style: none; }

ul.bordered li, ol.bordered li { margin-bottom: 0.4em; padding-bottom: 0.4em; border-bottom-style: solid; }
ul.bordered ul, ol.bordered ul { margin-bottom: 0; margin-top: 0.6em; }
ul.bordered ul li:last-child, ol.bordered ul li:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }
ul.dotted, ol.dotted { border-style: none; }
ul.dotted li, ol.dotted li { border-bottom-style: dotted; }
ul.dashed, ol.dashed { border-style: none; }
ul.dashed li, ol.dashed li { border-bottom-style: dashed; }

ul { list-style: none outside; }
ul.square li { list-style: square inside; }
ul.circle li { list-style: circle inside; }
ul.disc li { list-style: disc inside; }

ol { counter-reset: item; }
ol.decimal { list-style: none inside; *list-style: decimal inside; }
ol.decimal li:before { content: counter(item); counter-increment: item; background-color: #b9b9b9; color: #fff; font-weight: 600; margin-right: 0.7em; padding: 0 0.5em; line-height: 1em; font-size: 0.85em; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

/* $Buttons ===========================
======================================= */
a.button, button, input[type="submit"], input[type="reset"], input[type="button"] { -webkit-transition: all 200ms linear; -webkit-transition-delay: 0s; -moz-transition: all 200ms linear 0s; -o-transition: all 200ms linear 0s; transition: all 200ms linear 0s; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjIpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMTUpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.15))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-size: auto; text-shadow: 0 1px rgba(255, 255, 255, 0.1); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border-width: 1px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; color: #606060; background-color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 100%; line-height: 100%; margin-bottom: 1em; padding: 0.75em 1.5em; border-color: #555 #444 #333; }
a.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjI1KSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjIpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.2))); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.2) 100%); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.2) 100%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.2) 100%); background-image: linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.2) 100%); }
a.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjIpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMTUpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.15))); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%); border: 1px solid #d2d2d2; border-bottom: 1px solid #d8d8d8; -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 12px rgba(255, 255, 255, 0.2); -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 12px rgba(255, 255, 255, 0.2); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 12px rgba(255, 255, 255, 0.2); }
a.button.active, button.active, input[type="submit"].active, input[type="reset"].active, input[type="button"].active { color: #F5F5F5 !important; background-color: #606060 !important; text-shadow: 0 1px #333333 !important; border-color: transparent !important; -webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.7) inset !important; -moz-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.7) inset !important; box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.7) inset !important; background-image: none; /* W3C */ }
a.button.flat, button.flat, input[type="submit"].flat, input[type="reset"].flat, input[type="button"].flat { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; background-image: none; border: none; }
a.button.large, button.large, input[type="submit"].large, input[type="reset"].large, input[type="button"].large { padding: 1.1em 2.8em; font-size: 105%; text-transform: uppercase; }
a.button.small, button.small, input[type="submit"].small, input[type="reset"].small, input[type="button"].small { padding: 0.6em 1.3em; font-size: 90%; }
a.button.tiny, button.tiny, input[type="submit"].tiny, input[type="reset"].tiny, input[type="button"].tiny { padding: 0.4em 1.2em; font-size: 80%; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; background-image: none; border: none; font-weight: 600; }

/* $Colors ===========================
====================================== */
.blue, .red, .yellow, .green, .grey, .black, .night, .white { border-style: solid; }

/* ----------------- white ----------------------- */
.white, a.button.white, button.white, input[type="submit"].white, input[type="reset"].white, input[type="button"].white { background-color: #fcfcfc; }

a.button.white, button.white, input.white { color: #505050; text-shadow: 0 1px white; border-color: #dddddd #c4c4c4 #aaaaaa; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.7) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.7) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.7) inset; }
a.button.white:hover, button.white:hover, input.white:hover { color: #3c3c3c; background-color: #efefef; }
a.button.white.flat, button.white.flat, input.white.flat { border: 1px solid #e8e8e8 !important; }
a.button.white.tiny, button.white.tiny, input.white.tiny { border: 1px solid #e8e8e8; }

.dark a.button.white, .dark a.button.white:hover, .dark button.white, .dark button.white:hover, .dark input.white { border-color: #555 #444 #333; }

/* ------------------- grey ------------------------------ */
.grey, a.button.grey, button.grey, input[type="submit"].grey, input[type="reset"].grey, input[type="button"].grey { background-color: silver; }

a.button.grey, button.grey, input.grey { color: white; text-shadow: 0 1px #8d8d8d; border-color: #cdcdcd #b3b3b3 gray; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.6) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.6) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.6) inset; }
a.button.grey:hover, button.grey:hover, input.grey:hover { color: white; background-color: #a7a7a7; }
a.button.grey.flat, button.grey.flat, input.grey.flat { border: 1px solid #a1a1a1 !important; }
a.button.grey.tiny, button.grey.tiny, input.grey.tiny { border: 1px solid #a1a1a1; }

.dark a.button.grey, .dark a.button.grey:hover, .dark button.grey, .dark button.grey:hover, .dark input.grey { border-color: #e1e1e1 #a5a5a5 #808080; }

/* ------------------ black ----------------------- */
.black, a.button.black, button.black, input[type="submit"].black, input[type="reset"].black, input[type="button"].black { background-color: #404245; }

a.button.black, button.black, input.black { color: whitesmoke; text-shadow: 0 1px #1b1c1d; border-color: #54565a #313335 #191a1b; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
a.button.black:hover, button.black:hover, input.black:hover { color: white; background-color: #27292b; }
a.button.black.flat, button.black.flat, input.black.flat { border: 1px solid #232425 !important; }
a.button.black.tiny, button.black.tiny, input.black.tiny { border: 1px solid #232425; }

.dark a.button.black, .dark a.button.black:hover, .dark button.black, .dark button.black:hover, .dark input.black { border-color: #666 #252525 #101010; }

/* ----------------- night ------------------------- */
.night, a.button.night, button.night, input[type="submit"].night, input[type="reset"].night, input[type="button"].night { background-color: #111111; }

a.button.night, button.night, input.night { color: whitesmoke; text-shadow: 0 1px black; border-color: #535353 #2d2d2d #141414; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset; }
a.button.night:hover, button.night:hover, input.night:hover { color: white; }
a.button.night.flat, button.night.flat, input.night.flat { border: 1px solid #1e1e1e !important; }
a.button.night.tiny, button.night.tiny, input.night.tiny { border: 1px solid #1e1e1e; }

.dark a.button.night, .dark a.button.night:hover, .dark button.night, .dark button.night:hover, .dark input.night { -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.08) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.08) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.08) inset; border-color: #555 #202020 #191919; }

/* ------------------- red ------------------------------ */
.red, a.button.red, button.red, input[type="submit"].red, input[type="reset"].red, input[type="button"].red { background-color: #ed1c24; }

a.button.red, button.red, input.red { color: whitesmoke; text-shadow: 0 1px rgba(0, 0, 0, 0.3); border-color: #ef343b #de1219 #7f0a0f; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
a.button.red:hover, button.red:hover, input.red:hover { color: white; background-color: #de1219; }
a.button.red.flat, button.red.flat, input.red.flat { border: 1px solid #d01018 !important; }
a.button.red.tiny, button.red.tiny, input.red.tiny { border: 1px solid #d01018; }

.dark a.button.red, .dark a.button.red:hover, .dark button.red, .dark button.red:hover, .dark input.red { border-color: #e47b7b #e75a45 #A93125; }

/* ------------------- orange ------------------------------ */
.orange, a.button.orange, button.orange, input[type="submit"].orange, input[type="reset"].orange, input[type="button"].orange { background-color: #f48a01; }

a.button.orange, button.orange, input.orange { color: white; text-shadow: 0 1px rgba(0, 0, 0, 0.4); border: 1px solid #d2d2d2; border-color: #fe940b #cb7301 #844b01; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; }
a.button.orange:hover, button.orange:hover, input.orange:hover { color: white; background-color: #db7c01; }
a.button.orange.flat, button.orange.flat, input.orange.flat { border: 1px solid #cb7301 !important; }
a.button.orange.tiny, button.orange.tiny, input.orange.tiny { border: 1px solid #cb7301; }

.dark a.button.orange, .dark a.button.orange:hover, .dark button.orange, .dark button.orange:hover, .dark input.orange { border-color: #FFBB00 #FFAA00 #BB7700; }

/* ------------------- yellow ------------------------------ */
.yellow, a.button.yellow, button.yellow, input[type="submit"].yellow, input[type="reset"].yellow, input[type="button"].yellow { background-color: #ffd62c; }

a.button.yellow, button.yellow, input.yellow { color: #774400; text-shadow: 0 1px rgba(255, 255, 255, 0.4); border-color: #ffdb46 #dfb300 #ac8a00; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset; }
a.button.yellow:hover, button.yellow:hover, input.yellow:hover { color: #4e2d00; background-color: #f8c800; }
a.button.yellow.flat, button.yellow.flat, input.yellow.flat { border: 1px solid #eec000 !important; }
a.button.yellow.tiny, button.yellow.tiny, input.yellow.tiny { border: 1px solid #eec000; }

.dark a.button.yellow, .dark a.button.yellow:hover, .dark button.yellow, .dark button.yellow:hover, .dark input.yellow { border-color: #FFFF99 #FFD62C #FFBB00; }

/* ------------------- green ------------------------------ */
.green, a.button.green, button.green, input[type="submit"].green, input[type="reset"].green, input[type="button"].green { background-color: #a5d12f; }

a.button.green, button.green, input.green { color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.4); border-color: #aed644 #95bd2a #536917; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
a.button.green:hover, button.green:hover, input.green:hover { color: #ebebeb; background-color: #8bb027; }
a.button.green.flat, button.green.flat, input.green.flat { border: 1px solid #84a825 !important; }
a.button.green.tiny, button.green.tiny, input.green.tiny { border: 1px solid #84a825; }

.dark a.button.green, .dark a.button.green:hover, .dark button.green, .dark button.green:hover, .dark input.green { border-color: #bddd73 #85bd53 #5b8230; }

/* ------------------- blue ------------------------------ */
.blue, a.button.blue, button.blue, input[type="submit"].blue, input[type="reset"].blue, input[type="button"].blue { background-color: #4583b3; }

a.button.blue, button.blue, input.blue { color: #d8f1fe; text-shadow: 0 1px rgba(0, 0, 0, 0.45); border-color: #548fbd #3e76a1 #224057; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
a.button.blue:hover, button.blue:hover, input.blue:hover { color: white; background-color: #37688e; }
a.button.blue.flat, button.blue.flat, input.blue.flat { border: 1px solid #346387 !important; }
a.button.blue.tiny, button.blue.tiny, input.blue.tiny { border: 1px solid #346387; }

.dark a.button.blue, .dark a.button.blue:hover, .dark button.blue, .dark button.blue:hover, .dark input.blue { border-color: #399CD0 #1F78A7 #0A5278; }

/* $Icons ============================
====================================== */
.ico3 { width: 30px; height: 30px; display: block; overflow: hidden; }

/* $Tabs ============================
====================================== */
ul.tabs { display: block; margin: 0 0 20px 0; padding: 0; border-bottom: solid 1px #ddd; }
ul.tabs li { display: block; width: auto; height: auto; padding: 0; float: left; margin-bottom: 0; }
ul.tabs li a { display: block; text-decoration: none; width: auto; height: 29px; padding: 0px 20px; line-height: 30px; border: solid 1px #ddd; border-width: 1px 1px 0 1px; margin: 0; margin-right: -1px; background: #f5f5f5; font-size: 80%; }
ul.tabs li a.active { background: #fff; height: 30px; position: relative; top: -4px; padding-top: 4px; border-left-width: 1px; margin: 0 0 0 -1px; color: #111; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
ul.tabs li:first-child a { border-width: 1px 1px 0 1px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
ul.tabs li:first-child a.active { margin-left: 0; }
ul.tabs li:last-child a { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }

ul.tabs-content { margin: 0; display: block; }
ul.tabs-content > li { display: none; }
ul.tabs-content > li.active { display: block; }

/* Clearfixing tabs for beautiful stacking */
ul.tabs { *zoom: 1; }
ul.tabs:before, ul.tabs:after { content: ""; display: table; }
ul.tabs:after { clear: both; }

/* $Table ============================
====================================== */
table { margin-bottom: 1.4em; width: 100%; max-width: 100%; }

th { font-weight: bold; }

thead th { background: #aaaaaa; }

th, td, caption { padding: 4px 10px 4px 5px; }

table.striped tr:nth-child(even) td, table tr.even td { background: #fcfcfc; }

/* $Forms ============================
====================================== */
form { margin-bottom: 1em; }

fieldset { margin-bottom: 1em; }
fieldset legend { padding-bottom: .7em; padding-top: 1em; font-size: 1.3em; font-weight: normal; }

label, legend { display: block; font-weight: bold; }
label span, legend span { font-weight: normal; color: #444; }

label, input, button, select, textarea { vertical-align: baseline; *vertical-align: middle; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], textarea, select { border: 1px solid #ccc; padding: .5em .7em; font-size: 90%; line-height: 1.3em; outline: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; color: #777; margin: 0; width: 210px; max-width: 100%; display: block; margin-bottom: 1em; background: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input[type="text"].fat, input[type="password"].fat, input[type="email"].fat, input[type="tel"].fat, input[type="url"].fat, textarea.fat, select.fat { padding: .7em; }
.ie input[type="text"], .ie input[type="password"], .ie input[type="email"], .ie input[type="tel"], .ie input[type="url"], .ie textarea, .ie select { padding: .8em; }

input[type="checkbox"] { display: inline; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus { border-color: #aaa; color: #444; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

textarea { min-height: 60px; }

select { width: 220px; padding: 0; }

/* align =============================
====================================== */
.ie7 img { -ms-interpolation-mode: bicubic; }

.hidden { display: none; }

.left { float: left; }

.right { float: right; }

.center { margin-left: auto; margin-right: auto; display: block; clear: both; }

.alignright, .alignleft { margin-bottom: 1em; }

.alignright { float: right; margin-left: 1.5em; }

.alignleft { float: left; margin-right: 1.5em; }

/* divider ---------- */
.sep { display: block; clear: both; height: 0; line-height: 0; }
.sep.space { height: 45px; }

/* Grid 
-------------------- */
.one_one, .one_half, .one_third, .two_third, .one_fourth, .two_fourth, .three_fourth, .col { margin-left: 1%; margin-right: 1%; float: left; display: block; }

.one-column .col { margin-left: 0; margin-right: 0; }

.grid_wrapper, .row { margin-left: -1%; margin-right: -1%; *zoom: 1; position: relative; }
.grid_wrapper:before, .grid_wrapper:after, .row:before, .row:after { content: ""; display: table; }
.grid_wrapper:after, .row:after { clear: both; }

.one_one { width: 97.98%; }
.one_one.no-gutter { width: 100%; }

.one_half { width: 47.98%; }
.ie7 .one_half { width: 47%; }

.one_third { width: 31.31%; }
.ie7 .one_third { width: 31%; }

.two_third { width: 64.64%; }
.ie7 .two_third { width: 64%; }

.one_fourth { width: 22.98%; }
.ie7 .one_fourth { width: 22%; }

.two_fourth { width: 47.98%; }
.ie7 .two_fourth { width: 47%; }

.three_fourth { width: 72.98%; }
.ie7 .three_fourth { width: 72%; }

.one_fifth { width: 17.98%; }
.ie7 .one_fifth { width: 17%; }

.one_sixth { width: 14.64%; }
.ie7 .one_sixth { width: 14%; }

.one-column .col, .col1 .col { width: 100%; margin-right: 0; }
.one-column .col.height1, .one-column .col.height2, .col1 .col.height1, .col1 .col.height2 { overflow: hidden; }

.two-column, .col2 { margin-left: -1%; margin-right: -1%; }
.ie7 .two-column .col, .two-column.isotope .col, .ie7 .col2 .col, .col2.isotope .col { width: 47.8%; }
.two-column .col, .col2 .col { width: 47.98%; }

.three-column, .col3 { margin-left: -1%; margin-right: -1%; }
.ie7 .three-column .col, .three-column.isotope .col, .ie7 .col3 .col, .col3.isotope .col { width: 31.2%; }
.three-column .col, .col3 .col { width: 31.31%; }

.four-column, .col4 { margin-left: -1%; margin-right: -1%; }
.ie7 .four-column .col, .four-column.isotope .col, .ie7 .col4 .col, .col4.isotope .col { width: 22.8%; }
.four-column .col, .col4 .col { width: 22.98%; }

.five-column, .col5 { margin-left: -1%; margin-right: -1%; }
.ie7 .five-column .col, .five-column.isotope .col, .ie7 .col5 .col, .col5.isotope .col { width: 17.8%; }
.five-column .col, .col5 .col { width: 17.98%; }

.six-column, .col6 { margin-left: -1%; margin-right: -1%; }
.ie7 .six-column .col, .six-column.isotope .col, .ie7 .col6 .col, .col6.isotope .col { width: 14.5%; }
.six-column .col, .col6 .col { width: 14.64%; }

.first { margin-left: 0 !important; }

.last { margin-right: 0 !important; }

.top { margin-top: 0; padding-top: 0; }

.bottom { margin-bottom: 0; padding-bottom: 0; }

/* easing ============================
====================================== */
.ease-out-quint { -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.ease-out-expo { -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.ease-out-circ { -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

.ease-out-quart { -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.ease-out-cubic { -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.flexslider { position: relative; }
.flexslider li { margin-bottom: 0; }
.flexslider.flex-carousel .slides li img { opacity: 0.3; cursor: pointer; }
.flexslider.flex-carousel .slides .flex-active-slide img { opacity: 1; cursor: auto; }

/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }

.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }

.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
