@font-face {
    font-family: "Gloria Hallelujah";
    font-style: normal;
    font-weight: 400;
    src: url("http://www.google.com/fonts#UsePlace:use/Collection:Gloria+Hallelujah") format("woff");
}

h1, h2, h3, h4, h5  {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
  font-weight: 300;
}

pre, .pn-copy pre, code, tt, kb {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  background-color: #f7fcfd;
  font-size: 0.75em;
  color: #092a21;
}

code span.prompt {
  color: #1c405a;
}
code span.system {
  color: #175d82;
}

.pn-copy pre {
  padding: 15px;
  border-radius: .5em;
  border:0 none;
}

.pn-btn {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 0.875em;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-transform: uppercase;
}


#cntctfrm_contact_form .pn-btn-secondary {
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform:uppercase;
	border: 0 none;
	border-radius:4px;
	font-weight:600;
    font-size:.875;
    padding: 10px 35px;
	line-height: 1.428571429;
	margin-top:20px;
}

#commentform .pn-btn {
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform:uppercase;
	border: 0 none;
	border-radius:4px;
	font-weight:600;
    font-size: .875;
    padding: 10px 35px;
	line-height: 1.428571429;
	margin-top:20px;
}

.em-booking-button {
    background-color: #00b299;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF !important;
    display: inline-block;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .875em;
	font-weight:600;
	text-transform:uppercase;
	line-height: 1.428571429;
    padding: 10px 35px;
    width: auto;
}
.em-booking-button:hover {
  background-color: #01cdb0;
  border: 0 none;
    border-radius: 4px;
    color: #FFFFFF !important;
    display: inline-block;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .875em;
	font-weight:600;
	text-transform:uppercase;
	line-height: 1.428571429;
    padding: 10px 35px;
    width: auto;
}

.em-cancel-button {
	color: #3b4b54 !important;
  background-color: #dfe6eb;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .875em;
	font-weight:600;
	text-transform:uppercase;
    border: 0 none;
    border-radius: 4px;
    padding: 10px 35px;
	line-height: 1.428571429;
    width: auto;
}


.em-cancel-button:hover {
  background-color: #e9eff2;
  color: #3b4b54 !important;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .875em;
	font-weight:600;
	text-transform:uppercase;
    border: 0 none;
    border-radius: 4px;
    padding: 10px 35px;
	line-height: 1.428571429;
    width: auto;  
}

.pn-home-list .pn-meta-date {
    font-weight: 600;
}

.pn-tree .current-cat > a {
    font-weight: 600;
}

.eventnotes-event-fix {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
}

.pn-copy ul, .pn-module-body > ul, .pn-download-body > ul {
    font-weight: 300;
}
	

.pn-home-wrap {
  background: -moz-linear-gradient(top,#EcF0F1 0%, #ffffff 90%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9eff2),  color-stop(90%, #ffffff ));
  background: -webkit-linear-gradient(top, #EcF0F1 0%, #ffffff  90%);
  background: -o-linear-gradient(top, #EcF0F1 0%,#ffffff  90%);
  background: -ms-linear-gradient(top,  #EcF0F1 0%, #ffffff  90%);
background: linear-gradient(to bottom, #EcF0F1 0%, #FFFFFF 90%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #e9eff2;
}

.pn-home-wrap .pn-col-5-3 {
	padding-right:50px;
}

a, a:visited, .links-std a, .links-std a:visited {
    color: #00aed1;
}

 a:hover, .links-std a:hover {
    color: #00bfe5;
}

.pn-footer {
    background: none repeat scroll 0 0 #26343f;
}

.links-footer a, .links-footer a:visited {
    color: #94a3ab;
}



.pn-page-title {
    color: #44565e;
}

.pn-post-meta {
    color: #44565e;
}

h2, h3, h4, h5, h6, p {
	color:#44565E;
}

.pn-copy {
    color: #44565E;
}


.pn-header-tabbed {
    background: url("/wp-content/uploads/sites/20/2014/02/bluemix-sm-clouds.png") repeat-x scroll 0 0 #4b5d67;
}

.links-top-menu a, .links-top-menu a:visited {
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.pn-search-input {
    color: #3B4B54;}
	
.pn-search-input::-moz-placeholder {
    color: #94A3AB;
	opacity:.8;
	font-weight:600;
	font-style:normal;
}
	
.rotatingtweet p.rtw_main {
    font-size: 15px !important;
    line-height: 19px;
}

.widget_em_widget > ul > li {
    color: #44565E;
}

.fc-header-title h2 {
    color: #44565E !important;
}

.pn-tab a, .pn-tab .pn-tab-text {
    background-color: #26343f;
	color: #94A3AB;
}

.events-table tr:hover {
	background-color: #ffffff !important;
}

.events-table tr {
    border: 1px solid #DFE6EB;
}

.pn-widgets-home .events-table tr{
	border:0 none;
}

.ui-widget-content {
    border: 1px solid #DFE6EB !important;
}

.fc-grid .fc-day-number {
    color: #94A3AB !important;
}

.pn-tab {
	border-color: #26343f;
}


.pn-tab:hover,
.pn-tab:focus {
	border-color:#2C3C49;
}

.pn-tab a:hover,
.pn-tab a:focus {
	background-color:#2C3C49;
}


.pn-tab.active a, .pn-tab.active .pn-tab-text {
    color: #44565E;
}

.pn-header-tabbed, .pn-header-emphasis {
	border-bottom: 0 none;
}

.pn-module-body {
    color: #44565E;
	font-weight:300;
}

.pn-module-title, .pn-copy .pn-module-title {
    color:  #44565E;
	font-weight:600;
}

.pn-module {
    border-top: 2px solid #44565e;
}

.fc-day-number {
    color: #94a3ab !important;
}

.fc-other-month .fc-day-number {
    color: #44565E !important;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.7;
}

.pn-tree .current-cat > a {
    background-color: #DFE6EB;
}
.pn-tree > li > a {
    color: #44565E;
}

a:hover, a:active, a:focus, .links-std a:hover,  .links-std a:active,.links-std a:focus, .pn-tree >li > a:hover {
	color: #0095b2;
}

.pn-home-wrap .pn-page-title {
    font-size: 30px;
	margin-bottom:30px
}

.widget_em_widget > ul > li {
    border: 1px solid #DFE6EB;
}

.ui-widget-content {
    border: 1px solid #DFE6EB !important;
}

.events-day {
    color: #44565E !important;
	font-weight:300 !important;
	line-height:40px;
}


.pn-comment-input {
    margin-top: 20px;
}

#comment-form h2 {
	font-size: 30px;
}

#cntctfrm_contact_form input, #cntctfrm_contact_form textarea {
	  border: 1px solid #DFE6EB;
    padding: 5px;
	margin-bottom: 10px !important;
}


#cntctfrm_contact_form label {
	font-weight:300;
}

.pn-home-wrap .pn-post-title {
    font-weight: 600;
}

.pn-post-list .hentry {
    margin-bottom: 5em;
}


.pn-copy blockquote {
	background: none;
	border-left: 3px solid #a5b5bc;
}

.pn-size-large, .pn-download-title, .pn-copy .pn-download-title, .pn-copy blockquote > p, .comment-author .pn-excerpt {
	font-weight:400;
}



#post-1037 .pn-post-meta, #post-2973 .pn-post-meta,
#post-1030 .pn-post-meta, #post-1854 .pn-post-meta {
    display:none;
}

.pn-nav-tree .current_page_item > a, .pn-nav-tree .current_page_item > .toggle-wrap {
    background-color: #ebeded;
}

.pn-nav-tree a:hover, .pn-nav-tree .toggle-wrap:hover {
	background-color:#ebeded;
}

.pn-nav-tree a {
    color: #44565E !important;
}

.single-doc_page .pn-col-5-4, .pn-four-fifths {
    border-left: 1px solid #EBEDED;
    margin-left: -10px;
    width: 80%;
	padding-left:30px !important;
}


.article-feature {
	font-size:2rem !important;
	line-height:2.1rem;
	margin-top:0 !important;
	font-weight:600 !important;
}

.article-feature-author {
	padding-top:12px;
	margin-left:55px;
	font-size:14px;
}

.article-author {
	padding-top:9px; 
	margin-left:47px;
	font-size:14px;
}

.article-feature-summary {
	margin-bottom:30px !important;
	margin-top:30px !important;
}

.article-feature-image {
	margin-left:20px;
	margin-top:5px; 
}

.article-theme {
	margin-bottom:15px !important;
}

.article-grey-module {
	background-color: #F3F6F9;
    border-radius: 6px;
    margin-right: 15px;
    padding: 20px !important;
    position: relative;
    width: 31%;
}
	
.article-title {
	font-size:1.4rem; 
	line-height:1.75rem;
}

 .article-grey-module.article-grey-module-hot:before {
background: url("/wp-content/uploads/sites/20/2014/02/new-flat.png") no-repeat scroll 0 0 / 82px 82px rgba(0, 0, 0, 0);
    content: "";
    height: 82px;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 82px;
}

.author .pn-header-emphasis {
	margin-bottom:60px;
}


.single-event .ptm {
	padding-top:4rem !Important;
}

.event-top {
	min-width:66px;
	text-align:center;
}


.pn-logo-image {
    margin: -2px 0 0 !Important;
}

.pn-widgets > .widget {
    margin-bottom: 2rem;
}