html,
body {
  font-size: 11pt;
  color: black;
  font-family: Helvetica, sans-serif;
}
a:link:after {
  content: " (" attr(href) ") ";
}
h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0;
}
h1,
#site-title {
  font-size: 16pt;
  font-weight: bold;
}
#site-title a:link:after {
  content: "";
}
h2 {
  font-size: 15pt;
}
h3 {
  font-size: 14pt;
}
h4 {
  font-size: 13pt;
}
h5 {
  font-size: 12pt;
}
#navigation,
.slider,
.gateway,
.campus-news-nav,
.homepage-widget .homepage-widget-title,
.footer-nav,
#sidebar,
.breadcrumb {
  display: none !important;
}
.entry-meta,
.entry-utility {
  font-size: 10pt;
}
.post-footer {
  text-align: center;
  border-top: 1px solid #333;
}
#footer {
  border-top: 1px solid #333;
}
.campus-news ul {
  margin: 0;
  padding: 0;
}
img {
  width: auto;
}
#main-content {
  margin: 15pt;
}
.hentry {
  margin-bottom: 20pt;
}
.entry-content {
  margin: 15pt;
}
.flexslider,
.mobile-only,
.hidden_link,
#footer-bronco-sports,
#footer-social-icons,
#footer-beyond-the-blue,
.footer-logo,
#footer-last-nav,
#mobile-back-to-top {
  display: none;
}
.copyright {
  margin-top: 20px;
}
