/* 

    Styles for content look & feel (show in eWebEditPro in Ektron sites)
	Class definitions, base elements, and global overrides.

*/

body, p, table, tbody, tr, td, ul, ol, li, input, a {
    /* font-family: georgia, times new roman, times, serif; */
    /* font-family: courier new, courier, mono; */
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
	color: #000000;
    font-weight: normal;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

input {
    font-size: 11px;
}

a:link,a:active {
	text-decoration: underline;
	color: #AF3226;
	font-size: 11px;
}

a:visited {
	text-decoration: underline;
	color: #444444;
	font-size: 11px;
}

a:hover {
	text-decoration: underline;
	color: #000000;
	font-size: 11px;
}

table {
	border-collapse: collapse; 
	border-spacing: 0px;
	border: 1px solid #760000;
	width: 100%;
}

th {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	margin: 0px auto 0px 0px;
	padding: 6px 12px 6px 12px;
	background-color: #984040;
	border-left: 1px solid #FFFFFF;
}

th.colFirst {
	border-left: 0px none #760000;
}

td {
	margin: 0px auto 0px 0px;
	padding: 6px 12px 6px 12px;
	border-left: 1px solid #760000;
	font-size: 11px;
}

td.colFirst {
	border-left: 0px none #FFFFFF;
}

.gridAltBGColor {
	/*background-color: #EEF0F2; background-color: #D6D8D9;*/
	background-color: #E0E2E4;
}

table tr td a:link, table tr td a:active {
	text-decoration: none;
	font-size: 11px;
}

table tr td a:visited {
	text-decoration: none;
	color: #444444;
	font-size: 11px;
}

table tr td a:hover {
	text-decoration: underline;
	font-size: 11px;
}

.fillWidth {
	width: 100%;
}

.fillHeighth {
	height: 100%;
}

#navHighLinks {
	position: absolute;
	display: block;
	top: 86px;
	left: 170px;
	width: 788px;
	height: 28px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

#navHighLinksRight {
	float: right;
	text-align: right;
	margin: 6px 18px auto auto;
	width: 45%;
	height: 100%;
	overflow: hidden;
}

#navHighLinksLeft {
	float: left;
	text-align: left;
	margin: 6px auto auto 18px;
	/* margin: 0px;
	background-color: #FF0000; */
	width: 45%;
	height: 100%;
	overflow: hidden;
}

#navHighLinksLeft a:link, #navHighLinksLeft a:active, #navHighLinksLeft a:visited {
	color: #55667A;
	font-size: 11px;
	text-decoration: none;
}

#navHighLinksLeft a:hover {
	color: #55667A;
	font-size: 11px;
	text-decoration: underline;	
}

#navHighLinksRight a:link, #navHighLinksRight a:active, #navHighLinksRight a:visited {
	font-size: 11px;
	text-decoration: underline;	
}

#navHighLinksRight a:hover {
	font-size: 11px;
	text-decoration: none;
}

#contentHomeMain {
	display: block;
	position: absolute;
	left: 8px;
	top: 116px;
	width: 951px;
	height: 267px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-repeat: no-repeat;
	background-color: #82929B;
}

#contentBlockHomeMain {
	display: block;
	position: absolute;
	float: left;
	left: 373px;
	top: 152px;
	width: 300px;
	height: 200px;
	overflow: auto;
	background-color: transparent;
}

#contentBlockHomeMain p {
	color: #FFFFFF;
	font-size: 11px;
}

#contentBlockHomeMain p a:link, #contentBlockHomeMain p a:active, #contentBlockHomeMain p a:visited {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
}

#contentBlockHomeMain p a:hover {
	color: #984040;
	font-size: 11px;
	text-decoration: none;
}

#contentBlockHomeMain h1 {
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 13px;
}

#contentBlockHomeMessageMain {
	display: block;
	position: absolute;
	left: 720px;
	top: 137px;
	width: 215px;
	height: 75px;
	overflow: hidden;
}

#contentBlockHomeMessageNew {
	display: block;
	position: absolute;
	left: 720px;
	top: 211px;
	width: 215px;
	height: 75px;
	overflow: hidden;
}

#contentBlockHomeMessageNewButton img {
	display: block;
	/*
	position: absolute;
	left: 820px;
	top: 260px;
	*/
	width: 105px;
	height: 25px;
	overflow: hidden;
	z-index: 300;
}

#contentBlockHomeMessageReturningButton img {
	display: block;
	/*
	position: absolute;
	left: 820px;
	top: 333px;
	*/
	width: 105px;
	height: 25px;
	overflow: hidden;
	z-index: 300;
}

#contentBlockHomeMessageReturning {
	display: block;
	position: absolute;
	left: 720px;
	top: 286px;
	width: 215px;
	height: 75px;
	overflow: hidden;
}

#contentBlockHomeMessageMain h2 {
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	font-size: 32px;
	color: #FFFFFF;
}

#contentBlockHomeMessageMain p {
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	font-size: 18px;
	color: #FFFFFF;
	font-style: italic;
}

#contentBlockHomeMessageNew h3, #contentBlockHomeMessageReturning h3 {
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	font-weight: bold;
}

#contentBlockHomeMessageNew p, #contentBlockHomeMessageReturning p {
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Helvetica", "Arial", Sans-Serif;
	line-height: 17px;
}

.cmdHomeButtonFace {
	display: block;
	overflow: hidden;
	opacity: .40; 
	filter: alpha(opacity=40); 
}

#contentBlockHomeMessageNewButton, #contentBlockHomeMessageNewButtonText {
	display: block;
	position: absolute;
	left: 820px;
	top: 257px;
	width: 105px;
	height: 25px;
	overflow: hidden;
}

#contentBlockHomeMessageNewButtonText a:link, #contentBlockHomeMessageNewButtonText a:active, #contentBlockHomeMessageNewButtonText a:visited, #contentBlockHomeMessageNewButtonText a:hover {
	display: block;
	width: 91px;
	height: 19px;
	overflow: hidden;
	padding: 1px 0px 5px 12px;
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	font-style: italic;
	text-transform: capitalize;
	background-image: url('../img/cmdHomeArrow.gif');
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	z-index: 500;
}

#contentBlockHomeMessageReturningButton, #contentBlockHomeMessageReturningButtonText {
	display: block;
	position: absolute;
	left: 820px;
	top: 333px;
	width: 105px;
	height: 25px;
	overflow: hidden;
}

#contentBlockHomeMessageReturningButtonText a:link, #contentBlockHomeMessageReturningButtonText a:active, #contentBlockHomeMessageReturningButtonText a:visited, #contentBlockHomeMessageReturningButtonText a:hover {
	display: block;
	width: 91px;
	height: 19px;
	overflow: hidden;
	padding: 1px 0px 5px 12px;
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	font-style: italic;
	text-transform: capitalize;
	background-image: url('../img/cmdHomeArrow.gif');
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	z-index: 500;
}

#tabCalendarsBackground {
	display: block;
	position: absolute;
	left: 18px;
	top: 394px;
	width: 325px;
	height: 223px;
	background-image: url('../img/home_calendar_tabs.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 300;
}

.cmdCalendar {
	display: block;
	float: left;
}

.cmdCalendar1 {
	width: 111px;
	height: 30px;
}

.cmdCalendar2 {
	width: 108px;
	height: 30px;
}

.cmdCalendar3 {
	width: 111px;
	height: 30px;
}

#tabCalendar1 {
	display: block;
	position: absolute;
	vertical-align: top;
	left: 15px;
	top: 391px;
	width: 330px;
	height: 223px;
	z-index: 500;
}

#tabCalendar2 {
	display: none;
	position: absolute;
	vertical-align: top;
	left: 15px;
	top: 391px;
	width: 330px;
	height: 223px;
	z-index: 500;
}

#tabCalendar3 {
	display: none;
	position: absolute;
	vertical-align: top;
	left: 15px;
	top: 391px;
	width: 330px;
	height: 223px;
	z-index: 500;
}

.tabCalendarContent {
	display: block;
	width: 295px;
	height: 160px;
	overflow: auto;
	margin: 22px 19px 37px 17px;
	background-color: transparent;
}

.tabCalendarContent a:link, .tabCalendarContent a:visited, .tabCalendarContent a:active {
	font-size: 11px;
	color: #984040;
	text-decoration: none;	
}

.tabCalendarContent a:hover {
	font-size: 11px;
	color: #984040;
	text-decoration: underline;	
}

.cmdCalendarMore {
	display: block;
	position: relative;
	left: 267px;
	bottom: 37px;
	width: 40px;
	height: 15px;
}

.cmdCalendarMore img {
	width: 40px;
	height: 20px;
}

#tabNewsEvents {
	display: block;
	position: absolute;
	left: 353px;
	top: 394px;
	width: 337px;
	height: 223px;
	background-image: url('../img/home_news_events.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 300;
}

#tabNewsEvents h3 {
	display: block;
	position: relative;
	width: 300px;
	height: 30px;
	overflow: hidden;
	top: -6px;
	margin: 1px auto 2px 20px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	font-weight: normal;
}

#tabNewsEvents ul {
	display: block;
	width: 300px;
	list-style-type: none;
	margin-top: 15px;
	margin-left: 10px;
}

#tabNewsEvents ul li {
	background-image: url('../img/home_li.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 15px;
	margin-bottom: 12px;
}

#tabNewsEvents ul li a:link, #tabNewsEvents ul li a:active, #tabNewsEvents ul li a:visited {
	font-size: 11px;
	color: #984040;
	text-decoration: none;
}

#tabNewsEvents ul li a:hover {
	font-size: 11px;
	color: #984040;
	text-decoration: underline;
}

.cmdNewsMore {
	/*display: block;
	position: relative;
	left: 277px;
	bottom: -30px;
	width: 40px;
	height: 15px;*/

	bottom:16px;
	display:block;
	height:15px;
	left:277px;
	position:absolute;
	width:40px;
}

.cmdNewsMore img {
	width: 40px;
	height: 20px;
}
.cmdAwardsMore {
/*	
	display: block;
	position: relative;
	left: 170px;
	bottom: -10px;
	width: 80px;
	height: 15px;
*/
	bottom:16px;
	display:block;
	height:15px;
	left:170px;
	position:absolute;
	width:80px;

}

.cmdAwardsMore img {
	width: 80px;
	height: 20px;
}

#tabAwardsPartners {
	display: block;
	position: absolute;
	left: 699px;
	top: 394px;
	width: 261px;
	height: 223px;
	background-image: url('../img/home_partners_awards.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 300;
}

#tabAwardsPartners h3 {
	display: block;
	position: relative;
	width: 240px;
	height: 30px;
	overflow: hidden;
	top: -6px;
	margin: 1px auto 2px 20px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
	font-family: "Helvetica Condensed", "Arial Narrow", Sans-Serif;
	font-weight: normal;
}

#contentAwardsPartners {
	padding: 15px 25px 15px 25px;
}

#contentAwardsPartners a:link, #contentAwardsPartners a:active, #contentAwardsPartners a:visited {
	text-decoration: none;
	color: #984040;
}

#contentAwardsPartners a:hover {
	text-decoration: underline;
	color: #984040;
}

#tblFacultyContactInset {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 120px;
	min-height: 124px;
	height: auto;
	border: 0px none #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	text-align: left;
}

#tblFacultyContactInset th {
	border: 0px none #FFFFFF;
	background-color: #FFFFFF;
	height: 124px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: top;
}

#tblFacultyContactInset td {
	border: 0px none #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 10px;
	/*
	line-height: 10px;
	*/
	height: 10px;
}

#tblFacultyContactInset a:link, #tblFacultyContactInset a:active, #tblFacultyContactInset a:visited, #tblFacultyContactInset a:hover {
	font-size: 10px;
	/*
	line-height: 10px;
	*/
}

.thFacultyPhoto {
	height: 124px;
	/* nothing left */
}

.thFacultyPhoto img {
	border: 1px solid #000000;
	height: 124px;
	width: 100px;
}

.tdFacultyContactLabel {
	/*
	line-height: 12px;
	*/
	height: 13px;
	font-weight: bold;
	color: #000000;
}

.tdFacultyEmail {
	/* nothing left */
}

.tdFacultyWebsite {
	/* nothing left */
}

.contentLeader {
	font-weight: bold;
}

.l {
	font-size: 14px;
}

.j {
	color: #303030;
	font-size: 10px;
}

.ekSearchResultIndent {
	padding-left: 23px;

}

.ekSearchResultDetail {
	color: #008000;
	font-size: 10px;
}

#ekWebSearch table, #ekWebSearch table td, #tblSearchResults, #tblSearchResults td {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px none #FFFFFF;
}

#tblSearchResults td a:link, #tblSearchResults td a:active {
	font-size: 12px;
/*
	font-weight: bold;
*/
	text-decoration: none;
}

#tblSearchResults td a:visited {
	font-size: 12px;
/*
	font-weight: bold;
*/
	text-decoration: none;
	color: #444444;
}

#tblSearchResults td a:hover {
	font-size: 12px;
/*
	font-weight: bold;
*/
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

h1 {
	font-size: 15px;
	color: #53657A;
}

h2 {
	font-size: 13px;
}

h3 {
	font-size: 11px;
	margin: 0px 0px 2px 0px;
}
	
h4 {
	font-size: 11px;
	text-transform: uppercase;
}
	
h5 {
	font-size: 10px;
}
	
h6 {
	font-size: 9px;
}

ul {
	list-style-type: square;
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
}

li {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	line-height: 16px;
}

ul li ul {
	margin: 0px 0px 0px 5px;
}

img {
	vertical-align: text-top;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

hr {
	width: 100%;
	padding: 0px 0px 0px 0px;
	color: #FFFFFF; 
	background-color: transparent; 
	border: 1px solid #000000; 
	border-style: none none solid none; 
}

blockquote, pre {
	font-family: Courier New, monospace;
    font-size: 11px;
}

p {
	margin: 0px 0px 14px 0px;
	line-height: 14px;
}

.bulletlessList ul {
	list-style-type: none;
}

.bulletlessList ul li {
	list-style-type: none;
}

.width33 {
	width: 33%;
}

div.borderlessTable table, div.borderlessTable table td, #borderlessTable, #borderlessTable td 
{
    font-size:11px;
	border-collapse: collapse; 
	border-spacing: 0px;
	border: none;
	/*width: 100%;*/
}
/*div.borderless table td 
{
    margin: 0px auto 0px 0px;
	padding: 6px 12px 6px 12px;
}*/

.contactFormHeaders 
{
    position: relative;
    font-size: 14px;
    /*in-height:35px;*/
    font-weight: bold;
    color: #53657A;	
    margin: 0px 0px 0px 10px; 
    background-color:#FFFFFF;
    /*display:block; */
    bottom: -8px;
    padding:3px;
    z-index:1;
    /*width:175px;*/
}

.gridHeader {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	margin: 0px auto 0px 0px;
	padding: 6px 12px 6px 12px;
	background-color: #984040;
	border-left: 1px solid #FFFFFF;
}

.td2 {
	margin: 0px auto 0px 0px;
	padding: 1px 1px 1px 1px;
	border-left: 1px solid #FFFFFF;
	font-size: 9px;
	vertical-align:middle;
}
.tdPerpectual
{
	vertical-align:middle;
	
}
#tblProgDireImg {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 120px;
	min-height: 124px;
	height: auto;
	border: 0px none #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-left:10px;
	float: right;
	text-align: left;
}
#tblProgDireImg th {
	border: 0px none #FFFFFF;
	background-color: #FFFFFF;
	height: 124px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: top;
}

#tblProgDireImg td {
	border: 0px none #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 10px;
	/*
	line-height: 10px;
	*/
	height: 10px;
}
.divImgDirector
{
	FLOAT: right; 
	MARGIN-LEFT: 10px; 
	MARGIN-RIGHT:1px; 
	MARGIN-BOTTOM:8px;
}

#dynoTable  
{
	margin-top: 0px;
}

.hrefBlock
{
	display:block;
}
.imgBorder{
	border:1px solid #000000;
}

#dyNoTableHeader
{
    margin-bottom:3px;
}

.colFirstHeader 
{
    text-align:center;
    vertical-align:middle;
    font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
}