/* 
    Styles for the Print version of any page

	This technically only needs to be embedded in:
		1) The print-this-page.aspx or
		2) Other pages that may be printed 

*/

body, p, table, tr, td, ul, ol, li, input, a {
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
	color: #000000;
    font-weight: normal;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

a:link, a:visited {
	text-decoration: none;
}

img {
	vertical-align: text-top;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.backToTop {
	display: none;
}

hr {
	width: 80%;
}
