/* ######### CSS for top level tabs ######### */

.tabsmenuclass ul{
color:#FFF;
overflow: hidden;
width: auto;
margin: 0;
padding: 0;
list-style-type: none;
text-decoration: none;
}

.tabsmenuclass li{
float: left;
text-decoration: none;
font:14px Arial;
}

.tabsmenuclass a{
display: block;
padding: 5px 5px;
color: #FFF;
margin-right: 1px;
text-decoration: none;
font:14px Arial;
}

.tabsmenuclass a:hover, .tabsmenuclass a.selected{
text-decoration: none;
color: white;
}

/* ######### CSS for sub menu container below ######### */

.tabsmenucontentclass{
clear: left;
text-decoration: none;
color:#FFF;
width: 90%;
padding: 5px;
font:14px Arial;
}

.tabsmenucontentclass ul{
margin: 0;
color:#FFF;
padding: 0;
text-decoration: none;
list-style-type: none;
font:14px Arial;
}

.tabsmenucontentclass li{
float: left;
color:#FFF;
text-decoration: none;
margin-right: 1em;
font-size:14px;
}
.tabsmenucontentclass li a{
float: left;
color:#FFF;
text-decoration: none;
margin-right: 1em;
font-size:14px;
}