/* CSS Document */
body{background:#FFFFFF; margin:0px; font-family:Arial, Helvetica, sans-serif; color:#808285; font-size:12px}
a{font-family:Arial, Helvetica, sans-serif; text-decoration:none; color:#008eb0;}
.topband{background:#666666 url(../images/top_rep.gif) repeat-x; height:114px; color:#FFFFFF}
.topsearch{background:#CCCCCC url(../images/searchbox.gif) no-repeat; font-size:12px; font-weight:bold; color:#808285; width:171px; height:22px; padding-left:5px; border:0px; padding-top:5px;}
.topsearch1{background:#CCCCCC url(../images/searchbox.gif) no-repeat; font-size:12px; font-weight:bold; color:#808285; width:81px; height:18px; padding-left:5px; border:0px; padding-top:-2px;}

.Main_nav{background:#231f20 url(../images/mainnav.gif); height:75px; font-size:16px; color:#FFFFFF; font-weight:bold}
.font_sml a:link{text-decoration:none; color:#008eb0; font-size:10px}
.font_sml a:Acive{text-decoration:none; color:#008eb0; font-size:10px}
.font_sml a:Visited{text-decoration:none; color:#008eb0; font-size:10px}
.font_sml a:hover{text-decoration:none; color:#008eb0; font-size:10px}

.nav_SUB a:link{margin-left:10px; margin-right:10px; text-decoration:none; color:#FFFFFF; font-size:14px; font-weight:normal}
.nav_SUB a:Acive{margin-left:10px; margin-right:10px; text-decoration:none; color:#FFFFFF; font-size:14px; font-weight:normal}
.nav_SUB a:Visited{margin-left:10px; margin-right:10px; text-decoration:none; color:#FFFFFF; font-size:14px; font-weight:normal}
.nav_SUB a:hover{margin-left:10px; margin-right:10px; text-decoration:none; color:#FFFFFF; font-size:14px; font-weight:normal}

#navigation a
{
color: #fff;
background:url(tab_r.gif) no-repeat right top;
text-decoration: none;
padding-left: 10px; padding-bottom:7px
}

#navigation a span
{
background: url(right-tab.gif) right top no-repeat;
padding-right: 10px; padding-bottom:7px
}

#navigation a, #navigation a span
{
display: block;
float: left;
margin-top:5px;
}

/* Hide from IE5-Mac \*/
#navigation a, #navigation a span
{
float: none
}
/* End hide */

#navigation a:hover
{
color: #fff;
background: #008bb6 url(../images/tab_l.gif) left top no-repeat;
padding-left: 10px; padding-bottom:7px
}

#navigation a:hover span
{
background: #008bb6 url(../images/tab_r.gif) right top no-repeat;
padding-right: 10px; padding-bottom:7px
}

#navigation ul
{
list-style: none;
padding: 0;
margin: 5px
}

#navigation li
{
float: left;
margin: 0px;
}
 #navigation #current span{
  background: #008bb6 url(../images/tab_r.gif) right top no-repeat;
 padding-right: 10px; padding-bottom:7px
  }
#current a {
  background: #008bb6 url(../images/tab_l.gif) left top no-repeat;
  color:#fff;
   padding-bottom:7px;
   } 
   
   
.td_top{background:url(../images/tdtop_rep.gif) repeat-x;}
.td_bot{background:url(../images/bot_rep.gif) repeat-x;}
.td_left{background:url(../images/left_rep.gif) repeat-y;}
.td_right{background:url(../images/right_rep.gif) repeat-y;}
.padding_all{padding:5px}
.padding_all2{padding:10px}
.header{color:#8f0000; font-family:Georgia; font-size:21px; font-weight:bold}
.header_red_sml{color:#8f0000; font-family:Georgia; font-size:12px; font-weight:normal}
.td_feed{background:url(../images/feed.gif) no-repeat right bottom; border-bottom:#8f0000 2px solid; height:30px}
.td_nofeed{border-bottom:#8f0000 2px solid; height:30px}
.font_sml{font-family:arial; font-size:10px; color:#808285;}
.font_sml_blue{font-family:arial; font-size:12px; color:#008eb0;}
.header_blue{color:#008eb0; font-family:Georgia; font-size:19px; font-weight:bold}
.newsletter_box{border:#aac8de 1px Solid; background-color:#d4effc; padding:5px}
.newsletter_textbox{border:#aac8de 1px Solid; width:200px; font-family:Arial; font-size:13px; color:#666666; background:#FFFFFF; height:24px;}
.newsletter_heading{ font-family:Arial; font-size:16px; color:#008eb0; font-weight:bold}
.font_blue{font-family:Arial; color:#008eb0; font-weight:bold; line-height:24px; vertical-align:middle}
.font_blue a:link{font-family:Arial; color:#008eb0; font-weight:bold; line-height:24px; vertical-align:middle; text-decoration:none}
.font_blue a:active{font-family:Arial; color:#008eb0; font-weight:bold; line-height:24px; vertical-align:middle; text-decoration:none}
.font_blue a:visited{font-family:Arial; color:#008eb0; font-weight:bold; line-height:24px; vertical-align:middle; text-decoration:none}
.font_blue a:hover{font-family:Arial; color:#990000; font-weight:bold; line-height:24px; vertical-align:middle; text-decoration:none}
.font_blue1{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle}
.font_blue1 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue1 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue1 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue1 a:hover{font-family:Arial; color: #990000; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue2{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; padding-top:5px;}
.font_blue2 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue2 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue2 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.font_blue2 a:hover{font-family:Arial; color: #990000; font-weight:bold; vertical-align:middle; text-decoration:none; padding-top:5px;}
.dashed_border{font-family:Arial; color:#808285; border-bottom:#CCCCCC 1px dotted; padding-bottom:10px;}
.dotted_border{font-family:Arial; color:#808285; border-bottom:#CCCCCC 1px dotted; padding-bottom:5px; padding-top:10px}
#arrow{padding-top:5px}
.bottom{background:url(../images/bottom_rep.gif); height:214px; color:#FFFFFF}
.bottom_bg{background:#231f20; font-size:10px; text-align:center; color:#FFFFFF}
.bottomtxt{padding:2px; color:#fff; text-decoration:none; margin-right:10px}
.bottomtxt a:Link{padding:2px; color:#fff; text-decoration:none; margin-right:10px}
.bottomtxt a:Active{padding:2px; color:#fff; text-decoration:none; margin-right:10px}
.bottomtxt a:Visited{padding:2px;  color:#fff; text-decoration:none; margin-right:10px}
.bottomtxt a:Hover{background-color:#999999; color:#000000; padding:2px; text-decoration:none; margin-right:10px}
.FONTSML{font-size:11px}
.FONTSML a:link {font-size:11px; text-decoration:none; color:#FFFFFF}
.FONTSML a:visited{font-size:11px; text-decoration:none; color:#FFFFFF}
.FONTSML a:active{font-size:11px; text-decoration:none; color:#FFFFFF}
.FONTSML a:hover{font-size:11px; text-decoration:underline; color:#FFFFFF}
.bottom_header{font-size:14px; font-weight:bold; }

/*most searched*/
.MS10 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:10px; text-decoration:none}
.MS10 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:10px; text-decoration:none}
.MS10 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:10px; text-decoration:none}
.MS10 a:hover{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:10px; text-decoration:none}

.MS11 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:11px; text-decoration:none}
.MS11 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:11px; text-decoration:none}
.MS11 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:11px; text-decoration:none}
.MS11 a:hover{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:11px; text-decoration:none}

.MS12 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:12px; text-decoration:none}
.MS12 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:12px; text-decoration:none}
.MS12 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:12px; text-decoration:none}
.MS12 a:hover{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:12px; text-decoration:none}

.MS13 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:13px; text-decoration:none}
.MS13 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:13px; text-decoration:none}
.MS13 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:13px; text-decoration:none}
.MS13 a:hover{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:13px; text-decoration:none}

.MS14 a:link{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:14px; text-decoration:none}
.MS14 a:active{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:14px; text-decoration:none}
.MS14 a:visited{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:14px; text-decoration:none}
.MS14 a:hover{font-family:Arial; color:#008eb0; font-weight:bold; vertical-align:middle; font-size:14px; text-decoration:none}

.reply{background:url(../images/re.gif) repeat-y}	

#top_nav {padding-top: 5px;}

   .shadowcontainer {
       position:relative;
   }

   .shadowcontent {
       position:relative;
       color:White;
       z-index:5;
	   padding:7px;
	   font-family:Verdana, Arial, Helvetica, sans-serif;
	   font-weight:bold;
       
   }

   .shadowbackground {
       position:absolute;
       top:0px;
	   left:1px;
       width:99%;
       height:100%;
       background-color:Black;
       z-index:1;
       /* These three lines are for transparency in all browsers. */
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
       filter: alpha(opacity=70);
       opacity:.7;
   }

