/*
----------------------------------------------

File Name: General Pages
Developer: David Diez
Copyright: 2011
Website:   openintro.org


-----------------
Table of Contents
-----------------

Splash
Homepage
Subjects
Contribute
- Donate
- Participate
Rights
About
Contact
Terms


-----------
Color Theme
-----------
Gray: rgb(158,165,172)
Dark Gray: rgb(107,115,123)
Yellow: rgb(244,220,0)
Blue: rgb(0,68,106)
Red: rgb(159,52,0)
Green: rgb(102,159,0)

----------------------
Important Measurements
----------------------
Max Content Width: 824px


----------------------------------------------
*/

/*=====> Splash <=====*/
#siteSplash,
#contributeSplash,
#donateSplash,
#participateSplash,
#rightsSplash,
#aboutSplash,
#contactSplash,
#termsSplash {
  position: relative;
  background: url(../img/splash/siteSplash001.png);
  width: 764px;
  padding: 0;
  height: 282px;
  margin: 0 0 11px 0px;
}
#siteSplash {
  background-position: -6px -7px;
}
#contributeSplash {
  background: url(../img/splash/contributeSplash001.png) -4px -4px;
  height: 194px;
}
#donateSplash {
  background: url(../img/splash/donateSplash002.png) 0 2px;
  height: 294px;
}
#participateSplash {
  background: url(../img/splash/participateSplash001.png) -6px -5px;
  height: 195px;
}
#aboutSplash {
  background: url(../img/splash/aboutSplash001.png) -6px -6px;
  height: 277px;
}
#contactSplash {
  background: url(../img/splash/contactSplash001.png) -10px -4px;
  height: 434px;
}
#termsSplash {
  background: url(../img/splash/termsSplash001.png) -4px -4px;
  height: 301px;
}



/*=====> Homepage <=====*/
#siteSplashAmzLink {
  top: 248px;
  left: 39px;
  width: 185px;
  height: 20px;
  z-index: 35;
}
#siteSplashStatLink {
  top: 225px;
  left: 19px;
  width: 268px;
  height: 20px;
  z-index: 25;
}
#studBox {
  background: url(../img/pallete/students001.png);
}
#teacBoxHeader {
  height: 18px;
  width: 70px;
  background: url(../img/buttons/main001.png) -219px -170px;
}
#teacBox {
  background: url(../img/pallete/teachers001.png);
}
#studBoxHeader {
  height: 18px;
  width: 72px;
  background: url(../img/buttons/main001.png) -309px -139px;
}



/*=====> Subjects <=====*/
.subjectBox {
  display: block;
  clear: none;
  float: left;
  width: 225px;
  height: 108px;
  background: url(../img/pallete/lightGray001.png);
  margin: 0 14px 14px 0;
  padding: 10px;
}
.subjectBox:hover {
  background: url(../img/pallete/mediumGray001.png);
}
.spanningGrayBar {
  width: 100%;
  height: 2px;
  background: white;
}
.subjectBox:hover > .spanningGrayBar {
  background: url(../img/pallete/lightGray001.png);
}
.subjectBoxText, .subjectBoxText:hover, .subjectBoxText:focus {
  height: 30px;
  padding: 10px 0;
  font-size: 10pt;
  line-height: 1.2em;
  overflow: hidden;
  color: rgb(107,115,123);
}
.subjectBoxHeader {
  margin: 10px 0;
  height: 32px;
  width: 225px;
}
/*
#statSubjectBox {
  
}
#algeSubjectBox {
  
}
#calcSubjectBox {
  
}
#geomSubjectBox {
  
}
#physSubjectBox {
  
}
*/
#statSubjectBoxHeader,
#algeSubjectBoxHeader,
#calcSubjectBoxHeader,
#geomSubjectBoxHeader,
#mediSubjectBoxHeader,
#physSubjectBoxHeader {
  background: url(../img/subjects/subjectPage002.png) -5px -60px;
}
.subjectBox:hover > #statSubjectBoxHeader,
.subjectBox:focus > #statSubjectBoxHeader {
  background-position: -5px -235px;
}
#algeSubjectBoxHeader {
  background-position: -5px -17px;
}
.subjectBox:hover > #algeSubjectBoxHeader,
.subjectBox:focus > #algeSubjectBoxHeader {
  background-position: -5px -196px;
}
#calcSubjectBoxHeader {
  background-position: -4px -144px;
}
.subjectBox:hover > #calcSubjectBoxHeader,
.subjectBox:focus > #calcSubjectBoxHeader {
  background-position: -5px -315px;
}
#geomSubjectBoxHeader {
  background-position: -5px -5px;
}
/*
.subjectBox:hover > #geomSubjectBoxHeader,
.subjectBox:focus > #geomSubjectBoxHeader {
  background: url(../img/pallete/teacher001.png);
}
/**/
#mediSubjectBoxHeader {
  background-position: -230px -17px;
}
.subjectBox:hover > #mediSubjectBoxHeader,
.subjectBox:focus > #mediSubjectBoxHeader {
  background-position: -230px -196px;
}
#physSubjectBoxHeader {
  background-position: -4px -105px;
}
.subjectBox:hover > #physSubjectBoxHeader,
.subjectBox:focus > #physSubjectBoxHeader {
  background-position: -5px -278px;
}
/*
.one-c-yellow-link, .one-c-yellow-title, .one-c-yellow-title1 {
  display: block;
  position: relative;
  color: rgb(0,68,106);
  font-size: 9pt;
  height: auto;
  padding: 2px 20px 8px 20px;
  line-height: 1em;
}
.one-c-yellow-title, .one-c-yellow-title1 {
  font-family: museo-slab, Helvetica, Arial;
  font-weight: 700;
  padding: 2px 0;
  border-bottom: 2px solid rgb(255,255,255);
}
.one-c-yellow-title1 {
  border-top: 2px solid rgb(255,255,255);
}
.one-c-yellow-element {
  display: block;
  padding: 5px 20px;
  background-color: transparent;
  margin: 2px 0;
}
.one-c-yellow-element:hover {
  cursor: pointer;
  background-color: rgb(244,220,0);
}
.subjParagraph {
  margin: 15px 0;
  font-size: 9pt;
  line-height: 1.4em;
}
.subjBigParagraph {
  font-family: museo-slab;
  font-weight: 300;
  font-size: 11pt;
}
*/


/*_____ Subject Page Content _____*/
.tdSubj3 {
  vertical-align: top;
  width: 205px;
  padding: 20px;
  background: url(../../img/pallete/lightGray001.png);
}
.tdSubj2_3 {
  vertical-align: top;
  width: 448px;
  padding: 20px;
  background: url(../../img/pallete/lightGray001.png);
}
.statSuppThin {
  margin: 5px 0;
}
.subjLeftMenuHead,
.subjLeftMenuHeadContent {
  vertical-align: top;
  width: 205px;
  padding: 0;
}
.subjMenu {
  border-top: 2px solid rgb(255,255,255);
}
.subjMenuContent {
  padding: 0 0 0 20px;
}
.subjMenuContent p {
  margin: 0 0 10px 0;
  font-size: 9pt;
}
.subjMenuItem,
.subjMenuItemOn {
  padding: 10px;
  background-color: transparent;
  margin: 20px 0;
}
.subjMenuItemOn,
.subjMenuItem:hover {
  cursor: pointer;
  background-color: rgb(244,220,0);
}
.subjMenuItemTitle {
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
  font-size: 23px;
  line-height: 1em;
  color: rgb(0,68,106);
}
.subjMenuItemDetail {
  color: rgb(0,68,106);
  font-size: 12px;
  line-height: 12px;
  height: 13px;
  margin: 7px 0 0 0;
  overflow: hidden;
}
.subjMenuItem:hover .subjMenuItemTitle,
.subjMenuItem:hover .subjMenuItemDetail,
.subjMenuItemOn .subjMenuItemTitle,
.subjMenuItemOn .subjMenuItemDetail {
  color: rgb(107,115,123);
}
BigParagraph {
  font-family: museo-slab;
  font-weight: 300;
  font-size: 11pt;
  color: rgb(0,68,106);
}
.pad20leftright {
  padding-left: 20px;
  padding-right: 20px;
}



/*_____ Contribute - Donate _____*/
#donorNotifyForm {
  display: block;
  margin: 0;
  padding: 0;
}
#donorName, #donorEmail, #donorPhone {
  display: block;
  clear: both;
  width: 200px;
  margin: 0;
  padding: 0;
}
#donorPhone {
  clear: left;
  float: left;
}
#donorSubmitContainer {
  display: block;
  clear: right;
  float: left;
  margin: 0 0 0 20px;
}



/*=====> Rights <=====*/
#licenseForResources {
  background-color: rgb(216,227,233);
}
#examplesOfNoncommercialUse {
  background-color: rgb(237,237,238);
}

/* DON'T DELETE */
#pdfReleaseBox {
  background: url(../img/pallete/teachers001.png);
}
#pdfReleaseBoxHeader {
  width: 94px;
  height: 19px;
  background: url(../img/buttons/home003.png) -59px -316px;
}
#LicensingBoxHeader {
  width: 159px;
  height: 19px;
  background: url(../img/buttons/home003.png) -1px -443px;
}
/* DON'T DELETE */
#sourceReleaseBox {
  background: url(../img/pallete/lightGray001.png);
}
#sourceReleaseBoxHeader {
  width: 119px;
  height: 19px;
  background: url(../img/buttons/home003.png) -58px -335px;
}
#nonCommercialExamplesBoxHeader {
  width: 225px;
  height: 19px;
  background: url(../img/buttons/home003.png) -1px -427px;
}



/*=====> About <=====*/
/** /
#aboutBoxSupporter {
  height: 265px;
  width: 100%;
}
#aboutBoxText {
  top: 182px;
  left: 17px;
  width: 680px;
  position: absolute;
  font-size: 10pt;
  line-height: 1.34em;
}
#peopleBox {
  background: url(../img/pallete/lightGray001.png);
}
#faqsBox {
  background: url(../img/pallete/faqs001.png);
}
#peopleBoxHeader {
  height: 18px;
  width: 55px;
  background: url(../img/buttons/home003.png) -1px -324px;
}
.person,
.personF,
.personAcknowledge {
  padding: 18px 0;
  width: 100%;
  font-size: 10pt;
  clear: both;
  border-bottom: 2px solid rgb(255,255,255);
}
.person,
.personF {
  padding-bottom: 0;
}
.personF {
  margin-top: 10px;
  border-top: 2px solid rgb(255,255,255);
}
.personHeader {
  margin: 0 0 10px 0;
  overflow: auto;
}
.personName {
  margin: 0 5px 3px 0;
  height: 15px;
  line-height: 15px;
  font-size: 12pt;
  color: rgb(0,68,106);
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
}
.personTitle {
  display: inline-block;
  margin-left: 7px;
  font-size: 10pt;
  font-variant: small-caps;
  color: rgb(0,68,106);
}
.personContact {
  font-size: 9pt;
}
.personDesc,
.personDescAcknowledge {
  margin: 10px 0 0 0;
  font-size: 9pt;
  line-height: 1.34em;
}
.personDesc {
  display: none;
}
.alumniDesc,
.alumniDescL {
  margin-bottom: 10px;
}
.alumniDescL {
  margin-bottom: 0;
}
#faqsBoxHeader {
  height: 18px;
  width: 39px;
  background: url(../img/buttons/home003.png) -1px -308px;
}
#faqsIntro {
  margin: 10px 0 20px 0;
  padding: 18px 0;
  width: 100%;
  font-size: 9pt;
  line-height: 1.34em;
  clear: both;
  border-bottom: 2px solid rgb(255,255,255);
  border-top: 2px solid rgb(255,255,255);
}
.faqQ {
  margin: 24px 0 7px 0;
  font-size: 12pt;
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
  color: rgb(0,68,106);
}
.faqA {
  margin: 2px 0 15px 0;
  font-size: 9pt;
  line-height: 1.34em;
}
#sincerelyYoursOI {
  position: relative;
  top: 8px;
  left: 0px;
  display: block;
  margin: 0 0 25px 0;
  width: 95px;
  height: 35px;
  font-size: 9pt;
  font-weight: bold;
}
/**/


/*_____ About _____*/
/** /
#faqsBox {
  background: url(../img/pallete/faqs001.png);
}
/**/
.peopleBox {
  padding: 20px 20px 30px 20px;
  background-color: rgba(193,210,200,0.5);
}
.peopleBoxRow {
  border-bottom: 1px solid rgb(108,115,123);
  padding: 20px 0 25px 0;
  font-family: "museo-slab", Helvetica, Arial;
}
.person {
  float: left;
  clear: none;
  margin-left: 10px;
  width: 136px;
}
.person:first-child {
  margin-left: 0;
}
.personPhoto {
  width: 70px;
  line-height: 70px;
  border-radius: 35px;
  margin: 5px auto 10px auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 100;
  background: url(/img/people/headshots/about_photo_bg.png);
  color: rgb(255,255,255);
}
.personPhotoContainer {
  width: 70px;
  height: 70px;
}
.personName,
.personTitle,
.personEmail {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}
.personName {
  margin-top: -3px;
}
.personName > span {
  padding: 1px 5px;
  line-height: 1em;
}
.person:hover .personName > span {
  background-color: rgb(243,220,10);
}
.personTitle,
.personEmail {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.personDownArrows {
  margin: 0 auto;
  height: 11px;
  width: 15px;
}
.personDetails {
  display: none;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(108,115,123);
  font-size: 12px;
}
.personDescription {
  width: 350px;
  line-height: 1.3em;
}
.personEmail {
  text-align: left;
  font-family: "museo-slab", Helvetica, Arial;
  font-size: 11px;
  line-height: 1.3em;
  margin: 13px 0 0 0;
}
.faqQ {
  margin: 24px 0 7px 0;
  font-size: 12pt;
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
  color: rgb(0,68,106);
}
.faqA {
  margin: 2px 0 15px 0;
  font-size: 9pt;
  line-height: 1.34em;
  width: 600px;
}
#sincerelyYoursOI {
  position: relative;
  top: 8px;
  left: 0px;
  display: block;
  margin: 0 0 25px 0;
  width: 95px;
  height: 35px;
  font-size: 9pt;
  font-weight: bold;
}



/*=====> Contact <=====*/
/* NA */



/*=====> Terms <=====*/
#termsSplashText {
  position: absolute;
  top: 160px;
  left: 22px;
  width: 710px;
}
#termsSplashAmbiguous {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
#termsSplashOtherText {
  font-size: 10pt;
}
#termsOfUseText {
  width: 720px;
  overflow: hidden;
  padding: 22px;
  margin: 14px 0 0 0;
  background: url(../img/pallete/lightGray001.png);
}
.tou {
  width: 650px;
}
h2.tou, h2.touF {
  margin: 20px 0 10px 0;
  padding: 20px 0 0 0;
  border-top: 1px solid rgb(107,115,123);
  font-size: 12pt;
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
  color: rgb(0,68,106);
}
h2.touF {
  border: none;
  margin-top: 0;
  padding-top: 0;
}
p.tou {
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 10pt;
}
li.tou {
  width: 535px;
  font-size: 10pt;
}