/*
----------------------------------------------

File Name: CSS Foundation
Developer: David Diez
Copyright: 2011
Website:   openintro.org


-----------------
Table of Contents
-----------------

Special Structures
Downloads


---------------
Color Theme
---------------
Gray: rgb(158,165,172)
Dark Gray: rgb(108,115,123)
Yellow: rgb(243,220,10)
Blue: rgb(4,68,106)
__ Background + Grid __
Light Gray: rgb(232,231,232)
Light Blue: rgb(216,227,233)
Light Red: rgb(218,211,205)
Warm White: rgb(237,237,238)
Rollover Gray: rgb(208,210,211) (Subjects page)


-----------
Color Theme
-----------
Gray: rgb(158,165,172)
Dark Gray: rgb(107,115,123)
Yellow: rgb(244,220,0)
Dark Blue: rgb(0,68,106)
Blue: rgb(0,68,106)
Red: rgb(159,52,0)
Green: rgb(102,159,0)

----------------------
Important Measurements
----------------------
Max Content Width: 824px


----------------------------------------------
*/


.grayText {
  color: rgb(107,115,123);
}
.grayBG {

}


/*_____ Overview (page) _____*/
.statOverviewElementL,
.statOverviewElementR {
  display: block;
  height: 60px;
  width: 334px;
  margin: 0 14px 14px 0;
  margin-right: 14px;
  padding: 20px;
  clear: none;
  float: left;
  background-color: rgb(240,240,241); /* ZZQ */
}
.statOverviewElementR {
  margin: 0 0 14px 0;
}
.statOverviewElementL:hover,
.statOverviewElementR:hover {
  background-color: rgb(244,220,0);
}
.statOverviewElementIcon {
  clear: none;
  float: left;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-right: 2px solid rgb(255,255,255);
  overflow: hidden;
}
.statPageIcon {
  margin: 0 auto;
}
.statOverviewElementText {
  clear: none;
  float: left;
  padding: 5px 0 0 20px;
}
.statOverviewElementTitle {
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
  font-size: 28px;
  line-height: 1em;
  color: rgb(0,68,106);
}
.statOverviewElementL:hover .statOverviewElementTitle,
.statOverviewElementR:hover .statOverviewElementTitle {
  color: rgb(107,115,123);
}
.statOverviewElementDetail {
  color: rgb(107,115,123);
  font-size: 12px;
  line-height: 12px;
  height: 13px;
  width: 250px;
  margin: 7px 0 0 0;
  overflow: hidden;
}


/*_____ Textbook (page) _____*/
#textbookContainer {
  width: 724;
  padding: 20px;
  background-color: rgb(232,231,232);
}
.textbookPageMenuContent {
  vertical-align: top;
  width: 465px;
  padding: 0 0 0 20px;
}


.statPageMenu,
.statPageMenuContent {
  vertical-align: top;
  width: 205px;
  padding: 0;
}
.statPageMenu {
  border-top: 2px solid rgb(255,255,255);
}
.statPageMenuContent {
  padding: 0 0 0 20px;
}
.statPageMenuContent p {
  margin: 0 0 10px 0;
  font-size: 9pt;
}
.textbookMenuItem,
.textbookMenuItemOn {
  padding: 10px;
  background-color: transparent;
  margin: 20px 0;
}
.textbookMenuItemOn,
.textbookMenuItem:hover {
  cursor: pointer;
  background-color: rgb(244,220,0);
}
.textbookMenuItemTitle {
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 300;
  font-size: 23px;
  line-height: 1em;
  color: rgb(0,68,106);
}
.textbookMenuItemDetail {
  color: rgb(0,68,106);
  font-size: 12px;
  line-height: 12px;
  height: 13px;
  margin: 7px 0 0 0;
  overflow: hidden;
}
.textbookMenuItem:hover .textbookMenuItemTitle,
.textbookMenuItem:hover .textbookMenuItemDetail,
.textbookMenuItemOn .textbookMenuItemTitle,
.textbookMenuItemOn .textbookMenuItemDetail {
  color: rgb(107,115,123);
}
.statDownloadButtonLink {
  display: block;
  margin: 12px 0;
}
.statDownloadImageBoxOn,
.statDownloadImageBoxOff {
  display: block;
  overflow: hidden;
  height: 25px;
  width: 25px;
  clear: none;
  float: left;
  margin-right: 5px;
}
.statDownloadImageBoxOn {
  display: none;
}
.statDownloadButtonOn,
.statDownloadButtonOff {
  margin: -59px 0 0 1px;
}
.statDownloadButtonOn {
  margin: -59px 0 0 -75px;
}
a.statDownloadButtonLink:hover > .statDownloadImageBoxOn {
  display: block;
}
a.statDownloadButtonLink:hover > .statDownloadImageBoxOff {
  display: none;
}
.statDownloadLink {
  display: block;
  font-size: 12px;
  line-height: 25px;
  color: rgb(108,115,123);
}
.statDownloadLink:hover {
  color: rgb(0,68,106);
}
#evenSolutionLink {
  display: block;
  padding: 3px;
  margin: -3px;
  background-color: rgb(243,220,10);
  color: rgb(108,115,123);
}
#evenSolutionLink:hover {
  background: none;
  color: rgb(0,68,106);
}


/*_____ Labs (page) _____*/
.statBigParagraph {
  font-family: museo-slab;
  font-weight: 300;
  font-size: 11pt;
  color: rgb(0,68,106);
}
.statBigParagraph a {
  color: rgb(107,115,123);
}
.statBigParagraph a:hover {
  color: rgb(0,68,106);
}
.labLinks,
.labTitle,
.labTitle1 {
  display: block;
  position: relative;
  color: rgb(0,68,106);
  font-size: 9pt;
  height: auto;
  padding: 2px 20px 8px 20px;
  line-height: 1em
}
.labTitle,
.labTitle1 {
  font-family: museo-slab, Helvetica, Arial;
  font-weight: 700;
  padding: 2px 0; /*8px 20px 2px 20px;*/
}
.labLinksForHover {
  border-bottom: 2px solid rgb(255,255,255);
}
/**/
.labLinksForHover > .labLinks,
.labLinksForHover > .labLinks > a {
  opacity: 0;
}
/**/
.labLinksForHover:hover > .labLinks,
.labLinksForHover:hover > .labLinks > a {
  opacity: 1;
}
/** /
.labLinksForHover:hover > .lablinks {
  color: rgb(0,68,106);
}
.labLinksForHover:hover > .lablinks > a {
  color: rgb(107,115,123);
}
.labLinksForHover:hover > .labLinks > a:hover {
  color: rgb(0,68,106);
}
/**/
.labTitle1 {
  border-top: 2px solid rgb(255,255,255);
}
.statLabElement {
  display: block;
  padding: 5px 20px;
  background-color: transparent;
  margin: 2px 0;
}
.statLabElement:hover {
  cursor: pointer;
  background-color: rgb(244,220,0);
}




/*_____ Supplements (page) _____*/
.statSuppHead {
  height: 40px;
}
.statSuppThin {
  margin: 5px 0;
}
.statSuppElement,
.statSuppElementOn {
  display: block;
  padding: 10px 20px;
  background-color: transparent;
  margin: 0;
}
.statSuppElement:hover,
.statSuppElementOn {
  cursor: pointer;
  background-color: rgb(244,220,0);
}
.statSuppElementTitle,
.statSuppElementTitleThumb {
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 700;
  font-size: 13px;
  line-height: 1em;
  color: rgb(0,68,106);
  clear: right;
}
.statSuppElementThumb {
  width: 75px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.statSuppElementTitleThumb {
  display: inline-block;
  vertical-align: middle;
  width: 310px;
}
.statSuppElementDetail,
.statSuppElementDetailMore {
  color: rgb(0,68,106);
  font-size: 12px;
  line-height: 1em;
  height: 13px;
  margin: 5px 0 0 0;
  overflow: hidden;
}
.statSuppElementDetailMore {
  margin: 5px 20px;
}
.statSuppElement:hover .statSuppElementTitle,
.statSuppElement:hover .statSuppElementDetail {
  color: rgb(107,115,123);
}
.pad20leftright {
  padding-left: 20px;
  padding-right: 20px;
}





/*=====> Special Structures <=====*/
.statBoxMinHeight {
  min-height: 350px;
}
.statSubjectHeaderSpacer {
  height: 41px;
}
.tdStat3 {
  vertical-align: top;
  width: 205px;
  padding: 20px;
  background: rgb(232,231,232);
}
.tdStat2_3 {
  vertical-align: top;
  width: 448px;
  padding: 20px;
  background-color: rgb(232,231,232);
}
.statParagraph {
  margin: 15px 0;
  font-size: 9pt;
  line-height: 1.4em;
}



/*=====> Downloads <=====*/
#statBookDownloadButtonAN {
  display: block;
  position: relative;
  z-index: 15;
  height: 25px;
  width: 197px;
  line-height: 25px;
  margin: 5px 0 15px 0;
}
#statBookDownloadButtonN {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0;
  background: url(../../img/subjects/stat002.png) -146px -111px;
  color: transparent;
  overflow: hidden;
}
#statBookDownloadButtonAN:hover > #statBookDownloadButtonN {
  background-position: -175px -111px;
}
#statBookDownloadButtonTextN {
  position: absolute;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  top: 6px;
  left: 30px;
  color: rgb(107,115,123);
  font-size: 9pt;
}
#statBookDownloadButtonAN:hover #statBookDownloadButtonTextN,
#statBookDownloadButtonAN:focus #statBookDownloadButtonTextN {
  color: rgb(0,68,106);
}
#errataLink, 
#errataLink2nd {
  cursor: pointer;
}
#errataDescriptionLabel,
#errataNameLabel,
#errataEmailLabel {
  display: block;
  margin: 12px 0 2px 0;
  z-index: 801;
}
#errataDescription,
#errataName,
#errataEmail {
  margin: 2px 4px 12px 0;
  width: 200px;
  clear: left;
  float: left;
  z-index: 800;
}
#errataDescription {
  width: 500px;
  height: 70px;
}
#errataDescriptionError,
#errataNameError,
#errataEmailError {
  top: -7px;
  z-index: 500;
}


/*=====> Downloads <=====*/
#statBookChapterDownloads {
  margin: 0;
  width: 200px;
  border-collapse: collapse;
  position: relative;
  z-index: 15;
}
.statBookChapterDownloads1,
.statBookChapterDownloads2,
.statBookChapterDownloads3 {
  width: 50%;
  padding: 5px 5px 5px 4px;
  font-size: 12px;
  border-top: 2px solid rgb(255,255,255);
  border-right: 2px solid rgb(255,255,255);
  border-bottom: 2px solid rgb(255,255,255);
}
.statBookChapterDownloads2 {
  padding: 5px 10px;
  border-left: 2px solid rgb(255,255,255);
  border-right: none;
}
.statBookChapterDownloads3 {
  width: 100%;
  border-right: none;
}
.allCapsStatLink {
  text-transform: uppercase;
  color: rgb(107,115,123);
}
.allCapsStatLink:hover {
  color: rgb(0,68,106);
}


/*=====> Software <=====*/



/*_____ Supplements _____*/




/*=====> Labs <=====*/

/*=====> Links <=====*/


/*=====> Competition <=====*/
#competitionHeader {
  background: url(../../img/pallete/stat002.png);
  width: 716px;
  height: 100px;
  margin: 0;
  padding: 18px 10px;
}
#competitionTitle {
  background: url(../../img/subjects/stat002.png) -16px -337px;
  width: 210px;
  height: 100px;
  margin: 0;
  padding: 0;
  border-right: 2px solid rgb(140,165,190);
  float: left;
  clear: none;
}
#CompetitionTitleHeaderText {
  float: right;
  clear: none;
  width: 445px;
  height: 100px;
  margin: 0 40px 0 0;
  color: rgb(255,255,255);
  font-size: 9pt;
  vertical-align: top;
}
.compHeaderP {
  margin: 0 0 20px 0;
  line-height: 16px;
}
#compInfo {
  margin: 0;
  padding: 20px 0;
  background: url(../../img/pallete/lightGray001.png);
}
.compInfoReg {
  padding: 0 20px;
  color: rgb(107,115,123);
}
#evalCriteria, #toTheWinners, #compParticipate {
  width: 139px;
  height: 19px;
  margin: 0 0 10px 0;
  padding: 0;
  background: url(../../img/subjects/stat002.png) -3px -288px;
}
#toTheWinners {
  margin: 20px 0 10px 0;
  width: 109px;
  background-position: -141px -288px;
}
#compParticipate {
  margin: 20px 0 10px 0;
  width: 84px;
  background-position: -274px -160px;
}
#compInfoP {
  font-size: 9pt;
  margin: 0 0 10px 0;
}
.statDarkBlue {
  font-size: 9pt;
  font-weight: bold;
  color: rgb(0,68,106);
}
#compInfoL1Box, #compInfoL2Box {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
#compInfoL1, #compInfoL2 {
  font-size: 9pt;
  list-style-image: url(../../img/subjects/statCompBullet.png);
  margin: 2px 0;
  padding: 0;
}



/* _____ Change Of Textbook Or Software _____ */
.arrow-down-6 {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid rgb(255,255,255);
  margin-top: 2px;
  float: right;
}
.arrow-down-16 {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 9px solid rgb(255,255,255);
  margin: 10px 0 5px 10px;
}
#show-textbook-menu:hover > .arrow-down-16,
#show-textbook-menu:active > .arrow-down-16 {
  border-top: 9px solid rgb(232,231,232);
  cursor: pointer;
}
#show-textbook-menu:hover,
#show-textbook-menu:active {
  color: rgb(232,231,232);
  cursor: pointer;
}
.explanation {
  font-family: "museo-slab", Helvetica, Arial;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.6em;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  left: 175px;
  top: 0;
  background-color: rgb(243,220,10);
  border-radius: 7px;
  padding: 3px 20px 2px;
}
.close-explanation {
  position: absolute;
  top: 2px;
  right: 5px;
  color: rgb(158,165,172);
  font-size: 1.3em;
}
.close-explanation:hover {
  cursor: pointer;
  color: rgb(108,115,123);
}




/* _____ Textbook Customization _____ */
.stat_book_option {
  display: inline-block;
  margin: 0;
  width: 165px;
  height: 212px;
  overflow: hidden;
  margin: 40px 0 40px 49px;
}
.stat_book_option_img {
  width: 623px; 
  height: 380px;
}
/*
.stat_ap {
  color: rgb(93,135,161);
}
.stat_background_ap {
  background-color: rgb(93,135,161);
}
.statMBap {
  background-color: white;
  color: rgb(93,135,161);
}
.statMBap:hover,
.statHap {
  background-color: rgb(93,135,161);
  color: white;
}
*/