/*
----------------------------------------------

File Name: CSS Foundation
Developer: David Diez
Copyright: 2011
Website:   openintro.org


-----------------
Table of Contents
-----------------

Colors
Banners
Submenus
- Statistics
- Algebra
- Calculus
- Medicine
Subject Tables


-----------
Color Theme
-----------
Gray: rgb(158,165,172)
Dark Gray: rgb(107,115,123)
Yellow: rgb(244,220,0)
Blue: rgb(0,68,106)
Red: rgb(159,52,0)
Green: rgb(102,159,0)

----------------------
Important Measurements
----------------------
Max Content Width: 824px


----------------------------------------------
*/


/*=====> Structures <=====*/
.subjBoxMinHeight {
  min-height: 350px;
}
.subjectHeaderSpacer {
  height: 41px;
}
.tdSubj3 {
  vertical-align: top;
  width: 205px;
  padding: 20px;
  background: url(../../img/pallete/lightGray001.png);
}
.subjBoxHRLinks, .subjBoxHRLinks1 {
  background: rgb(255,255,255);
  margin: 10px 0;
  width: 200px;
  height: 2px;
}
.subjBoxHRLinks {
  margin: 4px 0;
}
.subjBoxHRLinks1 {
  margin: 15px 0 4px 0;
}
.subjLinks {
  display: block;
  margin-left: 2px;
  font-size: 12px;
  color: rgb(127,127,127);
}
.subjLinks:hover {
  color: rgb(0,68,106);
}


/*=====> Colors <=====*/
.statBG {
  background: url(../img/pallete/stat002.png);
}
.algeBG {
  background: url(../img/pallete/alge001.png);
}
.mediBG {
  background: url(../img/pallete/medi001.png);
}
.physBG {
  background: url(../img/pallete/phys001.png);
}


/*=====> Banners <=====*/
.subjBanner {
  margin: 25px 0 0 0;
  background: rgb(200,200,200);
  height: 47px;
  min-width: 100%;
  width: 100%;
  padding: 15px 0 0 33px;
}
.subjBannerText {
  position: relative;
}
#algeBanner {
  background: url(../img/subjects/alge001.png) -4px -1px;
  width: 133px;
  height: 35px;
}
#calcBanner {
  background: url(../img/subjects/calc001.png) -3px 0;
  width: 143px;
  height: 30px;
}
#mediBanner {
  background: url(../img/subjects/medi001.png) -9px -4px;
  width: 155px;
  height: 35px;
}
#physBanner {
  background: url(../img/subjects/phys001.png) -3px 0;
  width: 131px;
  height: 35px;
}
#statBanner {
  background: url(../img/subjects/stat002.png) -213px -117px;
  width: 149px;
  height: 30px;
}



/*=====> Submenus <=====*/
.subjMenuContainer {
  min-width: 763px;
  width: 763px;
  padding-left: 37px;
  margin-bottom: 1;
  height: 34px;
}
#statSubmenu {
  border-bottom: 1px solid #258;
  /*
  margin: 10px 30px;
  */
}
.subjMenuItem {
  display: inline-block;
  margin: 7px 0 7px 37px;
  height: 20px;
  width: 10px;
}



/*===> Submenus - Statistics <===*/
#statoverview, #statoverviewOn,
#stattextbook, #stattextbookOn,
#statforums, #statforumsOn,
#statdownloads, #statdownloadsOn,
#statsupplements, #statsupplementsOn,
#statonline, #statonlineOn,
#statquizzes, #statquizzesOn,
#statlabs, #statlabsOn,
#statlinks, #statlinksOn,
#statcomp, #statcompOn,
#statcomp, #statcompOn {
  background: url(../img/subjects/stat004.png);
}
#statoverview, #statoverviewOn {
  width: 62px;
  background-position: -208px -25px;
}
#statoverview:hover, #statoverviewOn {
  background-position: -291px -25px;
}
#statdownloads, #statdownloadsOn {
  width: 74px;
  background-position: -208px -1px;
}
#statdownloads:hover, #statdownloadsOn {
  background-position: -291px -1px;
}
#stattextbook, #stattextbookOn {
  width: 62px;
  background-position: -278px -347px;
}
#stattextbook:hover, #stattextbookOn {
  background-position: -277px -427px;
}
#statforums, #statforumsOn {
  width: 55px;
  background-position: -275px -530px;
}
#statforums:hover, #statforumsOn {
  background-position: -276px -502px;
}
#statsupplements, #statsupplementsOn {
  width: 83px;
  background-position: -278px -371px;
}
#statsupplements:hover, #statsupplementsOn {
  background-position: -277px -451px;
}
#statonline, #statonlineOn {
  width: 48px;
  background-position: -208px -48px;
}
#statonline:hover, #statonlineOn {
  background-position: -291px -48px;
}
#statlabs, #statlabsOn {
  width: 37px;
  background-position: -208px -94px;
}
#statlabs:hover, #statlabsOn {
  background-position: -291px -94px;
}
#statlinks, #statlinksOn {
  width: 40px;
  background-position: -208px -71px;
}
#statlinks:hover, #statlinksOn {
  background-position: -291px -71px;
}
#statcomp, #statcompOn {
  width: 79px;
  background-position: -279px -290px;
}
#statcomp:hover, #statcompOn {
  background-position: -280px -317px;
}



/*===> Submenus - Algebra <===*/



/*===> Submenus - Calculus <===*/