/*
----------------------------------------------

File Name: Why 05?
Developer: David Diez
Copyright: 2014
Website:   openintro.org


-----------------
Table of Contents
-----------------

Special Structures
Downloads

---------------
Color Theme
---------------
Gray: rgb(158,165,172)
Dark Gray: rgb(108,115,123)
Yellow: rgb(243,220,10)
Blue: rgb(4,68,106)
__ Background + Grid __
Light Gray: rgb(232,231,232)
Light Blue: rgb(216,227,233)
Light Red: rgb(218,211,205)
Warm White: rgb(237,237,238)
Rollover Gray: rgb(208,210,211) (Subjects page)

----------------------
Important Measurements
----------------------
Max Content Width: 824px


----------------------------------------------
*/



/*_____ Plots _____*/
.plot_choice_container {
  margin-bottom: 5px;
}
.plot_choice {
  display: inline-block;
  padding: 3px 5px;
  background-color: rgb(243,220,10);
  font-family: "museo-slab", Helvetica, Arial;
  line-height: 1.1em;
  font-size: 10pt;
  font-weight: 300;
}
.plot_choice:hover {
  padding: 2px 4px;
  background-color: rgb(243,220,10);
  border: 1px solid rgb(108,115,123);
  cursor: pointer;
}
.final_plots {
  margin: 0 5px 10px 0;
  display: none;
}
.final_plot {
  height: 150px;
  width: 230px;
  border: 1px solid rgb(108,115,123);
}
.pvalue {
  text-align: center
}
#p-values_and_choices {
  margin: 25px;
}
#progress_bar {
  width: 0;
  height: 5px;
  background-color: rgb(243,220,10);
  margin-top: 0;
}






