h1	{text-align : center}
h1, h2, h3, h4 {margin-bottom: -.05in}
/* I *finally* figured out inline headings.
 * Here we describe the header format.
 * In the html document, manually give the immediately following <p>
 *  class="inline".
 * May also want to add a <br> just before the h5 */
h5 {
    font-size     : 0.9em;
    margin-right  : 0.5em;
    font-style    : italic;
    color         : #802020;
    display       : inline;
}
h6 {
    font-size     : 1.0em;
    margin-right  : 0.5em;
    font-style    : bold;
    display       : inline;
}
.inline  {display : inline;}

/* Definitions: light green background */
.def	{background : #F0FFF0;}

/* Large and bold (html5 doesn't have <big>) */
.big-deal {font-size : 125%; font-weight : bold;}

/* New material: light blue background */
.new    {background : #C0C0FF;}

/* Optional material is greyed out */
.optional {
    background-color : #C0C0C0;
    color            : #404040
}

/* Space around left/right/center aligned things (e.g., figs, etc) */
.left  {
    float        : left;
    margin-right : 1em;
    margin-top   : 1em
}
.right {
    float         : right;
    margin-top    : 1em;
    margin-left   : 1em;
    margin-right  : -0in;
}
.center {
    float        : center;
}

/* Same as above but also compact */
.compactLeft  {
    margin-top    : -0.1in;
    margin-bottom : -0.0in;
    float         : left;
    margin-right  : 1em
}
.compactRight {
    margin-top    : -0.1in;
    margin-bottom : -0.0in;
    float         : right;
    margin-right  : 0in;
    margin-left   : 1em
}
.compactCenter {
    margin-top    : -0.1in;
    margin-bottom : -0.0in;
    float         : none;
    margin-left   : 1em;
    margin-right  : 1em
}

/* Same as above but less compact */
.cptLeft  {
    margin-top    : -0.0in;
    margin-bottom : -0.1in;
    float         : left;
    margin-right  : 1em
}
.cptRight {
    margin-top    : -0.0in;
    margin-bottom : -0.1in;
    float         : right;
    margin-left   : 1em
}
.cptCenter {
    margin-top    : -0.0in;
    margin-bottom : -0.1in;
    float         : none;
    margin-left   : 1em;
    margin-right  : 1em
}

/* Visual marker separating lectures */
.startLecture {
    clear       : both;
    text-align  : center;
    background  : #C0C0FF;
    font-size   : 150%;
    font-weight : bold
}

/* Headings, e.g. Title of course */
div.heading {
    text-align  : center;
    font-size   : 200%;
    font-weight : bold
}

/* Compact for pre: Looks like pre with less vertical space */
pre.compact {
    margin-top    : -0.1in;
    margin-bottom : -0.13in
}
/* .compact twice in paragraph is bad */
pre.cpt {
    margin-top    : -0.0in;
    margin-bottom : -0.13in
}

/* Compact for code: Looks like code with less vertical space */
code.compact {
    margin-top    : -0.1in;
    margin-bottom : -0.13in
}

/* Compact vertical spacing but not preformatted */
div.compact {
    margin-top  : -1em;
    margin-left : 2em;
    font-family : serif
}

/* Compact blockquote */
blockquote.compact {
    margin-top    : -.1in;
    margin-bottom : 0.3em
}

/* No space surrounding lists */
ol.compact {
    margin-top    : -0.8em;
    margin-bottom : -0.0em
}
ol.cpt {
    margin-top    : +0.5em;
    margin-bottom :  0.0em
}
ul.compact {
    margin-top    : -0.8em;
    margin-bottom : -0.0em
}
ul.cpt {
    margin-top    : +0.5em;
    margin-bottom :  0.0em
}

/* Little space surround tables */
table.compact {
    margin-top    : -0.8em;
    margin-bottom : -0.2em
}

/* Inherited attributes in SDDs (compilers) */
.inherit { background : #FFCCCC}

/* Ruled tables since "rules" and friends are deprecated in the html itself */
table.ruled {
    border-collapse:collapse;
    border-style: solid;
    border-width: thin;
}
table.ruled td, table.ruled th {
    border-style: solid;
    border-width: thin;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

/* Left aligning th elements in tables */
th.left {
    text-align: left;
}

/* Centering td elements in tables */
td.center {
    text-align: center;
}
table.centered td {
    text-align: center;
}

/* Boxed table, but not each element boxed */
table.boxed {
    border-style: solid;
    border-width: thin;
}

/* I like captions at the bottom (doesn't everyone?) */
caption {
    caption-side: bottom;
}

/* For full width centered items */
.centerFullWidth {
    margin-left:  auto;
    margin-right: auto;
}
