.dynamic-feedback-portlet .dynamic-feedback-form-wrapper {
  display: none;
}

.dynamic-feedback-portlet .sidebar-widget {
  position: absolute;
  top: 181px;
  right: -24px;
}

.df-dialog .df-field {
  margin-bottom: .5em;
}

.df-dialog .df-field .error-message {
  display: none;
}

.df-dialog .df-field.error {
  color: #b94a48;
  border: 1px solid #eed3d7;
  background-color: #f2dede;
  padding: .25em;
  margin-left: -0.25em;
  margin-right: -0.25em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.df-dialog .df-field.error .error-message {
  display: block;
}

.ui-dialog.df-dialog {
  font-family: inherit;
}

.ui-dialog.df-dialog .ui-dialog-titlebar {
  font-size: 1.25em;
  background: none;
  border: none;
}

.alert {
  padding: .5em;
  margin: 0 -.5em .5em;
  border: 1px solid #ade3ff;
  color: #00507a;
  background-color: #e0f4ff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}