@charset "UTF-8";
/*
Carnegie Mellon University CSS Document
cmufront templates (article and homepage only)
August 2010
*/

body {
	background-color:#FFF;
	color:#464646;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	position:relative;
	width:992px;
}

h1 {
	color:#990000;
	font-family:Helvetica,Arial,sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:1.2;
	margin:9px 0 8px;
	padding:0;
}

h2 {
	color:#990000;
	font-family:Helvetica,Arial,sans-serif;
	font-size:15px;
	font-weight:normal;
	margin:10px 0 8px;
	padding:0;
}

h3 {
	color:#990000;
	font-family:Helvetica,sans-serif;
	font-size:13px;
	font-weight:normal;
	margin:10px 0 8px;
	padding:0;
}

p {
	margin:0;
	padding:0 0 1em 0;
}

a {text-decoration:underline}

small {font-size:0.8em}

ol, ul {
	line-height:1em;
	list-style:none outside none;
	margin:0;
	padding:0;
}

li {
	margin-top:1px;
	padding:0 0 1px;
}

img {border:0 none}

b,strong{font-weight: bold}
i, em {font-style: italic}

sup {
	font-size: 0.8em;
	vertical-align: top;
	margin-right: 0.125em;
}

sub {
        font-size: 0.8em;
        vertical-align: bottom;
        margin-right: 0.125em;
}

blockquote {margin:10px 0 10px 20px}

form {margin: 0px}

video {z-index:1}

#navWrapper {
	left:0;
	position:absolute;
	top:0;
	width:244px;
}

#navWrapper #search {margin:25px 0 0 15px}

.home_leftnav_bg h1 {
	padding: 0;
	margin: 0;
}

#wordmark {
	background-color:#990000;
	display:block;
	width:244px;
}

#search #searchterm {
	height:17px;
	margin:0;
	padding:0;
	width:112px;
}

#search #go {margin:0 0 5px}

#quicklinks {
	font-size:12px;
	margin:5px 0 15px;
	width:200px;
}

#nav {
	margin:15px;
	width:214px;
}

#nav .hr {
	background:url(http://www.cmu.edu/homeimages/horizontal_rule.gif) repeat-x scroll 0 0 transparent;
	clear:both;
	display:block;
	height:1px;
	margin:8px 0;
	width:100%;
}

#topnav {
	background-color:#464646;
	font-size:11px;
	height:16px;
	margin-left:244px;
	padding:8px 0 5px 9px;
	position:relative;
	text-transform:uppercase;
	width:739px;
}

#topnav * {-webkit-text-size-adjust:none}

#topnav ul {
	display:inline;
	overflow:hidden;
}

#topnav li {
	border-left:1px solid #DDD;
	display:inline;
	list-style:none outside none;
	padding:0 6px 0 11px;
}

#topnav li.first {
	border-left:medium none;
	padding:0 10px 0 11px;
}

#topnav a, #topnav a:visited {
	color:#FFF;
	text-decoration:none;
}

#topnav a:hover, #topnav a:visited:hover {
	color:#FFF;
	text-decoration:underline;
}

#socialLinks {
position: absolute;
left: 590px;
top: 5px;
z-index: 10;
}

#socialLinks a, #socialLinks a:focus {
	background:url(http://www.cmu.edu/homeimages/icons/social-sprites.png) no-repeat scroll 0 0;
	border-radius: 3px;
	display:inline-block;
	height:19px;
	margin-right:3px;
	outline:none;
	padding:0;
	text-indent: -9999px;
	width:19px;
}

#socialLinks a:focus, #socialLinks a:hover {opacity:.65}

#socialLinks #rss {background-position:-155px 0}
#socialLinks #facebook {background-position:0 0}
#socialLinks #twitter {background-position:-21px 0}
#socialLinks #youtube {background-position:-42px 0}
#socialLinks #friendfeed {background-position:-63px 0}
#socialLinks #flickr {background-position:-134px 0}
#socialLinks #linkedin {background-position:-84px 0}
#socialLinks #itunesu {background-position:-105px 0}
#socialLinks #more {
	background-position:-126px 0;
	margin-right:0;
	width:6px;
}

#contentWrapper {
	margin:0 0 0 244px;
	padding:0;
	width:748px;
}

#breadcrumbs {
	color:#990000;
	font-size:10px;
	line-height:22px;
	margin:0;
	overflow:hidden;
	padding:10px 10px 11px 20px;
}

#breadcrumbs a, #breadcrumbs a:visited, #breadcrumbs a:hover, #breadcrumbs a:visited:hover {color:#424545}

#mainContent  {
	margin-bottom:19px;
	padding:0;
}

.content2Column {
	background:url(http://www.cmu.edu/homeimages/content_bg.gif) repeat-y scroll 0 0 transparent;
	margin-left:8px;
	width:100%;
}

.content2Column .boxTop {
	background:url(http://www.cmu.edu/homeimages/content_caps.gif) no-repeat 0 0 transparent;
	height:10px;
	margin:0;
	overflow:hidden;
	padding:0;
}

.content2Column .boxBottom {
	background:url(http://www.cmu.edu/homeimages/content_caps.gif) no-repeat -753px 0 transparent;
	height:10px;
	margin:0;
	overflow:hidden;
	padding:0;
}

.content {
	line-height:1.4;
	margin-right:43px;
	padding:7px 0 10px 22px;
}

#share {
    height: 2em;
	left: -2px;
	margin: 8px 0 12px 0;
	position: relative;
	width: 100%;
}

#share div.addthis_toolbox {
	position: absolute;
	right: 0;
	top: 0;
	width: 275px;
}

#share div.addthis_toolbox a {
	position:relative;
	top:2px;
}
#share div.addthis_toolbox .btns {
	position:absolute;
	right:0;
	top:-1px;
}

.fb-like {
	display: inline !important;
	height: 20px;
	top: 0;
	width: 160px;
	padding-right: 1em;
}

.btns .btn {margin-left:4px}

a.btn, a.btn:hover, .content a.btn, .content a.btn:hover, #homepageContent a.btn, #homepageContent a.btn:hover {
	background-color:#d17702;
	border-radius: 3px 3px 3px 3px;
	color: #fff !important;
	display: inline-block;
	font-size: 11px;
	line-height: 1;
	padding: 4px 6px;
	text-decoration: none;
}
a.btn:hover, a.btn:focus, .content a.btn:hover, .content a.btn:focus, #homepageContent a.btn:hover, #homepageContent a.btn:focus {background-color:#ff9000}
a.btn:hover, a.btn:focus, a.btn:visited, .content a.btn:hover, .content a.btn:focus, .content a.btn:visited, #homepageContent a.btn:hover, #homepageContent a.btn:focus, #homepageContent a.btn:visited {color:#fff !important}

.btn-rss {
	background: url(http://www.cmu.edu/homeimages/icons/icon-rss.png) no-repeat 0 0 scroll transparent;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	text-indent: -9999px;
}
.btn-rss, .at15t_compact {margin-right: 2px !important}

.btn-rss:hover, .btn-rss:focus {opacity:.8}

#engage  {
	float:right;
	margin:11px 0 8px 10px;
	padding-left:8px;
	width:236px;
}

#engage span {
	cursor:pointer;
	display:block;
	height:19px;
	margin:0;
	overflow:hidden;
	padding:0;
	text-indent:-9999px;
	width:19px;
}

#engage a, #engage a:focus {
	float:right;
	margin:0 1px;
	outline:none;
	padding:0;
}

#engage #at20mc {color:#4C4C4C}
#engage #rss {background:url(http://www.cmu.edu/homeimages/icons/icon-social-media-trans.png) no-repeat scroll 0 0 transparent}
#engage #rss:hover, #engage #rss:focus {background-position:0 -23px}
#engage #email {background:url(http://www.cmu.edu/homeimages/icons/icon-social-media-trans.png) no-repeat scroll -22px 0 transparent}
#engage #email:hover, #engage #email:focus {background-position:-22px -23px}
#engage #facebook {background:url(http://www.cmu.edu/homeimages/icons/icon-social-media-trans.png) no-repeat scroll -44px 0 transparent}
#engage #facebook:hover, #engage #facebook:focus {background-position:-44px -23px}
#engage #twitter {background:url(http://www.cmu.edu/homeimages/icons/icon-social-media-trans.png) no-repeat scroll -66px 0 transparent}
#engage #twitter:hover, #engage #twitter:focus {background-position:-66px -23px}
#engage #addthis {background:url(http://www.cmu.edu/homeimages/icons/icon-social-media-trans.png) no-repeat scroll -88px 0 transparent}
#engage #addthis:hover, #engage #addthis:focus {background-position:-88px -23px}
#engage #linkedin {background:url(http://www.cmu.edu/homeimages/icons/icon-social-media-trans.png) no-repeat scroll -110px 0 transparent}
#engage #linkedin:hover, #engage #linkedin:focus {background-position:-110px -23px}

span#article-buttons {
	float:right;
	margin-top:4px;
	width:195px;
}

#article-buttons a, #article-buttons a:focus {
	display:block;
	height:15px;
	outline:none;
	overflow:hidden;
	text-indent:-9999px;
}

#submit {
	background:url(http://www.cmu.edu/homeimages/btn-article.gif) no-repeat scroll 0 0 transparent;
	width:105px;
}

#submit:hover, #submit:focus {background-position:0 -17px}

#archives {
	background:url(http://www.cmu.edu/homeimages/btn-article.gif) no-repeat scroll -107px 0 transparent;
	width:73px;
}

#archives:hover, #archives:focus {background-position:-107px -17px}

.floatleft {
	background-color:#FFF;
	clear:both;
	float:left;
	margin:0 10px 10px 0;
	padding:4px;
}

.floatright {
	background-color:#FFF;
	clear:both;
	float:right;
	margin:0 0 10px 10px;
	padding:4px;
}

.floatright p, .floatleft p {
	font-size:11px;
	padding:4px 0 2px 0;
}

.phark {
	display: block;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
} /* http://en.wikipedia.org/wiki/Fahrner_Image_Replacement */

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.multimedia {margin:10px 0 20px 10px}
.multimedia * {max-width:300px}
.story-photo, .story-photo img {width:201px}

.content a {
	color: #d17702;
	text-decoration: underline;
	font-weight: normal;
}

.content a:hover, .content a:visited {
	color: #936241;
	text-decoration: underline;
	font-weight: normal;
}

.content ol {
	list-style-type:decimal;
	list-style-position:outside;
	margin: 4px 0px 9px 0px; 
	padding-left: 25px;
}

.content ul {
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	margin: 4px 0px 9px 0px;
	padding-left: 25px;
}

.content li {
	line-height:1.5;
	margin-top:1px;
	padding:0 0 4px;
}

.content h1 {
	color: #990000;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.2;
	margin: 9px 0px 8px 0px;
	padding: 0px;
}

.content h2 {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #990000;
	margin: 10px 0px 8px 0px;
	padding: 0px;
}

.content h3 {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #990000;
	margin: 10px 0px 8px 0px;
	padding: 0px;
}

.content h4 {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #424545;
	margin: 10px 0px 8px 0px;
	padding: 0px;
}

.content hr,.content div.hr {
        margin: 10px 0px 10px 0px;
}

.content input, .content textarea, .content select, .content select.option {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#464646;
}
.content input.radio {width:auto;}
.content input.checkbox {width:auto;}

.content table {width: 100%}

.content table {
	border-collapse:collapse; 
	border-style: none; 
	margin: 3px 5px 3px 1px; 
	background-color: transparent;
}

.content tbody td {
	font-size:12px; 
	text-decoration:none; 
	font-weight:normal; 
	border: 1px solid #d4d4d4; 
	padding: 5px 3px 11px 5px;  
	margin: 0px; 
	vertical-align: top;
}

.content thead td, .content thead th {
	font-size:11px;
	text-decoration:none; 
	font-weight:bold; 
	border-style: none; 
	padding:6px 4px 9px 5px; 
	margin-top: 3px; 
	text-transform:uppercase; 
	vertical-align: bottom; 
	text-align: left;
}

.content table p {
	padding:0px 0px 5px 0px !important;
	margin:0px !important;
}


/* footer */

#footer {
	border-bottom:20px solid #464646;
	clear:left;
	color:#626262;
	font-size:10px;
	margin:0;
	padding:0 0 10px 264px;
	vertical-align:bottom;
	width:728px;
}

#footer a, #footer a:visited {
	color:#626262;
	font-weight:normal;
	text-decoration:underline;
}

#footer a:hover, #footer a:visited:hover {
	color:#990000;
	font-weight:normal;
	text-decoration:underline;
}

#footer ul.contact {padding-bottom:10px}
#footer ul {
	margin:0;
	padding:0 0 11px;
}

#footer li {
	border-left:1px solid #777777;
	display:inline;
	list-style:none outside none;
	padding:0 6px;
}

#footer li.first {
	border-left:medium none;
	padding-left:0;
}


/* Homepage Specific */

#feature {
	background-color:#ededed;
	height:460px;
	line-height:1.5em;
	margin:0 0 30px 244px;
	overflow:hidden;
	position:relative;
	width:748px;
}

#feature #article {
	background:url(http://www.cmu.edu/homeimages/transGray85.png) repeat scroll 0 0 transparent;
	color:#FFF;
	height:432px;
	overflow:visible;
	padding:14px;
	position:absolute;
	right:0;
	top:0;
	width:226px;
}

#feature #article img {display:none}

#feature small {text-transform:uppercase}

#feature h1, #feature h2  {
	color:#FFF;
	font-size:2em;
	font-weight:bold;
	line-height:1.1em;
	margin:0.5em 0;
}

#feature a {color:#FFF}

#photo-credit {
	background:url(http://www.cmu.edu/homeimages/transGray85.png) repeat scroll 0 0 transparent;
	bottom:0;
	font-size:0.8em;
	padding:2px 4px 4px;
	position:absolute;
	right:257px;
	text-align:left;
	width:230px;
}

#feature #article-links {
	bottom:4px;
	left:14px;
	position:absolute;
	width:auto;
}

#feature #multimedia {
	background:url(http://www.cmu.edu/homeimages/transGray90.png) repeat scroll 0 0 transparent;
	color:#FFFFFF;
	display:none;
	height:446px;
	margin:0;
	padding:14px 14px 0 20px;
	/*visibility:hidden;*/
	width:auto;
}

#feature #multimedia #backToStory {
	bottom:14px;
	font-size:0.8em;
	left:20px;
	position:absolute;
	text-transform:uppercase;
}

#feature #multimedia #embed {
	display:none;
	float:left;
}

#feature #multimedia #embed * {
	max-width:473px;
	max-height:419px;
	overflow:hidden;
}

#feature #multimedia .description {
	height:404px;
	overflow:hidden;
	position:absolute;
	right:10px;
	top:40px;
	width:231px;
}

a.btn_mm {
	bottom:-1px;
	cursor:pointer;
	height:49px;
	left:-493px;  /* if the left position is changed, homepage.js must be updated or the animation will break */
	overflow:hidden;
	position:absolute;
	text-indent:-9999px;
	width:61px;
}

a.btn_mm:hover, a.btn_mm:focus {outline:none !important}
a.btn_mm.video {background:url(http://www.cmu.edu/homeimages/btn-mm-homepage.png) no-repeat scroll 0 -51px transparent}
a.btn_mm.video:hover, a.btn_mm.video:focus {background-position:0 0}
a.btn_mm.pics {background:url(http://www.cmu.edu/homeimages/btn-mm-homepage.png) no-repeat scroll -63px -51px transparent}
a.btn_mm.pics:hover, a.btn_mm.pics:focus {background-position:-63px 0}
a.btn_mm.audio {background:url(http://www.cmu.edu/homeimages/btn-mm-homepage.png) no-repeat scroll -126px -51px transparent}
a.btn_mm.audio:hover, a.btn_mm.audio:focus {background-position:-126px 0}

#homepageContent {
	margin-left:243px;
	overflow:visible;
	position:relative;
	width:748px;
}

#homepageContent div {
	display:block;
	float:left;
	margin:0 14px 35px 0;
	position:relative;
	vertical-align:top;
	width:240px;
}

#homepageContent div.last {
	margin-right:0;
}

#homepageContent h2 {
	background-color:#ac9d74;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:3px 0 2px 3px;
}

#homepageContent h3 {color:#900}

#homepageContent img {
	height:126px;
	width:240px;
}

#homepageContent a {
	color: #d17702;
	text-decoration: underline;
	font-weight: normal;
}

#homepageContent a:hover, .content a:visited {
	color: #936241;
	text-decoration: underline;
	font-weight: normal;
}

#homepageContent a.btn_mm {
	height:31px;
	left:2px;
	overflow:hidden;
	position:absolute;
	text-indent:-9999px;
	top:113px;
	width:39px;
}

#homepageContent a.btn_mm:hover, a.btn_mm:focus {outline:none !important}
#homepageContent a.btn_mm.video {background:url(http://www.cmu.edu/homeimages/btn-mm-homepage.png) no-repeat scroll 0 -103px transparent}
#homepageContent a.btn_mm.pics {background:url(http://www.cmu.edu/homeimages/btn-mm-homepage.png) no-repeat scroll -63px -103px transparent}
#homepageContent a.btn_mm.audio {background:url(http://www.cmu.edu/homeimages/btn-mm-homepage.png) no-repeat scroll -126px -103px transparent}

#homepageNews {
	background:url(http://www.cmu.edu/homeimages/horizontal_rule.gif) repeat-x scroll 0 0 transparent;
	left:-228px;
	position:absolute;
	top:0;
	width:214px;
}

#homepageNews li {
	line-height:1.25em;
	padding-bottom:8px;
}

#homepageNews li b, #homepageNews li span {
	color:#999;
	font-weight:normal;
}

#homepageNews h2 {
	background:none;
	color:#990000;
	font-size:15px;
	font-weight:normal;
	margin:10px 0 8px;
	padding:0;
}

div#homepagePromo {
	border-top:1px solid #E9E9E9;
	clear:both;
	float:none;
	height:110px;
	margin:0 0 67px;
	overflow:hidden;
	width:748px;
}

#homepagePromo span {
	border-right:1px solid #E9E9E9;
	float:left;
	height:80px;
	margin:30px 14px 0 0;
	overflow:hidden;
	text-align:center;
	width:239px;
}

#homepagePromo span.last {
	border:0 none;
	margin-right:0;
}

#homepagePromo img {
	height:auto;
	width:auto;
}

.greenlighting {
	background-color: #eae5da;
	clear: both;
	font-size: 13px;
	margin: 1em 0;
	padding: 1em;
}

.greenlighting img {
	float: left;
	padding: 0 1em 4px 0;
}


/* Homepage Alerts */

#campusAlert {
	background:url(http://www.cmu.edu/homeimages/icons/alert.png) no-repeat scroll 5px center #d17702;
	color:#fff;
	line-height:1.4;
	margin-left:244px;
	width:748px;
}

#campusAlert.campusAlertOff {
	background-image:url(http://www.cmu.edu/homeimages/icons/safe.png);
	background-color:#ac9d74;
}

#campusAlert .campusAlertHeader {
	font-size:16px;
	font-weight:bold;
	padding:6px 12px 6px 40px;
	width:170px;
}

#campusAlert .campusAlertMessage {padding:6px 12px 6px 0}

#campusAlert a {color:#fff}

#campusAlert .campusAlertOnIcon, #campusAlert .campusAlertMessageSpacer {display:none}




/* defeats the old CSS until all of cmufront can be updated */

body {background:none}

table#table {
	position:absolute;
	top:0;
	left:0;
}

.home_leftnav_bg {background:none}
.home_leftColumn {padding:15px 0 0 15px}
.home_leftColumn, .home_LeftNavRed, .home_LeftNavGray {background-color:transparent}
div.LeftNavRed_Home, div.LeftNavGray_Home {width:auto}
.home_LeftNavGray {padding:10px 0}

#footer, #footer a, footer a:visited, #footer a:hover, footer a:visited:hover {text-transform:none}

#homepageContent div.breaking {
	float: none;
	min-height: 135px;
    width: auto;
}

#homepageContent div.breaking a.photo {
	margin-right: 14px;
	padding-left: 0;
}

#homepageContent div.breaking img {
	height:135px;
	width:145px;
}

#homepageContent div.breaking h2 {
	background: transparent;
	color: #900;
	font-size: 16px;
	font-weight: normal;
	padding: .5em 0;
}

.tintup {height:600px}