@charset "UTF-8";
/*
Carnegie Mellon University CSS Document for Print
cmufront templates (article and homepage only)
August 2010
*/

.home_leftColumn,
.home_LeftNavRed,
.home_LeftNavGray,
#topnav,
#photo-credit,
#article-links,
#footer .links,
.btn_mm,
#feature #multimedia,
.multimedia,
#nav,
#breadcrumbs,
.boxTop,
.boxBottom,
#engage,
#search
{display:none !important}


* {background:none transparent !important}

body {font-size:14px}

table#table {position:relative}

#feature {
	height:auto;
	margin:20px 0 0;
	overflow:visible;
	position:relative;
	width:100%;
}

#feature #article {
	color:#464646;
	height:auto;
	left:0 !important;
	padding:0;
	position:relative;
	width:100%;
}

#feature h1 {color:#464646}

#feature #article img {
	display:block;
	height:auto;
	margin-bottom:15px;
	width:40%;
}

#feature small {color:#990000}

#homepageContent {
	margin:0;
	width:100%;
}

#homepageContent div {
	border:0 none;
	clear:none;
	float:left;
	height:auto;
	margin:0 10px 30px 0;
	position:relative;
	width:210px;
}

#homepageContent h2 {
	color:#990000;
	font-weight:normal;
	padding:0;
}

#homepageContent img {
	border:none;
	height:auto;
	margin:0;
	width:210px;
}

#homepageNews {
	clear:both;
	left:0;
	margin:0;
	padding-top:20px;
	position:relative;
	top:0;
	width:100%;
}

div#homepagePromo {
	display:none;
	width:100%;
}

#homepagePromo span {
	border-right:0 none;
	height:auto;
	margin:30px 17% 0 0;
	overflow:hidden;
	text-align:center;
	width:auto;
}

#footer {
	border-bottom:0 none;
	font-size:1em;
	margin-top:40px;
	padding:0;
	width:auto;
}

#contentWrapper {
	margin:0;
	width:100%;
}

.content2Column {margin:0}

.content {
	margin-right:0;
	padding:0;
}

#navWrapper {
	margin-bottom:20px;
	position:relative;
}