.navbar .nav.sitenav {
	margin: 40px 10px 0 0;
}

.usernav {
	list-style: none;
	font-size: .85em;
	margin-top: 11px;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom:	20px;

	background: #7e1f3f; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #7e1f3f 0%, #a92853 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7e1f3f), color-stop(100%,#a92853)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #7e1f3f 0%,#a92853 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #7e1f3f 0%,#a92853 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #7e1f3f 0%,#a92853 100%); /* IE10+ */
	background: linear-gradient(45deg,  #7e1f3f 0%,#a92853 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e1f3f', endColorstr='#a92853',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color:#F9F9F9;
	background-color: #7e1f3f;
}
.jumbotron img {
	margin-top: 15px;
	margin-bottom: 15px;
}

.paddedrow {
	margin-top: 20px;
}

.jumbotron h1 {
	font-size: 40px;
  font-weight: 200;
  line-height: 1.1;
}

.jumbotron p {
	font-size: 20px;
	font-weight: 200;
	line-height: 1.1;
}
.jumbotron .btn-pink {
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.featurewell {
	text-align: center;
	color: #666;
}
.featureheader {
	color:#333;
	font-size: 20px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.featurebox .btn-pink {
	margin-top: 12px;
	margin-bottom: 12px;
}
.featurebox .actionbutton {
	text-align: center;
}
.featurebox .thumbnail img {
	border-style: solid;
	border-width: thin;
	border-color: #CCCCCC;
}
.customerquote {
	margin-bottom: 18px;
}
.customerquote div
{
	overflow: hidden;
}
.customerquote .customerlead h2
{
	font-size: 30px;
	font-weight: 200;
	line-height: 1.2;
	font-style: italic;
	margin-left: 3px;
}
.customerquote .outter-ring {
	margin-right: 25px;
	float: left;
}
.outter-ring {
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	width: 90px;
	height: 90px;
	border-collapse: #000;
	background: rgb(196, 196, 196);
	margin: 28px auto;
	padding: 5px;
}
.quotesign {
	font-size: 80px;
	line-height: 0.9;
	font-family: Courier;
	color: lightgray;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 3px;
	margin-right: 10px;
}
.caption li {
	list-style: none;
}
.thumbnail {
	line-height: 22px;
	background-color: #F1F1F1;
	text-align: center;
}

.navbar .nav > li > a {
	color: #333333;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #cc3366;
}

.homepagecarousel
{

}

.form-horizontal .help-block.cvchelp {
	margin-top: 3px;
	margin-bottom: 3px;
}

.newroombtn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.table.roomstable th, .table.roomstable td {
	vertical-align: middle;
}

.redtext {
	color: #C03;
}
.mainbody {
	min-height: 450px
}

form .help-block {
	color: #999;
	font-size: 11px;
	line-height: 12px;
	margin-bottom: 14px;
	margin-top: -5px;
}

.togglepass {
	color: #cc3366;
	font-size: 11px;
	cursor: pointer;
}

.footer {
	text-align:center;
	margin-top: 40px;
}

.paymentwell {
	padding: 14px;
	border-color: #AAAAAA;
}
.paymentwell h3, .paymentwell h4 {
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 15px;
}
.paymentwell .btn-large {
	margin-top: 10px;
}
.paymentwell .form-horizontal .control-group {
	margin-bottom: 8px;
}

.paymentwell .lock {
    margin-right: 0;
    margin-top: -13px;
    margin-bottom: 0;
}

.paymentheader h3 {
	margin-top: 20px;
	margin-bottom: 25px;
}

.span1_5 {
  width: 100px;
}



/* plans and pricing */

.pricingwell {
    width: 130px;
    height: auto;
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    padding: 7px;
    text-align: center;
	border: 1px solid rgb(186, 186, 186);
}
.pricingwell.freeplan {
	color: #999;
	border: 1px solid #CCC;
}

.pricingwell h3, .pricingwell h4 {
	line-height: 25px;
	margin: 2px 0px;
	display:inline;
}

.pricingwell h4 {
	margin-top: 3px;
	margin-bottom: 0;
}

.pricingwell ul {
    padding: 0px;
    margin: 0px;
}

.pricingwell li {
    list-style: none outside none;
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(213, 213, 213);
    padding-top: 8px;
    padding-bottom: 8px;
}

.pricingwell a.btn-pink {
	color: #FFFFFF;
}

.btn-pink {
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #cc3366;
    background-image: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .btn-pink.disabled, .btn-pink[disabled] {
	color: #FFFFFF;
	background-color: #B82E5C;
}

.greytext {
	color: #999;
}


a {
	color: #cc3366;
	text-decoration: none;
}
a:hover, a:focus {
	color: #a92853;
}



.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font: bold 12px Sans-Serif;
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #cc3366;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	opacity: 0.7;
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}

#home_splash_img {
	background-image: url(../../images/home_splash.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 285px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-size: xx-large;
	color: #999;
	padding-top: 15px;
}

#home_splash {
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 285px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

#cardError a, paymenterror a {
	text-decoration:underline;	
}

.numberBullet {
	font-size: 34px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	line-height: 40px;
	display: block;
	padding: 10px;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-o-border-radius: 80px;
	border-radius: 80px;
	float: left;
	margin-right: 20px;
}
.pinkBullet {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 35px;
	background-color: #df3c6c;
	background-image: -moz-linear-gradient(top, rgba(237,90,164,1) 0%, rgba(222,62,112,1) 3%, rgba(213,51,93,1) 50%, rgba(204,40,74,1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,90,164,1)), color-stop(3%,rgba(222,62,112,1)), color-stop(50%,rgba(213,51,93,1)), color-stop(100%,rgba(204,40,74,1)));
	background-image: -webkit-linear-gradient(top, rgba(237,90,164,1) 0%,rgba(222,62,112,1) 3%,rgba(213,51,93,1) 50%,rgba(204,40,74,1) 100%);
	background-image: -o-linear-gradient(top, rgba(237,90,164,1) 0%,rgba(222,62,112,1) 3%,rgba(213,51,93,1) 50%,rgba(204,40,74,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(237,90,164,1) 0%,rgba(222,62,112,1) 3%,rgba(213,51,93,1) 50%,rgba(204,40,74,1) 100%);
	background-image: linear-gradient(to bottom, rgba(237,90,164,1) 0%,rgba(222,62,112,1) 3%,rgba(213,51,93,1) 50%,rgba(204,40,74,1) 100%);
	text-shadow: 0 1px #9a2341;
	position: relative;
	z-index: 0;
	border: none;
}


.signupBullets div {
	margin-bottom: 25px;
	margin-left: 25px;
}

.subscription-table td.signup-table-number {
	padding: 10px 5px;
	text-align: center;
	width: 16%;
}

th.signup-table-header {
	padding: 15px 5px;
	text-align: center;
	width: 16%;
	background-color: #B82E5C;
	color:#FFF;	
}
th.signup-table-header.freecell {	
	background-color: #CCC;
	color:#666;	
}

.signup-table-header .price {
	font-size: 30px;	
}

.signup-table-header h3 {
	line-height: 35px;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.signup-table-number h3 {
	margin: 0;	
}

.subscription-table td.subscription-table-col1 {
	border-left: 1px solid #e1e1e1;
	padding-right: 15px;
	text-align: right;
	vertical-align:middle;
	width: 180px;	
}

.topleftrounded {
	border-top-left-radius: 4px;
}

.stripedcol {
	background-color: #F4F4F4;	
}

.subscription-table .subscription-table-col1.topleft {
	border-top-style: none;
	border-left-style: none;
	border-top: 0;	
	text-align:center;
}

span.currency {
	margin-right: 3px;
}

table.subscription-table {
	border-top: 0;	
}

.form-horizontal .fa-question-circle { 
	cursor: pointer; 
}