/* Ticker Styling */
.ticker-wrapper.has-js {float: left; margin: 7px 0 0 !important; padding: 0px 20px; width: 820px; height: 30px; display: block; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background-color: #fff; font-size: 0.75em !important; background: url('/images/news-label.png') no-repeat;}
.ticker {width: 750px; height: 30px; display: block; position: relative; overflow: hidden; margin:-1px 0 0;}
.ticker-title {padding-top: 9px; color: #990000; font-weight: bold; text-transform: uppercase;}
.ticker-content {margin: 0px !important; padding-top: 6px; position: absolute; color: #1F527B !important; font-weight: bold !important; overflow: hidden; white-space: nowrap; line-height: 1.2em !important;}
.ticker-content:focus {none;}
.ticker-content a {text-decoration: none; color: #1F527B; font-weight:400; font-size: 12px; font-family: 'DroidSansRegular', "Droid Sans", Arial;}
.ticker-content a:hover {text-decoration: underline; color: #0D3059;}
.ticker-swipe {background-color:#fff; padding-top: 9px; position: absolute; top: 0px; display: block; width: 800px; height: 23px;}
.ticker-swipe span {margin-left: 1px; border-bottom: 1px solid #1F527B; height: 12px; width: 7px; display: block;}
.ticker-controls {padding: 8px 0px 0px 0px; list-style-type: none; float: left;}
.ticker-controls li {padding: 0px; margin-left: 5px; float: left; cursor: pointer; height: 16px; width: 16px; display: block;}
.ticker-controls li.jnt-play-pause {background-image: url('/images/controls.png'); background-position: 32px 16px;}
.ticker-controls li.jnt-play-pause.over {background-position: 32px 32px;}
.ticker-controls li.jnt-play-pause.down {background-position: 32px 0px;}
.ticker-controls li.jnt-play-pause.paused {background-image: url('/images/controls.png'); background-position: 48px 16px;}
.ticker-controls li.jnt-play-pause.paused.over {background-position: 48px 32px;}
.ticker-controls li.jnt-play-pause.paused.down {background-position: 48px 0px;}
.ticker-controls li.jnt-prev {background-image: url('/images/controls.png'); background-position: 0px 16px;}
.ticker-controls li.jnt-prev.over {background-position: 0px 32px;}
.ticker-controls li.jnt-prev.down {background-position: 0px 0px;}
.ticker-controls li.jnt-next {background-image: url('/images/controls.png'); background-position: 16px 16px;}
.ticker-controls li.jnt-next.over {background-position: 16px 32px;}
.ticker-controls li.jnt-next.down {background-position: 16px 0px;}
.js-hidden {display: none;}
.no-js-news {padding: 10px 0px 0px 45px; color: #F8F0DB;}
.left .ticker-swipe {/*left: 80px;*/}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {float: left;}
.left .ticker-controls {padding-left: 6px;}
.right .ticker-swipe {/*right: 80px;*/}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {float: right;}
.right .ticker-controls {padding-right: 6px;}
.container#newsfeed .ticker-wrapper .ticker p.ticker-content span {font: 14px/20px 'DroidSansBold', "Droid Sans Bold"; font-weight:400; color:#ffffff; Arial; background: url('/images/label-sliver.png') repeat-x; float:left; margin:-5px 10px 0 0; height:30px; line-height:30px; padding:0 10px 0 0; text-shadow: -1px -1px 0px #b88e2d; filter: dropshadow(color=#b88e2d, offx=-1, offy=-1);}