@import url("../CherryFramework/style.css");
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@media (max-width: 767px) {
	body {
		padding-left:0;
		padding-right:0;
	}
}
@media (max-width: 767px) {
	.slider { display:none; }
}
@media (max-width: 767px) {
	.container { padding:0 15px; }
}
@media (max-width: 767px) {
	.container .container { padding:0; }
}
.sf-sub-indicator {
	background-image:url(images/arrows.png);
	top:1px;
	right:-12px;
}
.error404-holder_num {
	font-family:Ubuntu;
	color:#e98524;
}
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder_num { font-size:230px; }
}
.search-form_it {
	box-shadow:none !important;
	border-color:#ccc !important;
	height:28px !important;
	border-radius:0 !important;
	line-height:28px !important;
}
.search-form_is { margin-top:10px; }
.btn, .btn:active, .btn:focus, .pagination li a, .comment-reply-link, .pager li a, body .pagination ul li a {
	box-shadow:none;
	padding:0 14px 0 0;
	text-shadow:none;
	text-decoration:none;
	border-radius:3px;
	border:none;
	font:500 14px/1.2em Roboto;
	background:url(images/btn.png) right 6px no-repeat;
	color:#3d3d3d;
	letter-spacing:0;
	text-decoration:none !important;
	text-transform:capitalize;
	transition:all 0.3s;
}
.btn:active, .pagination li a:focus, .comment-reply-link:focus, .pager li a:focus, body .pagination ul li a:focus {
	font:500 14px/1.2em Roboto;
	background:url(images/btn.png) right 5px no-repeat;
	color:#3d3d3d;
}
.btn:hover, .pagination li a:hover, .pagination li.active a, .comment-reply-link:hover, .pager li a:hover, body .pagination ul li a:hover {
	text-decoration:none;
	font:500 14px/1.2em Roboto;
	background:url(images/btn.png) right 6px no-repeat;
	color:#c5c5c5;
	padding:0 14px 0 0;
	transition:all 0.3s;
}
.pagination ul { box-shadow:none; }
.pagination li a, .pager li a {
	border-radius:0 !important;
	margin:0px 5px !important;
	padding:0 !important;
	background:none !important;
}
#back-top-wrapper #back-top {
	height:60px;
	width:60px;
}
#back-top-wrapper #back-top span {
	background:url(images/top.png) 50% #272727 no-repeat;
	height:60px;
	width:60px;
}
#back-top-wrapper #back-top span:hover { background:url(images/top.png) 50% #c5c5c5 no-repeat; }
.header {
	border:none;
	padding:14px 0 21px;
}
.select-menu {
	background:#6c6c6c;
	color:#fff;
	border-radius:0;
}
.nav.nav__primary {
	padding-top:15px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.nav.nav__primary ul.sf-menu { margin-right:0px; }
@media (min-width: 768px) and (max-width: 979px) {
	.nav.nav__primary ul.sf-menu { margin-left:-90px; }
}
.nav.nav__primary ul.sf-menu li:first-child a { margin-left:0; }
.nav.nav__primary ul.sf-menu li {
	background:none;
	margin:0px;
}
.nav.nav__primary ul.sf-menu li a {
	border:none;
	letter-spacing:0px;
	padding:0;
	margin:0 0px 0 18px;
	border-radius:5px;
	background:none;
	position:relative;
	transition:all 0.4s;
	font-weight:500 !important;
}
.nav.nav__primary ul.sf-menu li a:hover:before {
	display:block;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:11px;
	background:url(images/nav.png) left 7px no-repeat;
	border-bottom:1px solid #000;
	bottom:-31px;
	left:0%;
	margin-left:0;
}
@media (max-width: 979px) {
	.nav.nav__primary ul.sf-menu li a:hover:before {
		background:none;
		border:none;
	}
}
.nav.nav__primary ul.sf-menu li a:hover { color:#3d3d3d; }
.nav.nav__primary ul.sf-menu li.current_page_item a, .nav.nav__primary ul.sf-menu .sfHover a { color:#3d3d3d; }
.nav.nav__primary ul.sf-menu li.current_page_item a:before, .nav.nav__primary ul.sf-menu .sfHover a:before {
	display:block;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:11px;
	background:url(images/nav.png) left 7px no-repeat;
	border-bottom:1px solid #000;
	bottom:-31px;
	left:0%;
	margin-left:0;
}
@media (max-width: 979px) {
	.nav.nav__primary ul.sf-menu li.current_page_item a:before, .nav.nav__primary ul.sf-menu .sfHover a:before {
		background:none;
		border:none;
	}
}
.nav.nav__primary ul.sf-menu .sub-menu {
	padding:25px 15px;
	background:#0f0f0f;
	width:100%;
	text-align:left;
	min-width:100px;
	margin-top:30px;
	margin-left:0px;
}
.nav.nav__primary ul.sf-menu .sub-menu li:first-child { border:none; }
.nav.nav__primary ul.sf-menu .sub-menu li {
	padding:0;
	display:inline-block;
	margin:0 auto;
	border-left:none;
	border:none;
	background:none;
}
.nav.nav__primary ul.sf-menu .sub-menu li a {
	font:400 14px/35px Roboto;
	color:#555555;
	margin:0;
	display:inline;
	padding:0;
	background:none;
}
.nav.nav__primary ul.sf-menu .sub-menu li a:before { display:none; }
.nav.nav__primary ul.sf-menu .sub-menu li a:hover { color:#ffffff; }
.nav.nav__primary ul.sf-menu .sub-menu li.current_page_item > a, .nav.nav__primary ul.sf-menu .sub-menu a:hover { color:#ffffff; }
.nav.nav__primary ul.sf-menu .sub-menu .sf-sub-indicator {
	top:4px !important;
	right:-12px !important;
}
.nav.nav__primary ul.sf-menu .sub-menu .sub-menu {
	margin-top:-4px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:15px;
}
.logo_tagline {
	background:url(images/logo-nav.png) left 1px no-repeat;
	display:inline-block;
	font:400 27px/1.2em PT Sans;
	color:#c5c5c5;
	position:relative;
	top:4px;
	margin-left:9px;
	padding-left:24px;
}
@media (max-width: 979px) {
	.logo_tagline {
		padding-left:0;
		margin-left:0;
		font:400 20px/1.2em PT Sans;
		background:none;
		display:block;
	}
}
@media (max-width: 767px) {
	.logo_tagline { text-align:center; }
}
.logo.pull-left { float:none; }
@media (max-width: 767px) {
	.logo.pull-left {
		float:none;
		text-align:center;
	}
}
.logo_h__txt {
	display:inline-block;
	text-transform:uppercase;
}
.logo_h__txt a {
	position:relative;
	top:10px;
}
.logo_h__txt a:hover { color:inherit; }
.content-holder { background:#f8f8f8; }
.title-section .title-header {
	font-size:45px;
	line-height:1.2em;
	margin-top:26px;
	margin-bottom:13px;
}
.breadcrumb {
	background:#ffffff;
	border-radius:0;
	border:none;
	padding:6px;
	padding-left:10px;
	margin-bottom:6px;
}
.breadcrumb li {
	color:#c5c5c5;
	font:400 14px/22px Arial;
}
.breadcrumb a {
	color:#c5c5c5;
	font:400 14px/22px Arial;
}
.breadcrumb li.active { color:#3d3d3d; }
.breadcrumb .divider { padding:0 1px; }
.featured-thumbnail, .thumbnail {
	padding:0;
	box-shadow:none;
	border:none;
	border-radius:0;
}
.slider { background:#272727; }
.slider .container { width:100%; }
.slider .camera_thumbs_cont { background:none; }
.slider .camera_target_content .camera_link { height:72%; }
.slider .camera_caption > div {
	background:#272727;
	text-align:center;
	padding:0;
	padding-top:40px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider .camera_caption > div { padding-top:0px; }
}
.slider .camera_caption > div .row {
	display:inline-block;
	text-align:left;
	position:relative;
	top:15px;
}
.slider .camera_caption > div h1 {
	font:400 80px/38px Playfair Display;
	color:#fff;
	background:url(images/slider.png) 98% 0 no-repeat;
	padding-bottom:120px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider .camera_caption > div h1 { font:400 40px/38px Playfair Display; }
}
.slider .camera_caption > div h2 {
	font:400 27px/38px Playfair Display;
	color:#686868;
	margin-top:3px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider .camera_caption > div h2 { font:400 22px/28px Playfair Display; }
}
.slider .camera_caption > div .slide-btn {
	top:10px;
	position:relative;
}
.slider .camera_pag {
	margin-top:-48px;
	margin-left:-58%;
}
.slider .camera_pag .camera_pag_ul li {
	background:#3d3d3d;
	height:12px;
	width:12px;
	margin:20px 3px;
}
.slider .camera_pag .camera_pag_ul li span { display:none; }
.slider .camera_pag .camera_pag_ul li:hover, .slider .camera_pag .camera_pag_ul li.cameracurrent { background:#fff; }
.post-header h2 {
	font-size:45px;
	line-height:1.2em;
	margin-top:0;
	margin-bottom:33px;
}
.post-header h2 a { color:#3d3d3d; }
.post_meta, .post_meta_unite {
	border-color:#dbdbdb !important;
	color:#c5c5c5;
}
.post_meta i, .post_meta_unite i { color:#3d3d3d; }
.post-author {
	border-radius:0;
	border:none;
	background:#ffffff;
}
.post-author .post-author_h {
	font:400 27px/30px Playfair Display;
	color:#272727;
}
.post-author .post-author_h a { color:#272727; }
.post-author .post-author_link {
	font:400 14px/1.2em Arial;
	color:#c5c5c5;
}
.post-author .post-author_link a {
	color:#3d3d3d;
	text-transform:capitalize;
}
.post-author .post-author_gravatar img {
	padding:0px;
	border:none;
}
.related-posts_h, .comments-h, #respond h3 {
	font-size:45px;
	line-height:1.2em;
	padding-bottom:20px;
}
.related-posts figure {
	padding:0px;
	border-radius:0;
	border:none;
	box-shadow:none;
	background:#fff;
}
.related-posts a {
	font:400 16px/20px Playfair Display;
	color:#272727;
}
@media (min-width: 1200px) {
	.related-posts a { font:400 20px/24px Playfair Display; }
}
.comment-holder .comment-list .comment-body {
	background:#ffffff;
	border:none;
	border-radius:0;
}
.comment-holder .comment-list .comment-body .comment-author img {
	padding:0px;
	border:none;
}
.comment-holder .comment-list .comment-body .author {
	font:400 14px/22px Arial;
	color:#3d3d3d;
	text-transform:capitalize;
	text-align:left;
}
.comment-holder .comment-list .comment-body .comment-meta {
	color:#c5c5c5;
	font:400 14px/20px Arial;
}
.comment-holder .comment-list .comment-body .wrapper { overflow:visible; }
#respond .field input {
	border-radius:0;
	font:400 14px/22px Arial;
	color:#c5c5c5;
	background:#ffffff;
	border:1px solid #dbdbdb;
	box-shadow:none;
}
#respond textarea {
	border-radius:0;
	font:400 14px/22px Arial;
	color:#c5c5c5;
	background:#ffffff;
	border:1px solid #dbdbdb;
	box-shadow:none;
}
input[type="submit"].btn, input[type="reset"].btn { height:auto; }
.sidebar h3 {
	font-size:45px;
	line-height:1.2em;
	margin-top:0;
	margin-bottom:33px;
}
.sidebar .widget[id^="categories"] ul { margin-left:0; }
.sidebar .widget[id^="categories"] ul li {
	list-style:none;
	padding-left:15px;
	padding-bottom:8px;
	background:url(images/list.png) left 8px no-repeat;
}
.sidebar .widget[id^="categories"] ul li a {
	font:400 14px/1.2em Arial;
	color:#c5c5c5;
}
.sidebar .widget { margin-bottom:73px; }
.sidebar .post-list h4 { margin-top:0; }
.sidebar .post-list h4 a {
	font-size:27px;
	line-height:30px;
	color:#272727;
}
.sidebar .post-list time {
	font:400 14px/22px Arial;
	color:#c5c5c5;
}
.sidebar .post-list .excerpt {
	color:#c5c5c5;
	font:400 14px/22px Arial;
}
.sidebar .post-list li { padding-bottom:0; }
.sidebar .comments-custom figure {
	padding:20px;
	background:#fff;
}
.sidebar .comments-custom h4 {
	color:#3d3d3d;
	font:400 14px/22px Arial;
	margin-bottom:0px;
}
.sidebar .comments-custom time {
	color:#c5c5c5;
	font:400 14px/22px Arial;
}
.sidebar .comments-custom .comments-custom_txt { border:none; }
.sidebar .comments-custom .comments-custom_txt a { color:#c5c5c5; }
.sidebar .comments-custom li { padding-bottom:0; }
.home-title {
	background:url(images/title.png) left -3px no-repeat;
	margin-top:75px;
	padding-left:17px;
	margin-bottom:31px;
}
.home-title h2 {
	color:#c1c1c1;
	font:400 14px/1.2em Arial;
	margin-bottom:8px;
}
.home-title h3 {
	color:#272727;
	font:400 27px/30px Playfair Display;
}
@media (min-width: 768px) and (max-width: 979px) {
	.home-title h3 { font:400 24px/30px Playfair Display; }
}
@media (max-width: 767px) {
	.banner-wrap { text-align:center; }
}
@media (max-width: 767px) {
	.banner-wrap figure.featured-thumbnail {
		float:none;
		text-align:center;
	}
}
.banner-wrap figure.featured-thumbnail a { border:none; }
@media (max-width: 767px) {
	.banner-wrap figure.featured-thumbnail a {
		float:none;
		display:inline-block;
	}
}
.banner-wrap .btn.btn-link { padding-right:14px; }
.banner-wrap h5 {
	font:400 45px/45px Playfair Display;
	color:#c5c5c5;
	text-transform:none;
	margin-bottom:37px;
}
.banner-wrap h5 span { color:#3d3d3d; }
.banner-wrap p { margin-bottom:23px; }
.home2-title { margin-bottom:66px; }
.home2-title h2 {
	color:#3d3d3d;
	font-size:80px;
	line-height:1.2em;
}
@media (max-width: 767px) {
	.home2-title h2 {
		font-size:42px;
		text-align:center;
	}
}
.wrap {
	position:relative;
	padding-top:51px;
	padding-bottom:49px;
}
.wrap:before {
	position:absolute;
	content:"";
	display:block;
	width:800%;
	left:-400%;
	height:100%;
	z-index:-1;
	background:#fff;
	top:0;
}
.home1 { margin-bottom:69px; }
.title-box_primary {
	font-size:45px;
	line-height:1.2em;
}
@media (max-width: 979px) {
	.title-box_primary {
		font-size:33px;
		line-height:35px;
	}
}
@media (max-width: 767px) {
	.posts-grid { text-align:center; }
}
@media (max-width: 767px) {
	.posts-grid figure {
		float:none;
		display:inline-block;
	}
}
@media (max-width: 767px) {
	.posts-grid figure a {
		float:none;
		display:inline-block;
	}
}
.posts-grid h5 {
	font:400 27px/30px Playfair Display;
	color:#272727;
}
.posts-grid h5 a { color:#272727; }
.posts-grid li {
	padding-bottom:25px;
	margin-bottom:30px;
}
.services-grid li { background:#fff; }
@media (max-width: 767px) {
	.services-grid li { background:none; }
}
.services-grid h5, .services-grid p, .services-grid .btn { margin:0 20px; }
.services-grid h5 {
	margin-top:13px;
	margin-bottom:10px;
}
.services-grid p { margin-bottom:23px; }
.service-title { margin-bottom:39px; }
.text-highlight {
	padding:0;
	background:none;
	font:400 27px/30px Playfair Display;
	color:#272727;
	display:block;
	padding-bottom:10px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.text-highlight { font:400 25px/28px Playfair Display; }
}
.list.styled.custom-list ul li:before { display:none; }
.list.styled.custom-list ul li {
	background:url(images/custom-list.png) left 8px no-repeat;
	padding-left:15px;
}
.align { margin-left:70px; }
.dropcap {
	background:#dbdbdb;
	border-radius:50%;
	color:#272727;
	height:50px;
	width:50px;
	text-align:center;
	font:400 27px/50px PT Sans;
	margin-top:7px;
}
.about1 {
	margin-top:6px;
	margin-bottom:35px;
}
.about1 h2 { line-height:45px; }
@media (max-width: 979px) {
	.about1 h2 {
		font-size:33px;
		line-height:1.2em;
	}
}
@media (min-width: 1200px) {
	.about1 span { display:block; }
}
.spacer { height:21px; }
.alignnone { margin:7px 0 13px 0; }
.about-title {
	margin-top:69px;
	margin-bottom:32px;
}
.filter-wrapper .pull-right {
	padding-bottom:53px;
	padding-top:0px;
}
@media (max-width: 767px) {
	.filter-wrapper .pull-right { width:100%; }
}
.filter-wrapper .pull-right strong {
	font:400 27px/1.3em Playfair Display;
	color:#c5c5c5;
	text-transform:capitalize;
	padding:0px;
}
.filter-wrapper .pull-right #filters, .filter-wrapper .pull-right #tags { margin:0; }
@media (max-width: 767px) {
	.filter-wrapper .pull-right #filters, .filter-wrapper .pull-right #tags { width:100%; }
}
.filter-wrapper .pull-right #filters li, .filter-wrapper .pull-right #tags li { padding-left:5px; }
@media (max-width: 767px) {
	.filter-wrapper .pull-right #filters li, .filter-wrapper .pull-right #tags li { margin:15px 0; }
}
.filter-wrapper .pull-right #filters a, .filter-wrapper .pull-right #tags a {
	font:400 27px/1.3em Playfair Display;
	color:#c5c5c5;
	border-radius:0px;
	margin:0;
	margin-left:10px;
	text-transform:capitalize;
	padding:0;
}
@media (max-width: 767px) {
	.filter-wrapper .pull-right #filters a, .filter-wrapper .pull-right #tags a { display:inline; }
}
.filter-wrapper .pull-right #filters .active a, .filter-wrapper .pull-right #tags .active a {
	color:#3d3d3d;
	background:none;
}
.filter-wrapper .pull-right #filters a:hover, .filter-wrapper .pull-right #tags a:hover {
	color:#3d3d3d;
	background:none;
}
.caption__portfolio h3 {
	margin:0;
	padding-top:15px;
	padding-bottom:15px;
}
.caption__portfolio h3 a {
	font:400 27px/1.2em Playfair Display;
	color:#272727;
}
.main-holder { overflow:hidden; }
.testimonials .testi-item .testi-meta {
	float:left;
	color:#3d3d3d;
	font:500 14px/20px Roboto;
	background:url(images/quote.png) 0 10px no-repeat;
	padding-top:79px;
	padding-left:0;
}
.testimonials .testi-item .testi-meta .info { display:block; }
.testimonials .testi-item {
	margin-bottom:0;
	padding-bottom:0;
}
.testimonials .testi-item blockquote {
	background:none;
	margin-left:152px;
	padding-left:49px;
	background:url(images/blockquote.png) left 10px no-repeat;
	padding-top:0;
	padding-bottom:0;
}
@media (max-width: 767px) {
	.testimonials .testi-item blockquote {
		margin-left:100px;
		padding-left:30px;
	}
}
.testimonials .testi-item blockquote a {
	color:#c5c5c5;
	font:400 27px/38px Playfair Display;
}
@media (max-width: 767px) {
	.testimonials .testi-item blockquote a { font:400 14px/20px Playfair Display; }
}
.testimonials .testi-item blockquote a:hover {
	color:inherit;
	text-decoration:underline;
}
.testimonials .testi-item blockquote:before, .testimonials .testi-item blockquote:after { display:none; }
.home-testi { margin-top:64px; }
div.ajax-loader { margin-top:0; }
#wp-calendar caption, #wp-calendar thead th { color:#272727; }
.footer {
	background:none;
	border:none;
	padding-top:78px;
	padding-bottom:0;
}
.footer .footer-widgets .menu {
	margin:0;
	margin-top:7px;
}
.footer .footer-widgets .menu li { list-style:none; }
.footer .footer-widgets .menu li a {
	font:400 14px/22px Arial;
	color:#c5c5c5;
}
.footer .footer-widgets h2 {
	font:400 27px/30px Playfair Display;
	margin-top:0;
}
.footer .footer-widgets .mobile-widget {
	padding-left:100px;
	background:url(images/mobile.png) left 6px no-repeat;
}
@media (max-width: 767px) {
	.footer .footer-widgets .mobile-widget {
		padding-left:0;
		background:none;
		margin-top:25px;
	}
}
.footer .footer-widgets .mobile-widget h2 { margin-bottom:22px; }
.footer .footer-widgets .mobile-widget ul {
	margin-top:15px;
	margin-left:0;
}
.footer .footer-widgets .mobile-widget ul li {
	list-style:none;
	background:url(images/footer-list.png) left 7px no-repeat;
	padding-left:15px;
}
.footer .footer-widgets .mobile-widget ul li a {
	color:#c5c5c5;
	font:400 14px/22px Arial;
	text-decoration:underline;
}
.footer .footer-widgets .mobile-widget ul li a:hover { text-decoration:none; }
.footer .footer-widgets .tell-widget {
	color:#c5c5c5;
	font:400 14px/22px Arial;
	background:url(images/footer-tell.png) left 6px no-repeat;
	padding-left:15px;
}
@media (max-width: 767px) {
	.footer .footer-widgets .tell-widget {
		padding-left:0;
		background:none;
		margin-top:25px;
	}
}
.footer .footer-widgets .tell-widget h2 { margin-bottom:22px; }
.footer .footer-widgets .tell-widget p {
	margin-bottom:6px;
	padding-left:6px;
}
.footer .footer-widgets .tell-widget textarea {
	background:#f8f8f8;
	border-radius:0;
	border:none;
	box-shadow:none;
	height:72px;
}
@media (min-width: 1200px) {
	.footer .footer-widgets .tell-widget textarea { width:350px; }
}
.footer .footer-widgets .tell-widget span { display:inline-block; }
.footer .footer-widgets .tell-widget span input {
	background:#f8f8f8;
	border-radius:0;
	border:none;
	box-shadow:none;
	margin-left:4px;
	margin-top:4px;
	height:16px;
}
@media (min-width: 1200px) {
	.footer .footer-widgets .tell-widget span input { width:198px; }
}
.footer .footer-widgets .tell-widget input.wpcf7-submit {
	background:url(images/btn.png) right 8px no-repeat;
	box-shadow:none;
	border:none;
	padding:0;
	padding-right:10px;
	font:500 14px/20px Roboto;
	color:#3d3d3d;
	height:auto;
	margin-top:27px;
}
.footer .footer-widgets .tell-widget input.wpcf7-submit:hover { text-decoration:underline; }
.footer .social { margin-top:0px; }
@media (max-width: 767px) {
	.footer .social {
		margin-top:0;
		text-align:center;
	}
}
.footer .social li {
	display:inline-block;
	line-height:15px;
	margin-right:9px;
}
.footer .social li a {
	color:#3d3d3d;
	font:500 14px/15px Roboto;
}
.footer .social li+li {
	border-left:1px solid #e1e1e1;
	padding-left:11px;
}
.footer .footer-text {
	color:#c5c5c5;
	font:400 14px/22px Arial;
	margin-top:6px;
}
.footer .footer-text a { color:#c5c5c5; }
.footer .footer-nav a:hover {
	color:inherit;
	text-decoration:underline;
}
.footer .copyright {
	display:inline-block;
	margin-top:-54px;
	padding-bottom:25px;
}
.footer div.ajax-loader {
	margin-left:2px;
	margin-top:27px;
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:32px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
