ul.ssb_list_wrapper{list-style: none !important;width:100%;display: inline-block;padding: 0px;margin: 5px 0 !important;}
ul.ssb_list_wrapper li{float: left;list-style: none !important;display: inline-block;padding-left:10px; background: none !important;} 
/*ul.ssb_list_wrapper li.fb1{min-width:90px;}
ul.ssb_list_wrapper li.fb2{min-width:132px;}
ul.ssb_list_wrapper li.twtr{min-width:100px;}
ul.ssb_list_wrapper li.gplus{min-width:72px;}
ul.ssb_list_wrapper.ssb_widget li{display: block;min-width: 100%;width: 100%;}
ul.ssb_list_wrapper li.ssb_tublr{min-width:72px;}
ul.ssb_list_wrapper li.ssb_linkedin{min-width:72px;}

ul.ssb_list_wrapper li.ssb_stum{min-width:72px;}
ul.ssb_list_wrapper li.ssb_pin{min-width:47px;}
ul.ssb_list_wrapper li.ssb_scoopit{min-width:72px;}*/
ul.ssb_list_wrapper iframe{margin:0px;width:100% !Important;}

.social_icons_wrap_ssb{list-style: none !important;}
.social_icons_wrap_ssb li{margin-right: 5px !important;}
.social_icons_wrap_ssb li, .social_icons_wrap_ssb li a{display:inline-block !important;width: auto !Important;}
.social_icons_wrap_ssb img{ width:25px !important;height:25px !important;}
