/*## Sizes - Floating ##*/
/*## Sizes - Static ##*/
/* Copy launcher's base CSS */
/*## Sizes - Floating ##*/
/*## Sizes - Static ##*/
/* line 3, ../../../projects.embed.common/launcher/initiator.scss */
#spot-im-root {
  overflow: hidden;
  background: none;
}
/* line 6, ../../../projects.embed.common/launcher/initiator.scss */
#spot-im-root.spot-im-hide {
  display: none;
}
/* line 9, ../../../projects.embed.common/launcher/initiator.scss */
#spot-im-root iframe {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
/* line 17, ../../../projects.embed.common/launcher/initiator.scss */
#spot-im-root.spot-im-floating {
  position: fixed;
  z-index: 99999999996;
}

/* Desktop launcher styles */
/* line 14, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-static {
  position: static;
  width: 342px;
  height: 568px;
}
/* line 18, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-static.spot-im-modal-state {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 26, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-static + #spot-im-root-placeholder {
  width: 342px;
  height: 568px;
  display: none;
}
/* line 31, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-static.spot-im-modal-state + #spot-im-root-placeholder {
  display: block;
}
/* line 36, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating {
  bottom: 15px;
}
/* line 38, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-spot-state {
  height: 80%;
  width: 38%;
  min-width: 380px;
  min-height: 560px;
  max-width: 440px;
}
/* line 46, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-left {
  border-radius: 0 3px 3px 0;
  left: 5px;
}
/* line 50, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-right {
  border-radius: 3px 0 0 3px;
  left: auto;
  right: 5px;
}
/* line 55, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-notices-opened-state {
  height: 115px;
  width: 260px;
  min-height: auto;
  min-width: auto;
  min-height: initial;
  min-width: initial;
}
/* line 63, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-notices-closed-state {
  height: 70px;
  width: 70px;
  min-height: auto;
  min-width: auto;
  min-height: initial;
  min-width: initial;
}
/* line 71, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating:before {
  content: '';
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a2a2a3;
  opacity: 0;
  -webkit-transition: opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 84, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-modal-state {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: auto;
  max-width: initial;
}
/* line 94, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-modal-state:before {
  opacity: 0.6;
}
/* line 98, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-modal-state iframe {
  position: absolute;
  bottom: 15px;
}
/* line 104, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-modal-state.spot-im-left iframe {
  left: 5px;
}
/* line 110, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating.spot-im-modal-state.spot-im-right iframe {
  right: 5px;
}
/* line 116, ../../app/styles/initiator.scss */
#spot-im-root.spot-im-floating iframe {
  position: relative;
  z-index: 500;
}
