.lead_forms_widget {
    background: #e2e2e2;
    position: relative;
    padding: 0.5em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.lead_forms_widget.lead_forms_widget_modal {
    position: static;
    padding: 0;
}

.lead_forms_widget .widget-title {
    font-size: 12px;
    color: #000;
}

.lead_forms_widget p.progress-markers {
    margin: .5em 0;
    font-size: 1.2em;
}

.lead_forms_widget .step-markers {
    margin-bottom: 3em;
}

.lead_forms_widget label {
    margin: .5em 0;
    line-height: 1.25em;
    display: block;
}

.lead_forms_widget select {
    width: 100%;
    height: 24px;
    margin: 0 0 1.6em;
}

.lead_forms_widget input {
    margin: 0 0 1em;
    background: #fff;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #888888;
    padding: 3px;
}

.lead_forms_widget input[type="text"],
.lead_forms_widget input[type="number"],
.lead_forms_widget input[type="email"],
.lead_forms_widget input[type="tel"] {
    width: 95%;
}

.lead_forms_widget input[type="radio"],
.lead_forms_widget input[type="checkbox"] {
    margin: 0 0.5em 0 0;
}

.lead_forms_widget select.error, 
.lead_forms_widget input.error  {
    margin-bottom:0;
}

.lead_forms_widget label.error {
    color: #ff0000;
    margin-bottom:1.25em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-select-wrapper .custom-select {
    display: none;
}

/** Bootstrap Progress bar and overrides **/

.progress {
  height: 2em;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  color: #000;
  
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
    width: 0;
    height: 200%;
    margin-top: -5em;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #1982D1;
  
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
      -ms-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.modal .progress .bar {
    margin-top: -3em;
}

.progress p.progress-percentage {
    text-align: right;
    position:relative;
    z-index:1000;
    font-size: 1em;
    font-style: italic;
    margin-right: 15px;
    line-height: 2em;
}

.progress-markers .s0,
.progress-markers .s1,
.progress-markers .s2 {
    display: block;
    position:absolute;
    background-color: #D7D7D7;
    background-image: none;
    border-radius: 0.75em;
    color: #FFFFFF;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    margin: 1px;
    text-align: center;
    text-indent: 0;
    width: 1.5em;
}

.progress-markers .active-step {
    background-color: #1982D1;
}

.progress-markers .s0 {
    left:10%;
}

.progress-markers .s1 {
    left:30%;
}

.progress-markers .s2 {
    right:10%;
}

.llm .progress-markers .s2 {
    display: none;
}

.llm .progress-markers .s1 {
    right:10%;
}


/** Bootstrap button styles and overrides **/

.lead_forms_widget .btn {
  margin: 1em 0;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.lead_forms_widget .btn:hover,
.lead_forms_widget .btn:active,
.lead_forms_widget .btn.active,
.lead_forms_widget .btn.disabled,
.lead_forms_widget .btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.lead_forms_widget .btn:active,
.lead_forms_widget .btn.active {
  background-color: #cccccc \9;
}

.lead_forms_widget .btn:first-child {
  *margin-left: 0;
}

.lead_forms_widget .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.lead_forms_widget .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-decoration: none;
}

.lead_forms_widget .btn.active,
.lead_forms_widget .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.lead_forms_widget .btn.disabled,
.lead_forms_widget .btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.lead_forms_widget .btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.lead_forms_widget .btn-large [class^="icon-"] {
  margin-top: 1px;
}

.lead_forms_widget .btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.lead_forms_widget .btn-small [class^="icon-"] {
  margin-top: -1px;
}

.lead_forms_widget .btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.lead_forms_widget .btn-primary,
.lead_forms_widget .btn-primary:hover,
.lead_forms_widget .btn-warning,
.lead_forms_widget .btn-warning:hover,
.lead_forms_widget .btn-danger,
.lead_forms_widget .btn-danger:hover,
.lead_forms_widget .btn-success,
.lead_forms_widget .btn-success:hover,
.lead_forms_widget .btn-info,
.lead_forms_widget .btn-info:hover,
.lead_forms_widget .btn-inverse,
.lead_forms_widget .btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.lead_forms_widget .btn-primary.active,
.lead_forms_widget .btn-warning.active,
.lead_forms_widget .btn-danger.active,
.lead_forms_widget .btn-success.active,
.lead_forms_widget .btn-info.active,
.lead_forms_widget .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.lead_forms_widget .btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.lead_forms_widget .btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.lead_forms_widget .btn-primary:hover,
.lead_forms_widget .btn-primary:active,
.lead_forms_widget .btn-primary.active,
.lead_forms_widget .btn-primary.disabled,
.lead_forms_widget .btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

.lead_forms_widget .btn-primary:active,
.lead_forms_widget .btn-primary.active {
  background-color: #004099 \9;
}

.lead_forms_widget .btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.lead_forms_widget .btn-inverse:hover,
.lead_forms_widget .btn-inverse:active,
.lead_forms_widget .btn-inverse.active,
.lead_forms_widget .btn-inverse.disabled,
.lead_forms_widget .btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.lead_forms_widget .btn-inverse:active,
.lead_forms_widget .btn-inverse.active {
  background-color: #080808 \9;
}

.lead_forms_widget button.btn,
.lead_forms_widget input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}

.lead_forms_widget button.btn::-moz-focus-inner,
.lead_forms_widget input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.lead_forms_widget button.btn.btn-large,
.lead_forms_widget input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

.lead_forms_widget button.btn.btn-small,
.lead_forms_widget input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

.lead_forms_widget button.btn.btn-mini,
.lead_forms_widget input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.lead_forms_widget .row {
    min-height: 6em;
    clear: both;
}



.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    outline: 0;
    background-position: 0;
}

[class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="span"]:first-child {
  margin-left: 0;
}

.span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

.span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

.span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

.span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

.span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

.span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

.span6,
.lead-form-steps .span3 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

.span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

.span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

.span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

.span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

.span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

/* Bootstrap Modal styles and overrides */

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 410px;
  margin-left: -280px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
  z-index: 9999;
}

.modal-header {
  padding: 9px 15px;
}

.modal-header .close {
    background-color: #4f4f4f;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    margin-top: 2px;
    padding: 0 5px 2px;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    top: -26px;
    opacity: 1;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.hide {
    display: none;
}

.modal .form-message {
    font-size: 140%;
    line-height: 150%;
    margin-bottom: 1em;
}

.lead_forms_widget .modal .row {
    float: left;
    width: 100%;
}

/* Sharebox specific styles */

.lead_forms_sharebox_widget,
.lead_forms_hp_widget {
    background: none;
}

.lead_forms_sharebox_widget {
    padding: 1em 0.5em;
}

.lead_forms_sharebox_widget a.btn-sharebox {
    background: url('../images/info.png') no-repeat center 5px;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    padding-bottom: 3px;
    padding-top: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 76px;
    font-weight: normal;
    line-height: 1.2em;
    background-color: #000;
}

.lead_forms_sharebox_widget a.btn-sharebox:hover,
.lead_forms_sharebox_widget a.btn-sharebox:focus,
.lead_forms_sharebox_widget a.btn-sharebox:active {
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 7px 1px #fff;
            box-shadow: inset 0px 0px 7px 1px #fff;
}

@media (max-width: 480px){
    .modal {
        position: fixed;
        right: 3%;
        left: 3%;
        width: auto;
        margin: 0;
    }
    
    .modal.fade.in {
      top: 3%;
    }

    .modal-body {
        max-height: 350px;
        padding: 15px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
     }

    .modal input[type='select']{
        font-size: 16px;
    }
}