/* Press Release template    */

#press_release {
	margin-bottom: 20px;
}

#press_release h3{
	margin-bottom: 0;
	padding:5px 0;
}

#press_release p{
	margin-bottom: 10px;
}
#press_release small.miniHeader  {
	font-weight:bold;
}
#caption { 
	padding:15px;
	float:right;
}
#caption small {
	clear:both;
	/* float:right; */
	text-align:center;
	display: block;
}

#press_contact {
	background-color: #f4f4f4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*height:248px;*/
	margin-top: 10px;
	padding-bottom: 10px;
}
	 #releasecopy p, #releasecopy span{
 font-size: 14px !important;
 line-height: 1.75em !important;
 }

#press_contact h3 {padding:10px 0 0 0px;margin:0;}

ul.contact-list {
	margin-top: 0;
	padding-bottom:30px;
}
ul.contact-list li{
	float: left;
	margin: 10px 20px 0 0;
	width: 30%;
}
/*
.enter {padding-left: 10px;padding-bottom: 20px;*padding-bottom: 0;}
*/
.contact-list .name,
.contact-list .addr,
.contact-list .tel,
.contact-list .email {
	display:block;
}

/* Added classes from VM template files */
.release .boxcol1, .feature .boxcol1 {
	width: 702px;
}
#releaseheadline {
	margin-bottom: 15px;
	/*margin-top: 15px;*/
}
/*
#releaseheadline h1 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}
*/
#releaseheadline h1 {
	color: #666666; 
	font-size: 28px;
	margin-top: 5px;
	font-weight: bold;
}
#releaseheadline h2 {
	color: #8A8A8A;
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}
#releasecopy h1, #releasecopy h2, #releasecopy h3, #releasecopy h4, #releasecopy p {
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.release .boxcol2, .feature .boxcol2 {
	padding: 18px 0 0;
	width: 213px;
}
.right {
	float: right;
}
#releasecopy .linkbox {
	margin-bottom: 10px;
}
#moreinfo, #related, #ataglance {
	margin: 0 0 0 20px; 
	border: 1px solid #E0E0E0; 
	border-radius: 10px; 
	padding: 5px;
}
.linkbox {
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 0;
	margin: 10px 0 0;
	padding: 0 0 5px;
}
#releasecopy .linkbox h3 {
	background: none repeat scroll 0 0 #999999;
	color: #FFFFFF;
	font-size: 11px;
	padding-left: 10px;
}
#releasecopy h3 {
	color: #666666;
	font-size: 14px;
	padding-left: 0;
}
#moreinfo h3, #ataglance h3 {
	margin-left: 0;
}
#releasecopy img {
	margin: 0 !important;
}
#releasecopy .caption {
	color: #666666;
	font-size: 90%;
}
#releasecopy .caption {
	font-size: 85%;
	margin: 0 0 15px 12px;
}
#releasecopy p {
	font-size: 100%;
	margin-bottom: 13px;
}
#moreinfo p a, #ataglance p {
	font-size: 90%;
}
.caption {
	color: #000000;
	font-size: 90%;
	font-weight: normal;
	text-decoration: none;
}
#releasecopy .linkbox h3 {
	background: none repeat scroll 0 0 #999999;
	color: #FFFFFF;
	font-size: 11px;
	padding-left: 10px;
}
#releasecopy h3 {
	color: #666666;
	font-size: 14px;
	padding-left: 0;
}
#moreinfo h3, #ataglance h3 {
	margin-left: 0;
}
#releasecopy p {
	margin-bottom: 13px;
}
#releasecopy ul, #releasecopy ol {
	list-style-type: disc;
	margin: 10px;
}

/* 
#releasecopy ul li, #releasecopy ol li, #releasecopy ul li ul li {
	color: #666666;
    font-size: 100%;
    margin: 5px 10px 13px 20px;
}

*/
#releasecopy ul li, #releasecopy ol li, #releasecopy ul li ul li {
margin: 5px 10px 0px 15px;
font-size:12px;
}
#releasecontent table {
	border-color: #999999;
	border-style: solid;
	border-width: 1px 1px 0 0;
	font-size: 11px;
	margin: 0 0 15px 10px;
	padding: 0;
}
#contactinfo {
	border-color: #999999;
	border-style: solid;
	border-width: 0 1px 0 0;
	font-size: 11px;
	margin: 0 10px 15px;
	padding: 0;
	width: 98%;
}
.release .boxcol1, .feature .boxcol1 {
	width: 702px;
}
.left, .column {
	float: left;
	width: 100%;
}


#cufon {
    text-indent: 0 !important;
}
#cufon {
    display: inline-block !important;
    font-size: 1px !important;
    line-height: 1px !important;
    position: relative !important;
    vertical-align: middle !important;
}
#cufon cufontext {
    display: inline-block !important;
    height: 0 !important;
    overflow: hidden !important;
    text-indent: -10000in !important;
    width: 0 !important;
}
#cufon canvas {
    position: relative !important;
}
#cufon {
    padding: 0 !important;
}
#cufon canvas {
    display: none !important;
}
#releasecopy ul li {
 list-style: disc outside none;
 font-size: 14px;
}
/* Feature template    */


#releasecopy h1,
	#releasecopy h2,
	#releasecopy h3,
	#releasecopy h4{ margin-left: 0px; }
	#releasecopy img { margin: 0 15px 3px 10px; }
	#releasecopy .caption { font-size: 85%; margin: 0px 0 15px 12px; }
	#releasecopy h3 {
		color: #666;
		font-size: 14px;
		padding-left: 0;
	}
	
	#releasecopy h2 { 
	line-height: 125%;
	font-size:16px;
	}
	#releasecopy h1, #releasecopy h2 {
	line-height: 125%;
	}
	
	#releasecopy p {
		margin-bottom: 13px;
		font-size: 100%;
	}

	#releasecopy a {
		font-size: 100%;
	}

	#releasecopy .contentbold {
		color:#666666;
	}

	#releasecopy p.quote {
		font-weight: bold;
	}

	#releasecopy p.author {
		font-size: 60%;
		text-align: right;
		margin-right: 10px;
	}

	#releasecopy .caption {
		color:#666666;
		font-size: 90%;
	}

	#releasecopy ul, #releasecopy ol {
		list-style-type: disc;
		margin: 10px 10px 10px 10px;
	}

	#releasecopy ol {
		list-style-type: decimal;
	}

	#releasecopy ul li ul li {
		font-size: 100%;
	}

	#releasecopy .linkbox { margin-bottom: 10px; }
	#releasecopy .linkbox h3 {
		color:  #007FC5;
		font-size: 16px;
		padding-left: 0;
		background: none;
		font-weight: bold;
	}
	#releasecopy .linkbox h4 { margin-left: 0; }
	.module-short-border {
	    border-bottom: 1px solid #E5E5E5;
	    border-top: 1px solid #E5E5E5;
	    margin-left: 0;
	    margin-right: 20px;
	    padding: 20px 0;
	    width: 250px;
	    margin-top: 10px;
    }
    #releasecopy .module-short h3 {
		color:  #007FC5;
		font-size: 16px;
		padding-left: 0;
		background: none;
		font-weight: bold;
	}
	.boxcol2 img { border: 1px solid #CCCCCC; margin: 0; text-align: center;  }
	.boxcol2 { width: 281px; }
	
	#releasecopy .module-short h3.title_border{
	    background: none repeat scroll 0 0 transparent;
	    color: #007FC5;
	    font-size: 16px;
	    font-weight: bold;
	    padding-bottom: 5px;
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 30px;
	}
	.sidebar_width{
		width: 285px;
	}
	/*********************************************
	color: #666666;
	    font-size: 28px;
	    font-weight: bold;
	    margin-bottom: 0px;
	    margin-top: 0px;
	*/
	
	
	
	.nonhero_template_h1 {	    
		line-height: 125%;
		margin:0px
	}
	
	.nonhero_template_subtitle{
		font-size: 16px;
	    
	    margin-bottom: 0px;
	    margin-top: 0px;
	
	}

	.nonhero_template_h4 {
	    color: #666666;
	    font-size: 16px;
	    font-weight: normal;
	    margin-bottom: 0px;
	    margin-top: 0px;
	}

	
	/**********************************************/