/* Overlay */
#simplemodal-overlay {
  background-color: #000; }

/* Container */
#simplemodal-container {
  height: 360px;
  width: 600px;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC; }

#simplemodal-container .simplemodal-data {
  padding: 0; }

#simplemodal-container a.modalCloseImg {
  background: url(../images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer; }

