<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
	<bean id="triangle" class="org.milson.Triangle" name="triangle-name"
		autowire="constructor" scope="prototype">
		<!-- scope="singleton" // default -->
		<!-- autowire="byName" // only one property -->
		<!-- autowire="byType" // only one property -->
		<!-- autowire="constructor" -->
		<!-- autowire 'off" // by Default -->
		<!-- <property name="type" value="Equilateral"></property> -->
		<!-- <constructor-arg type="java.lang.String" value="Equilateral"></constructor-arg> -->
		<!-- <constructor-arg type="int" value="20"></constructor-arg> -->

		<!-- <constructor-arg index="0" value="Equilateral"></constructor-arg> -->
		<!-- <constructor-arg index="1" value="20"></constructor-arg> -->

		<!-- <property name="pointA" ref="zeroPoint"></property> -->
		<!-- <property name="pointA"> -->
		<!-- <idref = zeroPoint></idref> -->
		<!-- </property> -->
		<!-- <property name="pointB"> -->
		<!-- <bean id="pointB" class="org.milson.Point"> -->
		<!-- <property name="x" value="-20"></property> -->
		<!-- <property name="y" value="0"></property> -->
		<!-- </bean> -->
		<!-- </property> -->
		<!-- <property name="pointC"> -->
		<!-- <bean class="org.milson.Point"> -->
		<!-- <property name="x" value="0"></property> -->
		<!-- <property name="y" value="20"></property> -->
		<!-- </bean> -->
		<!-- </property> -->
		<!-- </bean> -->
		<!-- <bean id="zeroPoint" class="org.milson.Point"> -->
		<!-- <property name="x" value="0"></property> -->
		<!-- <property name="y" value="0"></property> -->
		<!-- </bean> -->

		<!-- <alias name="triangle" alias="triangle-alias" /> -->

		<!-- <property name="points"> -->
		<!-- <list> -->
		<!-- <ref bean="zeroPoint" /> -->
		<!-- <ref bean="pointB" /> -->
		<!-- <ref bean="pointC" /> -->
		<!-- </list> -->

		<!-- </property> -->
		<!-- </bean> -->
		<!-- <bean id="zeroPoint" class="org.milson.Point"> -->
		<!-- <property name="x" value="0"></property> -->
		<!-- <property name="y" value="0"></property> -->
		<!-- </bean> -->
		<!-- <bean id="pointB" class="org.milson.Point"> -->
		<!-- <property name="x" value="-20"></property> -->
		<!-- <property name="y" value="0"></property> -->
		<!-- </bean> -->
		<!-- <bean id="pointC" class="org.milson.Point"> -->
		<!-- <property name="x" value="0"></property> -->
		<!-- <property name="y" value="20"></property> -->
		<!-- </bean> -->

	</bean>
	<bean id="pointA" class="org.milson.Point">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointB" class="org.milson.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointC" class="org.milson.Point">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean>

</beans>