/* social media sidecar styles */

	#nww_tools_container {
		width: 970px;
		background: none repeat scroll 0 0 transparent;
		z-index:9997;
		margin:0 auto;
	}

	#nww_tools_container #floating_tools {
		background-color:#fff;
		background-image:url(http://www.networkworld.com/images/bg-gradient-64x1.gif);
		background-position:right top;
		background-repeat:repeat-y;
		position:absolute;
		width:64px;
		padding:12px 10px 0 10px;
		margin:20px 0 0 -84px; /* left margin is width of sidecar */
		/*margin-left:-677px; /* left margin is width of sidecar + width of left_col + padding on left_col... stupid IE7 */
		display:none;
		top:0;
		z-index: 9998;
	}
	
	.floating_top {
		background-image:url(http://www.networkworld.com/images/bg-top-84x10.png);
		position: absolute;
		display: block;
		z-index: 9998;
		margin-top: -20px;
		margin-left: -10px;
		width: 84px;
		height: 10px;
	}
	
	.floating_btm {
		background-image:url(http://www.networkworld.com/images/bg-btm-84x10.png);
		position: absolute;
		display: block;
		z-index: 9998;
		margin-left: -10px;
		width: 84px;
		height: 10px;
	}
	
	*html #nww_tools_container #floating_tools {
		overflow:hidden;
	}
	
	#nww_tools_container #floating_tools.fixed {
		top:0;
		position:fixed;
	}
	
	*html #nww_tools_container #floating_tools.fixed {
		top:auto;
		position:absolute;
	}
	
	#nww_tools_container #floating_tools .tool {
		padding-bottom:12px;
		font-size:13px;
		line-height:1;
		zoom:1;
	}
	
	.fb_recommend {
		min-height: 24px;
		width:350px;
		margin-left: 230px;
		padding-top: 8px;
	}
	
	.fb_recommend .st_fblike_hcount iframe {
		/* need to override FB and G+1's conflicting default styles so they line up */
		top:0 !important;
		vertical-align:middle !important;
	}
	
	.fb_recommend_btm {
		margin-left: 80px;
		padding-top: 0px;
	}
	
	div#sharetop.storytools {
		margin-bottom: 5px;
    	padding-top: 12px;
	}
	
	div#sharebottom.storytools  {
		height: 30px;
		margin-bottom: 25px;
		position: relative;
		width: 590px;
	}
	
	li#sharebottom_print {
		background: url("http://www.networkworld.com/includes/styles/r08/img/storytools-sprite-new2.gif") no-repeat scroll 0 -143px transparent;
	}
	
	ul#sharebottom_nav li a  {
		color: black;
		text-decoration: none;
	}
	
	ul#sharebot_nav.storytools_btm_nav {
		float:left;
		position:static;
		margin-bottom:25px;
	}
	
/*  added LinkedIn 02/27/13  */
.linkedIn {
	float: left;
	margin-right: 5px;
}

.linkedIn_bottom {
	float: left;
	margin-right: 5px;
}
	
<!-- copied from page code -->

div#nww_footer_signup {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#191919 url(http://www.networkworld.com/includes/styles/r08/img/footer-leftback.png) repeat-x scroll 0 0;
border-right:1px solid #5A5A5A;
float:left;
height:159px;
padding:10px 10px 10px 15px;
width:225px;
}
div#nww_footer_signup dl dt span {
margin-top:15px;
margin-bottom:15px;
}
div#nww_footer_signup input {
margin-top:10px;
margin-bottom:8px;
}
div#nww_footer_signup button {
background:#247500 url(http://www.networkworld.com/includes/styles/r08/img/footer-buttontd.jpg) no-repeat scroll 0 0;
border:medium none;
color:white;
cursor:pointer;
display:block;
float:left;
font-family:Verdana,sans-serif;
font-size:14px;
height:30px;
padding-bottom:2px;
width:160px;
text-decoration:none;
}

div#nww_footer_signup a {
background:#247500 url(http://www.networkworld.com/includes/styles/r08/img/footer-buttontd.jpg) no-repeat scroll 0 0;
color:white;
float:left;
font-family:Verdana,sans-serif;
font-size:14px;
height:22px;
padding-top:8px;
text-align:center;
text-decoration:none;
width:160px;
}

div#nww_footer_signup button:hover, div#nww_footer_signup a:hover {
background:#5EAD00 url(http://www.networkworld.com/includes/styles/r08/img/footer-buttontd-2.jpg) no-repeat scroll 0 0;

}




/*new buttons 9/27/12 */
	ul#sharetop_nav{
		float:left;
		width: 164px;
		position:static	
	}
	div#sharebot.storytools {
		height:auto;	
	}
	ul#sharebot_nav li.storytools_nav_comments{
		background: url("http://computerworld.com.edgesuite.net/nww/social/nww-comment-bg.jpg") repeat scroll 0 0 transparent;
		border: 1px solid #DFDBDB;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		margin-left:0px;
		padding: 8px 10px 8px 5px;
		width: auto;	
	}
	ul#sharebot_nav li.storytools_nav_comments a{
		background: url("http://computerworld.com.edgesuite.net/nww/social/nww_comment.gif") no-repeat scroll left center transparent;
		padding-bottom: 5px;
		padding-left: 28px;
		padding-top: 5px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:11px;
		color:#0F7CC2;
	}
	ul#sharebot_nav li.storytools_nav_comments:hover{
		border-color:#8C8C8C;	
	}
	ul#sharebot_nav li.storytools_nav_comments:hover,
	ul#sharebot_nav li.storytools_nav_comments a:hover{
		color:#329BEE !important;	
	}
	ul#sharebot_nav li.storytools_nav_comments a span{
		background: url("http://computerworld.com.edgesuite.net/nww/social/downarrow.gif") no-repeat scroll right center transparent;
    	padding-right: 30px;
	}
	
	
	#sharebot .share_tools{
	}
#sharetop .share_tools span,
#sharebot .share_tools span{
    background: url("http://computerworld.com.edgesuite.net/toolbars/social_icons.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}
#sharetop .share_tools span.st_twitter_custom:hover,
#sharebot .share_tools span.st_twitter_custom:hover {
    background-position: 0 -24px;
}
#sharetop .share_tools .st_linkedin_custom,
#sharebot .share_tools .st_linkedin_custom {
    background-position: -147px 0;
}
#sharetop .share_tools .st_linkedin_custom:hover,
#sharebot .share_tools .st_linkedin_custom:hover {
    background-position: -147px -24px;
}
#sharetop .share_tools #___plusone_0, #sharetop .share_tools #___plusone_1,
#sharebot .share_tools #___plusone_0, #sharebot .share_tools #___plusone_1, #sharebot .share_tools #___plusone_2{
    float: left !important;
    margin-right: 10px !important;
}
#sharetop .share_tools .st_stumbleupon_custom,
#sharebot .share_tools .st_stumbleupon_custom {
    background-position: -28px 0;
}
#sharetop .share_tools .st_stumbleupon_custom:hover,
#sharebot .share_tools .st_stumbleupon_custom:hover {
    background-position: -28px -24px;
}
#sharetop .share_tools .st_reddit_custom,
#sharebot .share_tools .st_reddit_custom {
    background-position: -215px 0;
}
#sharetop .share_tools .st_reddit_custom:hover,
#sharebot .share_tools .st_reddit_custom:hover {
    background-position: -215px -24px;
}
#sharetop .share_tools .fb_iframe_widget,
#sharebot .share_tools .fb_iframe_widget {
    float: left !important;
}
#sharetop .share_tools .fb_iframe_widget span,
#sharebot .share_tools .fb_iframe_widget span {
    background: none repeat scroll 0 0 transparent;
    max-width: 80px;
}
#sharetop .share_tools .st_email_custom,
#sharebot .share_tools .st_email_custom {
    background-position: -243px 0;
}
#sharetop .share_tools .st_email_custom:hover,
#sharebot .share_tools .st_email_custom:hover {
    background-position: -243px -24px;
}
#sharetop .share_tools .tech_briefcase,
#sharebot .share_tools .tech_briefcase {
    float: left !important;
}

#td-debate #sharetop .tech_briefcase{
	margin-top:0px;	
	margin-right:10px;
}

#td-debate #sharebot{
	margin-top:30px;	
}

#sharetop .tech_briefcase a.tb_btn_sm{
	background-image:url("http://computerworld.com.edgesuite.net/techbrief/tb-btn-sm_OFF.png");	
	background-repeat:none;
	width:28px;
	height:22px;
	display:block;
}
#sharetop .tech_briefcase a.tb_btn_sm:hover{
	background-image:url("http://computerworld.com.edgesuite.net/techbrief/tb-btn-sm_ON.png");
}

#sharetop .share_tools .tech_briefcase a.tb_btn {
    padding-right: 111px;
    padding-top: 3px;
}
#sharetop .share_tools .tech_briefcase span.tb_btn_text,
#sharebot .share_tools .tech_briefcase span.tb_btn_text {
    background: none repeat scroll 0 0 transparent;
    float: none;
    margin: 0;
    width: auto;
}
#sharetop .share_tools .st_sharethis_custom,
#sharebot .share_tools .st_sharethis_custom {
    background-position: -274px 0;
    margin-right: 0;
    width: 37px;
}
#sharetop .share_tools .st_sharethis_custom:hover ,
#sharebot .share_tools .st_sharethis_custom:hover{
    background-position: -274px -24px;
}