
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #1122cc;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

/* Fix so that superscripts and subscripts don't mess up the line heights */
/* http://stackoverflow.com/questions/1530685/html-sup-tag-affecting-line-height-how-to-make-it-consistent */
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

table {
  border-collapse: collapse;  /* 'cellspacing=0' equivalent */
}

table td, table th {
  padding: 0;  /* 'cellpadding=0' equivalent */
}

/* ############ Image boxes */

.image-box {
  float: right;
  width: 250px;
  text-align: center;
  color: #999;
  font-size: 0.9em;
  margin: 0 0 1em 30px;
}

.image-box img {
  width: 250px;
  border: 0;
}

.image-box a {
  color: #999;
  text-decoration: none;
  padding-right: 22px;
}

.image-box a:hover {
  text-decoration: underline;
}

.image-box-caption {
	background: url(/images/icon-magnifying-glass-left.gif) no-repeat right 1px;
}

/* #################### News page at artificialbrains.com/news */

.news-date {
  font-weight: bold;
  padding-top: 1em;
}
.news-item {
  border-top: 1px solid #eee;
  margin-top: 1em;
  clear: both;
}

/* #################### Contents box show/hide toggle */

#hide-contents {
  color: #999;
}

#show-contents {
  color: #999;
}

#hide-contents a {
  color: #999;
}

#show-contents a {
  color: #999;
}

#hide-contents a:hover {
  color: #00e;
}

#show-contents a:hover {
  color: #00e;
}

/* ###################################################################### */
/* ###################################################################### */

@media screen {

	html {
	  margin: 0;
	  padding: 0;
	  height: 100%;
	}

	body {
	  font-family: arial, sans-serif;
	  font-size: 13px;
	  color: #222;
	  background-color: #fbfbfb;
	  margin: 0;
	  padding: 0;
	  line-height: 150%;
	  height: 100%;
	}

	#wrap {
	  min-height: 100%;
	  margin: 0;
	  padding: 0;
	}

	#main {
	  overflow: auto;
	  margin: 0;
		padding: 0 0 6em 0;  /* must be same height as the footer */
	}

	#header {
	  margin: 0;
	  padding: 0;
	  height: 100px;
	  color: #fff;
	  background-color: #000;
	}

	#submenu a {
	  margin: 0;
	  padding: 0em 0.5em;
	  text-decoration: none;
	  color: #8af;
	}

	#submenu a:hover {
	  text-decoration: underline;
	}

	#submenu .facebook a {
	  display: inline-block;
	  vertical-align: bottom;
	  width: 26px;
	  height: 26px;
	  padding: 0;
	  margin: 0 1px 0 0.5em;
	  background: transparent url('/images/social-sprite.png') no-repeat;
	  background-position: 0 0;
	}

	#submenu .facebook a:hover {
	  background-position: -26px 0;
	}

	#submenu .twitter a {
	  display: inline-block;
	  vertical-align: bottom;
	  width: 26px;
	  height: 26px;
	  padding: 0;
	  margin: 0 1px 0 0.5em;
	  background: transparent url('/images/social-sprite.png') no-repeat;
	  background-position: -52px 0;
	}

	#submenu .twitter a:hover {
	  background-position: -78px 0;
	}

	#submenu .linkedin a {
	  display: inline-block;
	  vertical-align: bottom;
	  width: 26px;
	  height: 26px;
	  padding: 0;
	  margin: 0 1px 0 0.5em;
	  background: transparent url('/images/social-sprite.png') no-repeat;
	  background-position: 0 -26px;
	}

	#submenu .linkedin a:hover {
	  background-position: -26px -26px;
	}

	#submenu .google a {
	  display: inline-block;
	  vertical-align: bottom;
	  width: 26px;
	  height: 26px;
	  padding: 0;
	  margin: 0 1px 0 0.5em;
	  background: transparent url('/images/social-sprite.png') no-repeat;
	  background-position: -52px -26px;
	}

	#submenu .google a:hover {
	  background-position: -78px -26px;
	}

	#submenu .newsfeed a {
	  display: inline-block;
	  vertical-align: bottom;
	  width: 26px;
	  height: 26px;
	  padding: 0;
	  margin: 0 1px 0 0.5em;
	  background: transparent url('/images/social-sprite.png') no-repeat;
	  background-position: 0 -52px;
	}

	#submenu .newsfeed a:hover {
	  background-position: -26px -52px;
	}

	/*
	  996px wide hard limit
	  left-right padding 20, border 2
	  width 996 - 2x20 - 2x2 = 952
	*/
	#content {
	  border: 2px solid #eee;
	  border-top: 0;
	  background-color: #fff;
	  margin: 0 auto 1em auto;
	  width: 872px;
	  padding: 1em 60px 0 60px;
	  overflow: auto;
	}

	#footer {
	  position: relative;
		margin-top: -6em;  /* negative value of footer height */
		height: 6em;
		clear: both;
	  padding: 0;
	  color: #999;
	  background-color: #000;
	  text-align: center;
	  font-size: 0.9em;
	}

	#footer a {
	  margin: 0;
	  padding: 0em 1em;
	  text-decoration: none;
	  color: #8af;
	}

	#footer a:hover {
	  text-decoration: underline;
	}

	/* #################### FRONT PAGE ###################### */

	.frontpage-two-col-container {
	  overflow: auto;
	  clear: both;
	  margin: 2em 0 0 0;
	}

	.frontpage-col-left {
	  text-align: justify;
	  float: left;
	  width: 416px;
	}

	.frontpage-col-right {
	  text-align: justify;
	  margin-left: 456px;
	}

	/* #################### Other */

	.darpa-synapse-funding-table {
	  margin-left: 2em;
	  border-spacing: 0;
	  border-collapse: collapse;
	  border: 1px solid #ccc;
	}
	.darpa-synapse-funding-table td, .synapse-funding-table th {
	  padding: 4px 24px;
	  border: 1px solid #ccc;
	}

} /* /screen */

/* ###################################################################### */
/* ###################################################################### */

@media print {

	html {
	  margin: 0;
	  padding: 0;
	}
	
	body {
	  font-family: arial, sans-serif;
	  font-size: 13px;
	  margin: 0;
	  padding: 0;
	  line-height: 150%;
	}
	
	#wrap {
	  margin: 0;
	  padding: 0;
	}
	
	#main {
	  overflow: auto;
	  margin: 0;
		padding: 0 0;
	}
	
	#header {
	  display: none;
	}
	
	/*
	  996px wide hard limit
	  left-right padding 20, border 2
	  width 996 - 2x20 - 2x2 = 952
	*/
	#content {
	  margin: 0 0;
	  overflow: auto;
	}
	
	#footer {
	  display: none;
	}
}

/* ###################################################################### */
/* ####### -- MOBILE -- ####### */
/* ###################################################################### */

@media handheld {

	html {
	  margin: 0;
	  padding: 0;
	  height: 100%;
	}

	body {
	  margin: 0;
	  padding: 0;
	  font-family: arial, sans-serif;
	  /*font-size: 13px;*/
	  color: #222;
    /*
	  background-color: #fbfbfb;
	  line-height: 150%;
	  height: 100%;
    */
	}

	#wrap {
  /*
	  min-height: 100%;
	  margin: 0;
	  padding: 0;
  */
	}

	#main {
  /*
	  overflow: auto;
	  margin: 0;
		padding: 0 0 6em 0;  /* must be same height as the footer */
  */
	}

	#header {
	  margin: 0;
	  padding: 0;
	  height: 100px;
	  color: #fff;
	  background-color: #000;
	}

  #submenu {
    display: none;
  }

	/*
	  996px wide hard limit
	  left-right padding 20, border 2
	  width 996 - 2x20 - 2x2 = 952
	*/
	#content {
    /*
	  border: 2px solid #eee;
	  border-top: 0;
	  background-color: #fff;
	  margin: 0 auto 1em auto;
	  width: 872px;
	  padding: 1em 60px 0 60px;
	  overflow: auto;
    */
	}

	#footer {
	  display: none;
	}

} /* /handheld */
