/* home.html */
#page1 header {margin-bottom:0}
#page1 #content .padding {padding:0 12px}
#page1 #content .col-1 {width:290px;margin-right:16px}
#page1 #content .col-2 {width:216px}
#page1 #content .col-5 {width:292px;margin-left:55px}
#page1 #content .col-3 {width:597px;margin-right:40px}
#page1 #content {border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
#page1 footer .col-1 {width:290px;margin-right:55px}
#page1 footer .col-2 {width:110px;margin-right:55px}
#page1 footer .col-3 {width:140px;margin-right:65px}
#page1 footer .col-4 {width:235px}
#page1 footer .col-4 {width:292px}