#content{height:100%;}
.list-items{float: left;margin-left:4px;margin-top:-4px;font-size:12px;line-height:1.4;padding:15px;border:1px solid #ccc; width:200px;background-color:#dfdfed;font-size-adjust: 0.5;}
.list-items1{background-color:#fff;padding-left:5px;height: 170px;}
.list-items1 h5{color:#3a4656;text-decoration:none;font-size:15px;width:190px;height:25px;padding:5px;background:whitesmoke;box-shadow: 0px 1px #ccc;margin-left: -5px;font-size-adjust: 0.5;}
.list-items1 a{line-height:1.8;font-size: 12px;font-size-adjust: 0.5;}
.list-items1 a:hover{text-decoration: underline;}
.list-items2{background-color:#fff;padding-left:5px;margin-top:20px;height: 190px;}
.list-items2 h5{color:#3a4656;text-decoration:none;font-size:15px;width:190px;height:25px;padding:5px;background:whitesmoke;box-shadow: 0px 1px #ccc;margin-left: -5px;font-size-adjust: 0.5;}
.list-items2 a{line-height:1.8;font-size: 12px;font-size-adjust: 0.5;}
.list-items2 a:hover{text-decoration: underline;}
.main-content{height:100%;float: left;width:520px;font-size:12px;text-align:justify;padding:5px;border-right: 1px solid #ccc; padding-bottom: 20px; }
.main-content h1{font-size: 16px;padding:5px;font-size-adjust: 0.5;}
.main-content p{text-align:justify;font-size: 11px;font-size-adjust: 0.5;}
.main-content a:hover{text-decoration: underline;}
.right-items{float: left;width:250px;margin-left: 10px;padding:5px;margin-bottom: 20px;}
.main-content ul{list-style: circle; margin-left: 25px;font-size: 12px;font-size-adjust: 0.5;}
.main-content ul li ul{list-style: disc;}
.main-content ul li{font-size: 11px; }
.main-content p b{font-size-adjust: 0.5;}
.main-content ul li{font-size-adjust: 0.5;}
.main{background-color: #fff;}
li p{padding: 0px;}
