
body {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
}

.ascii {
	font-family: Ubuntu Mono, monospace;
	line-height: 0.8;
} 

a {
	text-decoration: none;
	outline: none;
}

p {
	margin-bottom: 15px;
}

li {
	list-style: none;
}

h3 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
}

h3.first {
	margin-top: 0px;
}

h4 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
}

h5 {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.go-inside {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #fff url(/images/corner1.gif) no-repeat 0px 0px;
	width: 100px;
	height: 100px;
}

.go-inside:hover {
	cursor: pointer;
}

.divider {
	margin-top: 20px;
	background: #fff url(/images/jagged1.png) repeat-x 0px 0px;
	height: 48px;
}

.columns {
	margin-top: 30px;
}

.logo {
	background: #fff url(/images/logo1.png) no-repeat 0px 26px;
	min-height: 90px;
}

.header .menu {
	margin-top: 32px;
	text-align: center;
}

.menu li {
	display: inline-block;
	margin-right: 10px;
}

.menu li:hover {
	cursor: pointer;
}

.menu, .menu a {
	color: #522c67;
}

.submenu {
	position: absolute;
	z-index: 100;
	background-color: #fff;
	box-shadow: 3px 3px 4px #222;
}

.submenu li {
	padding: 5px 15px;
}

.peek {
	text-align: right;
	font-size: 14px;
}

.go-try {
	display: block;
	margin: 20px auto;
}

.announce {
	background-color: #f6e79c;
	box-shadow: 3px 3px 4px #ccc;
	border: 1px solid #c190dc;
	margin-right: 8px;
	padding: 8px 12px;
	margin-left: -12px;
}

.announce a {
	color: #6b1799;
}

.join li {
	list-style-image: url(/images/circ1.png);
}

.latest .row > div {
	background: #fff url(/images/latest1.png) no-repeat right 10px;
}

.columns {
	margin-top: 30px;
}

.columns .onecol {
	height: 16px;
	background-color: #c1f160;
}

.innards {
	background-color: #d4f199;
	font-family: Ubuntu Mono, monospace;
}

.innards pre {
	font-family: Ubuntu Mono, monospace;
}

.innards h5 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 35px;
}

.innards ul {
	margin-left: 35px;
}

.innards .more {
	margin: 5px 0px 10px 45px;
}

.innards .pie {
	display: block;
	margin-top: 25px;
}

.process-info {
	position: absolute;
	left: 650px;
	top: 220px;
	background-color: #fff;
	box-shadow: 3px 3px 4px #222;
	padding: 5px 10px 10px 10px;
}

.process-info ul {
	margin: 0;
}

.refresh {
	text-align: right;
	margin-bottom: 10px;
}

.stitch {
	background: #d4f199 url(/images/up1.png) no-repeat 0px 0px;
	height: 48px;
}

.stitch:hover {
	cursor: pointer;
}

.compare th {
	text-align: left;
	font: 20px sans-serif;
	color: #522c67;
	padding: 15px 15px 5px 15px;
}

.compare th.trad { width: 48%; }
.compare th.mid { width: 4%; }
.compare th.eox { width: 48%; }

.compare td {
	border: 2px solid #fff;
	padding: 10px 15px 20px 15px;
}

.compare td.info {
	background-color: #f6dd62;
}

table.tests {
	width: 560px;
	font-family: Ubuntu Mono, monospace;
}

.tests th.num {
	width: 80px;
}

.tests th, .tests td {
	text-align: right;
}

.tests th.suite, .tests td.suite {
	width: 240px;
	text-align: left;
}

.left-nav li {
	padding-bottom: 15px;
	border-bottom: solid 1px #eee;
	margin-bottom: 15px;
	list-style: none;
}

.left-nav li a {
	text-decoration: none;
	font-weight: bold;
	color: #666;
}

table.perf {
	width: 600px;
}

.perf th, .perf td {
	text-align: right;
	font-family: Ubuntu Mono, monospace;
}

.perf th.area, .perf td.area {
	width: 280px;
	text-align: left;
}

.perf th.vm {
	text-align: center;
}

.perf tr.total {
	font-weight: bold;
}

table.latency {
	width: 400px;
	margin-bottom: 20px;
}

.latency th, .latency td {
	text-align: right;
	font-family: Ubuntu Mono, monospace;
}

.latency th.run {
	width: 120px;
	text-align: left;
}

.latency th.vm, .latency td.vm {
	text-align: center;
}

.latency tr.total {
	font-weight: bold;
}

.report {
	min-height: 410px;
}

.report p {
	margin-bottom: 15px;
}

.report li {
	list-style: decimal;
	margin-bottom: 5px;
}

.report h4 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.try {
	min-height: 410px;
}

.try p {
	margin-bottom: 15px;
}

.try pre {
	margin-bottom: 15px;
}

.zerg {
	width: 230px;
	height: 50px;
	margin: 20px auto;
}

.jabber {
	width: 190px;
	height: 48px;
	margin: 20px auto;
}

/* beam */

.label-wrapper {
	position: relative;
}

.label-wrapper label {
	position: absolute;
	top: 3px;
	left: 5px;
}

#iop-filter {
	width: 205px;
	margin: 0px 2px 5px 2px;
	border: 1px solid #999;
	font-size: 16px;
}

.iops-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 600px;
}

.iops {
	padding: 0px;
	margin: 0px;
	width: 400px;
	font-size: 14px;
}

.iops li {
	list-style: none;
	margin: 0px;
	cursor: pointer;
}

.iops li.selected {
	border-bottom: 1px solid #ffc400;
}

.beam p {
	margin-bottom: 15px;
}

.beam h4 {
	margin-bottom: 10px;
}

.pane li {
	list-style: inside disc;
}

.meta {
	display: inline;
	color: #fff;
	background-color: #739039;
	padding: 1px 5px 3px 5px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.args {
	font-family: Ubuntu Mono, monospace;
	font-weight: bold;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.see {
	background-color: #f6dd62;
	padding: 1px 5px 3px 5px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
}

.also {
	margin-top: 30px;
	font-size: 14px;
}

.also .see {
	background-color: #fff;
	padding: 0px 0px 0px 15px;
	border: none;
	border-radius: 0px;
	cursor: pointer;
}

.also .see:hover {
	text-decoration: underline;
}

ul.undocumented {
	font-size: 14px;
}

/* mumble,clustering */

.article p {
	margin-bottom: 15px;
}

.article table {
	border-collapse: collapse;
	margin-bottom: 15px;
}

.article tbody {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.article th, td {
	padding: 0 10px;
}

.article h2 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.article li {
	list-style: decimal;
}

dd {
	margin-left: 20px;
}

dt {
	margin-top: 10px;
}

dl {
	margin-bottom: 15px;
}

.not-found {
	min-height: 410px;
}

/* blog */

.blog {
	min-height: 410px;
}

.blog hr {
	background: url(/images/3dots.png) no-repeat top center;
	height: 5px;
	border: none !important;
	margin-bottom: 30px;
}

.blog .quote {
	margin-left: 30px;
	margin-bottom: 15px;
}

.blog li {
	margin-bottom: 10px;
}

.subscribe {
	text-align: right;
	font-size: 12px;
}

.continue {
	color: #e6c317;
}

.blog ul li {
	list-style: inside disc;
}

#disqus_thread {
	margin-top: 15px;
}

@media handheld, only screen and (max-width: 767px) {

body {
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
