/* 

    Styles for browser-rendered pages - the base stylesheet.
    Page layout and menu elements.

*/

html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}

body {
	display: block;
	/* min-width: 980px; */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	background-color: #D5D8DF;
}

#base {
	position: relative;
	display: block;
	min-height: 100%;
	height: auto;
	text-align: left;
	width: 980px;
	margin: 0px auto 0px auto;
	padding: 43px 0px 43px 0px;
    background-color: #FFFFFF;
    border-top: 0px none #FFFFFF;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

#baseBlue {
	display: block;
	margin: 0px 10px 0px 8px;
	border-top: 28px solid #54647A;
	border-right: 10px solid #54647A;
	border-bottom: 10px solid #54647A;
	border-left: 10px solid #54647A;
	background-color: #FFFFFF;
	min-height: 585px;
	height: auto;
}

#baseBlueHome {
	/* See also: cssIE6.css */
	display: block;
	margin: 0px 10px 0px 8px;
	border-top: 43px solid #54647A;
	border-right: 10px solid #54647A;
	border-bottom: 10px solid #54647A;
	border-left: 10px solid #54647A;
	background-color: #54647A;
	min-height: 535px;
	height: auto;
}

#contentBlock {
	display: block;
	position: relative;
	padding-top: 170px;
	padding-bottom: 0px;
	left: 200px;
	width: 543px;
    font-size: 11px;
	/* min-height: 220px;
	height: auto; */
}

#scriptForm1 {
	display: block;
	position: relative;
	padding-top: 0px;
	padding-bottom: 55px;
	left: 200px;
	width: 543px;
	/* min-height: 220px;
	height: auto; */
}

#h1 {
	display: block;
	width: 100%;
	margin-bottom: 13px;
}


#colLeft {
    display: block;
    position: absolute;
    top: 101px;
    left: 8px;
    width: 180px;
    z-index: 100;
}

#navContext {
	/* See also: cssIE6.css */
    font-size: 9px;
    color: #FFFFFF;
	min-height: 114px;
	height: auto;
    border-top: 1px solid #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 0px none #53657B;
    border-left: 1px solid #53657B;
/*
    border-top: 1px solid #FF0000;
    border-right: 1px solid #FF0000;
    border-bottom: 0px none #FF0000;
    border-left: 1px solid #FF0000;
*/
    background-color: #AAB2BD;
}

#navContext #mnuNavContext {
	display: block;
	width: 180px;
    font-size: 9px;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0px -1px 0px -1px;
    padding: 0px 0px 0px 0px;
}

#navContext #mnuNavContext li {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 24px;
	max-height: 24px;
	min-height: 24px;
	overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navContext #mnuNavContext li a:link, #navContext #mnuNavContext li a:visited, #navContext #mnuNavContext li a:active  {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 19px;
	max-height: 19px;
	min-height: 19px;
	line-height: 19px;
	overflow: hidden;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 0px 2px 24px;
/*    
*/    
    border-top: 0px none #53657B;
    border-right: 0px none #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 0px none #53657B;
    background-color: transparent;
}

#navContext #mnuNavContext li a:hover {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 19px;
	max-height: 19px;
	min-height: 19px;
	line-height: 19px;
	overflow: hidden;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 0px 2px 24px;
/*    
*/
    border-top: 0px none #53657B;
    border-right: 0px none #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 0px none #53657B;
    background-color: #53657B;
}

#navContext #mnuNavContext .mnuHasChildren {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	min-height:19px;
	height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navContext #mnuNavContext li.mnuHasChildren a:link, #navContext #mnuNavContext li.mnuHasChildren a:visited, #navContext #mnuNavContext li.mnuHasChildren a:active {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 19px;
	max-height: 19px;
	min-height: 19px;
	line-height: 19px;
	overflow: hidden;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 0px 2px 24px;
/*    
*/    
    border-top: 0px none #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 1px solid #53657B;
    background-color: transparent;
    background-image: url('../img/colLeftBullet.gif');
    background-repeat: no-repeat;
    background-position: right 5px;
}

#navContext #mnuNavContext li.mnuHasChildren a:hover {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 19px;
	max-height: 19px;
	min-height: 19px;
	line-height: 19px;
	overflow: hidden;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 0px 2px 24px;
    border-top: 0px none #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 1px solid #53657B;
    background-color: #53657B;
    background-image: url('../img/colLeftBullet.gif');
    background-repeat: no-repeat;
    background-position: right 5px;
}

#navContext #mnuNavContext .mnuSelected {
    background-color: #53657B;
}

#navFlyouts .flyNavContext {
	display: none;
	position: absolute; 
	width: 178px;
	left: 187px;
	height: auto; 
	overflow: visible;
	z-index: 200;
    font-size: 9px;
    color: #FFFFFF;
    border-top: 1px solid #53657B;
    border-bottom: 0px none #53657B;
    border-right: 0px solid #53657B;
    border-left: 0px solid #53657B;
    background-color: #AAB2BD;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navFlyouts .flyNavContext li {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 24px;
	max-height: 24px;
	min-height: 24px;
	overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navFlyouts .flyNavContext li a:link, #navFlyouts .flyNavContext li a:visited, #navFlyouts .flyNavContext li a:active  {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 19px;
	max-height: 19px;
	min-height: 19px;
	line-height: 19px;
	overflow: hidden;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 8px 2px 8px;
    border-top: 0px none #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 1px solid #53657B;
    background-color: transparent;
}

#navFlyouts .flyNavContext li a:hover {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	/*
	min-height: 19px;
	height: auto;
    */
	height: 19px;
	max-height: 19px;
	min-height: 19px;
	line-height: 19px;
	overflow: hidden;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 8px 2px 8px;
    border-top: 0px none #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 1px solid #53657B;
    background-color: #53657B;
}

#colLeft #colLeftBottom {
    display: block;
    position: absolute;
    left: 30px;
	width: 150px;
    text-align: right;
    line-height: 14px;
    color: #999999;
}

#colLeft #colLeftBottom img {
	vertical-align: baseline;
	margin: 23px 0px 0px 0px;
}

#colRight {
    display: block;
    position: absolute;
    top: 242px;
    left: 788px;
    width: 165px;
    color: #999999;
}

#colRight ul {
	list-style-type: none; 
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
}

#colRight li {
    line-height: 14px;
	background-image: url('../img/colRightBullet.gif'); 
	background-repeat: no-repeat; 
	background-position: 0px 0px;
	padding: 0px 0px 4px 11px;
	margin: 0px 0px 0px 1px;
}

#colRight h3 {
	font-size: 14px;
	font-weight: bold;
	color: #53657A;
	margin: 0px 0px 4px 0px;
}

#colRight a:link, #colRight a:active {
	text-decoration: none;
}

#colRight a:visited {
	text-decoration: none;
	color: #999999;
}


#colRight a:hover {
	text-decoration: underline;
}

#headWhitespace {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
    display: block;
    position: absolute;
    top: 71px;
    left: 8px;
    width: 952px;
    height: 145px;
	background-image: url('../uploadedimages/2.0-Courses.jpg');
	background-repeat: no-repeat; 
    z-index: 90;
}

#navBreadcrumb {
    display: block;
    position: relative;
    top: 27px;
    left: 211px;
    width: 543px;
    color: #333333;
	text-transform: lowercase;
	font-size: 9px;
}

#navBreadcrumb a:link, #navBreadcrumb a:visited, #navBreadcrumb a:active {
	text-decoration: underline;
    color: #333333;
	text-transform: lowercase;
	font-size: 9px;
}

#navBreadcrumb a:hover {
	text-decoration: underline;
    color: #AF3226;
	text-transform: lowercase;
	font-size: 9px;
}

#sectionLabel {
    display: block;
    position: relative;
    top: 82px;
    left: 209px;
    width: 543px;
}

#sectionLabel p {
	font-size: 30px;
	line-height: 34px;
    font-family: Helvetica Condensed, Arial Narrow, Helvetica, Arial, Verdana, sans-serif;
    color: #FFFFFF;

}

#navRoot {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
    display: block;
    position: absolute;
    background-image: url('../img/mnuNavRootHR.gif');
    background-repeat: no-repeat;
    top: 43px;
    left: 124px;
    width: 836px;
}

#baseBlueHome #navRoot {
    left: 128px;
    top: 51px;
    width: 832px;
}

#mnuNavRootHR {
	display: block;
	height: 8px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#mnuNavRoot {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	width: auto;
	min-height: 16px;
	height: auto;
    font-size: 9px;
    color: #FFFFFF;
    background-color: #53657B;
    list-style-type: none;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#mnuNavRoot li {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	min-height: 16px;
	height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute; 
	float: left;
	vertical-align: top;
    background-color: transparent;
}

#mnuNavRoot li a:link, #mnuNavRoot li a:visited, #mnuNavRoot li a:active  {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	min-height: 16px;
	height: auto;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px 0px 0px 0px;
    padding: 1px 5px 2px 14px;
	float: left;
	vertical-align: top;
	background-image: url('../img/colLeftBullet.gif');
    background-repeat: no-repeat;
    background-position: -5px 3px;
    background-color: transparent;
}

#mnuNavRoot li a:hover {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	min-height: 12px;
	height: auto;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px 0px 0px 0px;
    padding: 1px 5px 2px 14px;
	float: left;
	vertical-align: top;
    background-color: #AAB2BD;
	background-image: url('../img/colLeftBullet.gif');
    background-repeat: no-repeat;
    background-position: -5px 3px;
}

/* #baseBlueHome #navRoot, #baseBlueHome #mnuNavRoot, #baseBlueHome #mnuNavRoot li, #baseBlueHome #mnuNavRoot li a:link, #baseBlueHome #mnuNavRoot li a:active, #baseBlueHome #mnuNavRoot li a:visited, #baseBlueHome #mnuNavRoot li a:hover { */
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	/* min-height: 40px;
}*/

#mnuNavRoot .mnuSelected {
    background-color: #AAB2BD;
    border-top: 0px none #444D56;
    border-right: 1px solid #444D56;
    border-bottom: 1px solid #444D56;
    border-left: 0px solid #444D56;
}

#navFlyouts .flyNavRoot {
	display: none;
	position: absolute; 
	top: 70px;
	width: 185px;
	height: auto; 
	overflow: visible;
	z-index: 9999;
    font-size: 9px;
    color: #FFFFFF;
    border-top: 1px solid #53657B;
    border-bottom: 0px none #53657B;
    border-right: 0px solid #53657B;
    border-left: 0px solid #53657B;
    background-color: #AAB2BD;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#baseBlueHome #navFlyouts .flyNavRoot {
    margin: 0px 0px 0px 4px;
	top: 78px;
}

#navFlyouts .flyNavRoot li {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	min-height: 19px;
	height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navFlyouts .flyNavRoot li a:link, #navFlyouts .flyNavRoot li a:visited, #navFlyouts .flyNavRoot li a:active  {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	min-height:19px;
	height: auto;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 8px 2px 8px;
    border-top: 0px none #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 1px solid #53657B;
    background-color: transparent;
}

#navFlyouts .flyNavRoot li a:hover {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	display: block;
	min-height:19px;
	height: auto;
    font-size: 9px;
    color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
    margin: 0px auto 0px 0px;
    padding: 2px 8px 2px 8px;
    border-top: 0px none #53657B;
    border-right: 1px solid #53657B;
    border-bottom: 1px solid #53657B;
    border-left: 1px solid #53657B;
    background-color: #53657B;
}

#navFlyouts .flyNavRoot li.mnuSelected a:link, #navFlyouts .flyNavRoot li.mnuSelected a:visited, #navFlyouts .flyNavRoot li.mnuSelected a:active {
    background-color: #53657B;
    border-top: 0px none #53657B;
    border-bottom: 1px solid #53657B;
    border-right: 0px solid #53657B;
    border-left: 0px solid #53657B;
}

#navFlyouts .flyNavRoot li.mnuSelected a:hover {
    background-color: #53657B;
    border-top: 0px none #53657B;
    border-bottom: 1px solid #53657B;
    border-right: 0px solid #53657B;
    border-left: 0px solid #53657B;
}

#mnuNavRootLogin {
	/* See also: cssIE7.css */
	/* See also: cssIE6.css */
	position: absolute;
	display: block;
	top: 8px;
	left: 737px;
	height: 20px;
	width: 99px;
	z-index: 300;
}

#baseBlueHome #mnuNavRootLogin {
	left: 734px;
}

#mnuNavRootLogin a:link, #mnuNavRootLogin a:active, #mnuNavRootLogin a:visited {
	display: block;
	height: 20px;
	width: 99px;
	text-decoration: none;
	background-image: url('../img/cmdLoginUp.jpg');
}

#mnuNavRootLogin a:hover {
	display: block;
	height: 20px;
	width: 99px;
	text-decoration: none;
	background-image: url('../img/cmdLoginOver.jpg');
}

#navUtility {
    display: block;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 411px;
    text-align: right;
}

#navUtility p {
    color: #333333;
	text-transform: lowercase;
	font-size: 9px;
	line-height: 11px;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 4px 0px;
}

#navUtility p a:link, #navUtility p a:active, #navUtility p a:visited {
	text-decoration: none;
    color: #333333;
	text-transform: lowercase;
	font-size: 9px;
}

#navUtility p a:hover {
	text-decoration: none;
    color: #AF3226;
	text-transform: lowercase;
	font-size: 9px;
}

#navUtility #txtSearch {
	/* See also: cssIE6.css */
	border: 1px solid #000000;
	font-size: 10px;
	line-height: 12px;
	height: 12px;
	width: 125px;
	padding: 1px 0px 2px 1px;
	margin: 1px 0px 0px 0px;
}

#navUtility #cmdSearch {
	margin: 2px 0px 0px 0px;
}

#navFooter {
    display: block;
    /*
    position: absolute;
    right: 10px;
    bottom: 25px;
*/
    margin-right:10px;
	margin-top:3px;    
    float: right;
    width: 355px;
    height: 15px;
    text-align: right;
}

#navFooter p {
    color: #333333;
	text-transform: lowercase;
	font-size: 9px;
	line-height: 11px;
	padding: 0px 0px 0px 0px; 
	margin: 0px 1px 4px auto;
}

#navFooter p a:link, #navFooter p a:active, #navFooter p a:visited {
	text-decoration: none;
    color: #333333;
	text-transform: lowercase;
	font-size: 9px;
}

#navFooter p a:hover {
	text-decoration: none;
    color: #AF3226;
	text-transform: lowercase;
	font-size: 9px;
}

#navLogo {
    display: block;
    position: absolute;
    top: 18px;
    left: 8px;
    width: 107px;
    height: 73px;
    z-index: 130;
}

#navLogoHome {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 174px;
    height: 116px;
    z-index: 130;
}

#copyright {
    display: block;
    /*
    position: absolute;
    bottom: 10px;
    left: 8px;

*/
    margin-left:10px;
    margin-top:3px;
    float: left;
    width: 500px;
    height: 30px;
    text-align: left;
  }

#copyright p {
	font-size: 9px;
	padding: 0px 0px 0px 0px; 
	margin: 0px auto 0px 1px;
}

#applets {
    display: block;
    position: absolute;
    left: 716px;
    top: 220px;
    width: 70px;
    height: 13px;
}

.errorText {
	color: #FF0000;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.traceText {
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.selectBox 
{
    font-size:11px;
}