Body.EditNavigation
{
	background-color: #7ba5d7;
}
body.PopupLibrary
{
	background-color: #bdd3ff;
	font-family : ms sans serif;
	font-size   : xx-small;
	cursor		: default;
}
td.FolderButtonBarNm
{
	height: 25px;
	vertical-align: middle;
	border-right: black 1px solid;
	border-top: black 1px solid;
	background-color:#A5C6EF;
	background-image: url(lightblue_gradiant-nm.gif);
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
}
td.FolderButtonBarOver
{
	height: 25px;
	vertical-align: middle;
	border-right: black 1px solid;
	border-top: black 1px solid;
	background-color:#F7D673;
	background-image: url(orange_gradiant-nm.gif);
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
}
td.FolderButtonBarSelectedOver
{
	height: 25px;
	vertical-align: middle;
	border-right: black 1px solid;
	border-top: black 1px solid;
	background-image: url(orange_selectedover_gradiant.gif);
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
}
td.FolderButtonBarSelected
{
	height: 25px;
	vertical-align: middle;
	border-right: black 1px solid;
	border-top: black 1px solid;
	background-image: url(orange_selected_gradiant-nm.gif);
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
}
td.FolderResizeBar
{
	height: 10px;
	background-image: url(darkblue_gradiant-nm.gif);
	text-align: center;
	vertical-align: bottom;
}
td.NavIconBarNm
{
	vertical-align: middle;
	background-color:#A5C6EF;
	background-image: url(lightblue_gradiant-nm.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
}
td.NavIconBarOver
{
	vertical-align: middle;
	background-color:#F7D673;
	background-image: url(orange_gradiant-nm.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
}
td.NavIconBarSelectedOver
{
	vertical-align: middle;
	background-color:#F7D673;
	background-image: url(orange_selectedover_gradiant.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
}
td.NavIconBarSelected
{
	vertical-align: middle;
	background-color:#F7D673;
	background-image: url(orange_selected_gradiant-nm.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
}
body.FolderIconBar
{
	background-color:#A5C6EF;
	background-image: url(lightblue_gradiant-nm.gif);
}
table.FolderToolbar
{
	height: 20px;
	background-image: url(darkblue_gradiant-nm.gif);
	vertical-align: middle;
}
body.FolderArea
{
	
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color: White;
}
.WorkareaToolbar-nm
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	height: 24px;
	width: 24px;
	background-color:#A5C6EF;
	background-image: url(lightblue_gradiant-nm.gif);
}
.WorkareaToolbar-ovr
{
	border-right: 1px solid;
	border-top: 1px solid;
	font-size: 12px;
	background-color:#F7D673;
	background-image: url(orange_gradiant-nm.gif);
	border-left: 1px solid;
	border-bottom: 1px solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 22px;
	width: 22px;
	border-color: Black;
}
.WorkareaToolbar-selected
{
	border-right: 1px solid;
	border-top: 1px solid;
	font-size: 12px;
	background-image: url(orange_selected_gradiant-nm.gif);
	border-left: 1px solid;
	border-bottom: 1px solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 22px;
	width: 22px;
	border-color: Black;
}
.WorkareaToolbar-selectedOver
{
	border-right: 1px solid;
	border-top: 1px solid;
	font-size: 12px;
	background-image: url(orange_selectedover_gradiant.gif);
	border-left: 1px solid;
	border-bottom: 1px solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 22px;
	width: 22px;
	border-color: Black;
}
.ToolbarImage-nm
{
	border: 0px;
	height: 22px;
	width: 22px;
}
.WorkareaToolbar-bk
{
	background-color:#A5C6EF;
	background-image: url(lightblue_gradiant-nm.gif);
}
.WorkareaTitlebar
{
	color : white;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	line-height : 22px;
	border : 1px solid black;
	padding-left : 5px;
	vertical-align : bottom;
	background-color:#3163BD;
	background-image: url(darkblue_gradiant-nm.gif);
}

body.UiMain
{
	font-size: 12px;
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: white;
}


TD {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
A {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
A:ACTIVE {
	/*color : Red;*/
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
A:VISITED {
	/*color : Navy;*/
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}  
.important {
	color : Red;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	
}
TD.titlebar {
	background-color : #214b95;
	color : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	line-height : 22px;
	border : 1px solid White;
	padding-left : 5px;
	vertical-align : bottom;
	
}
TD.titlebar-error {
	background-color : red;
	color : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
HR {
	background-color: #5c92b5;
	color : #5c92b5;
}
TD.input-box-text {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	line-height : 20px;
}
TH.title-header
{
	font-weight:normal;
	padding-left:3px;
	padding-right:3px;
}
TD.title-header, TH.title-header, TR.title-header
{
	margin-top: 10px;
	font-size: 12px;
	color: black;
	line-height: 16px;
	border-bottom: gray thin solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #ece9d8;
	white-space: nowrap;
}
A.title-header{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : black;
}
TD.info {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	line-height : 20px;
}
TD.build {
	position:relative;
	bottom:7px;

}
TD.info-header {
	color : #5c92b5;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding-left : 5px;
	line-height : 16px;
	font-weight : bold;
}
TD.important {
	color : Red;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
TD.checkboxqustion{
	background-color : #c0c0c0;
	color : red;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	line-height : 20px;
	}
TD.toolbar {
	background-color : #c0c0c0;
}
TD.appname {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : white;
	font-weight : bold;
	text-indent : 5px;
}

/* Begin Calendar.aspx */
TD.cal-link{
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : center;
}
TR.cal-header {
	background-color : Navy;
	text-align : center;
}
TR.cal-header2 {
	background-color : #C0C0C0;
}
TD.cal-header {
	background-color : Navy;
	text-align : center;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : white;
}
A.cal-header {
	background-color : Navy;
	text-align : center;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : white;
}
A:HOVER.cal-header, A:VISITED.cal-header {
	background-color : Navy;
	text-align : center;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : White;
}

A.cal-day-link {
	text-align : center;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : navy;
}
A.cal-day-link2 {
	text-align : center;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : navy;
}

INPUT.cal-submit {
	background:#000084;
	background-color: #000084;
	font-family:Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: White;
}
/* End Calendar.aspx */
/*Begin Workarea */
BODY.workarea {
	background-color : #A5C6EF;
}

TABLE.workarea {
	background-color : #A5C6EF;
}
TR.workarea {
	background-color : #A5C6EF;
}
TD.workarea {
	background-color : #A5C6EF;
	
}

TABLE.WorkareaOffset {
	margin-left : 2px;
	width : 100%;
}	

/* End Workarea */

/* Begin History */
TD.history-list {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
A.history-listA.history-list:link, A.history-list:ACTIVE, A.history-list:HOVER, A.history-list:VISITED {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
A.history-list:VISITED{
	color : Red;
}
/* End History */

/* Begin Login */
BODY.login {
	background-color : #adc5ef;
}
/* End Login */
/* Begin Folder Control */
TD.folder {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : black;
	font-size : 10px;
}
A.folder {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : black;
	font-size : 10px;
}
A.folder:ACTIVE {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Red;
	font-size : 10px;
}
A.folder:VISITED {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Navy;
	font-size : 10px;
}

/* End Folder Control */
.library {
	background-color : #ADC5EF;
}

.moreinfo	{
	color: blue;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	cursor:pointer; 
}
TR.evenrow	{
	background-color: #f6f6f6;
}
.pagetext {
	FONT-SIZE: 8pt; 
	COLOR: navy; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none;
}
.headcell {
	 padding-left: 5;
	 line-height: .9;
	 FONT-SIZE: 8pt; 
	 COLOR: navy; 
	 FONT-FAMILY: verdana; 
	 TEXT-DECORATION: none; 
	 FONT-WEIGHT: bold; 
	 BACKGROUND-COLOR: #fafad2;
}
A.headcell:hover {color:#FF3300; text-decoration: underline}
.lbls
{
    COLOR: navy;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.label {
	FONT-SIZE: 9pt; 
	COLOR: navy; 
	FONT-FAMILY: verdana; 
	font-weight:bold;
}
td.ProgressEmptyBar
{
	background-color:Silver;
	height:7.5pt;
}
td.ProgressHBar
{
	background-color: Blue;
	height: 7.5pt;
}
.selectedTab {
    background-color : transparent ;
    border-right : #DDDDFF solid ;
    border-top : #DDDDFF solid ;
    border-left : #DDDDFF solid ;
}
.nonSelectedTab {
	background-color : #DDDDFF ;
}
.nonSelectedTabNoLink {
	background-color : #DDDDFF ;
}
.nonTabbed {
	background-color : transparent ;
	border-bottom : #DDDDFF solid ;
}
.TabContent {
	background-color : transparent ;
    border-right: #DDDDFF solid ;
    border-bottom: #DDDDFF solid ;
    border-left: #DDDDFF solid ;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px ;
}
.NoDisplayTabContent {
	float : none ;
	position : relative ;
	display : none ;
}
.DisplayTabContent {
	float : none ;
	position : relative ;
}
.borderAll {
	border-top: #DDDDFF solid ;
	border-bottom: #DDDDFF solid ;
    border-right: #DDDDFF solid ;
    border-left: #DDDDFF solid ;
}
.noBG {
	background : transparent ;
}
.yesBG {
	background : #DDDDFF ;
}
.HLight {
	font-weight : bold ;
}
.noHLight {
	font-weight : normal ;
}

#dhtmltooltip{
	position: absolute;
	width: 150px;
	border: 2px solid black;
	padding: 2px;
	background-color: #C1C1FF;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
td.tab_actived
{											
	color:Navy;
	cursor:pointer;
	border-left-style: solid;
	border-left-width: thin;
	border-left-color:Navy;			
	border-top-style: solid;
	border-top-width: thin;
	border-top-color:Navy;	
	border-right-style: solid;
	border-right-width: thin;
	border-right-color:Navy;
	background-color: white;
}
td.tab_disabled
{
	border-style: solid;
	border-width: thin;
	border-color:Navy;
	color:Navy;
	cursor:pointer;						
	background-color: #ADC5EF;
}
td.tab_last
{			
	cursor:default;									
	background-color: white;	
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color:Navy;						
	
}
td.tab_spacer
{			
	cursor:default;									
	background-color: white;								
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color:Navy;
}
td.tab_line
{			
	cursor:default;									
	background-color: white;								
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color:Navy;										
	
}
.trigger{
	cursor: pointer;
	display: block;
}
.handCur
{
	cursor: pointer;
}
.branch{
	display: none;
	margin-left: 20px;
}
div.selected_editor{
	position: absolute;
	left: 1px;
	Width: 95%;
	Height: 95%
}
div.unselected_editor{
	position: absolute;
	left: -4000px;
	Width: 95%;
	Height: 95%
}
div.mac_safari_selected_editor{
	position: absolute;
	visibility: visible;
	z-index: 2;
	left: 1px;
	Width: 95%;
	Height: 95%
}
div.mac_safari_unselected_editor{
	position: absolute;
	visibility: hidden;
	z-index: 1;
	left: -4000px;
	Width: 95%;
	Height: 95%
}
.DmsOnlySearch {
	background-color: #eeeeff; 
} 

table.content_container, td.content_container
{
	width:100%;
	height:100%;
	vertical-align:top;
}
.exception
{
	FONT-FAMILY : Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE : 12px;
	FONT-WEIGHT : bold;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 2px;
    COLOR: #ff0000;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #ffffcc
}
.toolTipLink
{
    BORDER-BOTTOM: blue 1px dashed;
    TEXT-DECORATION: none
}
img.search_result, img.search_result:link, img.search_result:active, img.search_result:hover, img.search_result:visited 
{
	color: Green;
	border:0;
}
tr.search_result_oddrow, td.search_result_oddrow 
{
	background-color:white;
}
tr.search_result_evenrow, td.search_result_evenrow 
{
	background-color:#e7e7e7;
}
td.search_result_image_cell 
{
	vertical-align:top;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
	border-width:0px;
    width:1%;
}
#FormDataSubmitted
{
	margin:3px;
}
#FormDataSubmitted table
{
	border:black solid 1px;
	padding:2px;
}
#FormDataSubmitted th
{
	text-align:left;
	color:white; 
	font-size:smaller;
	border:none;
	border-bottom:black solid 2px;
	background-color:#3163BD;
	padding:4px;
}
#FormDataSubmitted td
{
	border:#A5C6EF solid 1px;
	vertical-align:top;
	padding:4px;
}
.apiDesc
{
	border-color :#336699;
	border-style :solid;
	border-width :2px
}