@charset "iso-8859-1";
/*
-----------------------------------------------
bepress IR custom stylesheet.
Author:   Samira Vijghen
Version:  10 September 2013 vers (PDO)
PLEASE DO NOT CHANGE THIS FILE 
----------------------------------------------- */

/*
----------------------------------------------- 
= TYPOGRAPHY General
----------------------------------------------- */
body {
	font:12px/18px Arial, Verdana, Helvetica, sans-serif; }

#header h1,
#header h6,
#header h4,
h1,
h2,
#search-title,
.article-list h1,
h1.title,
#article h2,
#article-series h2,
.article-list h2,
#submit h2,
table.editors th,
h2.masthead strong,
legend,
h4,
h5,
#toc .issue a,
#sidebar h3,
#alpha h1,
#series-home h1,
#alpha h2,
#series-home h2,
#alpha h4,
#series-home h4,
.disc1 { 
	font-family:Georgia, "Times New Roman", Times, serif; }
	
h1,
h2,
h3,
h4,
h5,
#search-title,
.article-list h2,
.article-list h2 a,
#article h2,
table.editors th,
.recommend caption,
#submit h2,
#myaccount #account-head .title,
.disc1,
.disc2,
.disc3 {
	text-align:left; }

h1 {
	font-size:28px;
	font-weight:normal;
	line-height:1.3em; }
	
.article-list h1 {
	font-size:18px;
	text-align:center; }

h2,
#search-title,
.article-list h1,
h1.title,
#article h2,
#article-series h2,
.article-list h2,
table.editors th,
h2.masthead strong,
legend {
	font-size:18px;
	font-weight:normal;
	line-height:1.3em;
	text-align:left; }
	
#sidebar h2,
h2.series,
h3,
h3.series,
.disc2,
#info-box p a,
.communities dt,
.communities dt a:link,
.communities dt a:visited {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold; }

#sidebar h2 {	
	text-indent:15px;
	border:0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff; }
	
h2.series,
h3.series {
	text-transform:uppercase; }
		
h4 {
	font-size:14px;
	font-weight:bold;
	line-height:1.4em; }
	
h5 {
	font-weight:normal;
	font-size:12px;
	line-height:1.6em; }
	
/* = Links */
#main.text .articleInfo a,
#main.text .doc p a:link,
#main.text .doc p a:visited,
#main.text .box p a:link,
#main.text .box p a:visited,
#main.text h2#series-title a:link,
#main.text h2#series-title a:visited,
#main.text #alpha #title p a:link,
#main.text #alpha #title p a:visited {
	text-decoration: none; }

#main.text a,
#main.text .doc p a:active,
#main.text .doc p a:hover,
#main.text .box p a:active,
#main.text .box p a:hover,
#main.text h2#series-title a:active,
#main.text h2#series-title a:hover,
#main.text #alpha #title p a:active,
#main.text #alpha #title p a:hover {
	text-decoration: underline; }

#sidebar ul li a,
#sidebar ul li a:link,
#sidebar ul li a:visited,
#sidebar ul li a:active {
	text-decoration:none;
	font-weight:normal; }
	
#sidebar ul li a:hover {
	text-decoration:underline; }
	
.article-list .pdf a,
.article-list .native a,
.article-list .external a {
	color:#000;
	font-weight:normal; }
	
.article-list p.ed a,
.article-list .more p  {
	font-weight:bold; 
	font-size:11px;  }
	
/* = Breadcrumb, VOL,ISS & Article Pager */

#breadcrumb a,
.crumbs p a,
#pager li {
	font-size:11px;
	font-weight:normal;
	color:#222; }
	
#breadcrumb a:hover,
.crumbs a:hover {
	color:#ccc; }

/* = At A Glance & Paper of the Day Boxes */	
.box p a { 
	font-weight:bold; }

.box p a span {
	font-weight:normal;
	color:#000; }
	
/* = Home Page Downloads Legend */	
p#stats {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000; }
	
/* = Series & Community pages */	
h2#series-title,
#series-home h2 {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:24px;
	text-transform:uppercase; }
	
/* = Article Pages */
#alpha {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	line-height:1.6em; }

#alpha h1,#series-home h1 {
	color:#222;
	font-size:22px;
	font-weight:normal;
	line-height:1em; }
	
#alpha h2 {
	font-weight:normal;
	line-height:90%;
	font-size:20px;
	color:#222; }

#alpha h4,#series-home h4 {
	font-weight:normal;
	line-height:90%;
	font-size:17px;
	color:#222; }
	
.articleInfo, .aricleInfo a {
	color:#333;
	font-size:11px;
	font-weight:bold;}
	
p.comments,p.citation {
	font-size:11px;
	line-height:1.6em; }
	
/* = Disciplines Browser */
.disc1 {
	font-size:16px;
	font-weight:normal;
	text-align:left;
    text-transform:uppercase; }

/*
----------------------------------------------- 
= TYPOGRAPHY Journal Specific
----------------------------------------------- */
#toc .vol {
	font-size:28px;
	font-weight:normal;
	line-height:1.3em; }

#toc .issue a {
	font-size:18px;
	font-weight:normal;
	line-height:1.5em; }
	
#sidebar h3 /* special issue in sidebar */ {
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.2em;
	font-size:100%;
	line-height:1.6em;
	color:#FFFFFF;
	text-indent:15px; }
	
/*
----------------------------------------------- 
= TYPOGRAPHY Reapply after reset. Consult with Dev before changing!
----------------------------------------------- */
strong {
	font-weight:bold; }
	
em {
	font-style: italic;  }
	
/*
----------------------------------------------- 
= COLORS
----------------------------------------------- */
body {
	background-color:#FFFFFF !important;
	color:#000;  }

#wrapper,
#recent hr	{ 
	background-color:#1F60A9; }
#recent hr {
	color:#1F60A9; }

#footer { 
	background-color:#e5e5e5; }

#header  { 
	background:#0B1966; }

#subheader,
#navigation  { 
	background:#CCCCCC;}

#header a  { 
	background:inherit;
	color:#FFFFFF; 
	text-decoration:none; }

h1,
h2,
h3,
h5,
#search-title,
.article-list h1,
.article-list h2,
#article h2,
table.editors th,
.recommend caption,
legend,
.text #myaccount #account-head .title,
#confirm caption,
table#additional-files td span b   {
	color: #0B1966; }

#sidebar h2  { 
	background-color:#1F60A9;
	color:#FFFFFF; }

.article-list h2 a {
	border-bottom:1px solid #CCCCCC; }

#sidebar a,
#sidebarFeed a,
#sidebar ul li,
#sidebar ul li a,
#sidebar ul li a:link,
#sidebar ul li a:visited,
#sidebar ul li a:active,
#wrapper .text #myaccount thead tr th,
#sidebar p,
#sidebar label,
#sidebar h3 /* symposium title in sidebar */  { 
	color:#FFFFFF; }

#sidebarFeed a,
#sidebarFeed a:link,
#sidebarFeed a:visited,
#sidebarFeed a:active {
	background-color:#1F60A9;  }

/* = Links */
a:link,a:visited,h4 {
	color: #0B1966;  }



a:hover,a:active,a:focus,.article-list a:hover {
	color:#1F60A9; }

#main.text #alpha #title p a:link,
#main.text #alpha #title p a:visited {
	color: #222; }

#main.text #alpha #title p a:active,
#main.text #alpha #title p a:hover {
	color: #0B1966; }

#content .text a:focus { 
	border-bottom: 1px dotted #000; }

#sidebar li a:active,
#sidebar li a:hover,
#sidebar li a:focus { 
	background-color:#1F60A9;  }

#tabs a {			
	background:#1F60A9;
	color:#FFFFFF;
	border:1px solid #0B1966; }

/* = Sidebar Buttons */		
ul#navlist {         
	border-top:1px solid #0B1966; }

ul#navlist li a  { 
	color:#FFFFFF;
	border-bottom:1px solid #0B1966; }

/* = My Account page */

.text #myaccount table  { 
	border:1px solid #ccc; }

.text #myaccount thead tr th  {
	color:#000;
	background-color:#c5c5c5; }

.text #myaccount th,
.text #myaccount td {
	border-bottom:1px solid #eee; }

.text #myaccount tr th { 
	color:#000;
	background-color:#eee; }

.text #myaccount table table { 
	border:1px solid #eee; }

.text #myaccount td a,
.text #myaccount th a {
	color: #0B1966; }


.text #myaccount tr:hover,
.text #myaccount .odd:hover {
	background-color: #FFFFFF; }







/*
----------------------------------------------- 
= Miscellaneous 
----------------------------------------------- */

.text #confirm thead tr th  {
	color:#FFFFFF;
	background-color:#1F60A9; }


.text #confirm th,
.text #confirm td {
	border-bottom:1px solid #FFFFFF; }


.text #confirm tr th { 
	color:#FFFFFF;
	background-color:#1F60A9; }

table#metadata tbody tr th { 
	background-color:#fff;
	color:#1F60A9;}

.text #confirm table table { 
	border:1px solid #1F60A9; }

.text #confirm td a {
	color: #0B1966; }


.text #confirm tr:hover,
.text #confirm .odd:hover {
	background-color: #FFFFFF; }


#sidebar input#email_address,
#sidebar input#search,
#sidebar select,
.form-table select,
.form-table input#author {	
	border:1px solid #1F60A9;
	border-left:5px solid #1F60A9;  }

#alpha .author,
#series-home .chair {
	border-top: solid 2px #666;  }

#alpha .author a:link {
	text-decoration:none; }
#alpha .author a:link strong {
	text-decoration:underline; }

form#sidebar-search .border {
	background:#1F60A9;  }

#submit .field .field-border,
.box-border,
fieldset#sort_menu,
#save_options,
table#import_table tbody tr:hover,
#date_publication_date td  { 
	background-color: #eee; }

table#etd-metadata {
    background:#fff;
    border-collapse:collapse;
    color:#000;
    font:normal 11px/11px arial,helvetica,sans-serif; }

table#etd-metadata caption {
	font-size:18px;
	line-height:18px;
	font-weight:normal;
	text-align:left; }

table#etd-metadata tbody td {
    padding:5px;
    border-bottom:1px solid #000;
    text-align:left;  }

#confirm table#etd-metadata th {
    background-color:#fff;
    color:#000;
    white-space:nowrap;
    text-transform:none;
    vertical-align:top; 
    width:200px;
    padding:5px;
    text-align:right;  }

/*
----------------------------------------------- 
= LOGO IN FOOTER
to hide the logo replace CSS below with:
#bepress { display:none; } 
----------------------------------------------- */
#bepress a {
		background:#e5e5e5 url(assets/md5images/f572f98669bbdaaa4d8605418734b3ac.gif) right no-repeat;
        width:240px;
        height:75px;
        display:block;
        margin:0;
        padding:0;
        border:0;}

/* Content Carousel */

.ft-block { 
    background-color:#fff;
    display:block;
    overflow:hidden; }

#ir-carousel .aspect{
    height:auto;}

/* Image Localizations */



#wrapper {
	background-image: url(assets/md5images/5f48f52f790334d8eff5038b262cf673.gif);
	background-repeat: repeat-y; }




#cover-browse h3 {
	background: transparent url(assets/md5images/ddb96b58b838d141bf25300717a084a9.gif) left no-repeat; }





/* Browse Authors by Discipline Activity Graphs */
td.yui3-column-activity .bar { 
	background-color:#0B1966; }
