/*
-----------------------------------------------
bepress IR local stylesheet.
Author:   Lani Goto
Version:  January 2014
PLEASE SAVE THIS FILE LOCALLY!
----------------------------------------------- */

/* Header */

#bsu #header {
	height: 75px; }

#bsu #header #logo {
	display: block;
	float: left; }

#bsu #header #pagetitle,
#bsu #header h1,
#bsu #header h1 a {
	width: 740px;
	height: 75px;
	padding: 0;
	margin: 0;
	display: block;
	float: right; }

#bsu #header h1 a {
	background: #0B1966 url(assets/md5images/fcd0022c57bed46ae7766e6bdc8f544d.gif) top left no-repeat;
	text-indent: -9999px; }


/* Navigation */

#bsu #navigation {
	height: 36px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff; }

#bsu #navigation #tabs ul {
	padding: 0; }

#bsu #navigation #tabs a {
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background-color: transparent;
	text-decoration: none;
	padding: 0 11px;
	margin: 0;
	border: 0;
	float: left; }

#bsu #navigation #tabs a:hover,
#bsu #navigation #tabs a:active,
#bsu #navigation #tabs a:focus {
	text-decoration: underline; }


/* Sidebar */

#bsu #sidebar p.site-follow {
	display: none; }

#bsu #sidebar #sidebar-search label {
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	color: #fff; }

#bsu #sidebar h2 {
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	color: #0B1966;
	background-color: #b7b7b7;
	padding: 4px 0;
	border: 0;
	text-indent: 15px; }

#bsu #sidebar p.advanced a {
	text-decoration: none; }

#bsu #sidebar a:hover,
#bsu #sidebar a:active,
#bsu #sidebar a:focus,
#bsu #sidebar p.advanced a:hover,
#bsu #sidebar p.advanced a:active,
#bsu #sidebar p.advanced a:focus {
	background-color: transparent;
	text-decoration: underline; }

#bsu #sidebar p.advanced + div {
	display: none; }


/* Main Content */

#bsu #content {
	background-color: transparent; }

#bsu #wrapper {
	background: #fff url(assets/md5images/5f48f52f790334d8eff5038b262cf673.gif) top left repeat-y; }

#bsu #dcn-home .box-left {
	width: 290px;
	margin-right: 2%;
	margin-bottom: 0; }

#bsu #dcn-home .box-left h2 {
	font: normal 21px Georgia, "Times New Roman", Times, serif;
	padding-bottom: 5px;
	margin-top: 10px; }

#bsu #dcn-home #cover-browse h3 a {
	font: normal 15px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline; }

#bsu #dcn-home .box-right {
	min-height: 266px;
	margin-top: 25px; 
	margin-left: 0px;
	margin-right: 10px; }

#bsu #dcn-home .box-right #widgetSlideshow {
	background-color: #e1e1e1;
	border: 1px solid #0B1966; }

#bsu #dcn-home .box.aag h2,
#bsu #dcn-home .box.potd h2 {
	width: 267px;
	font: normal 16px Georgia, "Times New Roman", Times, serif;
	border-bottom: 1px solid #999; }

#bsu #dcn-home .box.aag h2 span.pull-right { 
	display: none; }

#bsu #dcn-home .box.aag a,
#bsu #dcn-home .box.potd a {
	border-bottom: 1px solid #999;
	background: none; }

#bsu #main.text .box a:link,
#bsu #main.text .box a:visited {
	text-decoration: none; }

#bsu #main.text .box a:hover,
#bsu #main.text .box a:active,
#bsu #main.text .box a:focus {
	text-decoration: underline; }

#bsu #main.text a:link,
#bsu #main.text a:visited {
	color: #0B1966;
	text-decoration: underline; }

#bsu #main.text a:hover,
#bsu #main.text a:active,
#bsu #main.text a:focus {
	color: #000;
	text-decoration: underline; }


/* Footer */

#bsu #footer {
	border-top: 1px solid #fff; }

#bsu #footer,
#bsu #footer #bepress a {
	height: 75px;
	background-color: #09347a; }

#bsu #footer p {
	padding-top: 25px; }

#bsu #footer p,
#bsu #footer p a {
	font-size: 12px;
	color: #fff;
	text-decoration: none; }

#bsu #footer p a:hover,
#bsu #footer p a:active,
#bsu #footer p a:focus {
	text-decoration: underline; }


/* Advanced Search */
.legacy #bsu #wrapper { 
	background-image: none; }


/* Mobile */

.mbl #bsu #dcn-home .box-right #widgetSlideshow { 
	border: 0;
	background-color: transparent; }
	
/* Reduces font in content carousel on ideaofnature series Aurora 3/5/14 */

#bsu #main.text #carouselfont .ft-blurb p { font-size: 10px; }

/* End font reduction */
