#sched-header #sched-logo h1 { width:1200px;height:444px; }
#sched-header #sched-logo h1 a span { background:url(/img/logo.jpg) no-repeat; }
#sched-header #sched-logo h1 a { color: white; width:1200px; height:444px; }
#sched-header #sched-logo h1 a:hover { color: white; }
