.formatTypeIcon-VIDEODISC
{
background-image: url("/client/assets/c1c791a91871f076/ctx/images/format-icons/cd.png");
}

#onlyAvailableButton
{
visibility: hidden;
}

#onlyAvailableForm
{
visibility: hidden;
}

#advancedSearchOnlyAvailableWrapper
{
    visibility: hidden;
}


