
.layout-section {
    display: -dari-grid;
    -dari-grid-template: "header header header header header header header"
                         "ad     ad     ad     ad     ad     ad     ad"
                         ".      bc     bc     bc     bc     bc     ."
                         ".      lead   lead   lead   .      right  ."
                         ".      left   .      center .      right  ."
                         ".      well   well   well   well   well   ."
                         "footer footer footer footer footer footer footer";

    -dari-grid-definition-columns:
                          1fr    428px  20px   204px  20px   300px  1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto auto;
}

.layout-section-wide {
    display: -dari-grid;
    -dari-grid-template: "header header header header header"
                         "ad     ad     ad     ad     ad"
                         ".      bc     bc     bc     ."
                         ".      lead   lead   lead   ."
                         ".      left   .      right  ."
                         ".      well   well   well   ."
                         "footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 652px 20px 300px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto auto;
}

.layout-wide {
    display: -dari-grid;
    -dari-grid-template:

    "header header header header header header header"
    "ad     ad     ad     ad     ad     ad     ad"
    ".      bc     bc     bc     bc     bc     ."
    ".      lead   lead   lead   .      right  ."
    ".      left   .      center .      right  ."
    ".      well   well   well   well   well   ."
    "footer footer footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 204px 20px 428px 20px 300px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto auto;
}

.layout-standard {
    display: -dari-grid;
    -dari-grid-template: "header header header header header"
                         "ad     ad     ad     ad     ad"
                         ".      bc     bc     bc     ."
                         ".      left   .      right  ."
                         ".      well   well   well   ."
                         "footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 652px 20px 300px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto;
}

.layout-photo {
    display: -dari-grid;
    -dari-grid-template: "header header header header header"
                         "ad     ad     ad     ad     ad"
                         ".      bc     bc     bc     ."
                         ".      .      lead   .      ."
                         "slides slides slides slides slides"
                         ".      .      center .      ."
                         ".      well   well   well   ."
                         ".      .      .      .      ."
                         "footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 103px 766px 103px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto auto 10px auto;
}

.layout-split {
    display: -dari-grid;
    -dari-grid-template: "header header header header header"
                         ".      bc     bc     bc     ."
                         ".      left   .      right  ."
                         ".        .    .      .      ."
                         ".      well   well   well   ."
                         ".        .    .      .      ."
                         "footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 473px 24px 473px 1fr;
    -dari-grid-definition-rows: auto auto auto 10px auto 10px auto;
}

.layout-product {
    display: -dari-grid;
    -dari-grid-template: "header header header"
                         ".        bc        ."
                         ".        well      ."
                         ".        .         ."
                         "footer footer footer";

    -dari-grid-definition-columns: 1fr 972px 1fr;
    -dari-grid-definition-rows: auto auto auto 10px auto;
}

.layout-full {
    display: -dari-grid;
    -dari-grid-template: "header header header"
                         "ad       ad       ad"
                         ".        bc        ."
                         ".        full      ."
                         ".        well      ."
                         ".        .         ."
                         "footer footer footer";

    -dari-grid-definition-columns: 1fr 972px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto 10px auto;
}

.layout-triple-promo {
    display: -dari-grid;
    -dari-grid-template: "top top"
                   "main rt"
                   "main rb";

    -dari-grid-definition-columns: 440px 195px;
    -dari-grid-definition-rows: auto auto auto;
}

.layout-anthill {
    display: -dari-grid;
    -dari-grid-template: "header       header       header       header       header"
                         "leaderboardA leaderboardA leaderboardA leaderboardA leaderboardA"
                         ".            bc           bc           bc           ."
                         ".            left         .            right        ."
                         ".            mainWidget   mainWidget   mainWidget   ."
                         ".            leaderboardB leaderboardB leaderboardB ."
                         "footer       footer       footer       footer       footer";

    -dari-grid-definition-columns: 1fr 652px 20px 300px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto auto;
}

.layout-product-category {
    display: -dari-grid;
    -dari-grid-template: "header header header header header header header"
                         "ad     ad     ad     ad     ad     ad     ad"
                         ".      bc     bc     bc     bc     bc     ."
                         ".      left   .      center .      right  ."
                         ".      well   well   well   well   well   ."
                         "footer footer footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr  204px  20px 428px 20px 300px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto;
}

.layout-boxed {
    display: -dari-grid;
    -dari-grid-template: "header header header"
                         "ad       ad       ad"
                         ".        bc        ."
                         ".        box       ."
                         ".        .         ."
                         "footer footer footer";

    -dari-grid-definition-columns: 1fr 1002px 1fr;
    -dari-grid-definition-rows: auto auto auto auto 25px auto;

}

/* Layout grid for the 529s Project */
.layout-529 {
    display: -dari-grid;
    -dari-grid-template: "header header header header header"
                         "ad     ad     ad     ad     ad"
                         ".      bc     bc     bc     ."
                         ".      lead   lead   lead   ."
                         ".      left   .      right  ."
                         ".      well   well   well   ."
                         "footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 652px 20px 300px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto auto;
}

.layout-529-search {
    display: -dari-grid;
    -dari-grid-template:

    "header header header header header"
    "ad     ad     ad     ad     ad"
    ".      bc     bc     bc     ."
    ".      left   .      center ."
    ".      well   well   well   ."
    "footer footer footer footer footer";

    -dari-grid-definition-columns: 1fr 204px 20px 748px 1fr;
    -dari-grid-definition-rows: auto auto auto auto auto auto;
}


@media only screen and (min-width: 300px) and (max-width:700px) {

}

// GRID FIXES  -- TODO: Speak to Hyoo about fixes to Grid?!?
.layout-section > .dari-grid-area[data-grid-area="well"] {
    clear: both !important;
}
.layout-section > .dari-grid-area[data-grid-area="well"] {
    clear: both !important; // unsure why it has to be twice
}

.layout-section > .dari-grid-area[data-grid-area="center"] {
    clear: none !important;
}

.layout-wide > .dari-grid-area[data-grid-area="center"] {
    clear: none !important;
}

.layout-wide > .dari-grid-area[data-grid-area="footer"] {
    clear: both !important;
}