.responsive_ad_container img {
	max-width:100% !important;
	height:auto !important;
}
.responsive_ad_container object {
	width: 100% !important;
}


@media screen and (max-width:480px) {
.pro_ad_responsive_container_small {
	display:none;
}
}
@media screen and (min-width:481px) and (max-width:1280px) {
.pro_ad_responsive_container_medium {
	display:none;
}
}
@media screen and (min-width:1281px) {
.pro_ad_responsive_container_large {
	display:none;
}
}