/* $Id: common.css 139079 2014-02-12 16:54:25Z naveen.malla $
* /css/0.1/screen/common/modules/sharetools/common.css
* (c)2006 - 2012 The New York Times Company */ 

@import url(/css/0.1/screen/common/modal/saveModal.css);

/* Begin Common */

.shareToolsInset {
  margin: 10px;
}

.shareToolsHeader {
  margin-bottom: 10px;
}

.shareToolsColumn,
.shareToolsOpposingFloatControl .element1 {
  float: left;
}

.shareToolsOpposingFloatControl .element2 {
  float: right;
}

.shareToolsWrap {
  overflow: hidden;
}

.shareToolsSingleRule {
  border-top: 1px solid #ccc;
  padding-top: 8px;
}

/* End Common */

/* Begin Base Share Tools */

.shareToolsHeader h5,
.shareToolsDialogBoxClose,
.shareToolsThemeClassic li {
  font-family: arial, helvetica, sans-serif;
}

.shareToolsOverlay {
  background: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Good browsers */
  opacity: 0.5;
  z-index: 100000002;
  height: 100%;
}

.shareToolsDialogBox {
  background: #fff;
  border: 1px solid #ddd;
  width: 396px;
  min-height: 220px;
  left: 50%;
  margin: -160px 0 0 -215px;
  position: fixed;
  top: 50%;
  z-index: 100000003;
  -moz-box-shadow: 2px 2px 3px #aaa;
  -webkit-box-shadow: 2px 2px 2px #aaa;
  box-shadow: 2px 2px 3px #aaa;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA');  
}

.shareToolsDialogBox .shareToolsInset {
  margin: 16px 30px 22px;
}

/* Email This Modal */
.emailThisModal iframe {
  width: 867px;
  min-height: 420px;
  *height: 490px;
  border: 0;
  visibility: visible !important;
}

.shareToolsColumn .shareToolsInset {
  margin: 0 10px 25px 0;
}

.shareToolsLastColumn .shareToolsInset {
  margin: 0 0 25px 10px;
}

.shareToolsDialogBox .shareToolsColumn {
  width: 168px;
}

.shareToolsHeader h5 {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 15px;
}

.shareToolsDialogBoxClose {
  font-size: 10px;
  text-transform: uppercase;
  background: url(/images/article/comments/buttons/close_window.gif) no-repeat center right;
  padding: 0 19px 0 0;
  line-height: 15px;
  color: #000 !important;
}

.shareToolsFooter {
  text-align: center;
}

/* End Base Share Tools */

/* Begin Classic Share Tools Theme */

.shareToolsThemeClassic li {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: left;
  background-image: none;
  padding: 5px;
  border-bottom: 1px solid #eae8e9;
}

.shareToolsThemeClassic .lastItem {
  border-bottom: 0;
}

.shareToolsThemeClassic li a,
.shareToolsThemeClassic li a:visited,
.shareToolsThemeClassic li a:hover,
.shareToolsThemeClassic li span,
.shareToolsThemeClassic li span:visited,
.shareToolsThemeClassic li span:hover {
  color: #333;
}

.shareToolsThemeClassic li a,
.shareToolsThemeClassic li span {
  font-size: 10px;
  line-height: 13px;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 2px 0 2px 22px;
}

.shareToolsThemeClassic .noLabel a,
.shareToolsThemeClassic .noLabel span {
  padding-left: 16px;
  min-height: 16px;
}

.shareToolsThemeClassic li span:hover {
  text-decoration: underline;
}

.shareToolsThemeClassic .shareToolsItemAd {
  padding: 8px 0;
  text-align: center;
}

.shareToolsThemeClassic .shareToolsItemAd a {
  padding: 0;
}

.shareToolsThemeClassicHorizontal .shareToolsList {
  overflow: auto;
}

.shareToolsThemeClassicHorizontal li {
  padding: 0 8px;
  float: left;
  border-bottom: 0;
}

.shareToolsThemeClassicHorizontal .firstItem {
  padding: 0 8px 0 0;
}

.shareToolsThemeClassicHorizontal .lastItem {
  padding: 0 0 0 8px;
}

.shareToolsThemeClassic .shareToolsItemFacebook a,
.shareToolsThemeClassic .shareToolsItemFacebook span {
  background-image: url(/images/icons/sharetools/classic/facebook.gif);
}

.shareToolsThemeClassic .shareToolsItemTwitter a,
.shareToolsThemeClassic .shareToolsItemTwitter span {
  background-image: url(/images/icons/sharetools/classic/twitter.gif);
}

.shareToolsThemeClassic .shareToolsItemPinterest a,
.shareToolsThemeClassic .shareToolsItemPinterest span {
  background-image: url(/images/icons/sharetools/classic/icon-pinterest-16x16-6288a5.gif);
}

.shareToolsThemeClassic .shareToolsItemGoogle a,
.shareToolsThemeClassic .shareToolsItemGoogle span {
  background-image: url(/images/icons/sharetools/classic/google.gif);
}

.shareToolsThemeClassic .shareToolsItemTumblr a,
.shareToolsThemeClassic .shareToolsItemTumblr span {
  background-image: url(/images/icons/sharetools/classic/tumblr.gif);
}

.shareToolsThemeClassic .shareToolsItemLinkedin a,
.shareToolsThemeClassic .shareToolsItemLinkedin span {
  background-image: url(/images/icons/sharetools/classic/linkedin.gif);
}

.shareToolsThemeClassic .shareToolsItemReddit a,
.shareToolsThemeClassic .shareToolsItemReddit span {
  background-image: url(/images/icons/sharetools/classic/reddit.gif);
}

.shareToolsThemeClassic .shareToolsItemDigg a,
.shareToolsThemeClassic .shareToolsItemDigg span {
  background-image: url(/images/icons/sharetools/classic/digg.gif);
}

.shareToolsThemeClassic .shareToolsItemPermalink a,
.shareToolsThemeClassic .shareToolsItemPermalink span {
  background-image: url(/images/icons/sharetools/classic/permalink.gif);
}

.shareToolsThemeClassic .shareToolsItemPrint a,
.shareToolsThemeClassic .shareToolsItemPrint span {
  background-image: url(/images/icons/sharetools/classic/print.gif);
}

.shareToolsThemeClassic .shareToolsItemReprints a,
.shareToolsThemeClassic .shareToolsItemReprints span {
  background-image: url(/images/icons/sharetools/classic/reprints.gif);
}

.shareToolsThemeClassic .shareToolsItemSinglepage a,
.shareToolsThemeClassic .shareToolsItemSinglepage span {
  background: url(/images/icons/sharetools/classic/singlepage.gif) no-repeat 1px 1px;
}

.shareToolsThemeClassic .shareToolsItemEmail a,
.shareToolsThemeClassic .shareToolsItemEmail span {
  background: url(/images/icons/sharetools/classic/email.gif) no-repeat 1px 4px;
}

.shareToolsThemeClassic .shareToolsItemShowall a,
.shareToolsThemeClassic .shareToolsItemShowall span {
  background-image: url(/images/icons/sharetools/classic/share-all.gif);
}

.shareToolsThemeClassic .shareToolsItemSave a,
.shareToolsThemeClassic .shareToolsItemSave span {
  background: url(/images/save/icons/saveicon_standard.png) no-repeat 0 2px;
}

/* End Classic Share Tools Theme */
