/* $Id: player.css 117259 2012-12-04 20:35:36Z felipe.dasilva $
/css/0.1/screen/common/modules/video/player.css
(c)2006 - 2012 The New York Times Company */

body {
  padding: 0;
}

.videoplayerModule {
  display: none;
  width: 336px;
}

.videoplayerModule .loading {
  background: #000 url(/images/loaders/loading-grey-lines-circle-dark.gif) center no-repeat;
}

.videoplayerModuleHeader {
  height: 23px;
  padding: 8px 0 0;
}

.noHeader .videoplayerModuleHeader {
  display: none;
}

.videoplayerModuleHeader .element1,
.videoplayerModuleHeader .element2 {
  float: left;
  width: 49%;
}

.videoplayerModuleHeader .element2 {
  float: right;
  text-align: right;
  width: 49%;
}

.videoplayerModuleHeader .inset {
  margin: 0 0 9px;
}

.videoplayerModuleHeader .sectionHeaderHome {
  font-size: 1.2em;
  margin-bottom: 0;
}

.videoplayerModuleHeader .sectionHeaderEmbed {
  display: none;
}

.videoplayerModuleHeader .refer {
  margin: 0;
}

.videoplayerModuleHeader .refer li {
  font-size: 1em;
  margin: 0;
  padding: 0 3px;
}

.videoplayerModuleHeader .refer .lastItem {
  padding-right: 0;
}

.videoplayerModule .videoplayerContainer {
  padding: 11px;
}

.videoplayerModule .videoplayerContainer .box {
  border-color: #dcdcdc;
}

.videoplayerModule .videoplayerContainer .inset {
  margin: 11px;
}

.videoplayerModule .videoContainer {
  background: #000;
  height: 176px;
  width: 100%;
  margin-bottom: 5px;
}

.videoplayerModule .videoContainerOverlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.videoplayerModule .videoMeta {
  border: 1px solid #ccc;
  margin: 0 0 4px;
}

.videoplayerModule .videoMeta .box {
  border-top: 1px solid #aaa;
  margin: 3px 0 4px;
}

.videoplayerModule .videoMeta .inset {
  height: 95px;
  margin: 0;
  padding: 0 10px 10px;
  overflow: hidden;
}

.videoplayerModule .videoMeta h6 {
  display: inline;
}

.videoplayerModule .videoMeta h5 {
  color: #004276;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.1em;
}

.videoplayerModule .playing .videoNowPlayingNotice {
  display: inline;
}

.videoplayerModule .videoNowPlayingNotice {
  display: none;
  font-family: arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.videoplayerModule .videoMeta .box {
  height: 105px;
}

.videoplayerModule .infoOverlay {
  background-color: #fff;
  border-top: 1px solid #aaa;
  bottom: 0;
  display: none;
  height: 98px;
  padding: 5px;
  position: absolute;
  width: 300px;
  z-index: 100;
}

.videoplayerModule .infoOverlay p {
  line-height: 1.3em;  /* fixes a weird firefox display bug */
}

.videoplayerModule .videoThumbOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 48px;
  border: 1px solid #ccc;
  background-color: #2d2d2d;
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.videoplayerModule .videoplayerMenu .kicker,
.videoplayerModule .videoplayerMenu .videoThumbPlayOverlay {
  color: #fff;
  position: absolute;
  vertical-align: middle;
}

.videoplayerModule .videoplayerMenu li {
  background: none;
  list-style: none;
  margin: 0 0 0 4px;
  padding: 0;
  display: inline;
  cursor: pointer;
  float: left;
  height: 50px;
  width: 75px;
}

.videoplayerModule .videoplayerMenu li img {
  display: block;
}

.videoplayerModule .videoplayerMenu li.firstThumb {
  margin-left: 0;
}

.videoplayerModule .videoplayerMenu .kicker {
  bottom: 0;
  text-align: center;
  width: 75px;
}

.videoplayerModule .videoplayerMenu .section {
  font-size: 0.8em;
  line-height: 1.9em;
}

.videoplayerModule .videoplayerMenu .videoThumbPlayOverlay {
  background: url(/images/video/video-player-thumb-play.png) no-repeat 0 0;
  bottom: 1px;
  display: none;
  left: 0;
  overflow: hidden;
  text-indent: -999px;
  width: 75px;
}
      
.videoplayerModule .videoThumbPointerIcon {
  background: url(/images/video/video-player-thumb-arrow.png) no-repeat 0 0;
  display: none;
  position: absolute;
  height: 12px;
  left: 25px;
  overflow: hidden;
  top: -5px;
  width: 25px;
  z-index: 100;
}

.videoplayerModule .selected .videoThumbOverlay {
  border: solid 2px #000;
  background-color: transparent;
  width: 71px;
  height: 46px;
}

.videoplayerModule .selected .videoThumbPlayOverlay,
.videoplayerModule .selected .videoThumbPointerIcon {
  display: block;
}

.videoplayerModule .selected .section,
.videoplayerModule .playing .videoThumbPlayOverlay,
.videoplayerModule .playing .videoThumbPointerIcon {
  display: none;
}

.videoplayerModule .screenCover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  height: 174px;
  position: absolute;
  width: 310px;
}

.videoplayerModule .screenCover {
  z-index: 100;
}

.videoplayerModule .screenCoverHeading {
  border-bottom: 1px solid #000;
  font-size: 2em;
  margin: 30px 0 15px 15px;
  width: 100px;
}

.videoplayerModule .screenCover .branding {
  margin: 0 0 20px 15px;
}

.videoplayerModule .screenCover p {
  margin-left: 15px;
}

.videoplayerModule .videoShareToolsContainer {
  height: 18px;
  padding-top: 4px;
  overflow: hidden;
}


/* Override share icon layout */
.videoplayerModule .videoShare span {
  height: 16px;
  width: 16px;
  padding-left: 0;
  padding-right: 0;
  text-indent: -999px;
}

.videoplayerModule .videoShare .shareToolsItem {
  float: right;
}

.videoplayerModule .videoShare .shareToolsItem.firstItem {
  padding-left: 0;
}

.videoplayerModule .videoShare .shareToolsItem.lastItem {
  padding-right: 0;
}

.videoplayerModule .shareToolsThemeClassic .shareToolsItemShowall a, 
.videoplayerModule .shareToolsThemeClassic .shareToolsItemShowall span {
  background: url(/images/icons/sharetools/classic/share-all-static.gif);
}

.videoplayerModule object,
.videoplayerModule embed {
  outline: 0;
}

/* container div for adnotice for positioning block */
.videoplayerModule .adnoticewrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

/* styling the text in the ad notice */
.videoplayerModule .adnotice {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: arial, helvetica, sans-serif;
  color: #646464;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: block;
  width: 100%;
  height: 24px;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: transparent;
  overflow: hidden;
}

/* emphasis style for second part of ad notice */
.videoplayerModule .adnotice em {
  color: #fff;
  font-style: normal;
}

/* Add a background under the ad notice text for readability. 
   The ad must still be visible so make the background 90% transparent.  
   Used a div for this instead of using a background value with rgba since rgba isn't supported in legacy browsers  
*/
.videoplayerModule .underadnotice {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  width: 100%;
  height: 24px;
  background-color: #2d2d2d;
  filter: alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}


/* Video Player Homepage template */
.playerTypeHomepage .videoplayerContainer {
  border: 1px solid #ccc;
  height: 364px;
}

/* Video Player Section template */
.playerTypeSection {
  width: 395px;
}

.playerTypeSection .container {
  height: auto;
}

.playerTypeSection .videoplayerContainer {
  border: 0;
  padding: 0;
}

.playerTypeSection .videoContainer {
  height: 222px;
}

.playerTypeSection .videoshare {
  margin: 0 4px 0 0;
}

.playerTypeSection .videoMeta .inset {
  padding: 0 5px 5px; 
}

.playerTypeSection .videoplayerMenu .videoThumb {
  margin-left: 5px;
}


/*Video Player Article template */
.playerTypeArticle {
  width: 318px;
}

.playerTypeArticle .videoContainer {
  height: 179px;
}

.playerTypeArticle .videoplayerContainer {
  padding: 0;
}

.playerTypeArticle .videoplayerModuleHeader .sectionHeaderHome {
  display: none;
}

.playerTypeArticle .videoplayerModuleHeader .sectionHeaderEmbed {
  display: block;
}

/*Video Player Blog template */
.playerTypeBlog {
  width: 474px;
}

.playerTypeBlog .videoContainer {
  height: 267px;
}

.playerTypeBlog .videoplayerContainer {
  padding: 0;
}

.playerTypeBlog .videoplayerModuleHeader .sectionHeaderHome {
  display: none;
}

.playerTypeBlog .videoplayerModuleHeader .sectionHeaderEmbed {
  display: block;
}