/* Header Style */

.cbp-af-header {
position: fixed;
top: auto;
left: 0;
width: 100%;
/* Style below can be removed */
background: -webkit-linear-gradient( #4d80af, #2b5593);
background: linear-gradient( #4d80af, #2b5593);
height: 75px;
overflow: hidden;
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
transition: height 0.3s;
z-index:10000;
}
.chrome .cbp-af-header {
position: fixed;
top: auto;
left: 0;
width: 100%;
/* Style below can be removed */
background: -webkit-linear-gradient( #4d80af, #2b5593);
background: linear-gradient( #4d80af, #2b5593);
height: 75px;
overflow: hidden;
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
transition: height 0.3s;
z-index:10000;

}
.ie8 .cbp-af-header {
position: fixed;
top: -30px;
left: 0;
width: 100%;
/* Style below can be removed */
background: -webkit-linear-gradient( #4d80af, #2b5593);
background: linear-gradient( #4d80af, #2b5593);
height: 75px;
overflow: hidden;
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
transition: height 0.3s;
z-index:10000;
}
.ie9 .cbp-af-header {
position: fixed;
top: -30px;
left: 0;
width: 100%;
/* Style below can be removed */
background: -webkit-linear-gradient( #4d80af, #2b5593);
background: linear-gradient( #4d80af, #2b5593);
height: 75px;
overflow: hidden;
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
transition: height 0.3s;
z-index:10000;
}
.ie10 .cbp-af-header {
position: fixed;
top: auto;
left: 0;
width: 100%;
/* Style below can be removed */
background: -webkit-linear-gradient( #4d80af, #2b5593);
background: linear-gradient( #4d80af, #2b5593);
height: 75px;
overflow: hidden;
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
transition: height 0.3s;
z-index:10000;
}

.cbp-af-header .cbp-af-inner {
	width: 100%;
	max-width: 980px; /* width of entire header */
	margin: 0 auto;
}

.cbp-af-header nav {
  	color: white;
    display: block;    
    font-weight: bold;
   
}

 /* One-lined elements, Center the elements with the line-height set to the height of the header */
.cbp-af-header nav a {
	line-height: 65px; /* Height of the Nav-Links */
	padding: 0 30px 0 20px; /* Padding space between Nav-Link */
	text-decoration: none !important;
}

.cbp-af-header nav {
	/*padding-left: 340px; */
}

.cbp-af-header nav a {
  	color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.38);
}

.cbp-af-header nav a:hover {
	color: #ccc;
	text-decoration: none;
}

/* Transitions and class for reduced height */
.cbp-af-header nav a {
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}

.head_logo {
	margin: 10px 0 0 0;
	width: auto;
	height: 0;
	float:left;
	background: url(/cisco-nci-theme/images/cisco_thenetwork_logo_white.png) no-repeat center center;
}
.cbp-af-header.cbp-af-header-shrink  .menu li.selected {
   
	background:url(/cisco-nci-theme/images/down_arrow_nav1_gray.png) no-repeat scroll 2px 12px rgba(0, 0, 0, 0)
}
.chrome.cbp-af-header.chrome.cbp-af-header-shrink  .chrome.menu li.selected {
   
	background:url(/cisco-nci-theme/images/down_arrow_nav1_gray.png) no-repeat scroll 2px 12px rgba(0, 0, 0, 0)
}

.cbp-af-header.cbp-af-header-shrink  .menu {
    float: left;
    height: 40px;
    list-style: none outside none;
    margin-bottom: 4px;
    margin-right: 0;
    margin-top: 18px;
}
.chrome .cbp-af-header .chrome.cbp-af-header-shrink  .chrome.menu {
    float: left;
    height: 40px;
    list-style: none outside none;
    margin-bottom: 4px;
    margin-right: 0;
    margin-top: 18px;
}

.cbp-af-header.cbp-af-header-shrink nav .search{
bottom: 18px;
    float: right;
    height: 27px;
    margin-top: 30px;
    position: relative;
    right: 0;
    width: 193px;
	}


.cbp-af-header.cbp-af-header-shrink  nav .login{
	bottom: -2px;
    color: #FFFFFF;
    float: right;   
    left: 342px;
    position: relative;
    text-align: center;
    width: 110px;
}
.chrome .cbp-af-header .chrome .cbp-af-header-shrink  .chrome.search{
 bottom: 18px;
    float: right;
    height: 27px;
    margin-top: 30px;
    position: relative;
    right: 0;
    width: 193px;
}

/* Stick Header - Shrink Animation */

@media (min-width: 992px) {
	.cbp-af-header.cbp-af-header-shrink {
		height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink nav {
		margin-left: -80px; /* Space between Logo and Nav-Links */
		
		top:-17px;	
		position:relative;
	}
	
	.chrome .cbp-af-header .chrome.cbp-af-header-shrink nav {
		margin-left: -80px; /* Space between Logo and Nav-Links */
		
		top:-17px;	
		position:relative;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav .menu li.selected {
		background:url(/cisco-nci-theme/images/down_arrow_nav1_gray.png) no-repeat scroll 2px 12px rgba(0, 0, 0, 0);
		
	}

	.cbp-af-header.cbp-af-header-shrink form {
		margin-top: 0px;
	}

	.cbp-af-header.cbp-af-header-shrink input {
		height: 28px;
	}

	.cbp-af-header.cbp-af-header-shrink i.glyphicon-search {
		font-size: .8em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 36px; /* Height of Nav-A-Links when shrink */
		margin-left: -1px;
		float: left;
	}
	.chrome .cbp-af-header .chrome .cbp-af-header-shrink nav a {
		line-height: 36px; /* Height of Nav-A-Links when shrink */
		margin-left: -1px;
		float: left;
	}


	/* Logo Shrink Animation */
	.cbp-af-header .head_logo {
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: scale(1);
		-o-transition: all 0.2s;
		transition: all 0.2s;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}

	.cbp-af-header.cbp-af-header-shrink .head_logo {
		margin: 6px 0 0 -7%;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-o-transition: scale(0.6);
		transition: all 0.2s;
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		transform: scale(0.6);
	}

}


