/*--------------------------------
	CSS file if thumbs enabled
---------------------------------*/

#featured.upzslider {
	width:405px;
	position:relative;
	height:248px;
	background-color:#05314A ;
	overflow:hidden;
	padding: 0px;
	border: 3px solid #05314A ;
}

#featured.upzslider ul#upz-slideshow-navigation{
	position:absolute;
	top:0; right:0;
	list-style:none;
	padding:0; 
	margin: 0px 0px 0 0;
	width:208px;
}

#featured.upzslider ul#upz-slideshow-navigation li {
	width:100%;
	float:left;
	cursor:pointer;
	border-bottom: 1px solid #aaa;
	background: #F5F7F8;
}

#featured.upzslider ul#upz-slideshow-navigation li img { float:left; }

#featured.upzslider ul#upz-slideshow-navigation li.activeSlide {
	background:#05314A ;
}

#featured.upzslider ul#upz-slideshow-navigation li.activeSlide a {
	color: #fff;
	font-weight: bold;
}

#featured.upzslider ul#upz-slideshow-navigation li a {
	float:left;
	clear:both;
	color: #05314A ;
}

#featured.upzslider ul#upz-slideshow-navigation li span{
	float:left;
	margin-top: 5px;
}



#featured.upzslider .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:70px; 
	background: url('../img/transparent-bg.png'); 
	display:none;
}
#featured.upzslider .info h2{ 
	font-size:14px; font-family:Tahoma, Arial, Helvetica, sans-serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured.upzslider .info p{ 
	margin:0 5px; 
	font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured.upzslider .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured.upzslider .info a:hover{ 
	text-decoration:underline; 
}
#featured.upzslider .ui-tabs-hide{ 
	display:none; 
}

#featured.upzslider img{
	max-width: 100% !important;
}