
/*------------------------------------------------------------------------------
HEADER
------------------------------------------------------------------------------*/
#header {
position: relative;
background-image: url(../images/arl_banner.png); /* Overwrites root.css: line 200 */
}
#header a {
display: block;
position: absolute;
background: transparent;
}
#header span {
display: none;
}
#headerURL {
top: 75px;
left: 100px;
width: 400px;
height: 50px;
}
#headerARL {
top: 25px;
left: 800px;
width: 160px;
height: 100px;
}





/*------------------------------------------------------------------------------
DROPDOWN MENU
------------------------------------------------------------------------------*/
#navBar {
font-size: 10px;
}
#dropDownNav a, #dropDownNav a:hover {
color: #333 !important;
}
#dropDownNav li {
font-size: 11px;
}
#dropDownNav li ul {
background-color: #fff; /* Adds to root.css: line 123 */
}
#dropDownNav li ul li {
line-height: 1.6em; /* Overwrites root.css: line 139 */
font-size: 0.9em !important;
}
#dropDownNav li ul li a, #dropDownNav li:hover li a, #dropDownNav li.sfHover li a {
padding: 7px 0px 7px 10px; /* Overwrites root.css: line 147 */
}





/*------------------------------------------------------------------------------
LIVE SEARCH
------------------------------------------------------------------------------*/
#liveSearch input#search {
font-size: 12px;
height: 12px;
line-height: 14px;
padding: 2px;
width: 206px; /* Overwrites base.css: line 297 */
}






/*------------------------------------------------------------------------------
LEFT COLUMN NAVIGATION
------------------------------------------------------------------------------*/
#navLinks h2 {
text-align: left;
}
#navLinks h2 a {
display: block;
padding: 6px;
width: 184px;
font-size: 11px;
font-family: verdana;
line-height: 1.4em;
background: #4e4e4e;
color: #fff;
}
#navLinks li {
font-size: 11px;
line-height: 1.4em;
}
#navLinks li a {
display: block;
padding: 6px;
width: 184px;
color: #333;
}
#navLinks li a:hover {
background-color: #b4b4b4;
color: #333;
}

/* Root List */
#navLinks ul a {
border-bottom: 1px solid #aaa;
}

/* First Nested List */
#navLinks ul ul {
border-left: 1px solid #c2c2c2;
border-right: 1px solid #eee;
}
#navLinks ul ul a {
/* background: #f7f7f7; */
background: #e3e3e3;

font-weight: normal;
/* border-bottom-color: #e3e3e3; */
border-bottom-color: #ccc;
padding-left: 12px;
width: 176px;
}
#navLinks ul ul a:hover {
background: #ccc;
color: #3d3d3d;
}

/* Second Nested List */
#navLinks ul ul ul {
border-left: none;
border-right: none;
}
#navLinks ul ul ul a {
padding-left: 18px;
width: 170px;
background: #fff;
border-bottom-color: #eee;
}
#navLinks ul ul ul a:hover {
background: #e9e9e9;
}

/* Third Nested List - same as the second but indented further */
#navLinks ul ul ul ul a {
padding-left: 28px;
width: 160px;
}





/*------------------------------------------------------------------------------
MAIN CONTENT
------------------------------------------------------------------------------*/
#mainContent {
width: 800px; /* Overwrites root.css: line 353 */
background: transparent; /* Overwrites root.css: line 350 */
padding: 0px; /* Overwrites root.css: line 352 */
}
#contentBackground {
background: #fff url(../images/2column.gif) repeat-y top left;
}

#pageBody {
padding: 10px;
}
/* Block Element Styles ------------------------------------------------------*/
#pageBody h1,
#pageBody h2,
#pageBody h3,
#pageBody h4,
#pageBody h5,
#pageBody h6,
#pageBody p,
#pageBody ul,
#pageBody ol,
#pageBody table {
margin: 0 0 1em 0;
padding: 0px;
}
#pageBody li {
margin-bottom: 0.5em;
}

/* Textual Styles ------------------------------------------------------------*/
#pageBody h1,
#pageBody h2,
#pageBody h3,
#pageBody h4,
#pageBody h5,
#pageBody h6,
#pageBody p,
#pageBody li,
#pageBody th,
#pageBody td {
line-height: 1.6em;
}
#pageBody h1 {
margin-bottom: .4em;
font-size: 26px;
}
#pageBody h2 {
margin-left: -10px;
margin-right: -10px;
padding: 5px 10px;
border-top:    1px solid #9b9b9b;
border-bottom: 1px solid #9b9b9b;
background: #fff;
font-size: 1.2em;
}
#pageBody h2.sub_title {
background: none;
border: none;
font-size: 18px;
font-style: italic;
margin: 0px 0px 8px 0px;
padding: 0px;
}
#pageBody h3,
#pageBody p,
#pageBody li,
#pageBody th,
#pageBody td {
font-size: 11px;
}


/* Use to control the description box for the image gallery */
#pageBody .ad-image-description {
	margin: 0px;
	
}

/* Table Styles --------------------------------------------------------------*/
#pageBody table {
border-collapse: collapse;
}
#pageBody th, #pageBody td {
border: 1px solid #aaa;
padding: 5px;
vertical-align: top;
}
#pageBody th {
background: #ccc;
text-align: left;
}

/* Verical */
#pageBody table.type_1 th, #pageBody table.type_1 td {
border: none;
padding-right: 15px;
}
#pageBody table.type_1 th {
background: none;
text-align: right;
}


/* List Styles ---------------------------------------------------------------*/
#pageBody ul ul, #pageBody ol ol {
margin-top: .5em;
margin-bottom: .5em;
}
#pageBody ul li {
padding-left: 16px;
background: url(../images/rv4_images/diamond_bullet.gif) no-repeat 0px 7px;
}
#pageBody ol {
margin-left: 35px;
padding: 0px;
}
#pageBody ol li {
list-style-type: decimal;
list-style-position: outside;
}

#pageBody ul.type_1 li {
float: left;
padding-left: 12px;
padding-right: 6px;
}
#pageBody ul.type_1 li.first {
padding-left: 0px;
background: none;
}

/* remove the standard bullet image applied to list items */
#pageBody .ad-thumbs li {
	background:none;	
}


/* Image Styles --------------------------------------------------------------*/
#pageBody img {
border: none; /* Overwrites root.css: line 77 */
}
#pageBody img.left, #pageBody .image_with_caption.left {
float: left;
margin: 0 10px 10px 0;
}
#pageBody img.right, #pageBody .image_with_caption.right {
float: right;
margin: 0 0 10px 10px;
}
#pageBody img.center, #pageBody .image_with_caption.center {
display:block;
margin: 0 auto 10px auto;
}
#pageBody .image_with_caption img, #pageBody .image_with_caption span {
display: block;
}
#pageBody .image_with_caption span {
margin-top: 5px;
font-family: verdana;
font-size: 10px;
line-height: 1.3em;
color: #333;
}


/* Anchor Styles -------------------------------------------------------------*/
#pageBody a {
text-decoration: underline;
}


/* Blockquote  Styles --------------------------------------------------------*/
#pageBody blockquote {
margin: 0px 50px;
}

/* Stong Styles --------------------------------------------------------------*/
#pageBody strong {
font-weight: bold;
}

/* Em Styles -----------------------------------------------------------------*/
#pageBody em {
font-style: italic; 
}




/* ---------------------------------------------------------------------------
Large Image Styles 
-----------------------------------------------------------------------------*/
	
	/* font for the caption on the larger image 
	#cap {		
		font-size:12px;
	}*/
	
	
	
	/* places the close window button 
	#closer {
	left: 656px;
	position:absolute;
	top:-10px;
	border:none;
	}*/
	
	/* this turns the cursor into a pointer when the user hovers over an image that can be enlarged 
	.larger {
		cursor:pointer;
	}*/
	

	/*------------------------------------------------------------------------------------------------
	Styles used for enlarged images without a caption
	-------------------------------------------------------------------------------------------------*/
	
	/* this turns the cursor into a pointer when the user hovers over an image that can be enlarged, but has no caption */
	.larger_no_cap {
		cursor:pointer;
	}	
	
	/* places the close window button on a window with no caption*/
	#closer_no_cap {
	left: 645px;
	position:absolute;
	top:-10px;
	border:none;
	}
	
	/* used when there is no caption but still needs space below the image */
	#no_cap {		
		font-size:4px;
	}





/*------------------------------------------------------------------------------
BREADCRUMBS
------------------------------------------------------------------------------*/
#breadCrumbs {
border-bottom: 1px solid #ddd;
color:#565656;
float:left;
font-weight:bold;
padding:7px 4px 7px 7px;
width: 100%;
}
#breadCrumbs li {
float: left;
padding-left: 11px;
padding-right: 8px;
background: transparent url(../images/breadcrumb_bullet.gif) no-repeat center left;
font-size: 10px;
line-height: 1.8em; /*To match anchor tags */
}
#breadCrumbs li.first {
padding-left: 0px;
background: none;
}
#breadCrumbs span, #breadCrumbs a {
white-space: nowrap;
}





/*------------------------------------------------------------------------------
PAGE META DATA
------------------------------------------------------------------------------*/
#pageMetaData {
margin: 50px 0px 0px 196px;
padding: 10px;
border-top: 1px solid #ccc;
/*background: #fff;*/
color: #666;
}
#pageMetaData p {
margin: 0px; /* Overwrites root.css: line 82 */
padding: 0px;
font-size: 10px;
}
#pageMetaData .column.last p {
float: right;
padding-left: 20px;
background: transparent url(../images/email.png) no-repeat left center;
}
#pageMetaData a {
color: #666;
}





/*------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------*/
#footerMiddle {
margin: 0; /* Overwrites root.css: line 190 */
padding: 1em 0;
width: 100%; /* Overwrites root.css: line 191 */
font-size: 12px;
}





/*------------------------------------------------------------------------------
PERIODIC TABLE
------------------------------------------------------------------------------*/
table#periodic_table {
width: 100%;
}
table#periodic_table td {
border: 1px solid #fff;
color: #000;
}
table#periodic_table a {
color: #000;
}
table#periodic_table .orange { background: #f90; }
table#periodic_table .blue { background: #06f; }
table#periodic_table .yellow { background: yellow; }
table#periodic_table .gray { background: #ccc; }





/*******************************************************************************
MISCELLANEOUS CLASSES
*******************************************************************************/
.clears {
clear: both;
font-size: 0px;
line-height: 0px;
height: 1px;
}

.illegal_char {
background: #f00;
color: #fff;
padding: 2px;
border: 1px solid #000;
}

.centered {
text-align: center;
}

ol.with_borders li, ul.with_borders li {
padding-bottom: 3px;
border-bottom: 1px solid #ccc;
}

.alert {
color: #c00 !important;
font-weight: bold;
}

.alert_box1 {
width: 220px;
border: 1px solid #ffc90a;
padding: 9px;
background: #ff9;
}

.alert_box1.right {
float: right;
margin: 0px 0px 10px 10px;
}




/*------------------------------------------------------------------------------
COLUMNS
------------------------------------------------------------------------------*/
.columns { }
.column {
float: left;
margin-right: 2%;
}
.column.last {
margin-right: 0%;
}
.columns.two .column 	  	{ width: 48%; }
.columns.two .column.last { width: 50%; }

.columns.two.sixty_forty .column 	  	{ width: 58%; }
.columns.two.sixty_forty .column.last { width: 40%; }

.columns.two.seventy_thirty .column 	   { width: 65%; }
.columns.two.seventy_thirty .column.last { width: 33%; }

.columns.three .column 			{ width: 31%; }
.columns.three .column.last { width: 33%; }


/*------------------------------------------------------------------------------
ARTICLES SUMMARIES
------------------------------------------------------------------------------*/
#pageBody ul#articles li {
background: none !important;
margin-bottom: 30px;
padding: 0px;
}
#pageBody ul#articles li .text {
float: left;
width: 610px;
}
#pageBody ul#articles li .text h3 {
margin: 0px !important;
}
#pageBody ul#articles li .text h3 a {
font-size: 12px !important;
}
#pageBody ul#articles li .text .date {
color: #777;
font-size: 10px;
margin-bottom: 3px;
text-transform: uppercase;
}
#pageBody ul#articles li .image {
float: left;
margin-left: 10px;
width: 160px;
}
#pageBody ul#articles li .image a {
background: #eee;
border: 1px solid #ccc;
display: block;
height: 100px;
overflow: hidden;
padding: 4px;
width: 150px;
}
#pageBody ul#articles li .image img {
display: block;
margin: 0px auto;
}


/*------------------------------------------------------------------------------
HIGHLIGHTED Boxes
------------------------------------------------------------------------------*/
/* Cancel default style properties of .highlighted child elements */
.highlighted p,
.highlighted ul,
.highlighted ol {
margin: .5em 0 0 0 !important;
}
.highlighted ul, 
.highligthed ol {
margin-left: 20px !important;
}
.highlighted h2 {
background: none !important;
border: none !important;
margin: 0px !important;
padding: 0px !important;
}
.highlighted ul li {
background: none !important;
font-size: 10px !important;
list-style-type: disc !important;
margin: 0px !important;
padding: 0px !important;
}
.highlighted a {
font-weight: normal !important;
text-decoration: none !important;
}

/* Shared Style Attributes ----------*/
.highlighted {
border: 1px solid;
padding: 10px;
}
.highlighted.left {
float: left;
margin: 0px 10px 10px 0px;
}
.highlighted.right {
float: right;
margin: 0px 0px 10px 10px;
}

/* Type 1 ----------*/
.highlighted.type_1 {
background: #fff;
border-color: #e4e4e4;
width: 250px;
}

/* Type 2 ----------*/
.highlighted.type_2 {
background: #e4e4e4;
border-color: #b1b1b1;
width: 156px;
}


/* Shared Style Attributes ----------*/
.playvideo {
border: 0px;
padding: 0px;
float: right;
margin: 0px 0px 10px 10px;
width: 270px;
}





/*------------------------------------------------------------------------------
Forms
------------------------------------------------------------------------------*/

.form.type_1 {
padding: 0px;
margin-bottom: 20px;
width: 780px;
}

.form.type_1 .body,
.form.type_1 .footer,
.form.type_1 .header {
background: #eee repeat-y top center;
padding: 0px 30px;
width: 720px;
}

/* Header ----------------------------*/
.form.type_1 .header {
background-image: url(/www/lib/public/images/forms/type_1/header.png);
height: 40px;
padding-top: 10px;
padding-bottom: 10px;
}
.form.type_1 .header h2 {
border: none !important;
background: none !important;
font-size: 20px !important;
line-height: 40px !important;
margin: 0px !important;
padding: 0px !important;
}

/* Footer ----------------------------*/
.form.type_1 .footer {
background-image: url(/www/lib/public/images/forms/type_1/footer.png);
height: 42px;
padding-top: 10px;
}
.form.type_1 .footer input.submit,
.form.type_1 .footer a {
display: block;
float: left;
}
.form.type_1 input.submit {
background: transparent url(/www/lib/public/images/forms/type_1/submit.png) no-repeat top left;
border: none;
cursor: pointer;
height: 30px;
margin: 0px 20px 0px 100px;
width: 120px;
}
.form.type_1 .footer a {
line-height: 30px;
}

/* Body ------------------------------*/
.form.type_1 .body {
background-image: url(/www/lib/public/images/forms/type_1/body.png);
padding-top: 20px;
padding-bottom: 30px;
}

/* General ---------------------------*/
.form.type_1 label em {
color: #f00;
font-weight: bold;
}
.form.type_1 input[type=text],
.form.type_1 select {
border: 1px solid #bbb;
font-size: 14px;
padding: 4px;
}
.form.type_1 td,
.form.type_1 th {
padding: 2px !important;
}
.form.type_1 th {
padding-top: 6px !important;
padding-right: 10px !important;
}
.form.type_1 .error {
color: #c00;
display: block;
}

/* Form#tr-search --------------------*/
form#tr-search ul {
overflow: hidden;
padding: 12px 0px;
}
form#tr-search li {
background: none !important;
float: left;
list-style-type: none !important;
margin-right: 8px;
padding: 0px !important;
}
form#tr-search li input {
display: none;
}
form#tr-search li label {
background: transparent;
border: 1px solid #ccc;
border-radius: 4px;
cursor: pointer;
padding: 4px 8px;
}
form#tr-search li input:checked + label {
background: #ddd;
border-color: #999;
}

form#tr-search input[type=submit],
form#tr-browse input[type=submit] {
cursor: pointer;
}



/*------------------------------------------------------------------------------
NEXT-PREVIOUS
------------------------------------------------------------------------------*/
#pageBody ul.next-previous {
height: 26px;
float: right;
margin: 8px 0px 0px 10px;
}
#pageBody ul.next-previous li {
background: transparent url(/www/lib/public/images/pagination/background.png) no-repeat top center;
float: left;
height: 26px;
line-height: 26px;
padding: 0px;
}
#pageBody ul.next-previous li.left {
background-position: top left;
}
#pageBody ul.next-previous li.right {
background-position: top right;
}

#pageBody ul.next-previous li a, 
#pageBody ul.next-previous li span {
display: block;
padding: 0px 5px;
}
#pageBody ul.next-previous li.left a,
#pageBody ul.next-previous li.left span {
padding-left: 20px;
}
#pageBody ul.next-previous li.right a,
#pageBody ul.next-previous li.right span {
padding-right: 20px;
}
#pageBody ul.next-previous li.left span,
#pageBody ul.next-previous li.right span {
color: #999;
}




/*------------------------------------------------------------------------------
Questions/Answers (CTA)
------------------------------------------------------------------------------*/
ul#questions {
margin: 0px;
padding: 0px;
}
ul#questions li {
background: #eee;
border: 1px solid #bbb;
border-left-width: 9px;
margin: 0px auto 10px auto;
padding: 5px 10px;
width: 670px;
}
ul#questions h3 span {
color: #777;
float: right;
font-weight: normal;
}


/*------------------------------------------------------------------------------
Vendors Listing (CTA)
------------------------------------------------------------------------------*/
ul#vendors {
margin: 0px;
padding: 0px;
}
ul#vendors li {
background: #eee;
border: 1px solid #bbb;
border-left-width: 9px;
margin: 0px auto 10px auto;
padding: 5px 15px;
width: 660px;
}
ul#vendors h3 {
font-size: 1.4em;
margin: 0px;
}
ul#vendors h3 span {
font-size: .8em;
}
ul#vendors table {
border-collapse: separate !important;
margin: 0px;
width: 100%;
}
ul#vendors th,
ul#vendors td {
background: none;
border: none;
padding: 0px 3px;
}
ul#vendors th {
border-top: 1px solid #ddd;
color: #666;
font-weight: normal;
font-style: italic;
}
ul#vendors td {
padding-bottom: 10px;
}
ul#vendors .na {
color: #999;
}


/*------------------------------------------------------------------------------
Videos
------------------------------------------------------------------------------*/

/* Collection Listing ----------------*/
#videos li {
background: none !important;
float: left;
height: 205px;
margin: 0px 20px 20px 0px;
padding: 0px !important;
position: relative;
overflow: hidden;
width: 180px;
}
#videos li.last {
margin-right: 0px;
}
#videos .image {
background: #fff;
border: 1px solid #999;
position: relative;
width: 178px;
height: 101px;
}
#videos .image img {
display: block !important;
height: 99px;
left: 1px;
position: absolute;
top: 1px;
width: 176px;
}
#videos .image a {
text-decoration: none;
}
#videos .image span {
background: #222;
border: 1px solid #000;

color: #fff;
padding: 2px 4px;
position: absolute;
bottom: 2px;
right: 2px;
display: block;
font-size: 10px;
line-height: 1em;
}
#videos .date {
color: #777;
font-size: 10px;
margin-bottom: 3px;
text-transform: uppercase;
}
#videos .gradient {
background: transparent url(/www/lib/public/images/fade.f7f7f7.png) repeat-x top left;
height: 30px;
position: absolute;
left: 0px;
bottom: 0px;
width: 180px;
}

/* Single Listing --------------------*/
#video {
width: 640px;
height: 360px;
margin: 20px auto;
position: relative;
}
#video a {
background: transparent url(/www/lib/public/images/videos/play.png) no-repeat 278px 152px;
display: block;
width: 640px;
height: 360px;
position: absolute;
top: 0px;
left: 0px;
}
#video a:hover {
background-position: 278px -58px;
}
#video img {
position: absolute;
top: 0px;
left: 0px;
}


/*------------------------------------------------------------------------------
Tabs
------------------------------------------------------------------------------*/
ul.tabs.type-1 {
border-bottom: 1px solid #ccc;
height: 31px;
margin: 0px -10px 24px -10px !important;
}
ul.tabs.type-1 li {
background: none !important;
float: left;
height: 30px;
line-height: 30px;
margin: 0px 0px 0px 10px !important;
padding: 0px !important;
}
ul.tabs.type-1 a {
background: #e3e3e3;
border: 1px solid #ccc;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
display: block;
line-height: 30px;
padding: 0px 12px;
text-decoration: none !important;
}
ul.tabs.type-1 a.current {
background: #f7f7f7;
border-bottom-color: #f3f3f3;
}
.tab h1 {
display: none;
}
.tab h2 {
background: none !important;
border: none !important;
font-size: 14px !important;
margin-top: 32px !important;
}






/*------------------------------------------------------------------------------
PRINT STYLES
------------------------------------------------------------------------------*/
@media print {
	#container {
    overflow: visible;
    width: 100%;
	}
	#contentBackground {
    background: none;
    width: 100%;
    overflow: visible;
	}
	#pageMetaData {
		display: none;
	}
}