
/* Image Gallery Container
------------------------------------------------------------------------------*/
#image_gallery {
margin: 20px auto 30px auto;
width: 650px;
}


/* Current Image
------------------------------------------------------------------------------*/
#ig_current_image {
border: 1px solid #ccc;
height: 420px;
margin: 0px 0px 10px 0px;
overflow: hidden;
padding: 9px;
position: relative;
text-align: center;
width: 630px;
}
#ig_frame {
width: 630px;
height: 420px;
position: relative;
overflow: hidden !important;
}
#ig_enlarge {
position: absolute;
top: 15px;
right: 15px;
z-index: 1000;
}



/* Current Image
------------------------------------------------------------------------------*/
#ig_caption {
background: transparent url(/www/lib/public/images/image-gallery/caption.background.png) repeat-x top center;
line-height: 1.5em;
padding: 30px 20px 20px 20px;
position: absolute;
left: 0px;
bottom: 0px;
width: 608px;
z-index: 1000;
}
#ig_caption a {
background: transparent url(/www/lib/public/images/image-gallery/arrow-down.png) no-repeat 7px 5px;
display: block;
left: 274px;
line-height: 16px;
position: absolute;
text-decoration: none;
top: 0px;

}
#ig_caption a.show {
background-image: url(/www/lib/public/images/image-gallery/arrow-up.png);
padding-left: 10px;
width: 90px;
}
#ig_caption a.show:hover {
background-image: url(/www/lib/public/images/image-gallery/arrow-up.over.png);
}
#ig_caption a.hide {
background-image: url(/www/lib/public/images/image-gallery/arrow-down.png);
padding-left: 8px;
width: 92px;
}
#ig_caption a.hide:hover {
background-image: url(/www/lib/public/images/image-gallery/arrow-down.over.png);
}

#ig_caption a.inactive {
background: none;
text-align: center;
width: 100px;
}
#ig_caption a.inactive:hover {
color: #333;
cursor: default !important;
}


#ig_caption p {
margin: 0px;
text-align: left !important;
}









/* Navigation
------------------------------------------------------------------------------*/
table#ig_navigation {
border-collapse: collapse;
margin: 0px auto;
}
table#ig_navigation td {
border: none;
padding: 0px;
}

/* Arrow Links -----------------------*/
td#ig_nav_left {
text-align: right;
}
td#ig_nav_right {
text-align: left;
}
/* just the arrow is clickable */
td#ig_nav_left a, td#ig_nav_right a {
display: block;
height: 18px;
margin-top: 21px;
padding: 0px 1px;
width: 12px;
}

/* Thumbnail Links -------------------*/
td#ig_nav_center {
padding: 0px 5px !important;
text-align: center;
}
td#ig_nav_center ul {
display: inline;
}
td#ig_nav_center li {
display: inline;
background: none !important;
margin: 2px !important;
padding: 0px !important;
}
td#ig_nav_center img {
height: 60px; /* Restrain the height of the thumbnail images */
}