/*main*/
.slider{width:100%; display:block; height:451px; overflow:hidden; position:relative; z-index:2}
.main-banner{left:50%;position: relative;width: 999999em;}
.slider .main-banner ul{ list-style-type:none; position:relative; left:0}
.slider .main-banner ul li{float:left;}
/*banner content*/
.banner{height: 451px;position: relative;top: 0px; width: 1600px; z-index: 1; margin:auto; float:left}
.banner_content{/*width:449px;*/ margin:auto; padding:20px 0 0}
.banner_content > section.fleft{width:53%;}
.banner_content > section.fright{width:45%;}
.banner_content span{color:#ffffff; text-align:right; display:block; float:right}
.banner_content p{text-align:right;}
.banner_content > section.fright p{font-size:29px; color:#ffffff; text-align:left; text-transform:uppercase; font-weight:500}
.banner_content > section.fright a{ background: none repeat scroll 0 0 #000000;color: #FFFFFF;display: block;float: left;font-size: 14px;line-height: 26px;padding: 0 7px;text-transform: uppercase; margin-top:10px; margin-left:190px;}
.banner_content > section.fright a:hover{text-decoration:none; background-color:#282828;}
.color1{background-color:#8cc842; font-size:58px; line-height:80px;padding:0 5px;}
.color2{background-color:#50af41; font-size:70px; line-height:80px;padding:0 10px;}
.color3{background-color:#10a500; font-size:58px; line-height:54px;padding:7px 5px;}
.color4{background-color:#282828; font-size:58px; line-height:80px;padding:0 5px;}

/*arrow controls*/
.arrow{width:960px; margin-left:-480px; position:absolute; height:451px; top:0; left:50%;}
.prev{width:42px; position:absolute; left:0;}
.next{width:42px; position:absolute; top:0; right:0;}
.arrow a{display:block; text-indent:-999em; width:42px; height:42px; cursor:pointer; z-index:5; top:50%; margin-top:-35px;}
.slider:hover a.prev{background:url(../images/banner-leftarrow.png) no-repeat left center; margin-left:1%;}
.slider:hover a.next{background:url(../images/banner-rightarrow.png) no-repeat right center; margin-right:1%;}

/*dots controls*/
.dots {bottom: 94px;position: absolute;width: 100%; z-index: 5; text-align:center}
.dots a {display:inline-block; *display:inline; zoom:1;width:9px;height:9px;overflow:hidden; margin-right:10px; border:2px solid #000}
.dots a.current {background-color:#50af41}
