@media (max-width: 979px){
	.wrapper{width:750px; margin:auto;}
	.category a{padding:2px 4px; width:174px; font-size:14px;}
	.category{margin-left: -365px;width: 730px;}
	.category a span {height: 66px;padding-top: 25px;}
	.company a{margin:0 40px;}
	.white_box{width:220px; padding:10px;}
	.blue_part .box {margin: 0 6px;width: 137px;}
	.bottom_part .white_box{padding: 10px;width: 220px;}
	.Accolades .clearfix{margin: auto;width: 610px;}
	.Accolades a.accolades1{margin-right:50px;}
	.Accolades a.accolades2{margin-right:87px;}
	.Accolades a.accolades3{margin-right:0px;}
	.Accolades a.accolades4{margin-right:128px;}
	.Accolades a.accolades5{margin-right:72px;}
	.Accolades a.accolades6{margin-right:0px;}
	.testimonials{padding:0 0 0 10px;}
	.blog table td {font-size: 11px;padding-bottom: 7px;}
	.white_box .icon{margin-bottom:10px}
	.bottom_part .white_box h3{height:53px;}
	.bottom-area h3{font-size:24px;}
	.quicklinks ul{width:33%; padding:0;}
	.tools{clear:left;}
	.quickcontact .contact{clear:left;}
	.newsletter{width:auto; float:none; padding:0;}
	.newsletter_content{float:left; width:45%;}
	.newsletter .fleft{float:left; padding:30px 0 0 40px;}
	.social{float: left;padding-left: 60px;}
	.newsletter input[type="text"]{width:216px;}
	.sidemenu {width: 200px;}
	.sidemenu li a{padding: 10px 9px;}
	.rightcoloum{width:750px;/*538px;*/}
	.content > img{max-width:100%;}
	.arrow{width:680px; margin-left:-340px;left:50%;}
	.dots{bottom:74px;}
 	.com_img { clear: both; margin-bottom: 5px;  margin-left: 35px;
    	margin-right: 0px; margin-top: 0;}
    .quicklinks ul {width:100%;}
  	.tt-lt { float: left; background-color:#fafafa; width:560px; height:380px; -webkit-border-radius: 3px; -moz-border-radius: 3px; 			border-radius: 3px; border: 1px solid #cdcdcd; box-shadow: 2px 2px 2px #dcdcdc; margin: 10px 35px 35px 50px; 			padding:20px 30px 30px 30px; font-size:1.1em; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
  
}
@media (max-width: 750px){
	body{width:750px;}
}