/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, able, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, enu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align:top;font-family: 'Open Sans', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
td{vertical-align:top;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}
::focus, :selection {outline:0;}
select:focus, input:focus{outline:0;}
select, input{outline:0; margin:0; padding:0}
a, a:active, a:focus {outline: none;}
input::-moz-focus-inner {border: 0;}

/* default */
body{ width:100%; height:100%; font-size:12px; font-family: 'Open Sans', sans-serif; font-weight:normal; line-height:inherit; margin:0; padding:0;}
a{text-decoration:none; cursor:pointer; vertical-align:top; color:#007dab}
a:hover{text-decoration:underline;}
a img{border:none; cursor:pointer;}
.clear{clear:both;}
.cleft{clear:left;}
.cright{clear:right;}
.fleft{float:left;}
.fright{float:right;}
.italic{font-style:italic;}
.center{text-align:center;margin-top:10px;}
.bold{font-weight:bold;}
.justify{text-align:justify;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.breadcrumbclearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.vm{vertical-align:middle;}

/*commom*/
html,body {height:100%;}
.wrapper{width:960px; margin:auto;}
h1{font-size:24px; color:#042a52; font-weight:normal}
h1 span{color:#00b9f0; font-weight:600;}
h2{font-size:20px; font-weight:/*normal*/600; color:/*4d4d4d*/#414141; line-height:24px; padding-bottom:10px;}
h3{color:#2f3336; font-size:20px; line-height:24px; font-weight:normal;}
h4 {color: #4d4d4d;font-size: 14px; font-weight: bold; line-height: 24px;padding-bottom: 5px;}
h5 {color: #4d4d4d;font-size: 15px; font-weight: bold; line-height: 24px;padding-bottom: 8px;}
h6{color:#fff; font-size:15px; line-height:20px; font-weight:600;}
.top_part, .bottom_part{padding:20px 0; background-color:#f5f4f4}
.innercontainer{padding-bottom:10px; background:#f5f4f4}
.innercontainer p{font-size:14px; color:/*#4d4d4d*/#414141; padding-bottom:10px;line-height:24px;}
.innercontainer h1{font-size:28px; color:#fff; font-weight:normal;  background-color:#46af48;  height: 50px; line-height: 50px; text-indent: 15px;}
.page-header h2{background-color:#46af48; font-size:28px; color:#fff; font-weight:normal; text-indent:15px; /*padding:8px 0;*/  height: 50px; line-height: 50px; padding-bottom: 5px !important;}

/*header*/
header{background:#fff; box-shadow:0 2px 5px rgba(0,0,0,0.2);}
header .topbar{background:#282828; padding:8px;}
header .topbar a{ font-size:11px; color:#bababa; margin:0 10px; line-height:19px;}
header .topbar a:hover{text-decoration:none; color:#fff;}
header .topbar input{border:1px solid #555555; color:#b3b9be; font-size:11px; background:url(../images/search-icon.png) no-repeat 98% center; border-radius:4px; padding:2px 20px 2px 5px; width:120px; transition:width 0.5s; -moz-transition:width 0.5s; -ms-transition:width 0.5s; -o-transition:width 0.5s; -webkit-transition:width 0.5s;}
header .topbar input:focus{ width:180px;}

/*logo*/
.logo{float:left; padding:10px 0;}
.logo h1 a{ background:url(../images/logo.png) no-repeat 0 0;width:165px; height:63px; display:block; text-indent:-999em;}

/*nav*/
nav{float:right; padding:28px 0 0; position:relative; z-index:5}
nav > ul > li{float:left; list-style:none; margin-left:2px;}
nav > ul > li > a{display:block; font-size:15px; color:#3d3d3d; padding:0 10px; line-height:33px; font-weight:600}
nav > ul > li > a.active, nav > ul > li:hover > a, .active > a{color:#fff; background:#00b9f0; text-decoration:none; font-weight:normal}
nav > ul > li:hover > a{font-weight:600;}
nav > ul > li:hover > a.active, .active:hover a {font-weight:normal;}
footer 	.active > a{ background: none;}

/*sub menu*/
nav ul li:hover ul{ display:block}
nav ul ul{position:absolute; display:none; background:#282828; top:100%}
nav ul ul li, nav ul ul li a{display:block;}
nav ul ul li a{font-size:15px; color:#fff; padding:7px 50px 7px 10px;white-space:nowrap;}
nav ul ul li a:hover{background-color:#46af48; text-decoration:none}

/*Main_banner*/
.Main_banner{background:#f5f4f4; padding-bottom:100px; position:relative}

/*category*/
.category {position:absolute;width:940px; bottom:20px; left:50%; margin-left:-470px; z-index:3}
.category a{display:block; width:210px; height:136px; padding:12px; float:left; text-align:center; background:url(../images/category.png) repeat-y 0 0; font-size:16px; color:#fff; line-height:22px;}
.category a:hover{background-image:url(../images/category-hover.png);}
.category a span{display:block; text-align:center; height:75px; padding-top:20px;}
.category a:hover{text-decoration:none;}
.category a.cate2{background-position:-235px 0;}
.category a.cate3{background-position:-470px 0;}
.category a.cate4{background-position:-705px 0;}
.category a.cate5{background-position:-537px 0;}
.category a.cate6{background-position:-671px 0;}
.category a.cate7{background-position:-805px 0;}
.category a.cate7:hover{background:#181b1c;}


/*company*/
.company{border:1px solid #dddddd; border-width:1px 0; background:#e9e9e9; padding:20px 0 15px; text-align:center}
.company h1{padding-bottom:10px;}
.company a{display:block; float:left; width:159px; height:62px; background:url(../images/company.png) no-repeat 0 0; text-indent:-999em;transition:all 0.2s; -moz-transition:all 0.2s; -ms-transition:all 0.2s; -o-transition:all 0.2s; -webkit-transition:all 0.2s;}
.company a.company2{background-position:-160px 0;}
.company a.company3{background-position:-320px 0;}
.company a.company4{background-position:-480px 0;}
.company a.company5{background-position:-640px 0;}
.company a.company6{background-position:-800px 0;}
.company a.company1:hover{background-position:0px -62px;}
.company a.company2:hover{background-position:-160px -62px;}
.company a.company3:hover{background-position:-320px -62px;}
.company a.company4:hover{background-position:-480px -62px;}
.company a.company5:hover{background-position:-640px -62px;}
.company a.company6:hover{background-position:-800px -62px;}


/*white_box*/
.white_box{ width:210px; height:325px; padding:20px 50px; background:#fff; border-radius:3px; border:1px solid transparent; border-color:transparent #dcdbdb #dcdbdb transparent; float:left; margin-right:8px; text-align:center}
.white_box:hover{background-color:#2f3336;}
.white_box.last{margin-right:0;}
.white_box .icon{width:96px; height:96px; margin:auto; border-radius:50%; display:block; margin-bottom:15px;}
.white_box .icon8{background:url(../images/icon8.png) no-repeat center center #e9e9e9;}
.white_box .icon9{background:url(../images/icon9.png) no-repeat center center #e9e9e9;}
.white_box .icon10{background:url(../images/icon10.png) no-repeat center center #e9e9e9;}
.white_box .icon16{background:url(../images/icon16.png) no-repeat center center #e9e9e9;}
.white_box .icon17{background:url(../images/icon17.png) no-repeat center center #e9e9e9;}
.white_box .icon18{background:url(../images/icon18.png) no-repeat center center #e9e9e9;}
.white_box:hover .icon8{background-image:url(../images/icon8h.png); background-color:#50af41}
.white_box:hover .icon9{background-image:url(../images/icon9h.png); background-color:#50af41}
.white_box:hover .icon10{background-image:url(../images/icon10h.png); background-color:#50af41}
.white_box:hover .icon16{background-image:url(../images/icon16h.png); background-color:#50af41}
.white_box:hover .icon17{background-image:url(../images/icon17h.png); background-color:#50af41}
.white_box:hover .icon18{background-image:url(../images/icon18h.png); background-color:#50af41}
.white_box h3{height:48px; overflow:hidden;}
.white_box:hover h3{color:#f5f4f4;}
.white_box:hover p{color:#a4a4a4;}
.white_box p{font-size:14px; color:#747474; padding-top:15px; margin-bottom:17px; height:100px; overflow:hidden}
.white_box .more{width:25px; height:25px; line-height:25px; margin:auto; display:block; border:1px solid #d2d2d2; background:url(../images/rarrow.png) no-repeat center center #e9e9e9; border-radius:50%; text-indent:-999em}
.white_box:hover .more{border-color:#50af41; background:url(../images/rarrow-white.png) no-repeat center center #50af41;}
.blue_part .box a.more, .white_box, .white_box h3, .white_box p, .white_box .more, .white_box .icon{transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; -webkit-transition:all 0.5s;}
.bottom_part .white_box{width:290px; height:325px; padding:20px 10px;}
.bottom_part .white_box p{padding-top:0;}
.bottom_part .white_box h3 {height: 45px;}

/*blue_part*/
.blue_part {background: none repeat scroll 0 0 #00b9f0; padding: 30px 0; text-align: center;}
.blue_part .box { float: left; margin: 0 10px; width: 300px;}
.blue_part .box span {border: 2px solid #fff;border-radius: 50%; display: block; height: 90px;margin: auto auto 15px; text-align: center; width: 90px;}
.blue_part .box h6 {font-size: 30px;height: 70px;line-height: 35px; margin-bottom: 10px; overflow: hidden;}
.blue_part .box p{font-size:13px; color:#fff; line-height:18px; height:54px; overflow:hidden}
.blue_part .box a.more{background:#ea5d46; display:inline-block; margin:auto; padding:4px 16px; color:#ffffff; margin-top:20px; border-radius:3px}
.blue_part .box a.more:hover{background-color:#d15440; text-decoration:none}

/* 16-09-2014 */
.box .fa.fa-cloud, .fa.fa-puzzle-piece, .fa.fa-users { color: #fff; font-size: 45px; line-height: 2; text-align: center;}
.box > ul {list-style: none outside none;}
.box > ul li { color: #fff;font-size: 13px;line-height: 25px; text-align: center;}
/* END */
/*testimonials*/
.testimonials{padding:0 30px; text-align:left}
.testimonials p{font-size:12px; color:#747474; line-height:16px; height:auto; margin-bottom:5px; padding:0 0 10px; position:relative; overflow:inherit}
.testimonials p .top{position:absolute; left:-14px; top:-11px;}
.testimonials p .bottom{bottom: -11px;position: relative;right: -3px;}
.testimonials p span{display:block; color:#fd6c01; font-size:11px; line-height:15px; }
.testimonials p.author{font-size:10px; line-height:14px;padding:0}
.testimonials p a{color:#00b9f0;font-size:11px; }

/*blog*/
.blog{text-align:left;}
.blog table td{font-size:13px; color:#747474; padding-bottom:17px;}
.blog table td a{font-size: 11px;line-height: 19px;vertical-align: top;color:#00B9F0;}
.blog span{text-transform:uppercase; display:block; float:left;height:32px; line-height:32px; text-align:center}
.blog .month{width:40px; background-color:#00bcde; font-size:16px; color:#ffffff}
.blog .date{background:#222425; width:32px; font-size:20px; color:#9d9d9d; margin-right:11px}
.catItemHeader span{text-transform:uppercase; display:block; float:left;height:32px; line-height:32px; text-align:center}
.catItemHeader .month{width:40px; background-color:#00bcde; font-size:16px; color:#ffffff;padding:0px;}
.catItemHeader .date{background:#222425; width:32px; font-size:20px; color:#9d9d9d; margin-right:11px;padding:0px;}
.white_box:hover .blog table td, .white_box:hover .testimonials p, .white_box:hover .blog h3{color:#f5f4f4;}
.white_box:hover .blog table td, .white_box:hover .testimonials p, .white_box:hover .blog p{color:#a4a4a4;}

/*Accolades*/
.Accolades{text-align:center; border-top:1px solid #e9e9e9; background:#fff; padding:12px 0; border-bottom:1px solid #d8d7d7; box-shadow:0 1px 3px #d8d7d7}
.Accolades a{display:block; float:left; height:59px; background:url(../images/Accolades.jpg) no-repeat 0 0; text-indent:-999em;transition:all 0.2s; -moz-transition:all 0.2s; -ms-transition:all 0.2s; -o-transition:all 0.2s; -webkit-transition:all 0.2s; margin:10px 19px;}
.Accolades a.accolades1{width:232px; background-position:0 -6px; margin-left:0}
.Accolades a.accolades2{width:59px; background-position:-248px -6px;}
.Accolades a.accolades3{width:119px; background-position:-330px -6px}
.Accolades a.accolades4{width:117px; background-position:-475px -6px}
.Accolades a.accolades5{width:94px; background-position:-608px -6px}
.Accolades a.accolades6{width:139px; background-position:-723px -6px; margin-right:0}
.Accolades a.accolades1:hover{background-position:0 -71px}
.Accolades a.accolades2:hover{background-position:-248px -71px}
.Accolades a.accolades3:hover{background-position:-330px -71px}
.Accolades a.accolades4:hover{background-position:-475px -71px}
.Accolades a.accolades5:hover{background-position:-608px -71px}
.Accolades a.accolades6:hover{background-position:-723px -71px}


/*bottom-area*/
.bottom-area{background:#5e666b; padding:15px 0; position:relative;height:42px;}
.bottom-area .right-part{width:50%; height:100%; background:url(../images/grey-bg.png) no-repeat 0 0 #50af41; position:absolute; right:0; top:0; padding-left:36px; z-index:2}
.bottom-area p{font-size:16px; color:#fff; float:left; width:50%; text-align:center}
.bottom-area .wrapper{position:relative; z-index:3;}
.bottom-area h3{float:right; font-size:35px; color:#fff; width:50%; text-align:center; line-height:37px;}
.bottom-area h3 span{font-weight:bold; font-style:italic;}
.innerpage h3{font-size:25px; width:46%; text-align:left}
.innerpage.bottom-area .right-part{background-image:url(../images/grey-bg1.png);}

/*footer*/
footer{background:#222527;}
.quicklinks{padding:15px 0 0;}
.quicklinks ul{float:left; padding-right:35px;}
.quicklinks div{float:left; padding-right:35px;}
.quicklinks ul:last-child{padding-right:0;}
.quicklinks div:last-child{padding-right:0;}
.quicklinks li{font-size:13px; color:#fff; padding-bottom:10px; line-height:16px; list-style:none;}
.quicklinks p{font-size:13px; color:#fff; padding-bottom:10px; line-height:16px; list-style:none;}
.quicklinks li a{font-size:13px; color:#a0a0a0;}
.quicklinks li a:hover{text-decoration:none; color:#7f7b7b;}

/*copyrights*/
.copyrights{background:#000000; padding:15px 0;}
.copyrights p a, .copyrights p{ font-size:13px; color:#a0a0a0}
.copyrights p.fleft a:hover, .copyrights p.fright a{color:#ffffff; text-decoration:none}

/*quickcontact*/
.quickcontact{background:#181b1d; padding:19px 0 5px;}
.quickcontact li{font-size:13px; color:#fff; padding-bottom:10px; line-height:16px; list-style:none;}
.quickcontact li a, .quickcontact li span{color: #A0A0A0;font-size: 13px;}
.quickcontact li a:hover{text-decoration:none; color:#7f7b7b;}
.phone{background:url(../images/phone.png) no-repeat left 3px; padding-left:20px;color: #A0A0A0 !important;}
.mail{background:url(../images/mail.png) no-repeat left 3px; padding-left:20px;}
.footerlogo{margin-top:10px; display:block}

/*follow us*/
.social ul li.network a{background:url(../images/social.png) no-repeat 0 0; width:20px; height:16px; display:block; float:left; text-indent:-999em; margin-right:5px; transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; -webkit-transition:all 0.5s;}
.social ul li.network a.fb{width:15px;}
.social ul li.network a.in{background-position:-13px 0;}
.social ul li.network a.tw{background-position:-38px 0;}
.social ul li.network a.go{background-position:-61px 0;}
.social ul li.network a.sp{background-position:-85px 0;}
.social ul li.network a.yt{background-position:-109px 0;}
.social ul li.network a.fb:hover{background-position:0 bottom;}
.social ul li.network a.in:hover{background-position:-13px bottom;}
.social ul li.network a.tw:hover{background-position:-38px bottom;}
.social ul li.network a.go:hover{background-position:-61px bottom;}
.social ul li.network a.sp:hover{background-position:-85px bottom;}
.social ul li.network a.yt:hover{background-position:-109px bottom;}

/*newsletter*/
.newsletter{width:386px; padding-right:67px;}
.newsletter p{color: #A0A0A0;font-size: 13px;padding-bottom:10px; }
.newsletter p.title{font-size:13px; color:#fff; line-height:16px;}
.newsletter input[type=text]{background:#222527; border:1px solid #333739; height:23px; line-height:23px; border-radius:5px 0 0 5px; color:#A0A0A0; font-size:11px; padding:0 10px; width:266px !important; float:left;margin-left:-2px;margin-top:-2px;}
.newsletter input[type=submit]{background:#5e666b; border:1px solid #333739; border-left:0; font-size:14px; color:#ffffff; border-radius:0 5px 5px 0;height:25px; line-height:25px; float:left; cursor:pointer; margin:0; padding:0 5px;margin-left:-2px;margin-top:-2px}
.newsletter input[type=submit]:hover{background-color:#5a6166;}

/*fixed position*/
.fixedPos > a{position:relative; z-index:4;}
.fixedcontent{ padding:35px 52px; background:#fff; position:absolute; top:0; width:230px; transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; -webkit-transition:all 0.5s;}
.fixedcontent h5{font-size:18px; color:#a1a1a1; padding-bottom:20px; text-align:center}

/*Evaluate-Now and demo*/
.demo{position:fixed; right:0; top:277px; z-index:3}
.Evaluate-Now{position:fixed; right:0; top:150px; z-index:3}
.demo .fixedcontent, .Evaluate-Now .fixedcontent{ border-top:5px solid #222527; right:-350px;}
.demo .fixedcontent{border-top-color:#50af41;}
.demo.fixedopen .fixedcontent, .Evaluate-Now.fixedopen .fixedcontent{right:42px;}

/*Support*/
.Support{position:fixed; left:0; top:249px; z-index:3}
.Support .fixedcontent{ border-top:5px solid #00b9f0; left:-350px;}
.Support.fixedopen .fixedcontent{left:42px;}

/*form*/
input.normal, select.normal{border:1px solid #cdcdcd; font-size:14px; color:#4D4D4D; height:26px; line-height:26px; border-radius:4px; margin-bottom:10px; padding:0 10px; width:190px;}
select.normal{padding:2px 5px 2px 3px; text-indent:2px; width:211px;}
.req{color:#ff6161; font-size:14px;}
.submit{background: #000000;color: #FFFFFF;display: inline-block; *display:inline; zoom:1;font-size: 15px;border-radius:4px;line-height: 25px;padding: 3px 10px; border:0; margin:auto; cursor:pointer}
.submit:hover{background: #1b1b1b;}

/*breadcrumb*/
.breadcrumb{background:#f5f4f4; padding:10px 0}
.breadcrumb .wrapper{background-color:#e3e6e7;}
.breadcrumb li{list-style:none; float:left; padding:0 13px 0 9px;line-height:26px; font-size:12px; color:#464f54; background:url(../images/breadcrumb.png) no-repeat right 11px;border-top:2px solid #e3e6e7}
.breadcrumb li.select{background:none;border-top:2px solid #46af48}
.breadcrumbclearfix li:first-child{display:none;}
.breadcrumbclearfix .divider {display:none;}
.breadcrumbclearfix li:last-child{background:none;border-top:2px solid #46af48}
.breadcrumb li a{display:block; line-height:26px; font-size:12px; color:#869197;}
.breadcrumb li a:hover{text-decoration:none; color:#46af48;}

/*sidemenu*/
.sidemenu{border-top:1px solid #404a4f; width:220px; float:left}
.sidemenu li{list-style:none;}
.sidemenu li a{display:block; padding:13px 20px; font-size:14px; color:#c8c8c8; background:#59656c; border-bottom:1px solid #404a4f}
.sidemenu li a:hover{text-decoration:none; background-color:#50af41; color:#fff;}

/*rightcoloum*/
.rightcoloum{width:959px; float:right; border-right:1px solid #dcdbdb; border-bottom:1px solid #dcdbdb; background:#fff}
.rightcoloum span{/*padding:10px 15px 15px; */ padding:30px 35px 15px; display:block;}

.menubottom { float:left;margin-left:-10px; margin-top: 3px; list-style: none;}
.menubottom li { float:left;border-right: 1px solid #A0A0A0; line-height:12px; }
.menubottom li a { color: #A0A0A0;  font-size: 13px; padding-right: 10px; padding-left:10px }
.menubottom li:last-child {border-right:none; }
.topbar .search { float:right; }
.menutop { float:left;list-style:none;}
.menutop li{ float:left;}
.menutop .active a, .menutake .active a{background:none; !important; }
.item-170 > a { display:none; }   
.menubottom li a:hover {color: #fff; text-decoration: none;}
header .menu > li:first-child{display:none;}
.sidemenu .nav .active a{background-color:#50AF41;color:#FFFFFF}
.content ul, ol {  margin: 0 0 9px 25px; padding: 0;}
.form_empty{ border:1px solid #FF0000 !important; }
#successMessage { background: none repeat scroll 0 0 #EFF5EA;border: 1px solid #446423; color: #446423;font-weight: 700;padding: 10px;}
#xmap{ margin-top:10px;}

/* Testimonials */
.test_pg {margin-top:10px; padding: 0 15px;}
.test_pg .icon{ display: block; float: left; height: 120px; margin: 5px 20px 15px 0; width: 120px; }
.test_pg .icon-rt{ display: block; float: right; height: 120px; margin: 5px 0 15px 20px; width: 120px; }
.test_pg .icon26{ background: url("../images/dummy-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); border-radius: 50%;}
.test_pg .test-lt { float: left; text-align: justify; width: 84%; margin-bottom:25px;}
.test_pg .test-lt  > span { font-size:14px; color:#50af41; font-weight:bold;padding:0px;}
.test_pg .test-lt  > span > span { font-size:13px; color:#787878; font-weight:normal;display:inline;padding:0px;}
.test_pg .test-rt { float: right; text-align: justify; width: 84%; margin-bottom:25px;}
.test_pg .test-rt  > span { font-size:14px; color:#50af41; font-weight:bold; float: right; text-align:right;}
.test_pg .test-rt  > span > span { font-size:13px; color:#787878; font-weight:normal; text-align:right;display:inline;padding:0px;}
.test_pg .quote_lt{background: url("../images/quote_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); margin: 0 0 0 5px; padding-left: 8px; padding-right: 12px;display: inline;padding-top:0px;padding-bottom:0px;}
.test_pg .quote_rt{background: url("../images/quote_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); margin: 0 0 0 5px; padding-left: 12px; padding-right: 8px;display: inline;padding-top:0px;padding-bottom:0px;}
.test-border {clear:both; border-top:1px dotted #969696; margin:0px 0px 20px 0px;}


/* Pagination */

.btn { display: inline-block; padding: 10px; border-radius: 5px; /*optional*/  color: #aaa; font-size: .875em;}
.pagination {float:right;}
.page { display: inline-block !important; padding: 5px 10px !important; margin:4px 4px 25px 0px; border-radius: 4px;    background: #e3e6e7;    font-weight: bold; text-decoration: none;  color: #717171; }
.page a {text-decoration:none;}
.page:hover{ background: #00b9f0; color:#fff; box-shadow: inset 0px 0px 2px rgba(0,0,0, .2), 0px 1px 0px rgba(255,255,255, .5); text-decoration:none;}
.page.active { border: none; background: #50af41; box-shadow: inset 0px 0px 3px rgba(0,0,0, .23), 0px 1px 0px rgba(255,255,255, .5);  color: #f0f0f0;display:inline-block;padding: 5px 10px}



/* Products/Features */
.feat-bd {height: 17px; margin-bottom: 25px; width:100%; clear:both; border-bottom:2px dotted #c8c8c8;}
.feat-lt-img {float:left; margin:5px 15px 15px 0px; border:1px #cdcdcd solid; background-color:#fff; padding:10px; box-shadow: 2px 2px 2px #dcdcdc; -webkit-box-shadow:2px 2px 2px #dcdcdc;
-webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}
.feat-rt-img {float:right; margin:5px 0px 15px 15px; border:1px #cdcdcd solid; background-color:#fff; padding:10px; box-shadow: 2px 2px 2px #dcdcdc; -webkit-box-shadow:2px 2px 2px #dcdcdc;
-webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}
ul.feat  { margin-left: 15px; color: #4d4d4d; line-height:25px; float:left; width:66%;}
ul.feat > li{font-family: 'Open Sans',sans-serif; font-size: 13px; font-weight: normal;}
ul.feat > li > .lt {margin: 0px 385px 0px 0px;}
ul.feat > li > ul  > li {list-style: none outside none; font-size: 13px; font-weight: normal;  margin-left: 3px; color: #4d4d4d;}
ul.feat02 > li  {list-style: none outside none; font-size: 13px; font-weight: normal;  margin-left: 286px; color: #4d4d4d;}
.mgin-rt{margin: 0 0 0 385px !important;}
.mgin-lt{margin: 0 385px 0 0 !important;}


/* Common Image */
.com_img {  clear: both; /*margin: 0px 115px 5px 115px;*/ margin: 20px 115px 20px 115px;}


/* Editions */
.edition-wrap{ width:900px; height:100%; padding-bottom:800px;}
.edition-top {width:493px; background-color:#d7d7d7; }
.edition-top td{padding:12px; text-align:left; background-color:#FFFFFF; font-size:14px; }
.edition {width:900px; background-color:#d7d7d7;}
.edition td { padding:15px; text-align:left; background-color:#FFFFFF; font-size:14px; color:#333333; line-height:25px;}
.edition .ctr { text-align:center;}
.edition .odd { background-color:#fafafa;}
.head_01 {width:274px; text-align:center; line-height:51px; height:51px; border-left:1px solid #d7d7d7; border-top:1px solid #d7d7d7; border-right:1px solid #d7d7d7; float:right;  background-color:#2fb131; font-weight:bold; font-size:18px; color:#fff;}
.head_02 {width:274px; text-align:center; line-height:51px; height:51px; border-left:1px solid #d7d7d7; border-top:1px solid #d7d7d7; float:right;  background-color:#00b9f0; font-weight:bold; font-size:18px; color:#fff/*0fa5c3*/;}
.head_03 {width:275px; text-align:center;  height:36px; border-left:1px solid #fff; border-bottom:0px solid #d7d7d7; border-right:0px solid #d7d7d7; float:right;  background-color:#ff5a00; font-weight:bold; font-size:15px; color:#fff;  padding-top:15px; line-height:21px;}
.head_03 a { color:/*#5aaa00;*/#fff;  text-decoration:none;}
.head_03 a:hover { color:/*#ff5a00;*/ #fff;  text-decoration:none;}
.head_03:hover{ background-color:#2fb131; display:block; color:#fff;}
.head_04 {width:275px; text-align:center; height:36px; border-left:0px solid #d7d7d7; border-bottom:0px solid #d7d7d7; float:right;  background-color:#ff5a00; font-weight:bold; font-size:15px; color:#fff/*0fa5c3*/; padding-top:15px; line-height:21px; display:block;}
.head_04 a { color:/*#ff5a00;*/ #fff; text-decoration:none;}
.head_04:hover{ background-color:#00b9f0; display:block; color:#fff;}
.head_04 a:hover { color:#fff;  text-decoration:none;}
/*         Details           */
.details { float:left; width:350px; margin-bottom:20px; margin-top:20px;}  
.details ul { font-size:16px; color:#666666; list-style:none; font-weight:bold; }
.details .l-txt-01{color:#0093b0;}
.details .l-txt-02{color:#5aaa00;}
.details ul li { font-size:14px; text-indent:16px; line-height:30px; font-weight:normal; list-style-position:inside; color:#666666;}
.line-border{border-bottom:2px dotted #ccc; width:630px; margin:0 auto; padding:0; margin-top:10px; margin-bottom:10px;}
.le-bg{background-color:#CCCCCC; width:48px; float:left; height:1228px;}
.le-bg02{background-color:#CCCCCC; width:48px; float:left; height:520px;}


/* ISV Benefits */
.entier-table {border-bottom: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5;}
.table_cont {font-size: 14px !important;}
.table_cont {border-bottom: 1px solid #e5e5e5; border-collapse: collapse; border-right: 1px solid #e5e5e5; color: #3b3a3e;font-size: 13px;padding: 12px;}
.table_cont_color {font-size: 14px !important;}
.table_cont_color {background-color: #fafafa; border-bottom: 1px solid #e5e5e5; border-collapse: collapse;border-right: 1px solid #e5e5e5;color: #3b3a3e; font-size: 13px;padding: 12px;}


/* Enterprises Benefits */
.enter-wrap { width:100%; padding:0; clear:both; margin-left:8px; }
.enter-wrap .enter-01 {float:left; width:45%; margin-top:20px; padding:2%; background-color:#ebebeb; margin-right:5px; margin-bottom:5px; border-right:5px solid #c8c8c8; border-bottom:5px solid #c8c8c8;}
.enter-wrap .enter-01 {}
.enter-wrap .enter-02 {float:left; width:44%; margin-top:20px; padding:2%; background-color:#f8f8f8; margin-bottom:5px; border-right:5px solid #c8c8c8; border-bottom:5px solid #c8c8c8;}
.enter-wrap .enter-03 {float:left; width:45%; padding:2%; background-color:#f8f8f8; margin-bottom:20px; margin-right:5px; border-right:5px solid #c8c8c8; border-bottom:5px solid #c8c8c8;}
.enter-wrap .enter-04 {float:left; width:44%; padding:2%; background-color:#ebebeb; margin-bottom:20px; border-right:5px solid #c8c8c8; border-bottom:5px solid #c8c8c8;}
.enter-bd {border-bottom: 1px dotted #969696; margin-bottom:15px;} 


/* Tools */

.tools-wrap { width:100%; padding:0; clear:both; }
.tools-wrap .tools-01 { float:left; background-color:#f5f5f5; border:1px solid #d7d7d7; width:390px; margin-right:3px; height:310px; padding:20px; margin-bottom:25px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.tools-wrap .tools-02 { float:left; background-color:#f5f5f5; border:1px solid #d7d7d7; width:390px; margin-left:15px; height:310px; padding:20px; margin-bottom:25px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.tools-01:hover, .tools-02:hover, .tools-03:hover, .tools-04:hover { background-color:#e1e1e1;}

.tools-03 { float:left; background-color:#f5f5f5; border:1px solid #d7d7d7; width:845px; height:180px; padding:20px; margin-bottom:25px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out; }

.tools-04 { float:left; background-color:#f5f5f5; border:1px solid #d7d7d7; width:845px; height:200px; padding:20px; margin-bottom:25px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out; }


/* Tools - Button */
.tool-btn{float:left; margin:auto 0; text-align:center;}
.tool-btn a{display:block; text-align:center; line-height:35px;  height:38px; color:#FFFFFF; font-size:15px; transition: all .5s; padding:0px 20px; text-decoration:none; radius:5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight:700;/* background-color:#969696;*/ background-color:#f55a73; font-weight:bold; -webkit-box-shadow: inset 0 -2px rgba(255,255,255,0.0),inset 0 -3px rgba(0,0,0,0.3),0 1px rgba(0,0,0,0.05);
box-shadow: inset 0 -2px rgba(255,255,255,0.0),inset 0 -3px rgba(0,0,0,0.3),0 1px rgba(0,0,0,0.05);}
.tool-btn a:hover {background-color:#00b9f0;}


/* Success Stories */
.ss-bd {height: 10px; margin-bottom: 25px; width:100%; clear:both; border-bottom:2px dotted #c8c8c8;}

/* Webinar Videos */
.webinar-lt { float: left; background-color:#fafafa; width:250px; height:220px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #cdcdcd;   
    box-shadow: 2px 2px 2px #dcdcdc; margin: -30px 15px 15px 0; padding: 10px; font-size:1.1em;}
.webinar-lt:hover, .webinar-rt:hover{ background-color:#ebebeb;}
.webinar-lt .clr-lt {color:#ff410a; font-weight:600;}
.webinar-lt .clr-rt {color:#2373dc; font-weight:600;}
.webinar-lt .slide {float:left; padding-top:18px;  width: 125px;}
.slide.clr-lt > a {color: #ff410a; text-decoration:none;}
.slide.clr-lt > a:hover {color: #ff410a; text-decoration:none;}
.webinar-lt .duration{float:left; padding-top:10px;}

.webinar-rt { float: right; background-color:#fafafa; width:250px; height:220px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #cdcdcd;   
    box-shadow: 2px 2px 2px #dcdcdc; margin: -30px 15px 15px 0; padding: 10px; font-size:1.1em;}
.webinar-rt .clr-lt {color:#ff410a; font-weight:600;}
.webinar-rt .clr-rt {color:#2373dc; font-weight:600;}
.webinar-rt .slide {float:left; padding-top:18px;  width: 125px;}
.webinar-rt .duration{float:left; padding-top:10px;}

.rt-align { margin-left:285px;}
.lt-align { margin-right:285px;}
.rt-mar {margin-top:-60px;}

/* Event Videos */

.event-lt { float: left; background-color:#fafafa; width:340px; height:285px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #cdcdcd;   
    box-shadow: 2px 2px 2px #dcdcdc; margin: 10px 35px 35px 0px;  /*margin: 10px 35px 35px 20px;*/ padding:20px 30px 30px 30px; font-size:1.1em;}
.event-lt:hover, .event-rt:hover{ background-color:#ebebeb;}
.event-lt .conte{ padding-top:15px;}

/*About Us*/
.about-us-wrapper{width:100%; margin:auto;}
.content-list li {line-height: 18px;list-style: none outside none; padding: 5px 0 0 10px;  color: #4D4D4D; font-size: 14px;}
.content-list {margin: 0px 10px 20px 0px;}
.fa-about {font-size: 20px; padding-right:5px; color:#50af41!important;}
.about_box{ width:456px; height:120px; /*padding:20px 50px;*/ background:#f5f4f4; border-radius:3px; border-color:transparent #dcdbdb #dcdbdb transparent; float:left; margin-right:8px; text-align:center; margin-bottom:15px;}
.about_box:hover{background-color:#2f3336;}
.about_box .icon{width:95px; height:62px; margin:29px 18px 0 80px; display:block; float: left; padding:0 !important;}
.about_box .icon19{background:url("../images/icon19.png") no-repeat scroll center center rgba(0, 0, 0, 0);}
.about_box:hover .icon19{background-image:url(../images/icon19h.png);}
.about_box .icon20{background:url("../images/icon20.png") no-repeat scroll center center rgba(0, 0, 0, 0);}
.about_box:hover .icon20{background-image:url(../images/icon20h.png);}
.about_box h3 { float: left; line-height:120px; overflow: hidden;}
.about_box:hover h3{color:#f5f4f4;}
.about_box, .about_box h3, .about_box .icon{transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; -webkit-transition:all 0.5s;}
.leadership {margin-bottom:15px;}
.leader-m-top {margin-top:20px;}
.leadership .icon{ margin: 5px 20px 0 0; display:block; float: left; width:76px; height:76px;}
.leadership .icon21 { background:url(../images/about-us/shankar.gif) no-repeat; border-radius:50%;}
.leadership .icon22 { background:url(../images/about-us/janaki.gif) no-repeat; border-radius:50%;}
.leadership .icon23 { background:url(../images/about-us/jothi.gif) no-repeat; border-radius:50%;}
.leadership .icon24 { background:url(../images/about-us/gowri.jpg) no-repeat; border-radius:50%;}
.leadership .icon25 { background:url(../images/about-us/boo.jpg) no-repeat; border-radius:50%;}
.leadership h3 {overflow: hidden; color: #2F3336; font-size: 20px;  font-weight: normal;}
.leadership > ul  {padding-top:10px; list-style: none outside none;}
.leadership > ul  > li { line-height:35px; color: #2F3336; font-size: 20px; }
.leadership > ul  > li > span {font-size:15px; line-height:38px; color:#737373;}

.awards{background:none repeat scroll 0 0 #F5F4F4; border-color: rgba(0, 0, 0, 0) #DCDBDB #DCDBDB rgba(0, 0, 0, 0); border-radius: 3px; float: left; text-align: center; width:210px; height:280px; margin-bottom:25px;}
.awards:hover{  border-bottom:5px solid #46AF48; width:210px; height:275px;}
.awards-ml {margin-left:3px; margin-right:25px;}
.awards-mr {margin-right:22px;}
.awards-mlast {margin-right:10px !important;}
.awards img {margin-top:40px;}
.awards h3 { font-size:13px !important; line-height:normal !important; padding:30px 20px 10px 20px;}

/* Partners */

.reseller-Providers { background-color: #fafafa; border: 1px solid #e1e1e1; height: 160px; margin: 5px 0 10px 0; padding: 10px; width: 855px; border-radius: 4px;}
.partner-Providers-heading { background-color: #ffffff; border: 1px solid #e1e1e1; font-size: 14px; font-weight: 700; line-height: 20px; padding: 10px 0 10px 10px; width: 98.4%; border-radius: 4px;}
.technology-Providers {background-color: #fafafa;border: 1px solid #e1e1e1;height: 160px; margin: 20px 0 20px 0; padding: 10px; width: 855px; border-radius: 4px;}
.partner-sym {float: left; height: 100px; margin:0; padding: 20px 0 0;text-align: left; width: 215px;}
.partner-aspire {float: left; height: 100px; margin:0; padding: 20px 0 0; text-align: left; width: 215px;}
.partner-persistent {float: left; height: 100px;margin:0;padding: 20px 0 0; text-align: left; width: 215px;}
.partner-scio {float: left; height: 100px;margin:0; padding: 20px 0 0; text-align: left; width: 210px;}
.partner-Providers { background-color: #fafafa;border: 1px solid #e1e1e1; height: 160px; margin: 20px 0 10px 0; padding: 10px; width: 855px; border-radius: 4px;}

#part_bg { color: #4d4d4d; font-size: 12px; width:100%; margin-top:20px;}

#part_bg #part01 {background-color: #ebebeb; color: ##4d4d4d; float: left; height: 295px;margin-bottom: 10px;margin-right: 16px;padding: 5px;width: 440px; /*border-radius: 4px;*/ border-right: 5px solid #c8c8c8;  border-bottom: 5px solid #c8c8c8;}

#part_bg #part01 > h1 { border-bottom: 1px dotted #969696; color: #414141; font-size: 20px; font-weight: bold;  height: 38px !important; line-height: 28px !important; margin-bottom: 10px; margin-left: 10px;  margin-right: 10px; padding: 10px 0 0; border-left:0px; text-align:left; text-indent:0px; background:none !important;}

#part_bg #part01 > ul {list-style: none outside none; margin: 0 auto; padding-left: 0px; padding-top: 8px; list-style: none outside none;}
#part_bg #part01 > ul > li {font-size: 13px; line-height: 18px; padding: 0 20px 20px 25px; list-style: none outside none;}

#part_bg #part02 { background-color: #f8f8f8; color: #4d4d4d; float: left; height: 295px; margin-bottom: 10px;padding: 5px;width: 440px; /*border-radius: 4px;*/
border-right: 5px solid #c8c8c8;  border-bottom: 5px solid #c8c8c8;}
#part_bg #part02 > h1 { border-bottom: 1px dotted #969696; color: #414141; font-size: 20px; font-weight: bold;  height: 38px !important; line-height: 28px !important; margin-bottom: 10px; margin-left: 10px;  margin-right: 10px; padding: 10px 0 0; border-left:0px; text-align:left; text-indent:0px; background:none !important;}
#part_bg #part02 ul {list-style: none outside none; margin: 0 auto; padding-left: 0px; padding-top: 8px; list-style: none outside none;}
#part_bg #part02 ul li {font-size: 13px; line-height: 18px; padding: 0 20px 20px 25px; list-style: none outside none;}

#part_bg #part03 {background-color: #ebebeb; color: #4d4d4d;float: left;height: /*145px*/ 255px;margin-bottom: 10px;padding: 5px;width: 870px; /*border-radius: 4px;*/
border-right: 5px solid #c8c8c8;  border-bottom: 5px solid #c8c8c8;}
#part_bg #part03 h1 { border-bottom: 1px dotted #969696; color: #414141; font-size: 20px; font-weight: bold;  height: 38px !important; line-height: 28px !important; margin-bottom: 10px; margin-left: 10px;  margin-right: 10px; padding: 10px 0 0; border-left:0px; text-align:left; text-indent:0px; background:none !important;}
#part_bg #part03 ul {list-style: none outside none; margin: 0 auto; padding-left: 0px; padding-top: 8px; list-style: none outside none;}
#part_bg #part03 ul li {font-size: 13px; line-height: 18px; padding: 0 20px 20px 25px; list-style: none outside none;}

#part_bg #part04 {background-color: #f8f8f8;color: #4d4d4d;float: left; height: 320px;margin-bottom: 10px; padding: 5px; width: 910px; /* border-radius: 4px;*/ border-right: 5px solid #c8c8c8;  border-bottom: 5px solid #c8c8c8;}
#part_bg #part04 h1 { border-bottom: 1px dotted #969696; color: #414141; font-size: 20px; font-weight: bold;  height: 38px !important; line-height: 28px !important; margin-bottom: 10px; margin-left: 10px;  margin-right: 10px; padding: 10px 0 0; border-left:0px; text-align:left; text-indent:0px; background:none !important;}
#part_bg #part04 ul {list-style: none outside none; margin: 0 auto; padding-left: 0px; padding-top: 8px; list-style: none outside none;}
#part_bg #part04 ul li {font-size: 13px; line-height: 18px; padding: 0 20px 20px 25px; list-style: none outside none;}


/* Customers logos */
.customer-logos {margin-top: 20px;}


/*--- Career Page ----*/
.career { margin-bottom:20px; }
.bottom-bdr { border-bottom:1px dotted #969696; }
.clr {clear:both;}
.career > h1 {color: #1B5B96; font-size: 26px; font-weight: normal; line-height: 30px; margin: 0; padding: 0; text-align: left;}
.career > h2 {color: #2fa71c; font-size: 20px; font-weight: bold; line-height: 30px; margin-top: 10px; text-align: left;}
.career > h3 {color: #3B3A3E; font-size: 13px; font-weight: bold; margin-top: 5px; margin-bottom: 0px; padding:0px; text-align: left;}
.career > p {color: #3B3A3E; font-size: 13px; font-weight: normal; line-height: 20px; text-align: justify;  padding:0px; margin:5px 0px 18px 0px;}
.career > ul {margin:10px 0px 18px 0px; list-style:none;}
.career > ul li {color: #3B3A3E; font-size: 13px; font-weight: normal; line-height: 20px; text-align: justify;  padding:0px; margin:5px 0px 5px 0px;}
.ico-clr { color:#959595;}

.calbuttont{float:left; margin:auto 0; text-align:center;}
.calbuttont a{display:block; text-align:left; line-height:25px; color:#FFFFFF; font-size:15px; transition: all .5s; padding:4px 20px; text-decoration:none; radius:5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight:700;}
.calbuttont a{background-color:#f55a73;}
.calbuttont a:hover{background-color:#16a085;}

/* Location */
.local { width:915px; clear:both;}
.local .location-lt{float:left; margin-right:20px; width:330px;}
.local .location-rt{float:left; width:550px; margin-top:15px; }
.local .locate{ line-height:10px; padding-top:10px;}
.local-bd {height: 34px; margin-top:15px; margin-bottom: 15px; width:100%; clear:both; border-bottom:2px dotted #c8c8c8;}


/* Register for LIVE Demo */
a.live-demo {color: #fff; text-decoration:none;}
a.live-demo:hover {color: #fff; text-decoration:none;}


/* Schedule a Call */
a.s-call {color: #fff; text-decoration:none;}
a.s-call:hover {color: #fff; text-decoration:none;}

/* FAQs */
.quest { font-size: 18px;  font-weight:bold !important; color:#00b9f0 !important; padding: 0 !important; margin-bottom:10px !important;}

/* Demo Videos */

.demo-lt { float: left; background-color:#fafafa; width:340px; height:300px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #cdcdcd;   
    box-shadow: 2px 2px 2px #dcdcdc; margin: 10px 35px 35px 20px; padding:20px 30px 30px 30px; font-size:1.1em;}
.demo-lt:hover, .demo-rt:hover{ background-color:#ebebeb;}
.demo-lt .conte{ padding-top:15px;}


/* Take a Tour Video */
.tt-lt { float: right; background-color:#fafafa; width:560px; height:325px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #cdcdcd;   
    box-shadow: 2px 2px 2px #dcdcdc; margin: -35px 35px 35px 0px; padding:20px 30px 30px 30px; font-size:1.1em; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.tt-lt:hover{ background-color:#ebebeb;}
.tt-lt .conte{ padding-top:15px;}

/* editions */
.edition .fa-users, .edition .fa-puzzle-piece{
 color: #000000;
    font-size: 1.5em;
    line-height: 25px;
}
