/*css document*/

/*this is the universal stylesheet. It accesses type from multiple typotheque projects. If you need to alter type on the master template, use font stacks that try both projects*/

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, a,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: "Fedra Serif A Book", "Fedra Serif A Book 3",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	list-style: none;
	color: black;
	text-decoration: none;
}

/* type */

a:hover, h4 a:hover, #topbar ul a:hover, #topbar ul a i:hover, 
#sidebar ul li a:hover, .part li a:hover, #map ul li a:hover, 
#results li a:hover, ul li a:hover, #footer p a:hover {
	color: red;
	cursor: pointer;
}

h1 a, li h1 {
	font-family: "Fedra Serif B Medium Italic", "Palatino Linotype",
	"Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
	font-weight: bold;
	font-size: 58px;
	letter-spacing: 3px;
	color: black;
}

h2 {
	font-family: "Fedra Serif B Medium", "Palatino Linotype",
	"Book Antiqua", "Palatino", "georgia", serif; 
	font-weight: bold;
	font-size: 38px;
	padding-top: 50px;
}

#home h2 {
	padding-top: 40px;
}

h3{
	font-family: "Fedra Serif B Medium Italic", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
	font-weight: bold;
	font-size: 26px;
	height: 36px;
	border-style: solid;
	border-color: #e1e1e1 white white white;
	border-width:1px;
	width: 850px;
	margin-top: 40px;
	padding-top: 40px;
}

h4 {
	position: relative;
	top: 8px;
	left: 20px;	
}

h4 a{
	font-family: "Fedra Serif A Book 4", "Fedra Serif A Book 2", 
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-weight: normal;
	color: white;
	font-size: 20px;
}

sub {
	font-size: 10px;
}

sup {
	font-size: 12px;
	font-family: "Fedra Serif B Medium 3", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-weight: bold;
}

sub strong  {
	font-family: "Fedra Serif B Medium 3", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-weight: bold;
}

strong sub {
	font-family: "Fedra Serif B Medium 3", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-weight: bold;
}

i, em {
	font-family: "Fedra Serif A Book Italic", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
}

strong, b {
	font-family: "Fedra Serif B Medium", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-weight: bold;
}

b {
	font-weight: normal;
}


p {
	font-size: 12px;
	line-height: 200%;
	margin-top: 20px;
}


/* layout */


#wrapper {
	text-align: center;
}


#home {
	padding-top: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

.section {
	position: relative;
	top: 5px;
	width: 900px;
	background-image: url("http://thinkingwithtype.com/images/ornament1.png");
	background-repeat: repeat-x;
	padding-bottom: 80px;
}

#contents, #feeds, #map, #banner, #footer {
	left: 0px;
	width: 900px;
}

.page p {
	width: 480px;
	}

.page img {
	position: relative;
	padding-top: 20px;
}

.page p a {
	color: #777777;
}

.flashcontent {
	position: relative;
	top: 20px;
	display: inline;
	opacity: 0.85;
	cursor: pointer;
}

.flashcontent img {
	padding-top:0;
}

.flashcontent:hover {
	opacity: 1;
}

#searchbod	{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	right: 30px;
	width: 500px;
	text-align: center;
}

#searchbod h4 {
	width: 500px;
	padding-bottom: 40px;
}

#results {
	padding-bottom: 40px;
	padding-top: 40px;
	width:500px;
}

#results li a {
	color: #444444;
	font-family: "Fedra Serif B Medium 3";
	font-weight: bold;
	font-size: 14px; 
}

#results li p {
	margin-top: 0;
}

#results li {
	margin-bottom: 40px;
}

#results #search {
	float:none;
	right: auto;
	margin-right: 90px;
}

#newsbod h4	{
	font-family: "Fedra Serif B Medium 3", "Palatino Linotype", 
	"Book Antiqua", "Palatino", "georgia", serif;
	font-weight: "bold";
	font-size: 16px;
}

#newsbod li h4, #fourbod #results li, #searchbod #results li  {
	border-color: white white black white;
	border-width: 1px;
	border-style: solid;
}

.pagination li {
	display: inline;
	list-style-type: none;
	letter-spacing: 8px;
	}
	
#newsbod {	
	padding-bottom: 20px;
}

#newsbod #news {
	width:500px;
}

#newsbod h4 {
	margin-top: 10px;
}

.pagination-selected a {
	color:red;
}

#fourbod li	{
	position:relative;
	margin-bottom: 20px;
	width: 600px;
}

#fourbod h4, #newsbod h4, #searchbod h4 {
	line-height: 150%;
	position: relative;
	left: 0;
}


/* navigation */


#topbar {
	width: 100%;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	position: absolute;
	left: 0;
	display: inline;
}

#topbar h4, #topbar h4 a {
	position: static;
	float: left;
	height: 16px;
	line-height: 100%;
	margin-left:10px;
	padding: 0;
	border: 0;
	
}

#topbar ul {
	position: absolute;
	top: 12px;
	right: 0;
	float: right;
	margin-right: 65px;
	display: inline;
	text-align: right;
	line-height: 100%;
}

#topbar ul i {
	font-size: 12px;
	font-family: "Fedra Serif A Book Italic", "Fedra Serif A Book Italic 2",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
	color: #E1E1E1;
}

#topbar ul, #topbar ul a {
	font-family: "Fedra Serif A Book 4", "Fedra Serif A Book 2",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-style: normal;
	font-size: 14px;
	color: white;
}

#topbar li, #topsearchfield fieldset li {
	display: inline;
	list-style-type: none;
	color: white;
}

#topsearch {
	position:absolute;
	background-image: url("http://thinkingwithtype.com/images/topsearch.gif");
	background-repeat: no-repeat;
	display:inline;
	width: 45px;
	height: 30px;
	top: -6px;
	right:-50px;
	border-color:black;
	background-color: black;
	z-index: 1;
}

#topsearch:hover, .topsearchhover {
	display:block;
	cursor: pointer;
	background-position: 0 -27px;
}

#topsearch img {
	display: block;
	width: 45px;
	height: 30px;
}

#search2, #topsearchfield {
	display: inline;
}

#searchinput2 {
	position:absolute;
	width: 0px;
	height: 13px;
	border: 1px solid #781351;
	display:none;
	float:right;
	right:0px;
	top: 0px;
}

#sidebar{
	float: right;
	position: fixed;
	top: 80px;
	right: -4px;
	width: 180px;
	background-color: white;
	border-color: #C1C1C1;
	border-style: double;
	border-width: 4px;
	z-index: 98;
}

#sidebar ul {
	margin: 20px 0 20px 20px;
}

#sidebar ul li a {
	font-family: "Fedra Serif A Book 4";
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 200%;
}

#sidebar ul li i a {
	font-family: "Fedra Serif B Medium Italic", "Palatino Linotype",
	"Book Antiqua", "Palatino", "georgia", serif;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 32px;
}




/*banner type*/


				/*i load this css only on the homepage!*/
				
				/*if you are looking to edit or add to this 
				css, see "/workspace/styles/banners.css".*/


/*table of contents, twitter feed, & news*/

			/*see above*/
			
			/*located at "workspace/styles/home.css".*/




/* site map */ 

#map h2 {
	font-family: "Fedra Serif B Medium 3", "Fedra Serif B Medium 2", 
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-weight: bold;
	font-size: 30px;
	padding-bottom: 0px;
	clear:both;
}

#map b {
	font-family: "Fedra Serif A Book Italic", "Fedra Serif A Book Italic 2",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
	font-size: 14px;
}

#map ul {
	font-size: 11px;
	line-height: 150%;
}

#map ul li a {
	font-family: "Fedra Serif A Book 4", "Fedra Serif A Book 2",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	color: #555555;
}

#map ul li i a{
	font-family: "Fedra Serif A Book Italic", "Fedra Serif A Book Italic 2",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
	color: #555555;
}

.mapcolumn {
	position: absolute;
	top: 90px;
	margin-left:0px;
}

#map ul li i a:hover {
	color:red;
}

/* footer */

#footer {
	margin-top: 200px;
	margin-bottom: 80px;
}

#footer p, #footer p a {
	font-family: "Fedra Serif A Book Italic", "Fedra Serif A Book Italic 2",
	"Palatino Linotype", "Book Antiqua", "Palatino", "georgia", serif;
	font-style: italic;
	font-size: 10px;
}

#footer p a {
	color: #666666;
}

#search, #search fieldset {
	position: relative;
	float: right;
	margin-top: -12px;
	height: 15px;
	right: 0; 
}

#results #search {
	margin-left: 0px;
}

.searchinput {
	width: 280px;
	height: 14px;
	border: 1px solid #781351;
	position: relative;
	top: -4px;
}

.searchbutton {
	position: relative;
	background-image: url("/images/search.png");
	background-repeat: no-repeat;
	right: 30px;
	top: -23px;
	height: 18px;
	width: 30px;
	background-color: black;
	margin: 0;
	line-height: 0;
	border: 0;
	display: block;
	-moz-appearance: none;
}

.searchbutton img {
	width: 30px;
	height: 18px;
}

.searchbutton:hover {
	cursor:pointer;
}

#footbar {
	position: relative;
	height: 30px;
	width: 100%;
	background-color: black;
	bottom: 0;
	left: 0;
}