.bwtCursorProgress {
	cursor: progress;
}

#bwtFrame {
	position: absolute;
	width: 620px;
}

.btwFrameTop {
	width: 620px;
	height: 362px;
	background: url(images/top_zdnet_620x362.png) left top no-repeat; 
}

.btwFrameMiddle {
	background: url(images/middle_bg-repeatable.png) left top repeat-y; 
}

.btwFrameMiddle .btwMessage {
	width: 267px;
	height: 89px;
	margin: 0 auto;
}

.btwFrameMiddle .btwMessage #messageCenter {
	width: 262px;
	color: green;
	background-color: transparent;
	border-color: green;
    font-family: monospace;
}

.btwFrameMiddle .btwShare {
	width: 267px;
	height: 89px;
	margin: 0 auto;
	background: url(images/share-field-3.png) left top no-repeat;
}

.btwFrameMiddle .btwShare .btwShareIcon {
	position: absolute;
	width: 40px;
	height: 40px;
}


#downloadResultValue {
	color: red;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px;
	
	text-align: center;
	
	position: absolute;
	left: 44px;
	top: 100px;
	width: 95px;
}

#uploadResultValue {
	color: red;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px;
	
	text-align: center;
	
	position: absolute;
	left: 475px;
	top: 100px;
	width: 95px;
	
	
}


#indicator {
	position: absolute;
	left: 281px;
	top: 32px;
}

#btwStartButton {
	position: absolute;
	left: 272px;
	top: 248px;
	
	width: 80px;
	height: 80px;
	
	background: url(images/powerbuttons_sprite.png) 0 0 no-repeat;	 
}

