/*CSS Reset - derivative of YUI Reset CSS - http://developer.yahoo.com/yui/reset/#code */
html, body, div, pre, form, fieldset, input, h1, h2, h3, h4, h5, h6, p, textarea, ul, ol, li, dl, dt, dd, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code { font-style:normal; font-weight:normal; }
ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }

/*Base Styles*/
body { font:13px Verdana, Arial, Helvetica, sans-serif; background-color: #989898; color: #333333; }

/*Load ASAP*/
#masthead h1 { width:960px; height:60px; display:block; text-indent:-9999px; background:transparent url(images/logo.jpg) no-repeat top left; }
#masthead h1 a { width:285px; height:100%; display:block; outline:none; }
#content p, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content pre, #content ol, #content ul { margin: 0 0 0 50px; }
a, a:visited, a:active { color: #006699; text-decoration:none; }
a:hover { color: #0099ff; text-decoration:underline; }
#content p a { text-decoration:underline; }
a:link img, a:visited img, a:active img { border:3px solid #e1e1e1; }
a:hover img { border: 3px solid #464646; }
.floatRight { float:right; padding:0 0 10px 10px; }
.floatLeft { float:left; padding:0 10px 10px 0; }
.clear { clear:both; }
h1, h2, h3, h4, h5, h6 { color: #000000; font-weight:bold; }
div.navigation { margin-left:30px; margin-bottom:20px; }

/*Layout*/
#wrapper { margin: 0 auto; width: 980px; text-align:left; }
#inner { width:980px; float:left; background:#ffffff url(images/bg_body.jpg) repeat-y top center; }

/* Masthead (Header) */
#masthead a#skip-navigation {position:absolute; top:-1000px; border:none;}
#masthead { width:960px; height:120px; margin:0 auto; background:#ffffff url(images/bg_masthead.jpg) repeat-x top left; }
#masthead ul { display:block; width:100%; }
#masthead ul li { display:block; width:80px; float:left; line-height:30px; text-align:center; }
#masthead ul li a { color: #666666; text-decoration:none; }
#masthead ul li a:hover { color: #999999; border-bottom: 2px solid #999999; }
#masthead ul li.primarySubscribe { width:210px; padding-left:30px; float:right; background:transparent url(images/rss_icon.jpg) no-repeat left top; text-align:left; }
#masthead ul li.primarySubscribe a { font-weight:bold; color:#006699; }

#masthead ul li.twitterSubscribe { width:150px; padding-left:30px; margin-left:10px; float:right; background:transparent url(images/twitter_icon.jpg) no-repeat left top; text-align:left; }
#masthead ul li.twitterSubscribe a { font-weight:bold; color:#006699; }

/*Content*/
#content { width:630px; float:left; }
#content div.article { margin-bottom:40px; }
#content ul, #content ol { margin-top:10px; margin-bottom:15px; }
#content ul li { background: url(images/li_bullets_small.jpg) no-repeat left; padding-left:20px; margin-bottom:5px; margin-left:20px; }
#content ol li { margin-left:40px; margin-bottom:5px; }
#content ol li p, #content ul li p  {margin-left:0;}
#content h2 { display:block; clear:both; border-top: 1px solid #cccccc; padding-top:10px; }
#content h2, #content h2 a, #content h2 a:visited, #content h2 a:active { font:bold 26px Arial, Helvetica, sans-serif; color:#000000; line-height:26px; text-decoration:none; }
#content h2 a:hover { text-decoration:underline; }
#content h3 { font:bold 17px Arial, Helvetica, sans-serif; font-weight:bold; padding-top:24px; padding-bottom:5px; }
#content h4 { font-size:14px; line-height:14px; padding-top:5px; padding-bottom:3px; }
#content p, #content table td { line-height: 20px; margin-bottom: 15px; }
#content code, #content p code { font:normal 13px "Courier New", Courier, monospace; color:#333; }
#content h3 code {font-weight:bold;}
#content p.meta { font-size:11px; margin-top:10px; padding-bottom: 20px; color:#999; line-height:11px; display:block; background:url(images/dots_horizontal.jpg) repeat-x bottom left; }
#content p.meta span.authorInfo { float:left; }
#content a.more-link { text-decoration:none; display:block; height:26px; width:140px; line-height:26px; text-align:center; 
  background:#fff url(images/bg_masthead.jpg) repeat-x top left; color:#ccc; }
#content a.more-link:hover { text-decoration:underline; }
#content table tr{border:1px solid}
#content table {margin:5px 0 15px 50px;border:1px solid #999;}
#content table th {background-color:#e5e5e5;padding:5px;}
#content table tr td {padding:5px;}
#content table tr {border-top:1px solid #999;}

span.metaComment { float:left; padding-left:20px; margin-left:5px; background:url(images/comment_bubble.jpg) no-repeat top left; }
/* SU rocks so much */
span.stumbleuponbookmark { float:left; padding-left:15px; background:url(images/boookmark_stumbleupon.jpg) no-repeat top left; }
/* del.ico.us lovin' */
span.deliciousbookmark { float:left; padding-left:15px; margin-left:5px; background: url(images/bookmark_delicious.jpg) no-repeat top left; }
/*Save the best for last - I heart Digg x infinity */
span.diggbookmark { float:left; }

/*Comments*/
#comments { font-size: 12px; margin-left:0; }
#comments p { line-height: 15px; margin-left:10px; }
#comments form { margin-left:40px; }
#comments a { color:#003366; }
h3.commentSum { border-top:5px solid #CCCCCC; display:block; background:#ffffff url(images/dots_horizontal.jpg) repeat-x bottom left; }
#comments span img.gravatar { float:right; width:80px; margin:0 10px 10px 10px; height:80px; }
#comments h5 { font:bold 16px Arial, Helvetica, sans-serif; color:#000000; margin-left:10px; }
#comments h5 a { font:bold 16px Arial, Helvetica, sans-serif; color:#003366; text-decoration:none; }
#comments h5 a:hover { text-decoration:underline; }
p.userCommentDate, p.userCommentDate a { color:#999999; }
p.userCommentDate a:hover { color:#999999; text-decoration:underline; }
div.userComment { margin:10px 10px 10px 50px; padding: 15px 0; background: url(images/dots_horizontal.jpg) repeat-x bottom left; color:#333333; }
div.authorComment { margin:10px 10px 10px 50px; padding: 15px 0; background: #e5e5e5 url(images/dots_horizontal.jpg) repeat-x bottom left; }
#comments p.commentDate { font-size:11px; color:#999999; line-height:11px; }

/*Sidebar*/
#sidebar { width:315px; float:right; }
#sponsor a img { border:0; margin:0; padding:0; }
span.sideCommentNum { padding-left:14px; background:url(images/comment_bubble.jpg) no-repeat top left; }

/* Comments */
#sidebar h2 { font:bold 14px Arial, Helvetica, sans-serif; padding: 5px 0 0 0; margin-bottom: 5px; border-top:5px solid #e5e5e5; }
#sidebar h2, #sidebar ul, #sidebar ol, #sidebar p, #sidebar div { margin:0 35px 5px 15px; }
#sidebar div#sponsor { margin-bottom:30px; }
#sidebar ul { font-size: 12px; margin-bottom:30px; }
#sidebar ul li { padding-top: 5px; margin-bottom: 10px; display:block; background: transparent url(images/dots_horizontal.jpg) repeat-x top left; }
#sidebar ul li a:link, #sidebar ul li a:visited, #sidebar ul li a:active { font:normal 12px/12px Arial, Helvetica, sans-serif; text-decoration:none; }
#sidebar ul li a:hover { text-decoration:underline; }
#sidebar ul li.topCommenter { font-weight:bold; }
#sidebar ul li.topCommenter a { font-weight:normal; display:block; }
blockquote { margin:10px 30px 10px 80px; padding:10px; color:#333333; font-style:italic; border-top:1px solid #989898; border-bottom: 1px solid #989898; background-color: #e9e9e9; }
#content blockquote p { margin:0; }

/* Footer */
#footer { clear:both; width:960px; margin:0 auto; background:#000000 url(images/bg_footer.jpg) repeat-x top left; }
#footer p { margin-left:20px; color: #ffffff; font-size: 11px; line-height: 40px; }
#footer p a { color:#fff; text-decoration:underline; }

/*Special Styles for Articles */
ul#vistamenu { display:block; width:608px; }
ul#vistamenu li { display:block; width:152px; float:left; list-style:none; }

/* Image Border */
#content p img { border: 1px solid #CCCCCC; padding: 4px; }
#comments img.avatar { margin-left:10px; }

/* Pre tag */
#content pre { border: 1px solid #e1e1e1; background-color:#ebebeb; font-size:12px; padding:10px; margin-top:10px; margin-bottom:10px; overflow:auto; }
#content pre strong { font-weight:bold; color: #096; }

/* Captions */
#content span.figure-caption { display:block; width:100%; font-size:11px; color:#666666; }

/* Sponsors */
#sidebar ul.sponsors li a { border:none; }
#sidebar ul.sponsors li a img { border:none; }
#sidebar div { margin-left:0;s }
#sidebar ul.sponsors li { padding-top:0; background:none; margin-bottom:5px; }
#sidebar ul.sponsors li.sponsor-first { background: transparent url(images/dots_horizontal.jpg) repeat-x top left; padding-top:5px; }
#content ._bsa_textad { margin:-12px 0 10px 50px; font-size:12px; }
#content ._bsa_textad a {font-weight:bold;}

/* Search sidebar */
input.sidebar-search-button { background-color: #000; padding:2px; color: #ccc; border:0px; font-size:12px; }
input:hover.sidebar-search-button { background-color: #999; }

/* RSS feed bottom */
#content p.rssBottom { border:1px solid #e5e5e5; padding: 5px; background-color:#eee; display:block; margin-bottom:25px; }
#content p.rssBottom a { border:none; }
#content p.rssBottom img { border:none; float: left; margin-right: 10px; }

/* WP-specific */
.alignleft { float:left; }

/* Gravatar */
img.avatar { float:left; margin:0 5px 0 0;}
span.authorName { font-weight:bold; color: #666666; }

p.author-bio { font-size:11px; font-style:italic;  }

/* Page-Navi */
.wp-pagenavi {
  width:500px;
  margin-left:48px;
  margin-bottom:30px;
  font-size:11px;
}
.wp-pagenavi a, .wp-pagenavi a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #ccc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-pagenavi a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #ccc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-pagenavi a:hover {	
	border: 1px solid #ccc;
	color: #000000;
	background-color: #FFFFFF;
}
.wp-pagenavi a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #000;
	color:#ccc;
	background-color:#fff;	
}
.wp-pagenavi span.pages {
	padding: 2px 4px 2px 4px; 
	margin: 2px 2px 2px 2px;
	color: #000000;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
}
.wp-pagenavi span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #ccc;
	color: #ccc;
	background-color: #252525;
}
.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}

/* authors */
p.about-author {border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#eee; font-size:12px; min-height:120px; padding:5px; }
p.about-author span.author-bio-text { margin:5px; width:400px;}
p.about-author img {float:left; width:auto; margin:5px;}

/*Poll daddy*/
.pds-box {width:400px; margin-left:50px;border:2px solid #e5efe5; background:#ccc;}
.pds-question-top {font-weight:bold;}
.pds-box-outer {background-color:#eee;}

/* Tutorials */
span.tutorial-number {color:#000; font:bold 15px Arial, Helvetica, sans-serif; padding-right:5px;}

/* BSA Premium */
/*div.bsap_unit { margin-left:50px; margin-bottom:15px; }*/

div.bsap { margin-left:50px;}

/* BSA */
div.bsap a.even { line-height:100%; }

body div#bsap_1236051 a.adhere { line-height:400%; }

body div#bsap_1234901 a.adhere { line-height:1000%; }

div#bsap_1236051 { text-align:center; }