*{margin:0;padding:0}
body{font:14px/18px "Microsoft YaHei",Tahoma,Arial,sans-serif;color:#111;background:#fdfdfd}
a{color:#333;text-decoration:none}
.indexcon a{color:#000}
img{border:0}
li{list-style:none}
#header{}
.lan{width:90px;float:right}
.lan span{width:50%;height:25px;text-align:center;margin-top:5px;display:block;float:left}
.lan img:hover{opacity: 0.9;filter: alpha(opacity=90);box-shadow: 0px 1px 5px #FFF;}
.login{margin:8px 16px 0 0;float:right}
.login a{color:#fff;padding:0 5px}
.login a:hover{color:#3cf}
.login i{ width:18px; height:19px; margin-right:2px; background:url(../images/usertop.png); display:block; float:left}
.login span{ float:left}
#topmenu{background:#058}
.topmenubox{width:1240px;height:35px;margin:0 auto}
#logowrap{background:#058}
.logobox{width:1240px;height:80px;margin:0 auto;clear:both}
.logobox .logopic{float:left;margin-top:10px;}
.logobox .logopic:hover{opacity:0.9;filter:alpha(opacity=90)}
#footersearch{width:370px;margin:7px 10px 0 0;float:right}
.searchinput{width:266px;height:20px;padding:5px 5px 5px 28px;border:1px solid #fff;border-right:0;outline-color:#3cf;float:left;border-bottom-left-radius:5px;border-top-left-radius:5px;font-family: "Microsoft YaHei",Tahoma,Arial,sans-serif;font-size: 15px;box-shadow:inset 0 0 8px #eaeaea;background:#fff url(../images/search-icon.png) no-repeat 5px}
.searchinput:focus{background:#fff url(../images/s-icon-focus.png) no-repeat 5px}
.searchsubmit{width:70px;height:32px;text-transform:uppercase;border:0;cursor:pointer;float:left;border-bottom-right-radius: 3px;border-top-right-radius: 3px;font-family: "Microsoft YaHei",Tahoma,Arial,sans-serif;font-size: 15px;background:#333;color:#fff}
.searchsubmit:hover{color:#B6E8FF;background:#058;}
.uloginbox .searchinput{border: 1px solid #ccc;border-radius: 3px;width:285px;width:215px\9;margin-bottom:0;background:#fff}
.uloginbox li .loginpsw.captcha:focus,.uloginbox li .loginpsw.captcha{width:120px;width:100px\9;background:#fff}
.uloginbox .sectioncont li{list-style:none;width: 100%;height: 40px;margin-bottom:10px}
.uloginbox .sectioncont .rempsw{height:20px}
.uloginbox .forget{margin:0}
.uloginbox li .loginsub{width: 325px;background: #83ACD0;margin-left: 0\9;color: #FFF;border: 1px solid #7B99C7;}
.uloginbox li .loginsub:hover{background:#058;color: #fff;}
.uloginbox .sectioncont,.upanel .sectioncont{padding: 18px 10px;border-radius: 5px;border: 1px solid #e1e1e1;background:#f5f5f5;margin-bottom: 15px;}
.uloginbox li .loginuser{background:#fff url(../images/userf.png)no-repeat 6px 7px;}
.uloginbox li .loginpsw{background:#fff url(../images/passwordf.png) no-repeat 6px 7px;}
.uloginbox li .loginpsw:focus{background:#fff url(../images/password.png) no-repeat 6px 7px}
.uloginbox li .loginuser:focus{background:#fff url(../images/user.png)no-repeat 6px 7px}
.titlewrapper,#titlewrapper{margin-top:5px;height:30px;line-height:30px;padding-bottom: 8px;}
.titlewrapper img,#titlewrapper img{margin:0 8px;float:left}
.titlewrapper h4,#titlewrapper h4{font-size:26px;font-family: Georgia,"Microsoft YaHei","Times New Roman",Times,serif;float:left}
.regi_con #titlewrapper h4{ text-indent:215px}
.captchapic{width:110px;height:46px;margin-top:-4px}
#cathome a{color:#3cf}
#cathome a:hover{color:#1184C8}
.catlogout{margin:15px 0}
.catlogout a{padding: 3px 10px;background: #fff;border:1px solid #eee;border-radius: 3px;}
.pointcolor{color:#a00;margin-right:15px}
.depolink a{height:40px;text-align:center;line-height:40px;margin:0 0 10px;background:#f60;display:block;font-size: 20px;color: #fff;font-weight: bold;border-radius: 3px;}
.depolink a:hover{background:#f40}
.quickbtn{height:100px;background:#eaeaea;border-radius: 5px;box-shadow: inset 1px 1px 5px #dadada;border-bottom: 1px solid #fff;}
.qkFix .quickbtn{box-shadow: inset 1px 1px 5px #b2b2b2; height:75px}
.qkFix .quickbtn dl{margin-top:8px;}
.quickbtn dl{float:left;text-align:center;margin-top:22px;width:50%}
.quickbtn dt{margin-top:5px;font-weight: bold;font-size: 18px;color:#058}
.qb1 dd{background:url(../images/newco.png) no-repeat center 0;width: 100%;height:38px}
.qb2 dd{background:url(../images/askco.png) no-repeat center 0;width: 100%;height:38px}
.qb1:hover dd{background:url(../images/newco.png) no-repeat center -38px}
.qb2:hover dd{background:url(../images/askco.png) no-repeat center -38px}
.qb1:hover dt,.qb2:hover dt{color:#fff;text-shadow: 1px 1px 5px #00A0FF;}
.sst{border-radius: 3px;margin-left:6px}
#content{width:1240px;margin:0 auto}
#navigation{height:46px;width:1240px;margin:0 auto;background:#5C798B;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top:1px solid #333}
.nav li a{padding:6px;margin-top:8px;text-transform:uppercase;font-size:16px;border-bottom: 1px solid #3cf;margin-left: 10px;display:inline-block;color:#fff;float:left}
.nav li a:hover,.nav li .topnav_active{background:#64AEDA;border-bottom:1px solid #3cf;color:#fff}
.keywords li a{color:#fff;border:0;font-size:14px;margin-left:2px;text-transform:none;border-radius: 3px}
.keywords li span{padding: 6px;float:left;font-size:14px;margin-top: 8px;font-size: 16px;margin-left:10px;display: inline-block;color:#fff}
.isStuck{background:rgba(255,255,255,0.95);border-bottom:2px solid #ddd;width:1240px;margin:0 auto}
.isStuck li a{margin:4px 0;color:#333}
#content_left{width:830px;margin:0 30px 0 0;position:relative;float:left}
.adv1{margin :12px 0 ;background: url(../images/adv1_bg.png) right bottom no-repeat;clear:both}
.read_dtl .adv1{background:#f5f5f5 url(../images/adv1_bg.png) right bottom no-repeat}
.sp_links{width: 100%;height: 22px;display: block;background: #fdfdfd;color:#666}
.cfadv{height:120px;margin :12px 0}
.btitle{height:32px;padding: 5px 0;margin-bottom: 15px;border-bottom:1px solid #ccc}
#content_left .btitle{background: #ddd;border-radius: 5px;}
.indexcon #content_left .btitle{background:none;border-radius:0}
#content_left .btitle img{margin:2px 8px}
.btitle img{margin:2px 8px 0 0;float:left}
.code-box .btitle h2{margin:0;padding:0;border:0;color:#000}
.btitle h2{font-size:28px;font-family:Georgia,"Microsoft YaHei","Times New Roman",Times,serif;line-height:32px;float:left}
.btitle h2 a:hover{color:#058}
.more{width:24px;height:26px;background:url(../images/morebg.png);display:block;float:right}
.more:hover{background:url(../images/morehover.png)}
.menu{min-height:76px;margin:10px 0;clear:both}
.menu li a{border:1px solid #ccc;margin:0 8px 8px 0;padding:5px 10px;font-weight:bold;float:left}
.menu li a:hover{background:#369;border:1px solid #369;color:#FFF}
#list_selected{background:#369;border:1px solid #369;color:#FFF}
.content-list{min-height:150px;margin:10px 0;padding:10px;clear:both; border-bottom:1px solid #eee}
.bolg-fbox .content-list{ padding:15px 10px}
.content-list:hover{background:#f5f5f5}
.entry{ display:inline-block}
.entry p{margin:10px 0;line-height:22px}
.entry p{margin:15px 0;line-height:24px}
.content_stat{ margin-bottom:0 !important}
.entry .tagbotm{margin:0 15px 5px 0;display:block;float:left}
.entry h3{font-size:20px; padding-bottom:10px}
.entry h3:hover{color:#058}
.entry .tagbotm img{margin-right:3px;float:left}
.tabinfobox .entry .tagbotm span{background:#fafafa;}
.entry .tagbotm span{padding:5px;border:1px solid #e1e1e1;border-radius:3px;color:#058;background:#eee;float:left}
.entry .tagbotm span:hover,.catlogout a:hover{background:#fff;color:#3cf;border-color:#3cf}
.ymback_btn:hover{background:#fff;color:#009ACD;border-color:#3cf}
#right_sidebar{width: 348px;border-radius: 5px;margin: 12px 0 40px 0; background:#fefefe;float: right;padding: 15px;border: 1px solid #eee;overflow:hidden}
#right_sidebar .btitle{height:32px;margin:0 0 15px 0}
#right_sidebar .r_poll{margin-top:20px}
.r_recom{margin:20px 0;clear:both}
#normal_show{ margin-top:18px}
.con_list li,.r_recom li{list-style: url(../images/logonew.png) inside;list-style:none\9 ;color:#058;border-bottom: 1px solid #f0f0f0}
.con_list li:last-child,.r_recom li:last-child{border-bottom:0}
.con_list li:hover,.r_recom li:hover{background:#CCE1ED;color:#0bf;}
.con_list li a,.r_recom li a{width:96%;padding:9px 6px;display:block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.con_list li a:hover,.r_recom li a:hover{color:#0080AE}
#dracon_poll_12 .dracon_poll_title{text-align:left !important}
#dracon_poll_12 .dracon_poll_info{text-align:left !important}
#dracon_poll_12 .dracon_poll_options ul li:hover{border:1px solid #ccc !important;color:#09c !important;background:#fff !important}
.entry_keywords{margin:30px 0}
.entry_keywords a{color:#333;padding:5px 8px; display:inline-block;background: #D4E6EF;margin: 5px 10px 5px 0;border-bottom: 1px solid #3cf;font-weight:normal;white-space: nowrap;}
.entry_keywords a:hover{color:#fff; background:#3cf}
.postlink{margin:20px 0 45px 0}
.postlink a{padding:3px 5px;margin:0 5px;border:1px solid #ccc}
.postlink a:hover,.postlink .activeee{background:#369;color:#B6E8FF;padding:3px 5px;margin:0 5px;border:1px solid #555}
.footer{height:190px; width:100%;margin-top:30px;border-top:1px solid #ccc;background:#5C798B;clear:both}
.footin{width:1240px;margin:0 auto;color:#fff}
.footin #footersearch{margin-top:30px}
.footin span{margin:0 10px}
.footin a{color:#3cf}
.footin a:hover{color:#fff}
.timing{text-align: center;margin: 15px 0;color: #2A4B5F;}
.info{padding-top:10px;text-align:center;clear:both}
.info i,.info a{font-style:normal;margin-left:5px}
.goup-container:hover{background:#036 !important}
.container-breadcrumb{margin-top:20px;font-size:13px;color:#888}
.container-breadcrumb a{color:#006894}
.container-breadcrumb a:hover{color:#a00}
.toptit{height:30px;margin:20px 0;font-size:18px;color:#a00}
.toptit h2{font-size:24px}
.toptit h2 img{margin:3px 10px 0 0;float:left}
.toptit h2 span{margin-bottom:20px;float:left;width: 800px;line-height: 28px;border-bottom: 1px solid #ccc;padding-bottom: 5px;}
.topinfo{width:100%;margin:0 auto;clear:both}
.topinfo .tagbotm{margin:0 15px 0 0}
.topinfo .tagbotm img{width:22px !important;margin-top:5px}
.dninfo{clear:both}
.dninfo img{margin-right:8px;float:left}
.infodn{width:100%}
.infodn td{background: #f2f2f2;box-shadow: inset 1px 2px 3px #E0E0E0;font-size:15px}
.float_dnlink{ position: absolute;left:-52px;top: 118px;}
.float_dnlink img{width: 40px;height: 40px;background:#56C8BF;}
.float_dnlink b{display: block;width: 40px;height: 40px;text-align: center;background: #56C8BF; color:#fff}
.float_dnlink a{display: block;width: 40px;height: 40px; margin-top:1px;background:#ddd url(../images/pack.png) no-repeat center;text-indent: 5px;font-size: 12px;color: #F40}
.float_dnlink a:hover{ background-color:#D1F0DE; color:#a00; text-decoration:none !important}
.fl_dnfix{left:14.7%;}
.codelist .btitle span{float: right;margin: 8px 10px;color: #D35500; font-size:15px}
#dnload{float:none}
#dnload:hover{ text-decoration:underline}
.andload{box-shadow: inset 1px 2px 3px #C5EAE1; background:#D1F0DE url(../images/dloadbg.png) no-repeat 540px center}
.dninfo .anlk{border-radius: 3px;padding:15px;}
.dninfo .anlk a{color:#006894;margin-right:15px;float:left}
.dninfo .anlk a:hover{color:#a00;}
.anlktitle{float:left}
.anlk.anlkclass{padding:10px 15px}
.anlk.anlkclass div{margin-top: 6px;width: 100px;height: 26px;float: left;}
.downloadlink{clear:both}
.sectioncont{padding:28px 10px}
.sectioncont li{list-style:decimal;line-height:26px}
.share,.sre{margin:10px 0;float:right}
.share li{display: inline;float: left;font-size: 11px;line-height: 48px;list-style-type: none;margin: 0 3px 0 9px;padding: 0}
.sh_gift{height:32px;width:160px;margin:12px 0;float:left;background:#f60;border: 3px solid #f10;border-radius: 3px;}
p.colorshine{font-size:24px;margin: 0 auto;height:32px;width:170px;line-height:32px;cursor: default;text-indent:10px;z-index: 98;position: relative;}
.colorshine{background: #f10 -webkit-gradient(linear, left top, right top, from(#f10), to(#f10), color-stop(0.5, #ff0)) 0 0 no-repeat;-webkit-background-size: 52px 32px;color: rgba(255, 255, 255, 0.8);-webkit-background-clip: text;-webkit-animation-name: colorshine;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: infinite;}
@-webkit-keyframes colorshine{0%{background-position: top left;}
100%{background: top right;}}
.gift-item{width:38px;height:38px;position:relative;border-radius:5px;background: url(../images/gift.png) no-repeat 10px;padding:10px 30px 10px 10px;z-index: 99;cursor:pointer;float:left}
div .gift_intro{width:206px;display:none;position:relative;z-index:97}
.sn{height:15px;}
.sn_tag{width: 17px;height: 10px;background: url(../images/acctag.png);margin-left: 45px;}
.sn_con{background:#1184C8;border-radius:5px;}
.sn_con ul{padding:12px}
.sn_con ul li{margin:10px 0;list-style: disc inside;color: #fff;line-height: 20px;border-bottom: 1px solid #2FA5D8;padding-bottom: 5px;}
.sn_con ul li:last-child{border-bottom:0;padding-bottom:0}
.banner_adv{margin-top:5px;float:right}
.nav.keywords{width: 830px;height: 46px;overflow: hidden;float: left;}
/*index*/.latest_code_v,.latest_code_r{width:45%;height:370px;border-radius: 5px;margin-bottom:12px;background:#fff;border:1px solid #ddd;padding:10px 15px;}
.latest_code_v{float:left}
.latest_code_r{float:right}
.navbar-wrapper li a{background:#1184C8;margin-top:24px;min-width:58px;border-radius: 3px;text-align:center}
.ggadv{margin:20px auto;width:300px;padding: 10px 24px;background: #f5f5f5;border-radius: 5px;}
.r_recom{min-height:300px; overflow:hidden;background: #f5f5f5;padding: 5px;border: 1px solid #e1e1e1;border-radius: 5px;border-top-left-radius:0}
.r_recom .r_recom{ border:0}
.tab1,.tab2,.tab3,.tab4,#font1b,#font2b{padding: 5px 9px;float: left;min-width: 60px;margin-right: 5px;border: 1px solid #d5d5d5;border-bottom: 0;text-align: center;border-top-left-radius:3px;border-top-right-radius:3px;background: #1184C8;color:#fff;font-weight:bold;cursor:pointer}
#font1b.tab1,.tab1{background:#e4e4e4;color:#000;}
.xixi1,.xixi2,.xixi3,.xixi4{position:relative;top:1px;z-index:999}
.polltitle{font-weight:bold;margin-bottom:20px}
.totalinfo b{color:#a00}
.polltotal{margin-bottom:20px}
.polltotal a{padding: 5px 12px;margin: 13px 10px 13px 0;display: block;float:right;background: #1184C8;color:#fff;border-radius:3px}
.polltotal a:hover{background:#3cf;}
#footersearch.footsearch{float:none;margin: 30px auto;}
.footsearch .searchinput{border-color:#fff;background:#f5f5f5 url(../images/search-icon.png) no-repeat 5px;}
.contact{text-align:center;margin:10px 0}
/*投票*/.poll_plan0{background-position:0 -52px;}
.poll_plan1{background-position:0 -104px;}
.poll_plan2{background-position:0 -156px;}
.poll_plan3{background-position:0 -208px;}
.poll_plan4{background-position:0 -260px;}
.poll_plan5{background-position:0 0px;}
.poll_plan0 .plan_e{background-position:right -78px;margin-left:2px;background-repeat:repeat-x;padding-right:2px;}
.poll_plan1 .plan_e{background-position:right -130px;margin-left:2px;background-repeat:repeat-x;padding-right:2px;}
.poll_plan2 .plan_e{background-position:right -182px;margin-left:2px;background-repeat:repeat-x;padding-right:2px;}
.poll_plan3 .plan_e{background-position:right -234px;margin-left:2px;background-repeat:repeat-x;padding-right:2px;}
.poll_plan4 .plan_e{background-position:right -286px;margin-left:2px;background-repeat:repeat-x;padding-right:2px;}
.poll_plan5 .plan_e{background-position:right -26px;margin-left:2px;background-repeat:repeat-x;padding-right:2px;}
.poll_plan0 .plan_c{background-position:0 -339px;background-repeat:repeat-x;height:16px;}
.poll_plan1 .plan_c{background-position:0 -367px;background-repeat:repeat-x;height:16px;}
.poll_plan2 .plan_c{background-position:0 -395px;background-repeat:repeat-x;height:16px;}
.poll_plan3 .plan_c{background-position:0 -420px;background-repeat:repeat-x;height:16px;}
.poll_plan4 .plan_c{background-position:0 -447px;background-repeat:repeat-x;height:16px;}
.poll_plan5 .plan_c{background-position:0 -312px;background-repeat:repeat-x;height:16px;}
#poll1{margin-bottom:20px}
#poll_a td{padding:2px 0;background:none;cursor:pointer}
#poll_a tr:hover{background:#CCE1ED}
.progr{margin:0 5px}
#codeinfo_l{width:200px;padding:6px;border-radius: 5px;margin:0 15px 12px 0;background: #f5f5f5;border: 1px solid #ddd;}
.infotable{width:100%}
.infotable td{height: 25px;line-height: 22px;}
.infotable b{margin:0 5px 0 2px}
.infotable i{font-style:normal;margin-bottom:10px;display:block}
.infotable img{border: 1px solid #fff;border-radius: 3px;}
.infotable span{color:#a00}
.codeclass .tagbotm{margin:0 5px}
.operating a{margin:0 10px 0 0;padding-left: 20px;}
.tabinfobox{width:100%}
.leftintro{width:628px}
.introduction{margin-bottom:15px;line-height:26px;font-size:15px}
.introduction p{text-indent:28px;margin-bottom:10px}
.cintro_con{ width:820px !important}
.cintro_con img{ max-width:830px; margin:10px 0}
.cintro_con img:hover{ opacity:0.8}
.codelist table{width:100%;font-family:"Microsoft YaHei",Tahoma,Arial,sans-serif;}
.codelist td{padding:3px;border-bottom: 1px dotted #ddd;}
.codelist th{padding:5px;border-radius: 3px;text-align:left;background:#E4E4E4;font-size:15px}
.codelist th:last-child{text-align:right}
.codelist td:last-child,.codelist th:last-child{text-align:right}
.relatedcode li{list-style:decimal; font-size:15px}
.resub_btn{height:35px;margin-bottom:10px}
#to_comment{background: #FFF8DD;margin-bottom: 10px;border-radius: 3px}
.review textarea{width:808px;max-width:808px;padding:8px;border-radius: 5px;border:1px solid #ccc;height:90px;max-height:120px;margin:10px 0 10px 2px;font-family:"Microsoft YaHei",Tahoma,Arial,sans-serif;}
.review textarea:focus{box-shadow: 0px 0px 5px #3cf; outline-color:#3cf}
.review button,#dlpre_id,.buysub,.telbtn,#button_login,.upfilesub,.reset,.resub_btn button{float:right;text-align: center;border-radius: 3px;padding:8px 10px;border:0;font-family:"Microsoft YaHei",Tahoma,Arial,sans-serif;background: #1184C8;color: #fff;font-weight: bold;cursor: pointer;}
.review button,#dlpre_id:focus,.buysub:focus,.telbtn:focus,button:focus,#button_login:focus,.upfilesub:focus,.reset:focus,.resub_btn button:focus{outline:none}
.buycoin .buysub{background: #49B9CD;}
input#dlpre_id{float:none;margin:5px 0 0; font-size:16px}
.searchinput.downcode{border: 1px solid #ccc;border-radius: 5px;float:none;background:#fff;padding:8px;margin:5px 10px 10px 10px}
.qsryzm{ margin-left:10px}
.dl_captcha{height: 65px}
.dl_captcha img{float:left}
.dl_captcha a{float:left;background: #E4E4E4;height: 40px;margin: 20px 0 0 23px;line-height: 40px;padding: 0 10px;border-radius: 5px;color: #058;}
.dl_captcha a:hover{background: #eee;color: #0075BB;}
.dl_input{clear:both}
#div_dl{padding: 10px;border-radius: 5px;margin-top: 10px;border: 1px solid #ddd; background:#f8f8f8; clear:both}
#pagelist{width: 100%;margin: 10px auto 30px auto;padding: 6px 0px;height: 20px;}
#pagelist ul li{float: left;height: 20px;line-height: 20px;margin: 0px 2px;padding: 5px 12px;border-radius: 3px;background: #1184C8;color:#fff}
#pagelist ul .current,#pagelist ul li:hover,.review button:hover{background: #69D1FF;color:#fff;display: block;font-weight: bold;}
#dlpre_id:hover ,.buysub:hover,#button_login:hover,.upfilesub:hover,.reset:hover,.resub_btn button:hover{background: #69D1FF;color:#fff}
#pagelist ul li a{color:#fff}
#pagelist ul .pageinfo a{color: #555;}
#pagelist ul .pageinfo{background:#d3d3d3}
.goup-container{background: rgba(0, 51, 102,0.6) !important;}
.prochart{width:120px\9}
#tab_cate li{list-style:none}
#tab_cate li img,#tab_cate li img{width:22px;margin-right:10px;float:left}
#tab_cate li span{line-height:24px;float:left}
#tab_cate li a{padding:6px}
.theme-popover-mask{z-index: 9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.2;filter:alpha(opacity=30);display:none}
.theme-popover,.mcoin,#switch_url, #commen_box, #leave_info_box,#edit_item_share_box {z-index:99991;position:fixed;top:50%;left:50%;width:660px;height:390px;margin:-180px 0 0 -330px;border-radius:5px;background-color:#fff;display:none;box-shadow: 0 0 10px #666;}
.theme-poptit,.coi_tit{border-bottom:1px solid #ddd;border-top-left-radius: 5px;border-top-right-radius: 5px;padding:18px;position: relative;background:#058;font-size:18px;color:#fff}
.theme-poptit h3,.coi_tit h3{font-size:21px}
.theme-popbod{padding-right:40px\9;color: #444;width: 400px;width:360px\9;border-right: 1px solid #ddd;margin: 55px 0 55px 40px;height:240px; position:relative;float:left}
.theme-popbom{padding:15px;background-color:#f6f6f6;border-top:1px solid #ddd;border-radius:0 0 5px 5px;color:#666}
.theme-popbom a{margin-left:8px}
.theme-popbod li{clear:both}
.theme-popbod p{margin-bottom: 10px;display: block;position: absolute;top: -40px;padding: 5px 0; font-size:15px; font-weight:bold;max-height: 30px;overflow: hidden;}
.theme-popbod b,.uloginbox b{width:58px;line-height:40px;float:left;display:none;display:block\9}
.theme-poptit .close,.coi_tit .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd;font-size:24px;color:#fff}
.theme-poptit .close:hover,.coi_tit .close:hover{color:#f00;}
body #switch_url, #commen_box, #leave_info_box {width:460px;height:200px;left: 56%;}
.swch_box{padding: 40px 20px;}
.swch_box dl{ width:50%; text-align:center; float:left}
.swch_box dt{ margin-bottom:10px}
.swch_box dt a{ font-size:24px}
li .loginpsw,li .loginuser{border-radius: 3px;border: 1px solid #ccc;margin-bottom:15px;width:300px;width:260px\9;height:28px;padding-left:35px}
li .loginpsw{background:url(../images/passwordf.png) no-repeat 3px 7px}
li .loginuser{background:url(../images/userf.png)no-repeat 3px 7px}
li .loginpsw:focus{background:url(../images/password.png) no-repeat 3px 7px}
li .loginuser:focus{background:url(../images/user.png)no-repeat 3px 7px}
li .loginsub{width: 342px;width: 302px\9;height: 40px;font-size: 18px;font-weight: bold;margin-left:58px\9;background: #1184C8;border-radius: 3px;}
li .captcha{width:180px;width:140px\9;padding-left:10px;margin-right:10px;background:none}
li .captcha:focus{background:none}
.remem{float:left}
.forget{float: right;margin-right: 55px;margin-right:0\9;margin-bottom: 15px;}
.theme-right{height:240px;width:180px;margin: 55px 0 55px 20px;overflow:hidden;float:left}
.theme-right{font-size:15px}
.theme-right dl{margin:60px 15px 0 15px;display:inline;float:left}
.theme-right dd{margin-bottom:8px}
.theme-right dl img{width:58px;}
.theme-right a,.theme-signin a{color:#006894;}
.theme-right a:hover,.theme-signin a:hover{color:#3cf;}
.theme-right .register{font-size:16px;padding-right:24px;width: 70px;margin: 10px 0;background:url(../images/moresmall.png) no-repeat right center;display:block}
.theme-right .register:hover{background-image:url(../images/morehoversmall.png)}
body .mcoin{width: 700px;height: 430px;}
.mcoin .coi_tit{padding:22px;background:#f60}
.mcoin .coi_left{width:60%;margin:20px 20px 0 28px;height:310px}
.mcoin .coi_right{width:30%;margin:20px 20px 0 0;height:310px}
.getcoin_intro{font-size:16px;color:#f40;font-weight:bold}
.buycoin thead{text-align:left}
.buycoin td{padding:10px 5px}
.zfb{width:83%;height:30px;display: block;margin: 10px 0 5px;background: #eee;padding: 5px;border-radius: 3px;color: #49B9CD;}
.zfb:hover{ background:#69D1FF; color:#fff}
.zfb span{ float:left;line-height: 30px;margin-left: 10px;font-size: 16px;}
.coi_left .buycoin td{border-bottom:1px solid #eee}
.buycoin tr{cursor:pointer}
.buycoin tr:hover{background:#f5f5f5}
.coi_right .buycoin tr,.buycoin .buysub_btn{cursor:default}
.coi_right .buycoin tr:hover,.buycoin .buysub_btn:hover{background:none}
.buycoin i{font-style:normal;font-weight:bold;color:#a00}
.buycoin .share{margin:0;float:none}
.buycoin .bdshare-button-style0-24 a{margin: 6px 8px 6px 0;}
.buycoin em{font-style:normal;color:#a00;margin:0 5px}
body .bdshare_popup_box{z-index:99992}
.saletag{background:#f88;padding: 3px 5px;color: #Fff;border-radius: 3px;box-shadow: 0 1px 0 #666;}
.buysub{width:100%;float:none;margin-top:10px;font-size:16px;}
.buysh{font-size:13px;line-height: 20px}
.coi_right .buycoin td{padding:3px 0;color:#666}
.coi_tit h3 span{font-family: Arial, Helvetica, sans-serif;color: #FFE6D5;}
/*幻灯片*/#full-screen-slider{width:100%;height:100%;float:left;position:relative}
#slides{display:block;width:100%;height:100%;list-style:none;padding:0;margin:0;position:relative}
#slides li{display:block;border-radius: 5px;width:100%;height:100%;list-style:none;padding:0;margin:0;position:absolute}
#slides li a{display:block;width:100%;height:100%;text-indent:-9999px}
#pagination{display:block;list-style:none;position:absolute;right:0;top:100px;z-index:9900;padding:5px 15px 5px 0;margin:0}
#pagination li{display:block;list-style:none;width:10px;height:10px;float:left;margin-left:10px;border-radius:5px;background:#0092CE}
#pagination li a{display:block;width:100%;height:100%;padding:0;margin:0;text-indent:-9999px;}
#pagination li.current{background:#fff}
.para,.para-list{background:none !important}
.code-box{width:100%;margin:0 auto;font-size:14px;position:relative;clear:both}
.code-box pre{min-height:640px;padding:30px 15px;border-radius: 5px;border: 1px solid #ccc;background: #f9f9f9;}
.code-box pre code{font: 13px/18px "Microsoft YaHei",Tahoma,Arial,sans-serif}
.code-box h2{font-size:24px;font-family: Georgia,"Microsoft YaHei","Times New Roman",Times,serif;color:#a00; line-height:32px;margin:15px 0 0 0;border-bottom: 1px solid #ccc;padding-bottom: 8px;display:block}
.ymback_btn{font-style:normal;padding:5px 10px; line-height:22px;background:#f8f8f8; border:1px solid #eee;border-radius: 3px;}
.backtoart{float:right}
.dtl_topinfo{margin-bottom:10px;height:25px}
.dtl_topinfo a span{color:#00aec5 !important}
.on_off_btn,.oob{width:60px;height:30px;line-height:30px;text-align:center;cursor:pointer;background:#1184C8;color:#fff;border:1px solid #ccc;position:absolute;top:0;right:0;display:block;border-top-right-radius:5px;border-bottom-left-radius:5px;float:right}
.on_off_btn:hover,.oob:hover{background:#35A0E0}
.morebar:hover, .morebar2:hover{background:#006BAB}
.rdl_link{ display:block; height:6px;}
.on_off_btn{z-index:2}
.oob{z-index:1}
.showbox{ height:580px;overflow:hidden;position:relative}
.morebar,.morebar2{width:100%;height:40px;position:absolute;bottom:0;border-bottom: 1px solid #aaa;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;text-align: center;line-height: 40px;font-size: 16px;color: #fff;font-weight: bold;background:#058;cursor:pointer;}
.morebar{z-index:4}
.morebar2{z-index:3}
body .bdshare_popup_box{border:1px solid #ddd}
/*backtotop*/.cbbfixed{position: fixed;right: 10px;transition: bottom ease .3s;bottom: -125px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn{width: 40px;height: 40px;display: block;background: #3cf;}
.cbbfixed .gotop{transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url(../images/side-icon02.png);}
.cbbfixed .gotop:hover{background:#058;}
.cbbfixed .cweixin{background:#6A8DA3;}
.cbbfixed .weibo{background:#6A8DA3; margin-top:1px}
.cbbfixed .cweixin div{background: url(../images/erwei.png);width: 194px;height: 199px;position: absolute;left: -194px;top: -115px;opacity: 0;transform: scale(0);-webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div{display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .weibo div{background: url(../images/weibo-bg.png);width: 194px;height: 60px;position: absolute;left: -194px;top: 32px;opacity: 0;transform: scale(0);-webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.wlink{text-align: center;padding: 7px 40px;width: 100px;display: block;color: #f60;font-weight: bold;font-size: 18px;line-height: 22px}
.wlink:hover{ color:#f10}
.cbbfixed .weibo:hover div{display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px;background: url(../images/side-icon01.png);}
.weibo-icon{float: left;margin:11px 0 0 10px;width:20px;height: 20px;background: url(../images/side-iconweibo.png);}
.weiboxin{ float:right; margin-right:20px; position:relative}
.weiboxin .wib,.weiboxin .wix{width: 18px;height: 18px;background:#00A0FF url(../images/weiboxin.png) 3px 5px;margin: 8px 0 0 15px;display: block;float: left;border-radius: 15px;padding: 3px;}
.weiboxin .wib {background-position: 3px 32px;}
.weiboxin .wix {background-position: 28px 32px;}
.wix:hover{background-position: 28px 5px; background-color:#1184C8}
.wib:hover{background-position: 3px 5px;background-color:#1184C8}
.twb{width: 120px;position: absolute;top: 20px;left: -33px; display:none}
.twx{width: 120px;position: absolute;top: 20px;left: 5px; display:none}
.twb i,.twx i{ height:5px; display:block}
.twb span,.twx span{ height:10px; width:17px; margin-left:52px; background: url(../images/wibxintag.png); display:block}
div .twx span{ background-position:17px}
.wib_con{height: 110px;background: #FFF5EC;border-radius: 5px;border: 3px solid #E0BEBE; text-align:center}
.wib_con a:hover{ color:#f40}
.wib_con a{font-size: 18px;line-height: 22px;display: block;font-weight: bold;padding: 33px 0;}
.wix_con{height: 110px;background: #ECFFEE;border-radius: 5px;border: 3px solid #b0d5bb;}
.qkFix{padding: 10px;position: fixed;z-index: 99996;top: 0;width: 328px;background:rgba(228, 233, 236, 0.9); background:#f4f4f4\9;}
.sectioncont .qkFix{margin-left: -11px;}
.navFix{position: fixed;width: 830px;z-index: 9999;background:rgba(0,85,136,0.9); background:#058\9;top:0}
.navbar-wrapper.navFix li a{margin:6px}
div .jRatingColor{background-color:#fa0;border-radius: 3px}
.myRating{margin-right:5px}
.username{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 98px;height: 19px;display: block;float: right;}
.au_title{float:right}
p.jRatingInfos{padding-top:8px !important;margin-top:-50px}
/*客户服务*/#serv_box{width:170px;position:fixed;right:-130px;top:200px;background: url(../images/service.png) no-repeat 0 0;}
.serv1,.serv2,.serv3{width:130px;height:118px;border:1px solid #d0d8e2;float:right;overflow:hidden;text-align:center;font-size:14px;color:#013984;}
.serv1{background:#fff}
.serv1 img{margin:18px 0}
.serv1 .kfbtn{width:92px;height:22px;margin:0 auto;display:block;text-indent:999px;background: url(../images/qqsev.png);}
.serv1 .kfbtn:hover{box-shadow: 1px 1px 10px rgba(0, 138, 255, 0.3)}
.serv2{background:#ECF3FA;border-top:0; cursor:default}
.serv2 img{margin:12px 0 0}
.serv2 .kfbtn{width:92px;height:22px;margin:0 auto;display:block;background:#FFA44C;color: #fff;line-height: 22px;border-radius: 3px;border:1px solid #FF7E00}
.serv2 span{ display:block; margin-bottom:5px}
/*源代码列表页*/
#content_left .inpage_title{background: #058;color: #fff; padding:10px 5px}
.coderank{ float:right; margin:6px 6px 0 0;color: #83ACD0;}
.coderank span{ font-weight:bold}
.coderank a{ padding:0 5px; color:#fff;}
.coderank a:hover{color:#3cf;}
.coderank .crk_active{ color:#3cf}
/*注册*/
.regi_con{ min-height:400px; background:#eee;margin-top: 30px;border-radius: 5px; padding:15px}
.regi_table{ padding-bottom:20px}
.regi_con td{ padding:5px 0}
.regi_con label{ margin:0 10px;font-size:16px}
.regi_con .searchinput{border-radius: 5px;border: 1px solid #ddd; height:26px; width:92%; background:#fff; padding:5px 8px;}
.regi_note{ width:92%; margin:5px 0; padding:5px; border:1px solid #a00; color:#a00; display:block;border-radius: 3px;}
.regi_con .captcha{ width:120px; margin-top:12px}
.dl_captcha #captchapic{ width:152px; margin-left:10px}
.regi_con .dl_captcha a{ width:40px; margin:12px 0 0 10px; border:1px solid #ddd; background:url(../images/re.png) no-repeat center}
.regi_con .dl_captcha a:hover{border:1px solid #3cf; background-color:#fafafa}
.rtipinfo{ color:#a00}
#button_login{ float:none; width:95%; font-size:16px}
.regi_con .sectioncont{ text-align:center}
.regi_con .fail{font-size: 16px;font-weight: bold;}
.regi_con #titlewrapper{ border-bottom:1px solid #ddd}
.help-line a{ color:#058}
.help-line a:hover{ color:#3cf}
.inputElem {width:198px;height:22px;line-height:22px;border:1px solid #ff4455;}
.auto-tip{ border:1px solid #3cf; background:#f5f5f5}
.auto-tip li{width:95.5%; padding:2px 8px;height:22px;line-height:22px;font-size:14px;}
.auto-tip li.hoverBg{background: #3cf;cursor: pointer;color: #fff;}
.hidden {display:none;}
.imgtagbox{overflow:auto;text-align:center;position:absolute;z-index: 99997;width:200px;border: 8px solid rgba(255,255,255,0.9);color:white;border-radius: 5px;box-shadow: 0 0 10px #666} 
.clstag{ width:26px; height:26px;right:0px; top:0px; background:rgba(170,0,0,0.6); border:1px solid #fff;font-size: 22px;line-height: 24px;cursor:pointer;}
.clstag:hover{ background:rgba(255,0,0,0.8) }
.item.about{ clear:none}
/*blog*/
.blog_mcon{float: right;margin-left: -360px;width: 100%;background:#eee}
.blog_left{border: 1px solid #ddd;position: absolute;top: 89px;left: 8px;background: #fff;float: left;padding: 15px 0 0;width: 360px}
.bolg-fbox{border: 1px solid #ddd;background: #fff; min-height:816px;margin: 10px 8px 10px 380px;padding: 45px 37px 40px;}
.blog_header .logobox{width: 96.5%;}
.owner_info h5,.about h5{margin:0 0 10px 0;font-size:18px;padding:8px 15px;background:#EFF5FF;border-radius: 3px;border-top:1px solid #D5D5D5;border-bottom: 1px solid #fff;}
.owner_info ul{ margin-bottom:10px;}
.owner_info li a{padding:6px 15px; display:block;font-size: 15px;color: #058; font-weight:bold;border-bottom: 1px dotted #eee;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.owner_info li a:hover,.owner_info .latest_rev li a:hover{ background:#eee; color:#a00}
.owner_info .readasc li a{ font-weight:normal}
.owner_info li b{ color:#a00}
.owner_info li i{width: 20px;height: 31px; background:url(../images/timeline.png);margin: 0 5px 0 10px;display: block;float: left;}
.owner_info{width:100%}
.uphoto{float:left; max-width:30%;margin-bottom:15px}
.uinfo{float:left}
.uinfo h3{font-size:21px;color:#f60;padding-left: 10px;border-left: 5px solid;height: 21px;line-height: 20px;}
.uinfo ul{margin-left:10px}
.uinfo ul li{margin:10px 0}
.uinfo ul li:first-child{margin-top:0}
.fans{clear:both;}
.fans li{width:33%;height:50px;text-align:center;line-height:20px;padding-top:10px;font-size:16px;border:1px solid #ddd; border-bottom:0;border-right:0;float:left}
.fans li:first-child{border-left:0}
.fans li a{font-size:18px;font-weight:bold;color:#058; padding:0; border:0}
.fans li a:hover{color:#a00; background:none}
.fans li .addto{margin-top:8px;display:block; border:0}
.about{clear:both}
.abt_con{ padding:5px 15px 15px 15px} 
.abt_con p{ padding:5px 0; line-height:22px;}
.readasc li,.latest_rev li{ list-style:decimal inside}
.latest_rev li:first-child{ border-top:1px solid #ccc}
.owner_info .latest_rev li a{ color:#1184C8; background:#fafafa}
.revl{ padding:6px 15px; border-bottom:1px solid #ccc}
.revlcon{ font-size:13px; line-height:20px}
.revluser{ color:#a00; margin-bottom:3px}
.owner_info .timeline  li a{ padding-left:0}
.bolg-fbox .content-list{ margin:0}
.blogtitle{height: 30px;line-height: 30px;padding-bottom: 10px;border-bottom: 1px dotted #3cf;margin-bottom: 10px;color: #058;}
.blogtitle b{ color:#a00; font-size:16px}
.entry .read_dtl{ font-weight:bold; margin-left:10px; color:#a00}
.bolg-fbox .read_dtl:hover{color:#058}
.entry p span{ font-weight:bold}
.c_stat li{ float:left; margin-right:28px}
.entry .content_stat{ height:20px}
#content .syntaxhighlighter{border-radius: 5px;border: 1px solid #ddd !important;padding: 16px 1px !important;}
.cintro_con pre{background: #fff;border-radius: 5px;border: 1px solid #ddd; padding:10px; width:97%; line-height:1.5em; margin:10px 0}
.jian{ width:25px; height:31px; margin-left:6px; display:block; background:url(../images/tuijian.gif); float:left}
#homepost .jian{ margin:0 5px 0 0}
.tjlink{ float:left}
pre { white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap;} 
* html pre { word-wrap: break-word;white-space : normal ;} 
.yinfo{ clear:both}
.yinfo li{ float:left; margin-bottom:10px; width:33%; text-align:center}
.yinfo li span{ color:#f60}
.visi_info{padding: 5px 15px;}
.visi_info li{ margin:8px 0}
.fans_detail{ background:#EFDBC5; height:0; overflow:hidden; clear:both}
.focus_detail{ background:#CBDEE8;height:0; overflow:hidden; clear:both}
.fanleft{ float:left; margin-left:35px}
.fans .fans_tag{ width:11px; height:6px; background:url(../images/fans_tag.png); margin: 16px 0 0 20px; float:left}
.pull-left{ float:left}
a.pull-left{ width:37px; height:37px; display:block}
.userphoto{ width:100%;border: 1px solid #ccc;}
.fans-list{padding: 10px 10px 0;}
.fans-list:last-child{ padding-bottom:10px}
.userfollow{padding: 5px 12px;margin:5px 0;background: #1184C8;color: #fff;border-radius: 3px;border: 0;clear: both; cursor:pointer}
.userfollow:hover{ background:#3cf}
.media-body{ margin-left:10px}
.fans-heading{margin-bottom:5px}
.fans-heading a{ font-size:16px; color:#058}
.fans-heading a:hover{ color:#a00}

/*编辑上传*/
.add_coedtips li{ list-style:decimal inside; color:#a00}
.add_coedtips li span{ color:#058; line-height:35px}
.add_coedtips img{ margin:0 5px}
.addcode_con #content_left .btitle{ margin:28px 0 10px 0;background:none;border-radius:0;}
.addcode_con .searchinput{border-radius: 5px; float:none;;border: 1px solid #ddd;height: 26px;width: 520px;background: #fff;padding: 3px 8px;}
.keditor{ width:100%; height:200px}
.seltcate .searchinput,.seltcate .dropdown{ width:230px; float:left}
.seltcate .dropdown{ width:258px;}
.addcode_con label{ display:block;margin: 6px 0 4px 0;}
.addcode_con b{ color:#333}
.bankdrn #dosubmit,.bankdrn .dropdown { width:90.5%}
.loginbox.addcard{ padding:40px 0}
.secu_in .enter-item.sinput{ width:57%; padding:8px 12px; float:left}
.withdrawtab .dropdown{ width:74%}
.secu_in .withdrawtab .enter-item.sinput{ width:70%}
.withdrawtab #dosubmit{ width:440px}
.seltcate b{ float:left;height: 38px;line-height: 40px; margin:0 5px;font-weight: normal;color: #aaa;}
.upfilesub{ float:none;width: 402px;height: 38px;font-size: 18px;}
.upfilesub_active:hover{background: #1184C8;}
.upfilesub_active,.upfilesub_active:hover{transition: width 0.3s ease-in-out;-webkit-transition: width 0.3s ease-in-out;background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-size: 40px 40px;-webkit-animation: progress-bar-move 2s linear infinite;}
@-webkit-keyframes progress-bar-move {  from  { background-position: 40px 0; }  to  { background-position: 0 0; }}
#ui-upload-holder{ position:relative;width:100px;height:35px;margin-top: 3px;border:1px solid #ccc; border-right:0;border-bottom-left-radius: 3px;border-top-left-radius: 3px; float:left}
.upfile{ position:absolute;top:0px; width:402px;height:100%;cursor:pointer; opacity:0;filter:alpha(opacity:0);z-index:999;}
#ui-upload-holder:hover{ border-color:#3cf; color:#058;box-shadow: 0 0 5px rgba(0,0,0,.15);} 
#ui-upload-txt{ position:absolute;top:0px;left:0px;width:100%;height:100%;line-height:35px;text-align:center;background: #DAE4E7;} 
#ui-upload-filepath{ position:relative; border:1px solid #ccc; width:300px; height:35px;margin-top: 3px;border-bottom-right-radius: 3px;border-top-right-radius: 3px; overflow:hidden; float:left;} 
#ui-upload-filepathtxt{ position:absolute; top:0px;left:0px; width:100%;height:35px; border:0px; line-height:35px;font-size: 14px;padding: 0 8px;color: #f60; }
.attach{ padding:10px 0; clear:both}
.uptip{float: left; width:135px; height:42px;margin-top: 3px; overflow:hidden}
.uptip b{line-height: 42px;margin-left: 5px;}
#tryu{display:none;width: 37px;height: 37px;color: blue;float: left; margin: 0 0 0 10px}
.addcode_con .fail{font-size: 16px;font-weight: bold; margin:10px 0;display: block;border-bottom: 1px dotted red;padding: 0 0 5px 5px;}
.addcode_con .sectioncont{ padding-top:8px}
.upnote{float: right;font-size: 15px;width: 160px;line-height: 24px;background: #FFFFF0;padding: 15px;border: 1px solid #EFDCB4;border-radius: 5px;}
.ke-dialog-row .tab1,.ke-dialog-row .tab2{ margin:0; padding:0; border:0; text-align:left; color:#000; background:none; font-weight:normal}
.fhelp_info{font-size: 14px;font-weight: normal;color: #a00;line-height: 22px;}
.reset{ width:200px;height: 38px;font-size: 18px;}
.viewyc{background: #D7FFF2;padding: 5px 8px;border: 1px solid #ACEAD6;border-radius: 3px;margin: 10px;display: block;width: 188px;text-align: center;font-size: 16px;color: #10A095;}
.viewyc:hover{background: #94DFD3; color:#fff;border: 1px solid #85CFB7;}
.read_dtl .syntaxhighlighter{ width:99.6% !important}
.read_dtl .syntaxhighlighter{ margin:0 !important}
.read_dtl .anlk.andload{margin: 15px 0;height: 20px;border-radius: 3px;padding: 10px;background: #D1F0DE}
.read_dtl .andload img{ float:left; margin-right:5px}
.topaload{ margin:15px 0 !important}
#dnload:hover{ color:#a00}
#dnload img{margin-right: 8px;float: left;}
.showbox #dnload img{margin:0 5px 0 15px}
.dl_file_name{ float:left}
.downloadlink .andload  #dnload{display: block; margin-left:100px;height: 20px;width: 100%;}
.dtl_topinfo .ymback_btn{ float:right; margin-bottom:10px}
.shareok{ margin:10px 0 20px; font-size:18px; font-weight:bold; color:#f40; display:block}
div #edit_item_share_box{ height:420px}
#edit_item_share_box .swch_box{ padding:20px}
#edit_item_share_box .swch_box p{ font-size:16px; height:40px}
.chosebtn a{text-align: center;border-radius: 3px;padding: 8px 10px;background: #1184C8;color: #fff;font-weight: bold;margin-right: 3px}
.chosebtn a:hover{ background:#3cf}
.chosebtn{margin: 10px 0;display: inline-block;}
.shareokbtn .bdsharebuttonbox a{ width:49%; margin:30px 0 0; text-align:center; height:72px; float:left} 
.shareokbtn .bdsharebuttonbox .bds_tsina{background:#f5f5f5 url(../images/weiboico.png) no-repeat center;border-radius:3px; margin-right:12px}
.shareokbtn .bdsharebuttonbox .bds_weixin{background:#f5f5f5  url(../images/weixinico.png) no-repeat center;border-radius:3px}
body .bd_weixin_popup{ z-index:888888;box-shadow: 0 0 30px rgba(0,0,0,0.2); position:fixed; top:37.2% !important}
/*select*/
.dropdown,.dropdown div,.dropdown li,.dropdown div::after{-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out}
.dropdown .selected::after,.dropdown.scrollable div::after{-webkit-pointer-events:none;-moz-pointer-events:none;-ms-pointer-events:none;pointer-events:none}
.dropdown{position:relative;width:535px; height:32px;border:1px solid #ccc;cursor:pointer;background:#DAE4E7;border-radius:5px;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.dropdown.open{z-index:2}
.dropdown:hover{box-shadow:0 0 5px rgba(0,0,0,.15)}
.dropdown.focus{box-shadow:0 0 5px rgba(51,102,248,.4)}
.dropdown .carat{position:absolute;right:12px;top:50%;margin-top:-4px;border:6px solid transparent;border-top:8px solid #000}
.dropdown.open .carat{margin-top:-10px;border-top:6px solid transparent;border-bottom:8px solid #000}
.dropdown.disabled .carat{border-top-color:#999}
.dropdown .old{position:absolute;left:0;top:0;height:0;width:0;overflow:hidden}
.dropdown select{position:absolute;left:0px;top:0px}
.dropdown.touch .old{width:100%;height:100%}
.dropdown.touch select{width:100%;height:100%;opacity:0}
.dropdown .selected,.dropdown li{display:block;font-size:14px;line-height:1;color:#000;padding:10px;overflow:hidden;white-space:nowrap}
.dropdown.disabled .selected{color:#999}
.dropdown .selected::after{content:'';position:absolute;right:0;top:0;bottom:0;width:60px;border-radius:0 2px 2px 0}
.dropdown div{position:absolute;left:-1px;right:-1px;top:100%;margin-top:-1px;background:#fff;border:1px solid #ccc;border-top:1px solid #eee;border-radius:0 0 3px 3px;overflow:hidden;opacity:0}
.dropdown.open div{opacity:1;z-index:2}
.dropdown.scrollable div::after{content:'';position:absolute;left:0;right:0;bottom:0;height:50px;box-shadow:inset 0 -50px 30px -35px #fff}
.dropdown.scrollable.bottom div::after{opacity:0}
.dropdown ul{position:absolute;left:0;top:0;height:400px;width:100%;list-style:none;overflow-y: scroll;}
.dropdown.scrollable.open ul{overflow-y:auto}
.dropdown li{list-style:none;padding:5px 12px}
.dropdown li.focus{background:#3cf;position:relative;z-index:3;color:#fff}
.dropdown li.active{font-weight:700}
.rela_info{color: #3F9BC2;border-bottom: 1px dotted #ddd;background: #Fafafa; font-size:14px}
.relatedcode li a:hover,.codelist a:hover{ color:#a00}
#commen_box.searchtip{ height:250px}
.cftip img{ float:left}
.cftip span{float: left;display: block;width: 75%;font-size: 18px;font-weight: bold;line-height: 28px;color: #f60;}
.cftip span a{ color:#a00}
.cftip span a:hover{ color:#1184C8}
.page404{ height:631px; background:url(../images/404.png) no-repeat 0 50px}
.pinfo4{ width:55%; margin-top:250px; float:right; }
.pinfo4 h1{line-height: 32px}
.pinfo4 h3{ margin-top:50px}
.pinfo4 ul{ margin-top:20px}
.pinfo4 ul li{ margin-top:5px; list-style:disc inside}
.btn404{padding: 8px 10px; width:160px; display:block; margin:40px 0;text-align: center;border-radius: 3px;background: #1184C8;color: #fff;font-weight: bold}
.btn404:hover{background: #69D1FF;color:#fff}
.content-list .entry{ width:100%; overflow:hidden}
.schtip{ margin:10px 0; display:block;font-size: 16px; color:red;font-weight: bold;background: #FFFCEC;padding: 10px;border-radius: 5px;border: 1px solid #F7ECD8;line-height: 26px;}
.schtip b{ color:#058}
.accordion h5{ cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.accordion .openlist h5{color: #b63b4d;background: #FAEEE2;}
.accordion .openlist i{color: #b63b4d;}
.accordion h5 i,.fans_tag{-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease; width:20px; height:20px; background:url(../images/zhan.png); display:block; float:right}
.accordion .openlist h5 i{ background:url(../images/fold.png)}
.accordion .openlist i.fa-chevron-down,.openfans .fans_tag{-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
/*问答*/
.askedit_btn a{min-width:90px;display: block;padding: 8px 10px;font-size: 16px;background: #1184C8;color: #fff;border-radius: 3px;float: left;margin:2px 5px 15px 0;}
.askedit_btn a:hover{ background:#3cf}
.askedit{ text-align:center}
.topaskinfo{font-size:14px;margin:8px;color: #3F9BC2;}
.topaskinfo a:hover{ color:#a00}
.ques_con{margin: 15px 0;font-size: 16px;line-height: 26px;color: #058;}
.answertotal{ font-size: 15px;float: right;display: block;clear: right;margin:7px 20px 0 0;color: #a00;}
.answertotal b{ margin:0 3px; color:#f40}
#commentdiv .btitle{ margin:15px 0}
.accepted {float:left;margin-left:5px;margin-top:-10px;padding: 3px 0 3px 20px;color: #418f36;background: transparent url(../images/icon_accepted.png) no-repeat 0 center;font-weight: bold;line-height: 30px;height: 30px;width: 80%;}
#commentdiv #pagelist{ padding-top:20px; margin:20px 0; clear:both}
.ask_best_answer{border: 2px solid #BDE7B9;background-color: #F1F8F0;float: left;width:98.2%;border-radius: 5px; padding:5px}
.ask_comment{ width:88%; line-height: normal; margin-left:5px; margin-bottom:15px}

@media (max-width:1260px){#navigation,.footin,#content,.logobox,.topmenubox{width:1000px}
#content #content_left{width:730px;margin: 0 10px 0 0;}
#right_sidebar{width:228px}
.nav.keywords{width: 600px}
.nav li a{margin-left: 5px;padding: 6px 4px;}
.ggadv,.progr{display:none}
.btitle h2,.titlewrapper h4, #titlewrapper h4{font-size:19px}
#poll_a td:first-child,.prochart{width:1%}
.toptit h2 span{width:700px}
.review textarea{width:712px;max-width:712px}
.tab1,.tab2,.tab3,.tab4{padding: 5px 0;min-width:50px;}
.adv1{background:none}
.read_dtl .adv1{background:#f5f5f5 url(../images/adv1_bg.png) right bottom no-repeat;}
.titlewrapper img, #titlewrapper img{width:26px}
.uloginbox .searchinput{width:165px;}
.uloginbox .searchinput{width:135px\9; height:20px\9}
.uloginbox li .loginuser,.uloginbox li .loginpsw{ padding-left:5px\9; background:#fff\9}
.uloginbox .captchapic{ width:80px\9}
.theme-popbod b, .uloginbox b{ font-size:12px; width:50px}
.uloginbox li .loginpsw.captcha,.uloginbox li .loginpsw.captcha:focus{width: 95px;width: 45px\9; height:20px\9;margin-right: 0;padding-left:5px}
.captchapic{width:100px}
.uloginbox li .loginsub{width:205px}
rempsw a,.remem{font-size:10px}
.cintro_con{ width:720px !important}
.cintro_con img{ max-width:730px}
.bolg-fbox{margin: 10px 8px 10px 280px; width:879px}
.blog_left{ width:260px}
.blog_header .logobox{ width:1199px}
.uinfo h3,.fans li .addto{ font-size:16px}
.owner_info li a{ font-size:14px}
.upnote{ width:120px}
.read_dtl #right_sidebar,.on_off_btn, .oob{display:none !important}
#content.read_dtl #content_left{width:1000px !important}
.navFix{width:1000px !important}}
@media screen and (min-width: 1800px) and (max-width: 1900px){.fl_dnfix{ left:13%}}
@media screen and (min-width: 1700px) and (max-width: 1799px){.fl_dnfix{ left:11%}}
@media screen and (min-width: 1600px) and (max-width: 1699px){.fl_dnfix{ left:8%}}
@media screen and (min-width: 1530px) and (max-width: 1599px){.fl_dnfix{ left:6%}}
@media screen and (max-width: 1529px){.fl_dnfix{ left:5px;opacity: 0.8}.fl_dnfix:hover{opacity:1}}
