* {
	/*float: none !important;
	overflow: visible !important;
	background: none !important;
	width: auto !important;
	height: auto !important;
	font: default !important;
	border: none !important;
	line-height: default !important;
	color: #000;*/
}

a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 70%;
}

div {
	margin: 0 !important;
	padding: 0 !important;
}

#top-of-page,
#navigation-bottom,
#content-right,
#breadcrumbs,
div.tabhead,
object,
embed,
.seo {
	display: none !important;
}

h1, h2, h3, h4, h5 {
	margin: 1em 0 !important;
}

p, td, li {
	margin: 0.5em 0 !important;
}

ul, li {
	list-style: default !important;
}

ul.news_column li {
	border-bottom: 1px dotted #ccc !important;
}

table,
table td,
table.comparison,
table.comparison td {
	border: 1px solid #CCC;
}

#header, #header.firstlevel, div.overlay {
	height: default !important;
	border-bottom: 1px !important;
}

#footer {
	margin: 2em 0 !important;
	border-top: 2px solid !important;
}

#evaluate-steps div.inner-left,
#evaluate-steps div#rightparent,
#betaSolo div#right {
        visibility: hidden;
        display: none;
}

#betaSolo #left h2,
#betaSolo #left p {
        color: #333 !important;
}



/* ---------- legacy styles for support documentation ---------- */

/* styles for main page structure */
#content table#main-table {
	width: 650px; 
	text-align: left; 
	margin: 0; 
	position: relative;
}

#content td#main-body {
	margin: 0; 
	max-width: 600px; 
	position: relative; 
	padding: 0; 
	vertical-align: top;
}

	
/* styles for in page components */
.features {
	background: #ECF2F9; 
	border: 0; 
	border-collapse: collapse;
}

.features td {
	border: 1px solid #FFFFFF; 
	padding: 10px;
}

#content #main-body blockquote {
	background-image: none;
}

.graytext, .smallers { 
	color: #77787c;
}

.smaller {
	font-size: 11px; 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	color: #565656; 
	margin:0; 
	padding:0;
}

.smallerb {
	font-size: 11px; 
	font-weight: bold; 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	color: #565656; 
	margin:0; 
	padding:0;
}

.medium {
	font-size: 115%; 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	color: #565656; 
	margin:0; 
	padding:0;
}

.mediumb {
	font-size: 115%; 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	color: #565656; 
	margin:0; 
	padding:0; 
	font-weight: bold;
}

.h3 {
	clear:both; 
	color:#FF9901; 
	display:block; 
	font-size:16px; 
	font-weight:normal; 
	margin:0; 
	padding:5px 0;
}

#content #main-body .h3 {
	font-size: 18px;
}


/* styles for lists */
#content #main-body ul li {
	list-style:square; 
	margin-left:10px; 
}

#content #main-body li a {
	background-image: none;
	padding-left: 0;
}

#content #main-body ul ul, #content #main-body ol ol {
	margin-left: 10px;
}

#content #main-body ol {
	max-width: 600px;
}
#content #main-body ol li {
	list-style-type: decimal;
}

.smb-product-matrix-cont {
	width:900px !important;
	margin:20px auto !important;
}

.smb-product-matrix-cont .smb-product-matrix-table-cont {
	width:900px !important;
	margin:0 !important;
	padding:0 !important;
	border-collapse:collapse !important;
	font-size:11px !important;
	color:#424242 !important;
	background-color:#FFFFFF !important;
}

.smb-prod-help-cont .smb-prod-help-body .smb-prod-help-body-inner {
	color:#424242 !important;
}

.smb-product-matrix-table-cont .smb-product-heading {
	background-color:#336699 !important;
	color:#ffffff !important;
	font-size:11px !important;
}

.smb-product-matrix-table-cont .smb-product-heading td {
	border-left:1px solid #B8DAE5 !important;
	padding:5px !important;
	text-align:center !important;
}

.smb-product-matrix-table-cont .smb-product-sub-heading {
	background-color:#0084bf !important;
	color:#ffffff !important;
	font-size:11px !important;
}

.smb-product-matrix-table-cont .smb-product-sub-heading td {
	padding:5px 20px !important;
	border-left:1px solid #B8DAE5 !important;
}

.smb-product-prod-row td, .smb-product-prod-row-price td {
	padding:10px 5px !important;
	text-align:center !important;
	border-right:1px solid #b8dae5 !important;
}

.smb-product-prod-row .smb-product-row-head {
	padding:10px 0 10px 20px !important;
	text-align:left !important;
	border-left:1px solid #b8dae5 !important;
	width:180px !important;
}

.smb-product-matrix-table-cont .smb-product-prod-row {
	background:transparent url(/files/images/matrix/chart-green-dots.jpg) repeat-x left bottom !important;
}

.smb-product-matrix-table-cont .smb-product-prod-row.last {
	background:none !important;
}

.smb-product-row-head span {
	color:#0084bf !important;
}

.smb-product-prod-row-price {
	background-color:#e5f2f8 !important;
}

.smb-product-prod-row-price .smb-product-row-head-price {
	padding:10px 20px !important;
	text-align:left !important;
	border-left:1px solid #b8dae5 !important;
	width:190px !important;
}

.smb-product-matrix-table-cont .smb-product-prod-row.foot {
	background:none !important;
	border-left:1px solid #b8dae5 !important;
	/*border-bottom:1px solid #336699;*/
	color:#999999 !important;
}

.smb-product-matrix-table-cont .smb-product-prod-row.foot td,
.smb-midsize-enterprise-c-cont .smb-product-prod-row.foot td,
.smb-essentials-c-cont .smb-product-prod-row.foot td {
	vertical-align:top !important;
	border-bottom:1px solid #336699 !important;
	border-left:1px solid #B8DAE5 !important;
}

.smb-product-matrix-table-cont .smb-product-prod-row.foot img {
	border:none !important;
}

.smb-prod-help-cont {
	width:330px !important;
}

.smb-prod-help-cont .smb-prod-help-head {
	background:transparent url(/files/images/matrix/hover-box-header-8.png) no-repeat right bottom !important;
	height:23px !important;
	width:330px !important;
}

.smb-prod-help-head .smb-prod-help-head-inner {
	padding:5px 20px 0 !important;
	text-align:right !important;
}

.smb-prod-help-head-inner img:hover {
	cursor:pointer;
}

.smb-prod-help-cont .smb-prod-help-body {
	background:transparent url(/files/images/matrix/hover-box-body-8.png) no-repeat right bottom !important;
	width:330px !important;
}

.smb-prod-help-body .smb-prod-help-body-inner {
	margin-left:55px !important;
	padding-top:15px !important;
	padding-bottom:25px !important;
	width:255px !important;
}

.smb-product-row-head .smb-prod-head-name {
	float:left !important;
	width:160px !important;

}
	
.smb-product-row-head .smb-prod-head-help-btn {
	float:right !important;
	margin-right:5px !important;
	width:13px !important;
}

.smb-prod-help-head .smb-prod-help-head-inner a {
	color:#999999 !important;
}

.smb-prod-help-head .smb-prod-help-head-inner a:hover {
	text-decoration:none !important;
}

/* Mid-Size & Enterprise Business */
.smb-midsize-enterprise-ed-cont, .smb-essentials-cont {
	width:665px !important;
	margin-bottom:20px !important;
}

.smb-midsize-enterprise-ed-cont .smb-midsize-enterprise-ed-title h2, .smb-essentials-cont .smb-essentials-title h2 {
	color:#0C8D63 !important;
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:22px !important;
	font-size-adjust:none !important;
	font-stretch:normal !important;
	font-style:normal !important;
	font-variant:normal !important;
	font-weight:normal !important;
	line-height:normal !important;
	margin:0 !important;
	padding-bottom:20px !important;	
}

.smb-essentials-cont .smb-essentials-title h2 {
	color:#363636 !important;
	font-size:18px !important;
}

.smb-midsize-enterprise-ed-cont table, .smb-essentials-cont table {
	margin:0 !important;
	padding:0 !important;
	border-collapse:collapse !important;
	width:665px !important;
}

.smb-midsize-enterprise-ed-cont .smb-midsize-enterprise-head, .smb-essentials-cont .smb-essentials-head {
	background-color:#336699 !important;
}

.smb-midsize-enterprise-ed-cont .smb-prod-row-one, .smb-essentials-cont .smb-prod-row-one {
	background:#E9F0F7 url(/files/images/matrix/chart-green-dots.gif) repeat-x scroll left bottom !important;
	border-left:1px solid #336699 !important;
	width:212px !important;
}

.smb-midsize-enterprise-ed-cont .smb-product-prod-row .smb-product-prod-row-last, 
.smb-essentials-cont .smb-product-prod-row .smb-product-prod-row-last {
	border-right:1px solid #336699 !important;
}

.smb-midsize-enterprise-ed-cont .smb-product-prod-row.last .smb-prod-row-one, .smb-essentials-cont .smb-product-prod-row.last .smb-prod-row-one {
	background:#E9F0F7 !important;
}

.smb-midsize-enterprise-head td, .smb-essentials-head td {
	border-left:1px solid #B8DAE5 !important;
}

.smb-midsize-enterprise-head .smb-prod-row-one-head, .smb-essentials-head .smb-prod-row-one-head {
	border-left:1px solid #336699 !important;
}

.smb-prod-row-one .smb-prod-row-one-num {
	background:transparent url(/files/images/matrix/smb-product-num-blue-bg.gif) no-repeat scroll right top !important;
	float:left !important;
	height:22px !important;
	width:25px !important;
}

.smb-prod-row-one-num .smb-prod-row-one-num-inner {
	color:#FFFFFF !important;
	font-size:10px !important;
	height:22px !important;
	padding-top:4px !important;
}

.smb-prod-row-one .smb-prod-row-one-head {
	float:right !important;
	text-align:left !important;
	width:175px !important;
}

.smb-prod-row-one-head .smb-prod-row-one-title {
	color:#424242 !important;
	font-size:11px !important;
	font-weight:bold !important;
}

.smb-prod-row-one-head .smb-prod-row-one-sub {
	color:#424242 !important;
	font-size:11px !important;
}

.smb-midsize-enterprise-c-cont .smb-midsize-enterprise-head td,  .smb-essentials-cont .smb-essentials-head td {
	text-align:center !important;
	color:#ffffff !important;
	font-size:12px !important;
	padding:5px 0 !important;
	font-weight:bold !important;
}

.smb-midsize-enterprise-c-cont .smb-product-prod-row, .smb-essentials-cont .smb-product-prod-row {
	background:transparent url(/files/images/matrix/chart-green-dots.gif) repeat-x scroll left bottom !important;
}

.smb-midsize-enterprise-c-cont .smb-product-prod-row.last, .smb-essentials-cont .smb-product-prod-row.last {
	background:none !important;
	
}

.smb-midsize-enterprise-ed-cont .smb-product-prod-row td {
	width:113px !important;
}

.smb-essentials-cont .smb-product-prod-row td {
	width:226px !important;
}

.smb-essentials-cont .smb-product-prod-row.last td, .smb-midsize-enterprise-ed-cont .smb-product-prod-row.last td {
	border-bottom:1px solid #336699 !important;
}
