#CalendarForm { font-size: 1.2em; }

.required { color: #b00 !important; line-height: 1.424em; font-size: 0.8em }

.PanelDanish, .PanelEnglish { float: left; width: 220px; }

.PanelDanish { margin-right: 10px; }
.PanelEnglish { margin-left: 10px; }


#CalendarForm .element span { }

.element input.txtInput,
.element textarea { display: block; padding: 2px; width: 214px; border: 1px solid #bbb; background: #f5f5f5; }
.element textarea { }

.enabled { color: #525252 }
.enabled .element input,
.enabled .element textarea { border-color: #aaa; background: #fff; }

#PanelDaInner,
#PanelEnInner { color: #bbb }
#PanelDaInner.enabled,
#PanelEnInner.enabled { color: #525252 }

.element p { margin: 10px 0 2px 0; width: 100%; }
.element p span.required { float: right; }
.element p span.label { float: left; font-size: 1em }

.calendarDate { width: 440px; background: #f4f4f4; margin: 0 0 10px 0; padding: 15px 10px }
.calendarDate p { margin: 0 }

.calendarDate input.txtInput { display: inline; width: auto; background: #fff; }
.calendarDate .external input { vertical-align: bottom }

#CalendarForm .buttonSubmit { vertical-align: top; border: 1px solid #aaa; font-size: 0.8em }

#CalendarForm .calendarDateError { margin: 0; }	
#CalendarForm .calendarDateError span.required { float: none; }


/* ape Calendar css from live.. Test only*/
.center .bulletinboard .item {	border-bottom: 1px dashed #777;	padding: 1em 0 3em;}
.bulletinboard .item {	clear:both;	height:auto;	min-height:2.5em;	padding:0;}
.bulletinboard .item .caldate .month {	background:#FF0000 none repeat scroll 0 0;	color:#FFFFFF;	display:block;	font-size:0.7em;	line-height:1em;	margin:0;	padding:0 4px;	text-align:center;	text-transform:capitalize;}
.bulletinboard .item .caldate a.day, .bulletinboard .item .caldate a.day:link, .bulletinboard .item .caldate a.day:visited {	border-color:-moz-use-text-color #888888 #888888;	border-style:none solid solid;	border-width:0 1px 1px;	display:block;	font-size:0.75em;	line-height:1em;	margin:0;	padding:0;	text-align:center;	text-decoration:none;}

.item strong {	color:#000000;	font-size:1.4em;	font-weight:normal;	line-height:1.5em;	margin:0 0 20px;}

.bulletinboard .item .caldate {	float:left;	margin:3px 5px 0 0;	width: 27px;}
.bulletinboard ul.date,
.bulletinboard ul.date li { margin: 0; padding: 0; list-style-type: none; font-size: 1.118em }
ul.date a { font-size: 0.88em; text-decoration: none; }
ul.date a:hover { font-size: 0.88em; text-decoration: none; color: #00aaf4;}

.center .content .bulletinboard.shortlist h2, .center .content .bulletinboard h2 {background:#000000 url(/images/ITUIntranet/list_bg_black.png) repeat-x scroll center center;border-bottom:1px solid #777777;color:#FFFFFF;display:block;font-size:1.2em;font-weight:bold;margin-bottom:0;padding-left:10px;text-transform:capitalize;}
.right a.more,right a.more:visited {background:transparent url(/images/ITUInternet/arrow.gif) no-repeat scroll 0 0.7em;;display:block;float:right;font-size:0.9em;line-height:1.9em;padding-left:10px;text-align:right;text-decoration:none;}

.bulletinboard ul.date li.item .caldate a.today {    color:#FF0000;    font-size:0.6em;    border:1px solid #777777;}
