@import url('global/fonts.css');
@import url('global/layout.css');
@import url('global/styles.css');

/* Generic, for all layouts */
html,
body
{
	text-align:left;
}

h1
{
	margin: 2em 0 0 0;
}

h2,
h3,
#mainBoxes .section h2,
#shortcutBoxes .section h3
{
	margin: 1em 0 0 0;
}

#menubar, .secondary-menu, #main .top, #functionality
{
	display:none;
}

#main 
{
	margin-left:40px;
	width:960px;
	_width:100%;
}

#logo 
{
	/*display:none;*/
}

a img
{
	border-width: 0;
}

#ribbon_img
{
	_width:60%;
}

#footer 
{
	margin: 0 10px 0 10px;
	width:940px;
}

#footer .left 
{
	background:none;
	_float:none;
	_display:block;
	padding-left:0;
	_width:60%;
}

#footer .right
{
	_float:none;
	_display:block;
	_width:60%;
}

.printOnly
{
	display:inline-block;
}

h2.printOnly 
{
	display:block;
}

/* Portalpages only */

#main,
#mainBoxes,
#shortcutBoxes
{
	text-align:left;
	margin:0 0 0 20px;
	padding:0;
	_margin-left:10px;
}

#mainBoxes .section
{
	display:block;
	float:none;
}

#shortcutBoxes .section
{
	display:block;
	float:none;
}

#mainBoxes .section li a,
#shortcutBoxes .section ul li a
{
	display:inline;
}

#main .section.grid1,
#main .section.grid2,
#main .section.grid3,
#main .section.grid4,
#main .section.grid5,
#main .section.grid6,
#main .section.grid7,
#main .section.grid8,
#main .section.grid9,
#main .section.grid10,
#main .section.grid11,
#main .section.grid12
{
	width:95%;
	_width:60%;
}

#mainBoxes .section ul,
#mainBoxes .section ol,
#mainBoxes .section h2
{
	float:none;
	height:auto;
	padding:0;
}

#main > .findthisonline
{
	padding-left:20px;
}

/* Content Pages only */

.section 
{
	float:left;
}

#main .section.grid6.center
{
	width:690px;
	_width:45%;
}

#main .section.grid3.right
{
	float:left;
	width:220px;
	_width:15%;
}

.findthisonline h2
{
	text-transform:none;
}

.grid6 #content { overflow: visible }

