/*
 * @package Featured Posts
 * @author Nando Pappalardo e Giustino Borzacchiello
 * @version 1.5.1
*/

ul#yiw-featured-post {padding:10px 0 0 0;font-size:100%;line-height:30px;}
ul#yiw-featured-post li {line-height:20px;margin:0 0 10px 0;padding:0.75em 0;font-size:90%;border-bottom:1px solid #c6c5c5;display:block;overflow:hidden;}
ul#yiw-featured-post li:last-child {border:none;}
ul#yiw-featured-post .featured-thumb {float:left;margin-right:1em;}
ul#yiw-featured-post li a:link, .widget_featured-posts li a:visited {min-height:80px;}
ul#yiw-featured-post li:hover {background:#eeeded;}
h4.featured-title{clear:none;margin:0;}
/* HACKS & UTILITA' */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* CSS rule for IE6 */
* html .clearfix {height:1%;}
/* CSS rule for IE7 */
*:first-child+html .clearfix {min-height: 1px;}

/* elimina il bullet per il tema di default */
ul#yiw-featured-post>li:before {content: ""!important;}

