#htmlplayer {width:600px; height:500px; margin:5px; padding:0px; overflow:hidden; background-color:#CCCCCC; border:1px solid #d5d5d5; position:relative;}
.slides {width:600px; height:450px; margin:0px; padding:0px;display:table;}
.slides img{width:600px; height:auto; margin:0px; padding:0px;}

#toolbar{width:590px; height:40px; margin:0px; padding:5px; background-color:#f6f6f6; position:relative; border-top:1px solid #cfcfcf;}
.nav {width:160px; height:40px; margin:0 auto;}
.nav a{font-size:10px;  text-decoration:none; color:#8A8A8A; float:left; height:36px; width:36px; text-indent:-9999em; outline:0; background-image:url(../images/nav_btn.png); background-repeat:no-repeat; margin:3px 1.6px;}

.nav a.first{background-position:6px 0px;} .nav a.first:hover{background-position:-144px 0px;}
.nav a.prev{background-position:-32px 0px;} .nav a.prev:hover{background-position:-182px 0px;}
.nav a.next{background-position:-71px 0px;} .nav a.next:hover{background-position:-221px 0px;}
.nav a.last{background-position:-110px 0px;}.nav a.last:hover{background-position:-260px 0px;}

.actions {width:38px; height:40px; margin:0 auto; position:absolute; top:9px; right:0px; }
.actions a{font-size:10px; text-decoration:none; color:#8A8A8A; float:right; height:20px; width:20px; text-indent:-9999em; outline:0; background-image:url(../images/nav_btn.png); background-repeat:no-repeat; margin:5px 5px; float:left;}
.actions a.maximize{background-position:-303px 2px;} .actions a.maximize:hover{background-position:-303px -16px;}
.actions .count{ width:60px;position: absolute;right:40px;top:5px; font-size:13px; font-weight:700; font-family:Arial, Helvetica, sans-serif; color:#818181;}
.actions .count input{ font-size:13px; width:25px; text-align:center; border:1px solid #D3D3D3;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}



.share {width:100px; height:40px; margin:0 auto; position:absolute; top:9px; left:0px; }
.share a{font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:700; text-decoration:none; color:#8A8A8A; outline:0; background-image:url(../images/nav_btn.png); background-repeat:no-repeat; margin:8px 8px; float:left;}

.share a.share-btn{background-position:-351px 0px;} .share a.share-btn:hover{background-position:-349px -17px; color:#818181;}
.share a.share-btn span{ margin-left:26px;}

#share_bg{width:100%; height:100%; background-color:#333333; position:absolute; top:0px; left:0px; zoom:1;filter: alpha(opacity=90);opacity: 0.9;}
.share_box { width:450px; height:350px; padding:15px; background-color:#f7f7f7; z-index:1001; position:absolute; top:40px; left:60px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.share_box-full { width:450px; height:350px; padding:15px; background-color:#f7f7f7; z-index:1001; position:absolute; top:25%; left:30%;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}


.tabs2 input[type=radio] {position: absolute;left: -9999px;}
.tabs2 {font-family:Arial, Helvetica, sans-serif;width:440px; float:left;list-style: none;position: relative;padding:0;margin:0px auto; border-bottom:1px solid #D1D1D1; padding:5px;}

.tabs2 li{float: left; }
.tabs2 label {display: block; margin-right:5px; padding:3px 10px; border-radius:2px 2px 0 0;color:#474747;font-size:15px; font-weight:700;cursor: pointer;position: relative;top:2px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.tabs2 label:hover {background: rgba(255,255,255,0.5);top: 0;}
       
[id^=tab]:checked + label {background: #CACACA;color:#333333;}
[id^=tab]:checked ~ [id^=tab-content] {display: block;}
.tab-content{z-index:2;display: none;text-align: left;width:450px;;font-size: 20px;line-height: 140%;padding-top: 10px;position: absolute;top: 53px;left: 0;box-sizing: border-box;-webkit-animation-duration: 0.5s;-o-animation-duration: 0.5s;-moz-animation-duration: 0.5s;animation-duration: 0.5s;}

.tabs2 h4 { font-size:14px; padding:0px; margin:5px; border-bottom:1px solid #D1D1D1; }

.emailthis{ margin:5px; padding:0px; margin-top:20px;}
.emailthis label { float:left; font-size:12px; line-height:28px;}
.emailthis input { float:left; font-size:12px; padding:8px; width:300px; border:1px solid #D1D1D1; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.emailthis textarea { float:left; font-size:12px; padding:8px; width:300px; height:150px; border:1px solid #D1D1D1; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.emailthis .msg{ font-size:12px; color:#CC0000; font-weight:normal; padding-left:85px; line-height:40px;}
.emailthis input[type=button] { width:150px; float:right; margin-right:7px; cursor:pointer; background-color:#333333; color:#fff; font-weight:700;}
.closeme { position:absolute; top:10px; right:10px;  }
.closeme input[type=button] { background:none; margin:0px; padding:0px; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif;font-size:16px; font-weight:700;}



#transcripts{font-family:Arial, Helvetica, sans-serif; font-size:15px; width:1000px; *width :1000px; /* IE7 and below */   }
.lines {border-bottom:1px solid #CCC; clear:both; margin-bottom:10px; padding-top:10px;}

#transcripts p{ margin:5px 0px; margin-left:15px; line-height:20px;}
#transcripts span{font-size:12px; padding-left:15px; line-height:30px;  }
#transcripts .img{ float:left; width:150px; height:132px; margin:8px 0px 2px 0px;font-size:11px; min-height:78px;  }
#transcripts .img img{border:1px solid #999999; padding:1px; background-color:#EEE; }
#transcripts .img span{ margin-left:36px; line-height:22px; }

#transcripts .description {float:left; width:820px; margin-bottom:10px; min-height:82px; margin-left: 20px;}

#transcripts h2{ font-size:22px; margin:0px; margin-left:15px; padding:10px 0px; line-height: 24px; }
#transcripts h3{ font-size:16px; margin:0px; margin-left:15px; padding:10px 0px; line-height: 22px;  }

#transcripts ul{ margin:0px; margin-left:15px; padding:3px 0px 3px 30px; line-height:20px; list-style:square;}
#transcripts ul li ul{ margin:0px; padding:3px 0px 3px 30px; line-height:20px; list-style: disc; }