@charset "utf-8";body{font:12px Arial, Helvetica, sans-serif;color:#333333;line-height:16px;margin:0px;}
#main_header{width:auto;height:107px;;margin:0px auto;background:url('../images_new/top_bg.gif');}
#header{width:970px;;height:71px;margin:0px auto;}
#bt_panel{width:970px;height:38px;margin:0px auto;}
.upload{padding-right:0;margin-top:23px;margin-left:430px;float:left;}
.signfont{margin:0px;margin-left:10px;padding-top:16px;height:32px;width:145px;color:#000000;font:bold 12px Arial, Helvetica, sans-serif;text-decoration:none;}
A:visited{color:#23699a;text-decoration:none;}
A:link{color:#23699a;text-decoration:none;}
A:hover{color:#23699a;text-decoration:underline;}
.vs{border:0px;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0px;outline:0px;padding:0px;vertical-align:baseline;}
fieldset{border:1px solid #e6e6e6;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.menu_class{border:0px solid #acb7ca;}
.the_menu{display:none;position:absolute;width:130px;height:auto;border:1px solid #acb7ca;list-style:none;margin:0px;padding:0px;}
.the_menu li{background-color:#f3f4f6;}
.the_menu li a{color:#333333;text-decoration:none;padding:4px;display:block;}
.the_menu li a:hover{padding:4px;font-weight:bold;color:#104b85;}
ul#nav{margin:0;padding:5px 0 0 21px;height:31px;}
ul#nav li{float:left;list-style:none;padding:0 5px 0 0;font:13px bold;}
ul#nav li a{float:left;height:31px;padding:0 9px 0 0;color:#333333;text-decoration:none;font:bold 1em/26px Arial;}
ul#nav li a span{float:left;display:block;height:31px;width:9px;_width:6px;overflow:hidden;font:0.01em/0.01em;}
ul#nav li a:hover, ul#nav li.active a{background:url("../images_new/tab.gif") no-repeat top right;line-height:33px;}
ul#nav li.active a{line-height:33px;}
ul#nav li a:hover span, ul#nav li.active a span{background:url("../images_new/tab.gif") no-repeat top left;}
#search{float:right;width:230px;height:25px;BORDER:#F70707 0px solid;display:block;margin:25px 0px 0 0;padding:0 0 0 0px;background:url('../images_new/search.gif') no-repeat top right;}
div#search input.img{float:right;}
div#search input.text{width:200px;height:20px;padding-top:5px;vertical-align:center;margin:0;border:none;background:transparent;font:1em/1em Arial;color:#606060;}
#searchContainer{margin:20px;}
#field{float:left;width:300px;height:24px;text-indent:10px;font-size:14px;line-height:normal;line-height:24px\9;color:#333;background:#fff;border:solid 1px #d9d9d9;border-top:solid 1px #c0c0c0;border-right:solid 1px #c0c0c0;}
#delete{float:left;width:4px;height:26px;background:#fff;}
#go{background:#fe9d4d;background:-moz-linear-gradient(top, #fe9d4d 0%, #e37012 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9d4d), color-stop(100%,#e37012));background:-webkit-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:-o-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:-ms-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:linear-gradient(top, #fe9d4d 0%,#e37012 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9d4d', endColorstr='#e37012',GradientType=0);cursor:pointer;background-repeat:repeat-x;width:35px;height:27px;line-height:normal;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:700;color:#FFFFFF;border:1px solid #da7c2f;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;text-shadow:rgba(0, 0, 0, 0.246094) 0px -1px 0px;}
#go:hover{background:#fe9d4d;border:1px solid #ed8530;}
#upload{background:#fe9d4d;background:-moz-linear-gradient(top, #fe9d4d 0%, #e37012 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9d4d), color-stop(100%,#e37012));background:-webkit-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:-o-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:-ms-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:linear-gradient(top, #fe9d4d 0%,#e37012 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9d4d', endColorstr='#e37012',GradientType=0);cursor:pointer;background-repeat:repeat-x;width:70px;height:27px;line-height:normal;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:700;color:#FFFFFF;border:1px solid #da7c2f;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;text-shadow:rgba(0, 0, 0, 0.246094) 0px -1px 0px;}
#upload:hover{background:#fe9d4d;border:1px solid #ed8530;}
#upload_big{background-color:#fe9d4d;background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe9d4d), to(#e37012));background-image:-moz-linear-gradient(top, #fe9d4d 0%, #e37012 100%);background:-o-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:-ms-linear-gradient(top, #fe9d4d 0%,#e37012 100%);background:linear-gradient(top, #fe9d4d 0%,#e37012 100%);text-shadow:rgba(0, 0, 0, 0.240000) 0px -1px 1px;cursor:pointer;background-repeat:repeat-x;width:240px;height:50px;line-height:20px;font-size:32px;font-weight:bold;color:#FFFFFF;border:1px solid #da7c2f;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
#upload_big:hover{background:#fe9d4d;border:1px solid #ed8530;}
#smallbutton{background:#999;color:#23699a;font-weight:bold;background:url(../images/formbg.gif) repeat-x left top;cursor:pointer;width:70px;height:30px;line-height:normal;border:1px solid #ccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#smallbutton:hover{background:url(../images/formbg_hover.gif) repeat-x left top;}
#ssbutton{background:#999;color:#23699a;font-weight:bold;background:url(../images/formbg.gif) repeat-x left top;cursor:pointer;width:80px;height:35px;line-height:normal;border:1px solid #ccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#ssbutton:hover{background:url(../images/formbg_hover.gif) repeat-x left top;}
.fclear{clear:both}
#displaybox{z-index:10000;filter:alpha(opacity=50);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity:.50;-khtml-opacity:0.5;opacity:0.5;background-color:#000000;position:fixed;top:0px;left:0px;width:100%;height:100%;color:#FFFFFF;text-align:center;vertical-align:middle;}
#home_banner{width:auto;height:443px;margin:0px auto;margin-bottom:10px;margin-top:0px;background:url(../images_new/sliderbg.png) #202020;}
.home_main{width:970px;height:416px;margin:0px auto;}
.h_player{width:500px;height:366px;padding-top:18px;padding-left:5px;padding-right:15px;}
.h_content{width:450px;height:384px;padding-top:16px;padding-left:0px;padding-right:0px;text-align:right;color:#FFFFFF;}
#h_title{font-size:42px;line-height:45px;padding-top:10px;}
.h_title_content{font-size:16px;line-height:20px;}
.h_lastweek-title{font-size:13px;padding-top:10px;padding-right:340px;}
.h_lastweek{padding-top:0px;}
.h_lastweek span{float:left;margin-top:12px;margin-left:10px;padding:0 0 0 2px;}
.blue_box_100{width:950px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.blue_box_main{width:700px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.blue_box_popup{width:326px;float:center;padding:8px;background:#F1F1F1
color:#000000;border:solid 1px #c8c8c8;border-radius:5px;}
.blue_box_popup a{font-size:12px;}
.blue_box{width:326px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.blue_box_noBorder{width:326px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.blue_box_mini{width:210px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.blue_box_mini_ads{width:225px;float:left;display:block;overflow:hidden;border:solid 1px #000000;}
.light_box{width:700px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;overflow:hidden;}
.light_box_wide{width:950px;float:left;padding:8px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.white_box2{width:710px;float:left;padding-top:12px;}
.white_box{width:100%;float:left;padding-top:12px;}
.gap_rightside{WIDTH:10px;HEIGHT:12px}
.blue_box_title{padding-bottom:3px;margin-bottom:5px;TEXT-ALIGN:left;font-size:16px;WIDTH:80%px;border-bottom:solid 1px;border-bottom-color:#c8c8c8;width:100%; font-family:"Oswald",Helvetica,sans-serif;}
.blue_box_title2{padding-bottom:3px;margin-bottom:5px;margin-top:15px;TEXT-ALIGN:left;font-size:16px;WIDTH:80%px;border-bottom:solid 1px;border-bottom-color:#c8c8c8;width:100%; font-family:"Oswald",Helvetica,sans-serif;}
.urbangreymenu{width:208px;}
.headerbar1{border-bottom:1px dashed #c8c8c8;font:bold 12px Arial;margin-bottom:0;padding:7px 0 7px 10px;}
.headerbar1 a{text-decoration:none;}
.headerbar1 a:hover{text-decoration:none;color:#a80b0b;}
.headerbar{border-bottom:1px dashed #c8c8c8;font:bold 12px Arial;margin-bottom:0;padding:7px 0 7px 10px;}
.headerbar a{text-decoration:none;}
.headerbar a:hover{text-decoration:none;color:#a80b0b;}
.urbangreymenu ul li a:hover{color:#a80b0b;}
.urbangreymenu ul strong{background:#dbe9fe;display:block;padding:5px 0;line-height:17px;padding-left:8px;}
.urbangreymenu ul{list-style-type:none;margin:0;padding:0;margin-bottom:0;}
.urbangreymenu ul li a{font:12px Arial;background:#edeff1;display:block;padding:5px 0;line-height:17px;padding-left:8px;text-decoration:none;}
.urbangreymenu ul li a:hover{color:#a80b0b;background:346091;}
.H_thumb{clear:both;color:#999;margin:0px;overflow:hidden;padding:18px 0 0px 2px;width:100%;}
.H_thumb li{display:inline;float:left;line-height:1.3;margin:0 18px 15px 0;overflow:hidden;width:130px;height:140px;}
.H_thumb li a img{display:block;width:120px;height:90px;border:1px solid #c8c8c8;padding:2px;}
.H_thumb a span{display:table-cell;height:auto;width:120px;}
.H_thump a{text-decoration:none;}
.H_thump a:hover{text-decoration:underline;}
.mypresentation_box{DISPLAY:inline;FLOAT:right;WIDTH:auto;}
.my_presentation_thump{clear:both;color:#999;margin:0px;overflow:hidden;padding:0px 0 0px 2px;width:100%;}
.my_presentation_thump li{display:inline;float:left;margin:0 10px 0px 0;overflow:hidden;width:116px;height:90px;}
.my_presentation_thump li a img{display:block;width:110px;height:83px;border:1px solid #c8c8c8;padding:2px;}
.my_presentation_thump a span{display:table-cell;height:auto;width:120px;}
.viewall{font-size:11px;}
.thump_top_size{margin:0px;height:3px;}
#rightside_pre{margin:0px;padding:0px;width:230px;text-align:left;float:right;}
#leftside_pre{margin:0px;width:720px;text-align:left;float:left;}
.P_thumb{clear:both;color:#999;margin:0px;overflow:hidden;padding:18px 0 0px 2px;width:100%;}
.P_thumb li{display:inline;float:left;line-height:1.3;margin:0 14px 15px 0;overflow:hidden;width:130px;height:180px;}
.P_thumb li a img{display:block;width:120px;height:90px;border:1px solid #c8c8c8;background-image:url(../images/pre-image3.jpg);background-repeat:no-repeat;background-position:center;padding:2px;}
.P_thumb a span{display:table-cell;height:auto;width:120px;}
.P_thump a:hover{text-decoration:underline;}
.P_thumb_small{clear:both;color:#999;margin:0px;overflow:hidden;padding:18px 0 0px 2px;width:100%;}
.P_thumb_small li{display:inline;float:left;line-height:1.3;margin:0 12px 15px 0;overflow:hidden;width:130px;height:140px;}
.P_thumb_small li a img{display:block;width:120px;height:90px;border:1px solid #c8c8c8;padding:2px;}
.P_thumb_small a span{display:table-cell;height:auto;width:120px;}
.P_thumb_small a:hover{text-decoration:underline;}
.P_thumb_4{clear:both;color:#999;margin:0px;overflow:hidden;padding:18px 0 0px 2px;width:100%;}
.P_thumb_4 li{display:inline;float:left;line-height:1.3;margin:0 12px 15px 0;overflow:hidden;width:130px;height:155px;}
.P_thumb_4 li a img{display:block;width:120px;height:90px;border:1px solid #c8c8c8;padding:2px;}
.P_thumb_4 a span{display:table-cell;height:auto;width:120px;}
.P_thumb_4 a:hover{text-decoration:underline;}
.img_border{border:1px solid #c8c8c8;padding:2px;}
.Editors_thumb{clear:both;color:#999;margin:0px;overflow:hidden;padding:18px 0 0px 2px;width:100%;}
.Editors_thumb li{display:inline;float:left;line-height:1.3;margin:0 14px 15px 0;overflow:hidden;width:130px;height:140px;}
.Editors_thumb li a img{display:block;width:120px;height:90px;border:1px solid #c8c8c8;background-image:url(../images/pre-image.jpg);background-repeat:no-repeat;padding:2px;}
.Editors_thumb a span{display:table-cell;height:90px;width:120px;}
.Editors_thump a:hover{text-decoration:underline;}
#category{margin-left:0;padding-left:15px;list-style:none;}
#category li{padding-left:14px;background-image:url('../images_new/arrow.gif');background-repeat:no-repeat;background-position:0 .6em;line-height:20px;}
ul.pageno{margin:0px;padding:0px;height:100%;overflow:hidden;list-style-type:none;}
ul.pageno li{float:left;margin:0px;padding:0px;margin-left:5px;}
ul.pageno li:first-child{margin-left:0px;}
ul.pageno li a{color:black;display:block;text-decoration:none;padding:7px 10px 7px 10px;}
ul.pageno0 li a{color:#707070;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:solid 1px #c8c8c8;padding:3px 5px 3px 5px;}
ul.pageno1 li a:hover,
ul.pageno1 li a.current{color:#0c0c0c;border-color:#c8c8c8;background:#c8c8c8;background:-moz-linear-gradient(top,#FFFFFF 1px,#c8c8c8 1px,#c8c8c8);background:-webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FFFFFF),color-stop(0.02,#c8c8c8),color-stop(1,#c8c8c8));}
UL#mostactiveuser{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px;PADDING-TOP:0px}
UL#mostactiveuser LI{PADDING-RIGHT:0px;PADDING-LEFT:35px;FLOAT:left;PADDING-BOTTOM:15px;MARGIN:0px;PADDING-TOP:0px;LIST-STYLE-TYPE:none;TEXT-ALIGN:center}
UL#mostactiveuser IMG{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:1px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:1px;PADDING-BOTTOM:1px;BORDER-LEFT:#c8c8c8 1px solid;PADDING-TOP:1px;BORDER-BOTTOM:#c8c8c8 1px solid}
UL#mostactiveuser LI.boxshow{PADDING-RIGHT:0px;PADDING-LEFT:20px;FLOAT:left;PADDING-BOTTOM:0px;MARGIN:0px;LINE-HEIGHT:14px;PADDING-TOP:0px;LIST-STYLE-TYPE:none;HEIGHT:230px;TEXT-ALIGN:left}
UL#mostactiveuser SPAN.title{FONT:13px Arial, Helvetica, sans-serif;}
UL#mostactiveuser SPAN.duration{FONT:bold 12px Arial, Helvetica, sans-serif}
UL#mostactiveuser SPAN.info{COLOR:#999999}
.ppt_details{width:580px;float:left;border:solid 1px #c8c8c8;background:#F1F1F1;margin-top:10px;padding:10px;}
.ppt_details span{text-align:right;}
.ppt_details .underline{width:580px;border-bottom:dashed 1px #c8c8c8;padding-top:8px;padding-bottom:10px;float:left}
.no-underline{width:580px;border-bottom:dashed 0px #c8c8c8;padding-top:8px;padding-bottom:10px;float:left}
.myform{margin:0 auto;width:550px;padding:20px;}
#stylized{border:solid 1px #c8c8c8;background:#F1F1F1;}
#stylized h1{font-size:14px;font-weight:bold;margin-bottom:8px;}
#stylized p{font-size:11px;color:#666666;margin-bottom:20px;border-bottom:solid 1px #c8c8c8;padding-bottom:10px;}
#stylized label{display:block;font-weight:bold;text-align:right;width:140px;float:left;margin-left:35px;}
#stylized_label2{display:block;font-weight:bold;text-align:left;width:140px;float:left;}
#stylized .small{color:#666666;display:block;font-size:11px;font-weight:normal;text-align:right;width:140px;}
#stylized input{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:250px;margin:3px 0 20px 20px;}
#stylized textarea{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:250px;margin:3px 0 20px 20px;}
#stylized select{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:260px;margin:3px 0 20px 20px;}
#stylized button{margin-left:195px;width:125px;height:31px;background:url('../images_new/signup_main.gif') no-repeat;border:none;}
#stylized2{border:solid 1px #c8c8c8;background:#F1F1F1;}
#stylized2 h1{font-size:14px;font-weight:bold;margin-bottom:8px;}
#stylized2 p{font-size:11px;color:#666666;margin-bottom:20px;border-bottom:solid 1px #c8c8c8;padding-bottom:10px;}
#stylized2 label{display:block;font-weight:bold;text-align:right;width:140px;float:left;margin-left:35px;}
#stylized2_label2{display:block;font-weight:bold;text-align:left;width:140px;float:left;}
#stylized2 .small{color:#666666;display:block;font-size:11px;font-weight:normal;text-align:right;width:140px;}
#stylized2 input{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:280px;margin:3px 0 20px 20px;}
#stylized2 textarea{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:280px;margin:3px 0 20px 20px;}
#stylized2 select{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:290px;margin:3px 0 20px 20px;}
#stylized3{margin:0 auto;width:550px;padding:20px;border:solid 1px #c8c8c8;background:#F1F1F1;}
#stylized3 h1{font-size:14px;font-weight:bold;margin-bottom:8px;}
#stylized3Sp{margin:0 auto;width:550px;padding:20px;border:solid 0px #c8c8c8;background:#F1F1F1;}
#stylized3Sp h1{font-size:14px;font-weight:bold;margin-bottom:8px;}
#stylized4{margin:0 auto;width:550px;padding:20px;border:solid 1px #c8c8c8;background:#F1F1F1;}
#stylized4 h1{font-size:14px;font-weight:bold;margin-bottom:8px;}
#stylized4 p{font-size:11px;color:#666666;margin-bottom:20px;border-bottom:solid 1px #c8c8c8;padding-bottom:10px;}
#stylized4 label{display:block;font-weight:bold;text-align:right;width:140px;float:left;margin-left:35px;}
#stylized4_label2{display:block;font-weight:bold;text-align:left;width:140px;float:left;}
#stylized4 .small{color:#666666;display:block;font-size:11px;font-weight:normal;text-align:right;width:140px;}
#stylizedSp{border:solid 0px #c8c8c8;background:#F1F1F1;}
#stylizedSp h1{font-size:14px;font-weight:bold;margin-bottom:8px;}
#stylizedSp p{font-size:11px;color:#666666;margin-bottom:20px;border-bottom:solid 1px #c8c8c8;padding-bottom:10px;}
#stylizedSp label{display:block;font-weight:bold;text-align:right;width:140px;float:left;margin-left:35px;}
#stylizedSp_label2{display:block;font-weight:bold;text-align:left;width:140px;float:left;}
#stylizedSp .small{color:#666666;display:block;font-size:11px;font-weight:normal;text-align:right;width:140px;}
#stylizedSp input{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:280px;margin:3px 0 20px 20px;}
#stylizedSp input.image{border:solid 0px #c8c8c8;width:120px;}
#stylizedSp textarea{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:280px;margin:3px 0 20px 20px;}
#stylizedSp select{float:left;font-size:12px;padding:4px 5px;border:solid 1px #c8c8c8;width:290px;margin:3px 0 20px 20px;}
.bar1{background-color:#F1F1F1;background-image:url('../images_new/progressbar_bg.png');position:relative;text-align:left;height:20px;width:400px;}
.bar2{background-image:url('../images_new/progressbar.png');position:relative;text-align:left;height:20px;width:0%;}
.progressbar{width:400px;}
.progressbar-completed{height:20px;margin-left:-1px;background:url('../images_new/progressbar.png');}
.progressbar-completed div{float:right;width:50%;height:20px;margin-right:-1px;background:url('../images_new/progressbar.png');display:inline;}
#leftside_user{margin:0px;padding:0px;width:210px;text-align:left;float:left;}
#rightside_user{margin:0px;padding-left:10px;width:720px;text-align:left;float:right;}
.user_title{padding:5px;TEXT-ALIGN:left;font-size:18px;WIDTH:80%px;width:100%;}
.user_title2{font-size:15px;WIDTH:80%px;width:100%;}
#leftside_wide{margin:0px;width:970px;text-align:left;float:left;}
.Wide_thumb{clear:both;color:#999;margin:0px;overflow:hidden;padding:18px 0 0px 2px;width:100%;}
.Wide_thumb li{display:inline;float:left;line-height:1.5;margin:0 40px 15px 0;overflow:hidden;width:150px;height:160px;}
.Wide_thumb li a img{display:block;width:140px;height:110px;border:2px solid #c8c8c8;padding:2px;}
.Wide_thumb a span{display:table-cell;height:110px;width:140px;}
.Wide_thump a:hover{text-decoration:underline;}
#vertmenu{font-size:13px;width:200px;padding:0px;margin:0px;}
#vertmenu ul{list-style:url('../images_new/arrow.gif');margin-left:14px;padding:0px;border:none;}
#vertmenu ul li{margin:0px;padding:0px;}
#vertmenu ul li a{display:block;border-bottom:1px dashed #c8c8c8;padding:2px;padding-top:12px;width:175px;text-decoration:none;}
#usermenu P{PADDING-RIGHT:0px;MARGIN-top:15px;PADDING-LEFT:25px;PADDING-BOTTOM:0px;PADDING-TOP:0px}
.user_image{DISPLAY:inline;padding:0 20px 0 0;FLOAT:left;WIDTH:180px}
.mystatus{DISPLAY:inline;FLOAT:left;WIDTH:280px}
.myinbox{DISPLAY:inline;FLOAT:left;WIDTH:auto;}
P.myvideostat{BACKGROUND:url('../images_new/my_presentation.png') no-repeat;}
P.myvideostat_total{BACKGROUND:url('../images_new/my_presentation_total.png') no-repeat;}
P.friends{BACKGROUND:url(http://www.slideserve.com/images_new/tpl_icon_friends.gif) no-repeat;}
P.friendreq{BACKGROUND:url(http://www.slideserve.com/images_new/tpl_icon_friend_req.gif) no-repeat;}
P.share_ppt{BACKGROUND:url('../images_new/send_presentation.png') no-repeat;}
P.watch{BACKGROUND:url(http://www.slideserve.com/images/tpl_icon_watched.gif) no-repeat}
P.visitors{BACKGROUND:url(http://www.slideserve.com/images/tpl_icon_visitors.gif) no-repeat}
P.profile{BACKGROUND:url('../images_new/my_profile.png') no-repeat}
P.message{BACKGROUND:url(http://www.slideserve.com/images/tpl_icon_new_message.gif) no-repeat}
#myprofile{DISPLAY:block;PADDING-TOP:8px;TEXT-ALIGN:left}
#myprofile FORM{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:10px;PADDING-TOP:0px}
#myprofile FIELDSET{BORDER-RIGHT:medium none;BORDER-TOP:medium none;MARGIN:1em 0px;BORDER-LEFT:medium none;BORDER-BOTTOM:medium none}
#myprofile LEGEND{PADDING-RIGHT:0.5em;PADDING-LEFT:5em;color:#333333;font-weight:bold;FONT-SIZE:15px;PADDING-BOTTOM:10px;MARGIN:1em 0px;PADDING-TOP:5px;}
#myprofile LABEL{PADDING-RIGHT:15px;PADDING-LEFT:4em;FONT-WEIGHT:normal;FONT-SIZE:12px;FLOAT:left;PADDING-BOTTOM:0px;WIDTH:180px;PADDING-Top:6px;PADDING-right:15px;TEXT-ALIGN:right}
#myprofile FORM P{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px;COLOR:#008ece;PADDING-TOP:0px}
#myprofile FORM INPUT.myprofiletext{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:2px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:2px;PADDING-BOTTOM:2px;MARGIN:0px 0px 5px;BORDER-LEFT:#c8c8c8 1px solid;WIDTH:250px;PADDING-TOP:8px;BORDER-BOTTOM:#c8c8c8 1px solid}
#myprofile FORM TEXTAREA.myprofiletext{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:6px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:6px;PADDING-BOTTOM:6px;MARGIN:0px 0px 10px;FONT:11px;BORDER-LEFT:#c8c8c8 1px solid;WIDTH:240px;PADDING-TOP:6px;BORDER-BOTTOM:#c8c8c8 1px solid}
#fullbox FORM TEXTAREA.inputtext{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:6px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:6px;PADDING-BOTTOM:6px;MARGIN:0px 0px 10px;FONT:11px;BORDER-LEFT:#c8c8c8 1px solid;WIDTH:240px;PADDING-TOP:6px;BORDER-BOTTOM:#c8c8c8 1px solid}
#myprofile FORM SELECT.myprofiletext{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:2px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:2px;PADDING-BOTTOM:2px;MARGIN:0px 0px 5px;FONT:11px;BORDER-LEFT:#c8c8c8 1px solid;PADDING-TOP:2px;BORDER-BOTTOM:#c8c8c8 1px solid}
#myprofile FORM INPUT.myprofilebrowsefile{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:2px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:2px;PADDING-BOTTOM:2px;MARGIN:0px 0px 5px;FONT:11px;BORDER-LEFT:#c8c8c8 1px solid;PADDING-TOP:2px;BORDER-BOTTOM:#c8c8c8c 1px solid}
#myprofile FORM P INPUT.myprofilebutton{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:5px 0px 0px;PADDING-TOP:0px}
#myprofile DIV.fm-req{padding:4px;}
#myprofile DIV.fm-req LABEL:unknown{COLOR:#cc0000;content:"* "}
.myprofilestatement{FLOAT:left;MARGIN-LEFT:150px}
.info,.normal,.success, .warning, .error, .validation{border:1px solid;margin:10px 0px;padding:15px 10px 15px 50px;background-repeat:no-repeat;background-position:10px center;}
.info{color:#00529B;background-color:#BDE5F8;background-image:url('../images_new/info.png');border-radius:2px;}
.normal{color:#00529B;background-color:#c8c8c8;background-image:url('../images_new/general.png');border-radius:2px;}
.success{color:#4F8A10;background-color:#DFF2BF;background-image:url('../images_new/success.png');border-radius:2px;}
.warning{color:#9F6000;background-color:#FEEFB3;background-image:url('../images_new/warning.png');border-radius:2px;}
.error{color:#D8000C;background-color:#FFBABA;background-image:url('../images_new/error.png');border-radius:2px;}
HTML{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px;PADDING-TOP:0px}
H1{FONT-SIZE:100%;margin-top:8px;margin-bottom:8px;}
H2{FONT-SIZE:100%}
H3{FONT-SIZE:100%}
H4{FONT-SIZE:100%}
#AdsBg{BACKGROUND:#CCCCCC;}
#small-rightbox A IMG{BORDER-RIGHT:0px;BORDER-TOP:0px;BORDER-LEFT:0px;BORDER-BOTTOM:0px}
.clear{CLEAR:both;}
FORM{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px;PADDING-TOP:0px}
#video_container{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px auto;WIDTH:970px;/*min-height:400px;*/min-height:640px;PADDING-TOP:0px;}
#container{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px auto;WIDTH:970px;min-height:400px;PADDING-TOP:0px;}
#gap_vertical2{WIDTH:10px;HEIGHT:15px}
#leftside{margin:0px;padding:0px;width:600px;text-align:left;float:left;}
#view{DISPLAY:block;MARGIN-BOTTOM:0px;WIDTH:600px;PADDING:0px;}
#view-title1{font-size:20px;WIDTH:600px;padding-top:6px;padding-bottom:5px;line-height:20px;margin:0PX;}
#view-title1 img{float:Right;padding:0PX;margin:0PX;}
*html #view-title1{padding-bottom:0px;}
*+html #view-title1{padding-bottom:0px;}
.player{MARGIN-LEFT:0px;margin-top:1px;margin-bottom:0px;}
#useraction{PADDING-RIGHT:2px;DISPLAY:block;PADDING-LEFT:2px;BACKGROUND:#ffffff;MARGIN-BOTTOM:20px;PADDING-BOTTOM:2px;MARGIN-LEFT:50px;WIDTH:450px;PADDING-TOP:0px;}
.boxPart2{FONT-SIZE:13px;TEXT-ALIGN:center}
#small-rightbox-content SPAN.info{color:#333333;}
#bookmark-content2{PADDING-RIGHT:5px;width:600px;MARGIN-TOP:1px;letter-spacing:normal;PADDING-LEFT:0px;PADDING-BOTTOM:5px;PADDING-TOP:0px;}
#description-title{PADDING-LEFT:0px;font-weight:900;margin-top:8px;padding-bottom:6px;margin-bottom:4px;TEXT-ALIGN:left;font-size:15px;WIDTH:425px;HEIGHT:16px;border-bottom:solid 1px;border-bottom-color:#c8c8c8;width:100%;}
#description-title-Related{PADDING-LEFT:0px;padding-bottom:6px;margin-bottom:4px;TEXT-ALIGN:left;font-size:15px;WIDTH:100%;HEIGHT:16px;border-bottom:solid 1px;border-bottom-color:#c8c8c8;width:100%;}
#related_tags{PADDING-LEFT:10px;BACKGROUND:url(../images/tpl_box_bar.png) repeat-x;FONT:bold 8pt "Verdana",Arial,Helvetica, sans-serif;COLOR:#104a85;HEIGHT:16px;WIDTH:150px}
#small-rightbox-content SPAN.title2{FONT:bold 15px "Verdana", Arial, Helvetica, sans-serif}
TEXTAREA.fullboxtextpres{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:3px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:3px;PADDING-BOTTOM:3px;MARGIN:0px 0px 10px;BORDER-LEFT:#c8c8c8 1px solid;WIDTH:500px;height:15px;PADDING-TOP:3px;BORDER-BOTTOM:#c8c8c8 1px solid}
TEXTAREA.fullboxtextpres2{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:3px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:3px;PADDING-BOTTOM:3px;MARGIN:0px 0px 10px;BORDER-LEFT:#c8c8c8 1px solid;WIDTH:500px;min-height:80px;PADDING-TOP:3px;BORDER-BOTTOM:#c8c8c8 1px solid}
.floatmenu{PADDING-LEFT:15px;BACKGROUND:url(../images/tpl_icon_arrow.gif) no-repeat;FLOAT:left;WIDTH:125px;LINE-HEIGHT:14px;TEXT-ALIGN:left}
.floatmenu-without-arrow{PADDING-LEFT:15px;FLOAT:left;WIDTH:125px;TEXT-ALIGN:left}
#bookmark{BORDER-RIGHT:#f5f5f5 1px solid;PADDING-RIGHT:2px;BORDER-TOP:#f5f5f5 1px solid;DISPLAY:block;PADDING-LEFT:2px;BACKGROUND:#ffffff;MARGIN-BOTTOM:2px;PADDING-BOTTOM:2px;MARGIN-LEFT:10px;BORDER-LEFT:#f5f5f5 1px solid;WIDTH:496px;PADDING-TOP:2px;FLOAT:left;TEXT-ALIGN:center;BORDER-BOTTOM:#f5f5f5 1px solid}
#bookmark UL{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN-LEFT:20px;PADDING-TOP:0px}
#videodetails{PADDING-RIGHT:2px;DISPLAY:block;PADDING-LEFT:0px;MARGIN-BOTTOM:2px;PADDING-BOTTOM:2px;MARGIN-LEFT:0px;WIDTH:600px;MARGIN-RIGHT:auto;PADDING-TOP:2px;}
#videodetails-title{PADDING-LEFT:10px;BACKGROUND:url(../images/tpl_box_bar.png) repeat-x;FONT:bold 8pt;COLOR:#104a85;TEXT-ALIGN:left;HEIGHT:16px}
#videodetails-content{PADDING-RIGHT:5px;MARGIN-TOP:1px;PADDING-LEFT:5px;PADDING-BOTTOM:5px;PADDING-TOP:5px}
.arrow-general{PADDING-RIGHT:0px;PADDING-LEFT:0px;LEFT:-10px;PADDING-BOTTOM:0px;MARGIN:0px;WIDTH:0px;PADDING-TOP:0px;TOP:-21px;HEIGHT:0px}
.comment-divider{BORDER-BOTTOM:#c8c8c8 1px dotted;}
.comment-image{BORDER-RIGHT:#c8c8c8 1px solid;PADDING-RIGHT:1px;BORDER-TOP:#c8c8c8 1px solid;PADDING-LEFT:1px;PADDING-BOTTOM:1px;MARGIN:7px 3px 3px;BORDER-LEFT:#c8c8c8 1px solid;PADDING-TOP:1px;BORDER-BOTTOM:#c8c8c8 1px solid}
SPAN.comment-info{FONT-SIZE:11px;COLOR:#999999}
.comment-body{BORDER-RIGHT:#c8c8c8 1px dashed;PADDING-RIGHT:8px;BORDER-TOP:#c8c8c8 1px dashed;PADDING-LEFT:8px;BACKGROUND:#F1F1F1;PADDING-BOTTOM:8px;BORDER-LEFT:#c8c8c8 1px dashed;PADDING-TOP:8px;BORDER-BOTTOM:#c8c8c8 1px dashed}
P.specialmessage{BORDER-RIGHT:#eee 1px solid;PADDING-RIGHT:10px;BORDER-TOP:#eee 1px solid;PADDING-LEFT:10px;PADDING-BOTTOM:10px;MARGIN:10px auto;BORDER-LEFT:#eee 1px solid;WIDTH:350px;PADDING-TOP:10px;BORDER-BOTTOM:#eee 1px solid;BACKGROUND-COLOR:#faffe5;TEXT-ALIGN:center}
#transcript{PADDING-RIGHT:0px;width:auto%;DISPLAY:block;PADDING-LEFT:0px;MARGIN-LEFT:0px;MARGIN-RIGHT:auto;}
#transcript-title1{padding-bottom:6px;margin-bottom:4px;border-bottom:solid 1px;border-bottom-color:#c8c8c8;font-family:"Helvetica", sans-serif;font-size:14px;HEIGHT:16px;width:600px;}
#transcript-title2{padding-bottom:6px;margin-bottom:4px;border-bottom:solid 1px;border-bottom-color:#c8c8c8;font-family:"Helvetica", sans-serif;font-size:14px;HEIGHT:16px;width:1000px; line-height:18px; padding-bottom:22px;}
#transcript-content{PADDING-RIGHT:5px;width:600px;MARGIN-TOP:1px;PADDING-LEFT:5px;PADDING-BOTTOM:5px;PADDING-TOP:5px}
#gap_vertical{WIDTH:10px;HEIGHT:20px}
#img_size img{margin:0px;padding:0px;width:345px;height:158px;}
#rightside{margin:0px;padding:0px;width:350px;text-align:left;float:RIGHT;}
#small-rightbox{PADDING-RIGHT:2px;DISPLAY:block;PADDING-LEFT:2px;PADDING-BOTTOM:2px;WIDTH:346px;PADDING-TOP:0px;}
#user{DISPLAY:block;margin:15px;margin-top:15px;}
#related{DISPLAY:block;margin:15px;margin-top:3px;}
.relatedlist{PADDING-BOTTOM:3px;MARGIN:0px 0px 12px;PADDING-TOP:3px}
.blue{BACKGROUND:#e5eaf3;}
#small-rightbox-title2{COLOR:#104a85;}
.startratebox{BORDER-RIGHT:0px solid;BORDER-TOP:0px solid;BORDER-LEFT:0px solid;WIDTH:200px;BORDER-BOTTOM:0px solid;HEIGHT:19px}
.startratebox IMG{BORDER-RIGHT:0px;BORDER-TOP:0px;BORDER-LEFT:0px;BORDER-BOTTOM:0px}
#adv{BORDER-RIGHT:#f5f5f5 1px solid;PADDING-RIGHT:2px;BORDER-TOP:#f5f5f5 1px solid;DISPLAY:block;PADDING-LEFT:2px;BACKGROUND:#ffffff;PADDING-BOTTOM:2px;BORDER-LEFT:#f5f5f5 1px solid;WIDTH:280px;PADDING-TOP:2px;BORDER-BOTTOM:#f5f5f5 1px solid}
#adv1{BORDER-RIGHT:#f5f5f5 1px solid;PADDING-RIGHT:2px;BORDER-TOP:#f5f5f5 1px solid;DISPLAY:block;PADDING-LEFT:2px;BACKGROUND:#ffffff;PADDING-BOTTOM:2px;BORDER-LEFT:#f5f5f5 1px solid;WIDTH:330px;PADDING-TOP:2px;BORDER-BOTTOM:#f5f5f5 1px solid}
#adv-title{PADDING-LEFT:0px;BACKGROUND:url(../images/tpl_box_bar.png) repeat-x;FONT:bold 8pt Verdana,Arial,"Lucida Sans Unicode", Helvetica, sans-serif;COLOR:#104a85;HEIGHT:16px}
#adv-content{PADDING-RIGHT:5px;MARGIN-TOP:1px;PADDING-LEFT:5px;BACKGROUND:url(../images/tpl_box_shading.png) repeat-x;PADDING-BOTTOM:5px;PADDING-TOP:5px}
#tabmenucontainer{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;WIDTH:340px;PADDING-TOP:0px;POSITION:relative;TOP:0px}
.side_results{DISPLAY:block;OVERFLOW:auto;WIDTH:320px;MAX-HEIGHT:850px}
.side_results_embed{DISPLAY:block;OVERFLOW:auto;WIDTH:320px;MAX-HEIGHT:200px}
.relatedthumbnail{DISPLAY:block;PADDING-LEFT:3px;FLOAT:left;WIDTH:60px;TEXT-ALIGN:center}
.relatedthumbnail img{border-style:solid;border-width:1px;border-color:#b4c1d5;}
.relateddesc{DISPLAY:block;margin-left:50px;_margin-left:5px;FLOAT:left;WIDTH:180px;TEXT-ALIGN:left}
.tabs_base{width:100%;float:left;margin-top:0px;}
.tabs_base p{width:100%;float:left;padding-top:5px}
.tabs{width:100%;float:left;border-bottom:solid 1px #c8c8c8;}
.tabs_b{width:100%;float:left;background:#F1F1F1;border-right:solid 1px #c8c8c8;border-left:solid 1px #c8c8c8;border-bottom:solid 1px #c8c8c8;}
.tabs li{margin:0px;list-style-type:none;padding:0px;float:left;padding:3px 20px 3px 20px;}
.tabs li.active{border:solid 1px #c8c8c8;border-radius:3px;background:##F1F1F1;border-bottom:solid 1px ##F1F1F1;margin-bottom:-1px;color:#888}
*html .tabs li.active{position:relative;top:0px}
.tabs li a{float:left;color:#000;-weight:bold;line-height:20px;}
.tabs li.active a{float:left;color:#333;-weight:bold;line-height:20px;text-decoration:none}
.yelowtxtbx{width:302px;border:solid 1px #c8c8c8;padding:5px 3px;margin-left:15px;margin-top:15px;margin-bottom:15px;background-color:#fdfbfb;}
.inbox TH{BORDER-BOTTOM:#c8c8c8 1px solid;HEIGHT:30px;BACKGROUND-COLOR:#e5eaf3;TEXT-ALIGN:center}
.inbox_bg{width:100%;float:left;padding:0px;background:#F1F1F1;border:solid 1px #c8c8c8;}
.inbox TD{PADDING-RIGHT:10px;PADDING-LEFT:10px;PADDING-BOTTOM:8px;PADDING-TOP:8px;HEIGHT:20px}
.inbox TD.blue{PADDING-RIGHT:10px;PADDING-LEFT:10px;PADDING-BOTTOM:8px;PADDING-TOP:8px;BACKGROUND-COLOR:#edeff1;}
A.newmail{PADDING-LEFT:25px;FONT-WEIGHT:bold;BACKGROUND:url(../images/tpl_icon_new_message.gif) no-repeat}
A.openedmail{PADDING-LEFT:25px;BACKGROUND:url(../images/tpl_icon_message.gif) no-repeat}
#tagsbox{MARGIN:0px auto;TEXT-ALIGN:justify}
A.cloudtags{PADDING-RIGHT:4px;PADDING-LEFT:4px;PADDING-BOTTOM:4px;COLOR:#665c50;PADDING-TOP:4px;TEXT-DECORATION:none; font-size:11px;}
A.cloudtags:hover{PADDING-RIGHT:4px;PADDING-LEFT:4px;BACKGROUND:#e5eaf3;PADDING-BOTTOM:3px;PADDING-TOP:2px;BORDER-BOTTOM:medium none;TEXT-DECORATION:none}
a.tooltip span{display:none;padding:2px 8px;margin-left:8px;width:100px;}
a.tooltip:hover span{border-radius:3px;display:inline;position:absolute;border:1px solid #c8c8c8;background:#fdfeff;color:#6c6c6c;}
.friendlist{PADDING-RIGHT:0px;DISPLAY:block;PADDING-LEFT:0px;FLOAT:left;WIDTH:500px;PADDING-BOTTOM:0px;MARGIN:0px;PADDING-TOP:0px;}
.friendspict{FLOAT:left;MARGIN:10px 20px 0px 10px;WIDTH:60px;border:1px solid #c8c8c8;}
.friendstat{width:100%;MARGIN-LEFT:100px;_MARGIN-LEFT:10px;}
.friendstat P SPAN{PADDING-RIGHT:15px;PADDING-LEFT:20px;PADDING-BOTTOM:0px;PADDING-TOP:0px}
.friendstat P SPAN.video{BACKGROUND:url(http://www.slideserve.com/images/tpl_icon_video.gif) no-repeat}
.friendstat P SPAN.flag{BACKGROUND:url(http://www.slideserve.com/images/tpl_icon_flag.gif) no-repeat}
.friendstat P SPAN.people{BACKGROUND:url(http://www.slideserve.com/images/tpl_icon_people.gif) no-repeat}
.invite_F{float:left;width:660px;}
.invite_box{display:none;visibility:hidden;float:left;width:660px;padding-left:15px;}
#txt1{FONT:bold 27px Arial, Helvetica, sans-serif;COLOR:#104a85;}
#DownloadPPT head3{FONT:11px Arial, Helvetica, sans-serif;COLOR:#000000;}
#DownloadPPT h2{PADDING-LEFT:0px;FONT:bold 13px Arial, Helvetica, sans-serif;COLOR:#C73434;}
#DownloadPPT h2 img{VERTICAL-ALIGN:top;}
#DownloadBanner{PADDING-TOP:53px;PADDING-LEFT:60px;}
#theGoogleAds_Download a{float:right;FONT:italic 9px Verdana, Helvetica, sans-serif;COLOR:#cbcbcb;text-decoration:none;}
#theGoogleAds_Download{PADDING-LEFT:6px;PADDING-TOP:6px;}
#GoogleAds_DownText{PADDING-Right:30px;}
#ads09{padding-top:10px;}
#GoogleAdsBanner{BACKGROUND:url(../images/slideserve-button-bg_new.jpg) #ffffff no-repeat left top;WIDTH:339px;HEIGHT:287px;PADDING-LEFT:11px;}
.formbutton{cursor:pointer;background:#999;color:#23699a;font-weight:bold;padding:3px 5px;background:url(../images/formbg.gif) repeat-x left top;border:1px solid #ccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.formbutton:hover{background:url(../images/formbg_hover.gif) repeat-x left top;}
.formbutton:active{background:url(../images/formbg_active.gif) repeat-x left top;}
.formbutton_follow{border:1px;background:#449dd3;color:#fff;border-radius:5px;font-size:15px;font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;cursor:pointer;padding:4px 20px;font-weight:bold;text-shadow:0 -1px 0 rgba(0,0,0,0.15);-webkit-border-radius:5px;-webkit-text-shadow:0 -1px 0 rgba(0,0,0,0.15);-webkit-box-shadow:0 0 0 1px #368abd inset,
0 30px 20px -18px rgba(255,255,255,0.65) inset,
1px 1px 3px rgba(0,0,0,0.2);}
.text_button{font:Verdana, Arial, Helvetica, sans-serif;cursor:pointer;border:0px;background:none;}
.text_button:hover{text-decoration:underline;border:0px;color:#23699a;}
.main-page404{color:#666666;width:965px;;height:463px;padding:10px 0 0;}
.header404{height:38px;}
.logo404{float:left;padding-left:38px;}
.content404{text-align:center;padding:0px 0 50px;}
.content404 p{font-size:14px;color:#666666;margin:0;}
.error-text404{margin-bottom:25px;}
.oops404{font-size:54px;line-height:60px;color:#666666;padding-bottom:6px;margin:2px 0px 5px 0px;}
.error-text404 h2.title{font-size:35px;font-weight:bold;margin:15px 0 5px 0;color:#fff;}
.search404{width:410px;height:70px;margin:0 auto;}
.search404 input.submit{float:right;width:80px;height:35px;}
.input-box404 input{border-color:#998 #CCC #CCC #998;border-width:1px;color:#666666;float:left;font-size:14px;margin-left:2px;padding:8px;vertical-align:top;}
.nav-links404{float:left;padding-left:28px;}
.footer404 ul{margin:0;padding:0;list-style:none;}
.footer404 ul li{float:left;padding:0 10px;border-right:1px solid #325f58;}
.footer404 ul li.last{border:0;}
.footer404 ul li a{font-size:13px;color:#666666;font-weight:bold;text-decoration:none;}
.footer404 ul li a:hover{text-decoration:underline;}
.feed-icons404{float:right;padding-right:30px;}
.feed-icons404 ul li{border:0;padding:0 4px;}
#social-float{ width:83px; overflow:hidden;position:absolute;cursor:pointer;margin-left:-15px;background:#f9f9f9;border:1px solid #cfcfcf;padding:3px 2px 5px 3px;text-align:center;border-right:none;border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;top:38px;left:-75px;}
.main-page-Sucess{color:#666666;width:965px;;height:463px;padding:10px 0 0;}
.header-Sucess{height:38px;}
.logo-Sucess{float:left;padding-left:38px;}
.content-Sucess{text-align:center;padding:0px 0 50px;}
.content-Sucess p{font-size:14px;color:#666666;margin:0;}
.error-text-Sucess{margin-bottom:25px;}
.oops-Sucess{font-size:54px;line-height:60px;color:#666666;padding-bottom:6px;margin:2px 0px 5px 0px;}
.error-text-Sucess h2.title{font-size:35px;font-weight:bold;margin:15px 0 5px 0;color:#fff;}
.books{-webkit-box-shadow:3px 4px 5px rgba(50, 50, 50, 0.59);-moz-box-shadow:3px 4px 5px rgba(50, 50, 50, 0.59);box-shadow:3px 4px 5px rgba(50, 50, 50, 0.59);}
.books_inset{-webkit-box-shadow:inset 4px 0px 10px 1px rgba(111, 111, 111, 30);-moz-box-shadow:inset 4px 0px 10px 1px rgba(111, 111, 111, 30);box-shadow:inset 4px 0px 10px 1px rgba(111, 111, 111, 30);}
#buy_books{background:#ffdf8f;background:-moz-linear-gradient(top, #ffdf8f 1%, #ddaa2d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffdf8f), color-stop(100%,#ddaa2d));background:-webkit-linear-gradient(top, #ffdf8f 1%,#ddaa2d 100%);background:-o-linear-gradient(top, #ffdf8f 1%,#ddaa2d 100%);background:-ms-linear-gradient(top, #ffdf8f 1%,#ddaa2d 100%);background:linear-gradient(top, #ffdf8f 1%,#ddaa2d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf8f', endColorstr='#ddaa2d',GradientType=0);width:120px;height:40px;line-height:normal;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:700;color:#56589b;border:1px solid #56589b;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;text-shadow:1px 1px #dcdcdc;}
#buy_books:hover{background:#edb730;border:1px solid #56589b;}
.books_details{width:580px;float:left;border:solid 1px #c8c8c8;background:#F1F1F1;margin-top:10px;padding-left:10px;padding-right:10px}
.books span{text-align:right;}
.books_underline{width:450px;border-bottom:dashed 1px #c8c8c8;padding-top:8px;padding-bottom:10px;float:left}
.booksno-underline{width:450px;border-bottom:dashed 0px #c8c8c8;padding-top:8px;padding-bottom:10px;float:left}
.tag-rectangle{background-color:#63c51c;width:105px;height:30px;display:inline;float:right;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #198a3b;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.tag-rectangle h1{text-align:center;font-size:20px;color:#FFF8C6;margin:10px 0;line-height:10px;text-shadow:1px 1px 1px #000000;filter:dropshadow(color=#000000, offx=1, offy=1);}
#footer_container{PADDING-RIGHT:0px;PADDING-LEFT:0px;PADDING-BOTTOM:0px;MARGIN:0px auto;WIDTH:970px;PADDING-TOP:0px;TEXT-ALIGN:center}
#footer_container2{background-color:#eff1f3 repeat-y;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.oneFourth{font-size:12px;width:20%;float:left;}
div.mainWrapper{width:970px;margin:0 auto;}
div.horizontalSep{background:url("../images_new/horizontalSeparator.jpg") top center no-repeat;width:970px;height:50px;margin-top:20px;}
ul.arrowList{}
ul.arrowList li{list-style:none;text-align:left;background:transparent url("../images_new/arrowListIcon.png") center left no-repeat;display:block;padding:2px 0 4px 20px;}
ul.arrowList li a, ul.arrowList li a:hover{text-decoration:none;}
div.footerMenu{overflow:hidden;margin-bottom:30px;}
ul.socialNav li{display:inline;float:left;margin-left:10px;}
div#footerInformation{background-color:#202020;padding:10px 0;border-top:1px solid #7e7e7e;overflow:hidden;color:#FFFFFF;}
div#footerInformation p{margin:15px 0 0 0;}
.related_thumb{clear:both;color:#666666;margin:0px;overflow:hidden;padding:5px 0 0px 2px;}
.related_thumb li{display:inline;float:left;line-height:1.3;margin:15px 0px 0px 12px;overflow:hidden;width:140px;height:145px;}
.related_thumb li a img{display:block;width:100px;height:76px;border:1px solid #c8c8c8;padding:2px;background-image:url(../images/pre-image2.jpg);background-repeat:no-repeat;}
.related_thumb a span{display:table-cell;height:auto;width:120px;}
.related_thumb a{text-decoration:none;}
.related_thumb a:hover{text-decoration:underline;}
.related-pptlist-thumb{DISPLAY:block;padding:8px 8px 0px 0px;FLOAT:left;WIDTH:60px;TEXT-ALIGN:center}
.related-pptlist-thumb img{border-style:solid;border-width:1px;border-color:#b4c1d5;padding:1px;}
.related-details{DISPLAY:block;padding:8px 0px 0px 0px;margin-left:90px;TEXT-ALIGN:left}
.related-details h2{font-size:14px;font-weight:bold;margin:0px;}
.related-border{border-bottom:dotted 1px #e2e2e2;padding-top:10px;}
.separation{border-bottom:dotted 3px #e2e2e2;padding-top:10px;margin-bottom:20px;}
a.ppt-down{font-size:14px;text-decoration:none;padding:5px 10px;font-weight:700;color:#FFFFFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:rgba(0, 0, 0, 0.246094) 0px -1px 0px;margin-bottom:10px;cursor:pointer;background:#93d040;background:-moz-linear-gradient(top, #93d040 1%, #6ba924 99%);background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#93d040), color-stop(99%,#6ba924));background:-webkit-linear-gradient(top, #93d040 1%,#6ba924 99%);background:-o-linear-gradient(top, #93d040 1%,#6ba924 99%);background:-ms-linear-gradient(top, #93d040 1%,#6ba924 99%);background:linear-gradient(to bottom, #93d040 1%,#6ba924 99%);border:1px solid #598527;}
a.ppt-down:hover{background:#82c333;border:1px solid #5d8a29;}

#htmlplayer{width:600px; height:500px; background-color:#CCCCCC; background-image:url(../images_new/player_bg.jpg); background-position:bottom; background-repeat:no-repeat; position:relative; border:1px solid #999999;}
#htmlplayer .play{width:103px; height:84px; margin:auto; background-image:url(../images_new/btn_normal.png); background-repeat:no-repeat; background-position:bottom; cursor:pointer; position:absolute; top:38%; left:41%;}
#htmlplayer .play:hover{ background-image:url(../images_new/btn_over.png);}


.toplinkcolor {color:#CCCCCC;}
.topspancolor {color:#f17e1c;}
.toptabletop{padding-top:10px;}
.login-error-color{color:red;}
.h_playercolor{color:#FFFFFF; font-weight:700;}

#search_pbox{
width: 700px;
float: left;
padding: 8px;
background: #F1F1F1;
border: solid 1px #c8c8c8;
overflow: hidden;
margin-bottom:22px;
}

#search_pbox select{ padding:10px; border:solid 1px #c8c8c8;}
#search_pbox .selectboxR { float:right;}
#search_pbox .selectboxL { float:left; padding:10px;}

.nfooterlist {display:inline-block;}
.nfooterlist li { float:left; display:inline; margin:0 14px;}

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);
/******* Nerw SS Thumbnail  *********/

.ss_listing{
		clear:both; 
		color:#999;
		margin:0px;
		overflow:hidden;
		padding:18px 0 0px 2px; /*Imp for IE6*/
		width:100%;
		
}
		
		
.ss_listing li{
		display:inline;
		float:left;
		line-height:1.3;
		margin:0 21px 21px 0;
		width:300px;
		min-height:250px;
		border:1px solid #E4E4E4;
		font-size:16px;
		font-weight:400;
		background-color:#fff;
		overflow:hidden;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color:#333;
		-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.4);
		-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.4);
		box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.4);
}

.ss_listing li:hover{
background-color:#FCFCFC;}

.ss_listing li a{
		display:block;
		paddding:10px 0;
		font-family:"Oswald",Helvetica,sans-serif;
		}

.ss_listing li a span{
                
		display:block;
		width:300px;
		height:220px;
		overflow:hidden;
		margin-bottom:10px;
                border-bottom: 1px solid #ccc;
                
		}
.ss_listing li a span.title{
		display:block;
		margin:0px 8px;
		height:auto;
		color:#4B4B4B;
                width:290px;
                min-height:40px;
                border:0px;
		}
		
.ss_listing li a span.title:hover{
		color:#23699a;
		}
.ss_listing li span.views{font-size:12px; color:#777; margin:2px 8px; height: auto; float:right;}
.ss_listing li span.user{font-size:12px; color:#777; margin:2px 8px; height: auto; float:left;}

.ss_listing li a img{
		width:100%;
		height:auto;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		}

.ss_listing a span {
		display:table-cell;
		height:auto;
		width: 300px;

}


.ss_listing a{
		text-decoration:none;
}


.ss_listing a:hover{
		text-decoration:none;}
		
.load_more {width: 730px;background: #F8F8F8;border: 1px solid #ccc;padding: 5px 0px;}

/******* Nerw SS Testimonials  *********/


#htestimonials{border: 1px solid #E4E4E4; background-color: #fff; min-height:300px; height:auto; overflow:hidden; font-family: 'Oswald', sans-serif;font-size: 16px;width:945px;}
.Tblock{width:575px;padding:0px 6px 0 6px; float:left;} 
.Tblock h3{color:#dd3c04;font-size:13px;font-weight:normal;text-align:center;text-transform:uppercase;margin-bottom:17px;}
.Tblock p.content{font-style:italic;line-height:24px;padding-left:19px;position:relative;overflow:hidden;}
.Tblock p.content span {text-indent;}
.Tblock p.content span.laquo{background:url(../images/laquo.png) no-repeat;width:14px;height:11px;position:absolute;left:0;top:4px;display:block;}
.Tblock p.content span.raquo{background:url(../images/raquo.png) no-repeat right 4px;width:13px;height:15px;padding-left:4px;display:inline-block;}
.Tblock .sign{text-align:right;float:right;}
.Tblock .sign a{color:#577302;font-family:Arial,sans-serif;font-size:13px;text-decoration:none;}
.Tblock .sign a:hover{text-decoration:underline;}
.Tblock .sign p{color:#5a5a5a;font-size:12px;line-height:15px;margin-top:6px;}
.tAd{ float:right; padding:10px;}