/*  ------------------- T h u m b n a i l ------------------------------------*/
.lec_thumb {
  display: inline-block;
  float: left;
  text-align: left;
  margin: 0 auto;
  width: 156px;
  margin-bottom: 5px;
}
.lec_thumb > a,
.lec_thumb > a:hover {
  font-size: 10px;
  color: #333333;
  display: block;
  position: relative;
  text-decoration: none;
}
.lec_thumb i {
  float: right;
  font-size: 10px;
}
.lec_thumb .author {
  float: left;
  margin-top: 3px;
  color: #d32027;
  font-size: 11px;
  font-weight: bold;
}
.lec_thumb .author i {
  float: inherit;
  font-style: italic;
}
.lec_thumb .author i img {
  align: top;
}
.lec_thumb > a:hover .thumb_title {
  text-decoration: underline;
}
.lec_thumb > a > div:first-child,
.lec_thumb_shadow {
  float: left;
  margin-bottom: 2px;
}
.lec_thumb_img {
  width: 154px;
  height: 96px;
  display: block;
  position: relative;
  float: right;
  background-color: white;
  border: 1px solid #dddddd;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family:Arial;*/
  font-size: 10px;
  text-shadow: #222222 1px 1px 2px;
  color: white;
  vertical-align: bottom;
}
.lec_thumb_img > u {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  padding-bottom: 2px;
  width: 100%;
  text-align: right;
  text-decoration: none;
  background: url(http://static.videolectures.net/r.1416937619//common/img/transp.dark.png);
}
.lec_thumb_img > b {
  /*font-weight:normal;
	font-size:11px;*/
  position: absolute;
  bottom: 15px;
  left: 6px;
  height: 14px;
  width: 140px;
  color: #ffffaa;
}
.lec_thumb_img > img {
  display: block;
  float: right;
  clear: right;
  padding-right: 3px;
}
.lec_thumb_img > img:first-child {
  padding-top: 7px;
}
a .lec_thumb_img:hover,
a .lec_thumb_img > u:hover,
a .lec_thumb_img > b:hover {
  text-decoration: none;
}
.thumb_short {
  /* extended descriptions as oppose to short */
  display: none;
}
img.spotlight {
  position: absolute;
  top: -12px;
  right: -8px;
  z-index: 10;
  display: none;
}
img.spotlight.opaque {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#idx_categories.hoverable img.spotlight {
  right: -30px;
}
#idx_events .hoverable img.spotlight {
  right: -1px;
}
#idx_events .hoverable a {
  display: block;
}
.hoverable a {
  position: relative;
}
/* ----- S m a l l   T h u m b s ------ */
.lec_hint_thumb {
  float: left;
  width: 75px;
  height: 47px;
  overflow: hidden;
  margin: 0 5px 2px 0;
  border: 1px solid #c4c0c0;
}
.lec_hint_thumb img {
  width: 81px;
  height: 53px;
  position: relative;
  top: -3px;
  left: -3px;
}
.lec_hint_thumb small {
  height: 13px;
  float: right;
  position: relative;
  top: -19px;
  padding: 0 2px 2px 2px;
  text-align: right;
  color: white;
  background: url(http://static.videolectures.net/r.1416937619//common/img/transp.dark.png);
  z-index: 2;
}
img.lang-flag {
  margin-right: 2px;
}
