body {
  margin: 0px;
  font-family: Arial, Georgia, "Trebuchet MS", Tahoma;
  font-size:9pt;
}
.pg_block{
  width: 1000px;
  margin: auto;
}
#content{
  overflow:hidden;
  margin:0;
  padding:0;
  /*width:100%;*/
}
a{
  color:#4383A2;
  text-decoration: none;
  font-size:9pt;
}
a:visited{
  color:#4383A2;
}
a:hover{
  text-decoration: underline;
}
img{
  border:0;
}
hr{
  border:0;
  height:1px;
  background-color:#ddd;
}
h4 {
  padding-bottom:3px;
  font-size:16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1em;
  color: #4383a2;
  text-decoration: none;
}

#header{
  height: 104px;
}

#branding{
  float: left;
  height: 104px;
  /*background-image: url(logoVLN_05_wsa.png);
  background-position: 0px 20px;*/
}
#branding>a{
  display:block; float:left;
}
#branding #site_logo{
  background-image: url(logoVLN_05_wsa.png);
  background-position: 0px 20px;
  background-repeat: no-repeat;
  width: 287px;
  height: 104px;
}
#branding #wsa_logo{
  background-image: url(logoVLN_05_wsa.png);
  background-position: -311px 20px;
  background-repeat: no-repeat;
  width: 126px;
  height: 104px;
  float: left;
}
#branding #unesco_logo{
  margin-top:5px;
  margin-left:410px;
  margin-right: -200px;
  background-image: url(logoVLN_05_wsa.png);
  background-image: url(unesco.png);
  background-repeat: no-repeat;
  width: 280px;
  height: 90px;
}

#user_ctl, #user-tools, #jq_userctl{
  float: right;
}
#jq_userctl {
  display:block;
  margin-right:-5px;

  z-index: 1;
  height: 10px;
  position: relative;
  top: 0px;
  left: 0px;
}

#jq_userctl table {
  background-color: #FFFFFF;
}

#jq_userctl img{
  margin:2px 0 -2px 0;
}
#user-tools .login-logout{
  display:none;
}

#signInRegister{
  height: 52px;
  float: right;
  clear:right;
  width: 300px;
  padding-top: 5px;
  margin-top:10px;
  /*margin-right: 20px;*/
}

#signInRegister #signIn a, #signInRegister #signOut a{
  background-image: url(sign.png);
  background-repeat: no-repeat;
  margin-right: 5px;
  float: right;
  height: 52px;
  width: 58px;
  line-height:50px;
  text-align: center;
  font-size: 11px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}
#signInRegister #signOut a{
  margin-right: 0;
}
#signInRegister #signIn:hover , #signInRegister #signOut:hover {
  background-image: url(sign_on.png);
  background-repeat: no-repeat;
}
#signInRegister #register {
  float: right;
  height: 52px;
  width: 58px;
  background-image: url(register.png);
  text-align: center;
}
#signInRegister #register a{
  font-size: 11px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 2.2em;
  text-decoration: none;
}
#signInRegister #register:hover {
  background-image: url(register_on.png);
}

/*  ------------------- T o p   M e n u --------------------------------------*/
#top_menu{
  position: relative;
  display:block;
  background-image: url(bg_menu.png);
  background-repeat: repeat-x;
  background-position: top;
  font-family: Tahoma, Geneva, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  height: 41px;
  -webkit-text-size-adjust: 90%;
}
#top_menu a, #top_menu a:visited{
  text-decoration: none;
  font-family: Tahoma, Geneva, Verdana, Helvetica, sans-serif;
  color: #333;
}
#top_menu a:hover{
  color: #666;
}
#top_menu ul{
  text-transform: uppercase;
  display: block;
  margin: 0;
  height: 41px;
  padding: 0 0 0 5px;
  line-height: 3.4em;
}
#top_menu li{
  background-image: url(redDot_10.png);
  background-repeat: no-repeat;
  display: inline;
  padding: 0 3px 0 10px;
}
#top_menu li:first-child{
  background-image: none;
  padding-left: 4px;
}
#top_menu form{
  float: right;
  width: 255px;
  /*line-height: 3.4em;*/
  margin-top: 9px;
}

#top_menu input.search{
  display: inline;
  width: 175px;
}
#top_menu input.button{
  background-color: #D2232A;
  border: none;
  color: #FFF;
  font-size: 11px;
  text-transform: uppercase;
  height: 22px;
  background-image: url(searchArrows.png);
  background-repeat: no-repeat;
  background-position: 50px;
  width: 70px;
  margin: 0 3px 0 4px;
  padding: 0 35px 0 2px;
  vertical-align: top;
}
#top_menu input{
  border: none;
  height: 21px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
#top_menu #search_stats{
  min-width: 265px;
  position: absolute;
  bottom: 41px;
  right: -1px;
  background-color: #F4F4F4;
  font-size: 11px;
  line-height: 1.9em;
  padding: 0 6px 0 6px;
}

#centercolumn{
  margin: 0px 320px 5px 196px;
}

#leftcolumn{
  /*margin: -5px 5px 5px 12px;*/
  /*padding-right:5px;*/
  padding:0;
  float: left;
  width: 186px;
  height: auto;
}
#rightcolumn{
  /*margin: -5px 12px 5px 5px;*/
  float: right;
  width: 310px;
}
#innerbox{
    display:block;
/*  margin-left: 12px;
  margin-right: 12px;
    */
}




/*  ------------------- P a g e   M o d u l e --------------------------------*/

.mod_body>h1{
  display:block;
  background-image: url(bg_mod_bullet.png);
  background-position: bottom right;
  background-repeat: repeat-x;
  line-height: 1.7em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  padding-left: 15px;
  color: white;
  text-shadow: #666 1px 1px 1px;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top:1px;
  margin-bottom:4px;
  margin-top: 0px;
}
.mod_body>h1 a{
  float:right;
  font-family: Arial, Georgia, "Trebuchet MS", Tahoma;
  background-color: #4383A2;
  display:block;
  line-height:1.8em;
  margin-top:-1px;
  padding: 3px 7px 2px 8px;
  border-bottom:11px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
}
.mod_body>h1 a:hover{
  text-decoration: underline;
}
.mod_body>h1 a span{ /* more+"..." ellipsis */
  display:none;
}

#lecture_page .mod_body>h1{
  display:block;
  background-color: #585858;
  background-image: url(bg_mod_title.png); /**/
  background-position: bottom right;
  background-repeat: repeat-x;
  line-height: 2em; /**/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  font-size: 12px;
  /*
  text-shadow: #666 1px 1px 1px;
  text-transform: uppercase;
  padding-top:1px;
  padding-bottom: 1px;
  margin-bottom:4px;
  margin-top: 0px;*/
  
  text-transform: none;
  margin: -1px 0 -7px 0;
  padding:0px 10px 0px 10px;
  /*padding: 1px 5px 15px 5px;*/
  /*height: 25px;*/
  text-decoration: none;
  text-shadow: none;
}
#lecture_page .mod_body h1 a{
  float:right;
  font-family: Arial, Georgia, "Trebuchet MS", Tahoma;
  background:none;
  
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 0 6px 0 6px;
  height: 2em;
  margin:0 -10px 0 0;
  text-decoration: none;
  text-shadow: none;
}
#lecture_page .mod_body h1 img{
  margin-top:4px;
  vertical-align: text-bottom;
}
#lecture_page .mod_body{
  color:#666;
  /*background:#e0e0e0;*/
  background:none;
  padding:0 12px 12px 12px;
  margin-bottom:0;
  text-align: justify;
}
#browse_page #comments .mod_body{
  padding:0 12px 12px 12px;
}
#lecture_page .mod_body h1, #browse_page #comments .mod_body>h1{
  margin: 0 -12px 12px -12px;
}
#lecture_page .lec_lbox, #lecture_page .lec_rbox{
  background: url(vl/bg_video.png) repeat-x;
}

/*  ------------------- I n d e x  ------------------------*/

#featured_box{
  height: 170px; /*220px;*/
  width:100%;
  background-image: url(index/bgFeaturedLectures_15.png);
  background-repeat: repeat-x;
  background-position: center -50px;
  margin-top:2px;
  overflow:hidden;
}
#featured_box .thumb_short{ display:inline; }
#featured_box .thumb_ext{ display:none; }

#index_page #featured_box>h1{
  display:none;/*block;*/
  background-image: none;
  padding: 0 0 0 13px;
  height:25px;
  margin:7px 0 0 0;
  background-color: #FFF;
  float: left;
  text-transform:none;
  font-size: 16px;
  line-height: 1.5em;
  /*text-shadow: #999 1px 1px 1px;*/
  text-shadow:none;
  color: #4383A2;
}
#index_page #featured_box>h1>a{
  margin:0 0 0 54px;
  height:23px;
  padding:2px 8px 0px 8px;
  border:0;
}
#index_page #featured_box>div{
  clear:both;
  height: 180px;
  padding-top: 5px;
  width:100%;
}
#featured_thumbs>div {
  height: 158px;
  /*width: 156px;*/
  float: left;
  margin-left: 4px;
  padding:3px;
  background-image: url(index/bgVideoFea_48.png);
  background-repeat: repeat-x;
}
#idx_categories h1{
  position:relative;
  z-index:2;
}
ul.categories{
  margin:-16px 0 0 0;
  padding:14px 10px 5px 25px;
  background-image: url(browse/bgBrowseForm.png);
  background-repeat: repeat-x;
  font-size: 8pt;
}
ul.categories li a{
  font-size: 12px;
}
ul.categories li a:hover{
  text-decoration:underline;
}
ul.categories li{
  padding: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  font-size:9pt;
  margin: 0 0 4px 0;
  list-style-image: url(index/li.png);
  color:#333;
}  

#idx_authors, #idx_upcoming{
  clear:left;
  margin-right:320px;
}
#idx_authors h1, #idx_upcoming h1{
  width:171px;
  position:relative;
  z-index:2;
}
#idx_authors>div{
  margin:-17px 0 0 0;
  background-image: url(index/bgAuthors.png);
  background-repeat: no-repeat;
  padding:10px 10px 5px 10px;
}
#idx_authors ul{
  display:block;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 210px;
  margin-left: 10px;
  margin-top: 3px;
  padding:0;
}
#idx_authors li, #idx_authors li a{
  font-size: 10px;
  margin:3px 0 0 0;
}
#idx_authors li{
  padding: 0px;
  list-style-type: square;
  list-style-position: inside;
  margin: 2px 0 4px 0;
}
#idx_authors li span{
  color: #4383A2;
}
#idx_authors a, #authors a:visited{
  text-decoration: none;
  color: #000;
}
#idx_authors a:hover{
  text-decoration: underline;
  color: #000;
}
#idx_events{
  color:#666;
  font-size:11px;
}
#idx_events a>h2, #idx_upcoming>h2>a, #idx_news>h2>a{
  font-size:16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1em;
  color: #4383a2;
  text-decoration: none;
}
#idx_events a>h2, #idx_upcoming>h2{
  padding-left: 15px;
  color: #666;
  font-weight: normal;
}
#idx_events a>h2{
  margin:8px 0 0 0;
  padding:0 0 10px 0;
  width:100%;
  display:block;
  border-bottom: 1px solid #ccc;
}
#idx_events a:hover, #idx_events a>h2:hover, #idx_upcoming>h2>a:hover, #idx_news>h2>a:hover{
  text-decoration:underline;
}
#idx_events>.hoverable{
  margin:0;
}
#idx_news{
  color:#333;
}
#idx_news>hr{
  height:10px;
  border:0;
  background:white;
}
#idx_news>h2{
  display:block;
  /*clear:left;*/
  width:476px;
  font-size:1em;
  color:black;
  border-bottom:1px solid #ccc;
  margin: 5px 0 0 0;
  padding: 0 0 0 8px;
}
#idx_news>h2>a{
  line-height: 1.5em;
}
#idx_news h2>span{
  display:block;
  font-weight:normal;
  float:right;
  margin: -1px 0 0 0;
  right:0; bottom:0;
  padding:5px;
  color:#666;
  /*background:#eee;*/
}
#idx_news>div{
  background-image: url(index/bgNews.png);
  background-repeat: repeat-x;
  margin:0;
  padding:3px 8px 3px 8px;
  text-align:justify;
  float:left;
  width:468px;
}
#idx_news img{
  margin-left:5px;
}
#idx_upcoming h2, #idx_upcoming h2>a{
  display:block;
  font-size:14px;
  margin:0;
  font-family: Georgia,"Times New Roman",Times,serif;
}
#idx_upcoming p{
  padding-left: 15px;
  font-size:12px;
  margin:0;
  color: #9B9CA0;
  margin-bottom: 12px;
}

/*  ------------------- B R O W S E ------------------------*/
.drilldown_hmenu{
  clear:both;
}
.drilldown_hmenu_label_rss{
  /*float:right;*/
  display:none;
}
.drilldown{
  margin:0 3px 0 0;
  padding:5px;
}
.drilldown_navigate{
  float:left;
  display:block;
  font-weight:bold;
  padding:2px 8px 2px 8px;
  border-width:0 1px 1px 0;
  border-color:#bbb;
  border-style:solid;
  margin-right:0px;
}
.drilldown_opts{
  background-image: url(browse/bgBrowseForm.png);
  background-repeat: repeat-x;
  /*display:block; */
  float:left; 
  clear:left; 
  width:180px;
  padding:2px 3px 4px 4px;
  margin:0;
}
.drilldown_opts.aside_rotator, .drilldown_opts.aside_event{
  min-height:174px;
}
.drilldown_content{
  /*padding-left:190px;*/
  margin:0;
}
#browse_form, #browse_form input{
  padding:0 15px 0 15px;
  line-height: 1.8em;
}
#browse_form label {
  color: #333333;
}

#browse_form h4{
  display: block;
  font-weight:normal;
  width:100%;
  border-bottom:1px solid white;
  margin-bottom: 3px;
  margin-top:12px;
  padding-bottom:5px;
}
#drilldown_list .lec_thumb .author{
  color: #222;
  font-weight: normal;
}
#drilldown_list .lec_thumb a{
  font-size: 10px;
  color: #4383A2;
  margin-top:3px;
}

#drilldown_thumblist {
  padding-top:10px;
}

.paginator{
  background-color:#F5F5F5;
  padding:8px 0px 8px 8px;

  text-align:right;
  display:block;
/*
  width:97% auto;
  margin: 0 auto;
  margin-left:3px;
*/
}
.paginator strong{
  float:left;
  /*padding-left:3px;*/
}
#drilldown_categories{
  /*margin:0 0 8px 16px;*/
  padding:20px 20px 10px 20px;
}
#drilldown_categories>h4{
  margin:-10px -20px 15px -10px;
}
#drilldown_categories>h4, .paginator{
  font-size: 12px;
  background:#E6E6E6;
  border-color:#CCCCCC #B0B0B0 #B0B0B0 #CCCCCC;
  border-width:1px;
  border-style:solid;
  padding: 5px;
  color:#666;
}
.dd_ordering>input {
  border:none;
  /*background: #990000;*/
}
.dd_ordering>label{
  margin-left:-2px;
}
.dd_if_browsing{
  display:none;
}
.dd_if_browsing.browsing{
  display:inline;
}
#dd_loc_last span.dd_if_browsing{
  display:inline;
}
#dd_loc_last span.dd_if_browsing.browsing{
  display:none;
} 

#drilldown_thumblist{
  /*padding-left:8px;*/
  margin: 0 0 0 10px;
}
#drilldown_thumblist table{
  padding-left:1px;
  border-spacing:1px;
}
#drilldown_thumblist td{
  padding-left:2px;
  padding-right:2px;
}

#dd_form_sections{
  float:left;
  clear:left; 
  width:170px;
  padding:20px -1px 100px 10px;
  border-right:1px solid #ccc;
  margin-left:17px;
  margin-right:-1px;
}
#dd_form_sections h4{
  margin:40px 20px 10px 0px;
  /*width: 100%;*/
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
#dd_form_sections>div,#dd_form_sections>a{
  padding:5px 3px 5px 10px;
  margin:1px 0px 1px 0px;
  display:block;
  border:1px solid white;
  
}
#dd_form_sections>div.selected{
  z-index:1;
  border:1px solid #aaa;
  border-right: 1px solid white;
  margin-right:-1px;
  font-weight:bold;
}
#dd_form_sections>span{
  display:block;
  height:80px;
}

.evt_thumb .img_shadow > img {
  margin-bottom:10px;
}
.evt_thumb{
  padding:4px 5px 5px 3px;
}
.search_res {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
}

.dd_form_aux{
  float:left; 
  clear:left; 
  width:180px;
}
.dd_form_aux #dd_project_logo{
  margin:18px 0 0 0; 
  text-align:center;
}
.dd_form_aux #dd_project_logo img{
  max-width:160px;
}
/*  ------------------- V i d e o   L e c t u r e  ------------------------*/

.drilldown_hmenu{
  background-color: #f0f0f2;
  background-image: url(vl/locationIcon.png);
  background-repeat: no-repeat;
  background-position: 12px center;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 3px 3px 3px 40px;
}
.drilldown_loc {
  display:block;
  position:relative;
  font-size:9pt;
  /*top:-3px;*/
}
/*.drilldown_hmenu */
.drilldown_hmenu_label{
  color:#999;
}
.drilldown_hmenu a, .drilldown_hmenu a:visited {
  color:#D2232A;
  text-decoration:none;
}
.drilldown_hmenu a:hover{
  text-decoration:underline;
}
.lec_rbox{
  position: relative;
  float: right;
  clear: right;
  padding: 0;
  width: 480px;
  display:inline;
}
.lec_lbox{
  position: relative;
  float: left;
  clear: left;
  padding: 0;
  /*background-color: white;*/
  width: 506px;
  margin-right:4px;
  display:inline;
}
#description .wiki{
  line-height:1.5em;
}
#video_player{
  float:left;
}
#video_player_border{
  width:1000px;
}
#video_player_border.smile-nonsynced{
  max-height:375px;
}
#video_player_border.smile-nonsynced.smile-narrow{
  width:506px;
}
.slide_odd{
  background-color: #ffffff;
}
.slide_even{
  background-color: #f0f0f0;
}
#vl_desc{
  display:block;
  background-image: url(vl/bg_title.png);
  background-repeat: repeat-x;
  padding-left:18px;
  padding-top:10px;
  font-size:11px;
  margin-top:7px;
}
#lec_desc_edit p {
  font-size: 12px;
}
.wiki td{
  vertical-align:top;
}

#vl_event_thumb{
  float:right;
  background:white;
  padding-top:0;
  padding-left:10px;
  padding-bottom:10px;
  width:310px;
  margin-top:-10px;
}
#vl_desc h2{
  color: #4585A4;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size:25px;
  font-weight:normal;
  margin-right: 18px;
  margin-top:1px;
  /*padding-top:1px;*/
}
#vl_desc .lec_data>span{
  color:#999;
}

#syncs{
  background:#e0e0e0;
  padding:10px;
}
#syncs table{
  border-spacing:0px;
}
#syncs tr.syncs_title{
  display:none;
}
#syncs th{
  text-align:right;
  padding-right:8px;
  width: 50px;
}

#sync_list{
  width:100%;
}
#sync_list tr.highlight {
  background-color: #c0c0c0;
}
#syncs>div{
  max-height:254px; 
  overflow-x:hidden; 
  overflow-y:auto; 
  overflow:-mxoz-scrollbars-vertical !important;
}

fieldset#categories{
  border: 1px dotted #ccc;
  margin-top:8px;
  padding:5px;
  font-size:10px;
  width:630px;
  margin-left:0px;
  background:none;
}
fieldset#categories legend{
  font-size:12px;
}
fieldset#categories ul{
  margin:0 0 3px 0;
  padding-left:5px;
  font-size:10px;
}
fieldset#categories li,fieldset#categories li a{
  list-style-type:none;
  font-size:10px;
}

.lec_hint_tabs {
  display:block;
  float: left;
  width: 480px;
  height:30px;
  margin: -12px -24px 0 -12px;
  padding: 0;
  list-style: none;
  background: #ccc url(vl/bg_related_tabs.png) no-repeat bottom left;
  /*border-bottom: 1px solid #999;*/
}
.lec_hint_tabs li { 
  float: left;
  margin: 0;
  padding: 0;
  width:150px;
}
.lec_hint_tabs a {
  float: left;
  width: 100%;
  text-align: center;
  display: block;
  padding: 6px 30px 6px 5px;
  text-decoration: none;
  /*font-weight: bold;*/
  color: #fff;
  
  /*background: #ccc url(../img/nav_slant.gif) no-repeat top right;*/
}
.lec_hint_tabs a:first-child {
  padding-left: 20px;
}
.lec_hint_tabs a:hover, .lec_hint_tabs li.selected a{
  color: #444;
  background: url(vl/bg_related_highlight.png) no-repeat top center;
}

#hint_type {
  clear:both;
  display:block;
  padding-bottom: 15px;
  padding-top: 15px;
}

/**-------------TURN OFF THE LIGHTS-------------------------**/
.cinema_always_lit,#video_embed{
  position:relative;
  left:0;
  z-index:32010;
}
#cinema_shadow{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background:#000;
  opacity:.80;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  z-index: 32009;
  display:none;
}
.cinema_bg{
  margin-top:15px;
  width:100%;
  clear:both;
  height:24px;
  background-image:url(vl/bg_lights.png);
  background-repeat:no-repeat;
  float:left;
}
.cinema_switch{
  z-index:32010; 
  position:relative;
  display:block;
  clear:both;
  height:24px;
  background-image:url(../icons/light_bulb_off.png);
  background-repeat:no-repeat; 
  background-position:left; 
  background-position: 3px 3px;
  padding: 4px 0 2px 24px;
  outline:none;  
  text-decoration:none;
}
.cinema_switch:hover {
  text-decoration:underline;
}
.cinema_turned_off{
  color:#880; 
  background-image:url(../icons/light_bulb.png);
} 
/*-------------- P a r t   L i s t -------------------------*/
div.partlist_line{
  margin-left:-12px;
  width:506px;
  clear:left;
}
div.partlist_thumb{
  width:162px;
  float:left;
  /*padding:2px 3px 2px 3px;*/
  margin: 0 0 3px 5px;
  /*margin-right:5px;*/
  /*border:1px solid white;*/
}
div.partlist_thumb small{
  padding:2px 0 0 2px;
  float:left;
}
span.partlist_icons{
  float:right;
  padding-right:2px;
}
div.partlist_thumb.now_playing {
  /*border: 1px solid #dcc;*/
  background: #ccc;
  padding:2px;
}
span.now_playing{
  color: #333333; 
  font-weight: bold;
  float:left;
  padding-left:6px;
}
div.partlist_thumb span.now_playing {
  display: none;
}
div.partlist_thumb.now_playing span.now_playing {
  display: inline;
}

/*-------------- E x p l o r e r   b o x --------------*/
table.explorer {
  clear:left; 
  font-size:8pt; 
  font-family:times; 
  background:#d0ffd0; 
  border:#80FF80 1px solid;
  width: 100%;
}

/*-------------- S e e   A l s o -------------------------*/
#vl_seealso>p{
  padding: 2px 0 0 25px;
  margin:0;
  display:block;
  position:relative;
}
#vl_seealso>p>img{
  /*margin:0 0 0 -30px;*/
  vertical-align:middle;
  position:absolute;
  left:2px;
}



/*  -------------------  V o t e s  ------------------------*/
#votes>span{
  display:block;
  float:left;
  padding:6px 0 6px 12px;
}
#votes>span.rating{
  clear:none;
}

/*  -------------------  C o m m e n t s  ------------------------*/


.comment_form label{
  white-space: nowrap;
  font-weight: normal;
}
.comment_form .error{color:red;}
.comment_form td{width: 100%;}

#id_comment {
  
}


/* ------------ A d m i n   /   S t a f f ------------------------------------*/
#locked{
  background: #F8F8F5;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#staff, .staff{
  background: #d4e8d0;
  margin: 0;
  padding: 3px 5px 3px 5px;
}

/*  -------------------  E v e n t   p a g e  ------------------------*/

.evt_banner{
  position: relative; 
  overflow: hidden; 
  width:814px;
  height:180px; 
  padding:0; 
  margin-left:-1px;
  margin-bottom:-7px;
}
.evt_banner>img{
  width:814px;
  height:180px;
}
.evt_banner>h1{
  position:absolute; 
  bottom:0; left:0; 
  width:100%; 
  margin:0;
  background: rgba(255,255,255,0.3); 
  text-shadow: 0 0 5px #fff; 
  padding:4px 10px 4px 10px; 
  color:#222; 
  font-size:20px; 
  font-weight: bold; 
  text-align:right;
}
#drilldown_list>table{
  margin-left:8px;
}

/*  -------------------  P r o j e c t   p a g e  ------------------------*/

#prj_right_col{
  width:310px;
  float:right;
}
#prj_center_col{
  margin-right:325px;
}
#prj_upcoming_box{
  margin-top:1.5em;
 /*margin-right:205px;*/
}


/**------------- ROLLING BANNER -------------------------**/
.rotator{
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000, -1px -1px 1px #666;;
}
.rotator, .rotator_img{
  width:814px;
  height:180px;
}
.rotator>div{
  position: absolute;
  bottom: 0;	left: 0; 
  width: 100%;
  background: rgba(0,0,0,0.08);
  border-top: 1px solid rgba(100,100,100,0.05);
}
.rot_desc{
  display: none;
}
.rot_desc>a{
  width: 100%;
  width:799px;
  color:white;
  display:block;
  font-size: 1.2em;
  margin: 0px 5px 5px 10px;	
  padding: 0 5px 5px 10px;
  /*margin: 10px;*/
  /*margin:0;*/
  line-height: 1.6em;
}
.rot_desc>a:hover{
  text-decoration:none;
}
.rot_desc h2{
  font-size: 2em;
  font-weight: bold;
  padding: 0 0 5px 0;
  line-height:1.1em;
  color: #fff;
}
.rot_desc small{
  padding: 0 0 0 20px; 
  background: url(icon_calendar.gif) no-repeat 0 center; 
  font-size: 1em; 
  margin-left: 10px;
}


/*  -------------------  A b o u t   U s  ------------------------*/
#site_about .wrapped_block{
  background: url(index/bgNews.png) repeat-x; 
  background-position: 0 48px;
  padding: 0 12px 0 12px;
  margin: 0 18px 0 18px;
}
#site_about .wrapped_block>h2{
  color:#4585a4;
  font-family: Georgia, "Times New Roman", Times, serif;  
  font-size:25px;
  font-weight:normal;
  margin: 0 0 0 -12px;
  padding-top:10px;
  padding-bottom:10px;
}
#site_about .wrapped_block table{
  margin-top:1em;
}
#site_about .wrapped_block td{
  vertical-align:top;
}
#site_about .wrapped_block td:first-child{
  width:170px;
}
#site_about .wrapped_block img{
  margin-left:20px;
}




/*  ------------------- F o o t e r  ------------------------*/

#footer{
  min-height: 322px;
  clear:both;
  background-image: url(bg_footer.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #9d9ea1;
  margin-bottom:-16px;
}
#footer #ftr{
  margin: 0 auto;
  display:block;
  margin-top: 40px;
  padding-left:20px;
}
#footer .wrapped_block, .footer_box{
  width: 240px;
  float: left;
  padding:0;
  background:none;
  margin:50px 5px 0 5px;
}
#footer .wrapped_block h2, .footer_box h2{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #FFF;
  text-shadow: #666 1px 1px 1px;
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
  margin:0;
  height: 26px;
  line-height: 1.6;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BEBEBE;
  background-position: bottom;
}
#footer p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

#footer ul{
  padding: 0px;
  margin:10px 0 0 0;
}
#footer li{
  padding-left: 10px;
  margin: 0 8px 10px 15px;
  list-style-position: inside;
  list-style-image: url(li_footer.png);
  text-indent: -18px;
}
#footer a{
  text-decoration: none;
  font-size: 12px;
  color: #FFF;
}
#footer a:hover{
  text-decoration: none;
  font-size: 12px;
  color: #E6E6E6;
}
#footer #cc {
  margin: 0px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  clear: both;
  text-align: right;
  line-height: 1em;
}
#footer #cc img{
  float:right;
  margin-top:-2px;
}
/*  ------------------- C o m m e n t s  ------------------------*/

#footer a.powered_by{
  display: block;
  padding-top:10px;
  float:right;
  margin-right:6px;
}
#footer a.powered_by:link, #footer a.powered_by:visited, #footer a.powered_by:active, #footer a.powered_by:hover{
  color: #000;
}

.comment_form h1{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4383A2;
  font-size: 25px;
  margin:15px 0 15px 0;
  padding: 0;
}

.comment_form  th{
  text-align: right;
}
.comment_form td{
}

fieldset {
  width: 630px;
  padding: 5px;
  margin: 0 0 0 18px;
  border: 1px dotted #CCC;
  background-color: #FFF;
}
.comment_form  input {
  background-image: url(vl/bg_comment_input.png);
  width: 300px;
  color: #666;
  height: 26px;
  padding-left: 15px;
  background-position: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
.comment_form textarea {
  width:100%;
  background-image: url(vl/bg_comment_text.png);
  background-repeat: repeat-x;
  background-position: 0px -30px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 5px;
  color: #666;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #656565;
  border-right-color: #656565;
  border-bottom-color: #656565;
  border-left-color: #656565;
}

.comment_form .submit-preview, .comment_form .submit-post {
  background-image:none;
  width: 150px;
}
.comment_header, .commend_header {
  display:block;
  background-color:#ddd;
  border-bottom: solid  1px #fff;
  padding:2px 5px 2px 5px;
  margin: 0 -12px 0 -12px;
}
.comment_form tr {
  padding-bottom: 5px;
}
.comment p {
  padding:5px;
}
.comment_list hr{
  display:none;
}
/*  ------------------- PROJECTS  ------------------------*/

#prj_center_col p{
  font-size: 12px;
  color: #333;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*  -------------------  a u t h o r s  ------------------------*/


.author_list thead{
  font-family:Georgia, "Times New Roman", Times, serif;
  height:25px;
  font-size: 14px;
  background-color: #F4F4F4;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
}
.author_list tr{
  height:25px;
  padding-top: 5px;
  padding-bottom: 5px;	
}
.author_list td{
  vertical-align:bottom;
  height:25px;
  padding-top: 5px;
  padding-bottom: 5px;	
}
.al_tint {
  background-color: #E9E9E9;
}
/*  -------------------  S i g n IN  ------------------------*/

#content_wrapper {
  min-height:500px;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  background-image:url(vl/bg_video.png);
  background-repeat: repeat-x;
  background-position: 0px 60px;
}
#content_wrapper h1{
  width:940%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color:#4383A2;
  font-size: 25px;
  font-weight: normal;
  margin: 0px;
  padding: 5px 0 5px 0;
}

#login_form_table {
  padding:15px;
}

#login_form_table label, #reg_form_table label{
  font-weight:normal;
  color:#666666;
  font-size:12px;
}
#login_form_table label.error, #reg_form_table label.error{
  color:red;
}


/**-------------  project pages -------------------------**/

#project_list, #project_list a,#project_list a:visited {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
  margin-left: auto;
  margin-right: auto;
  width:980px;
  padding: 0px;	
}
#project_list li {
  float:left;
  display: block;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-top-width: 1px;
  border-top-color:#D8D8D8;
  padding: 10px;
  padding-left:220px;
  border-top-style: solid;
  /*
  background-image: url(vl/bg_projects.png);
  background-position: 0px -40px;
  background-repeat: repeat-x;
  */
  min-height: 100px;
  position:relative;
}
#project_list p {
  display: block;
  margin:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
#project_list img {
  float:left;
  position:absolute;
  display: block;
  left:-5px;
  margin: 0 25px 15px 15px;
  max-width: 200px;
}
.auth_name, .auth_name>a {
  display:block;
  font-size:25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4383a2;
  text-decoration: none;
  padding-top:20px;
  padding-bottom:20px;
}
.auth_table_desc {
  max-width: 330px;
}
.auth_table_desc div.spacer{
  clear:both;
  height:1em;
}

#meta_project_page h3 a, #meta_project_page h3 a:visited{
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
  font-weight:normal;
  text-decoration: none;
  width:980px;	
  float:left;
  display: block;
  margin:0 0 0 10px;
  border-top-width: 1px;
  border-top-color:#D8D8D8;
  padding: 10px;
  border-top-style: solid;
  /*
  background-image: url(vl/bg_projects.png);
  background-position: 0px -40px;
  background-repeat: repeat-x;
  */
  width: 950px;
  padding: 15px;	
}
#meta_project_page h3 a:hover {
  text-decoration: underline;
}

/* ------ /site/accounts/ registration pages */

#content_wrapper.site_accounts { padding: 20px; }
.site_accounts #id_username, .site_accounts #id_password { border: 1px solid #aaa; }
.site_accounts #login_form_table { margin-top: 20px; }
.site_accounts .errorlist { list-style-type: none; padding:0px; margin: 0px; }
.site_accounts label { font-weight: 900; font-size: 10px; padding-bottom: 5px; }
.site_accounts label.error { color: red; }
.site_accounts #error_report { font-size: 10px; padding-left: 15px; } 
.site_accounts td.error { font-weight: 900; text-color: #777; }

.site_accounts #reg_form_table input.required { border: 1px solid #aaa; }
.site_accounts #reg_form_table { margin-top: 20px; border-top: 1px dotted #aaa; }
.site_accounts input.error { border: 1px solid #f00; }
.site_accounts input { border: 1px solid #aaa; }
.site_accounts p#error { background-color: #ccc; border-top: 1px dotted #aaa; }

.site_accounts span.error { color: red; }
.site_accounts #password_meter { color: #aaa; }
.site_accounts span.short { color: #a00; }
.site_accounts span.poor { color: #f5ac00; }
.site_accounts span.good { color: #090; }
.site_accounts span.strong { color: #00a; }

/* search results -- solr style */
div.sres-sidebox{
  width: 320px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  margin: 0 0 10px 10px;
  float:right;
  clear:right;
}
p.sres{
  margin-top:30px;
}
.sres.lectures a>i{
  font-size:10px;
}
.sres.lectures a>b{
  font-size:13px;
}

ul.search-highlights{
  /*display: inline-block;*/
  font-size: 11px;
  color: #444;
}
ul.search-highlights>li{
  display: inline;
}
ul.search-highlights>li em{
  font-weight: bold;
  font-style: normal;
}
