div.homepage h1 {
margin-bottom:75px;
}

.article-detail article p b,.article-detail p b {
font-family:Georgia, serif!important;
font-weight:700;
}

#biogrp {
padding-top:25px;
}

#biogrp h2 {
margin-top:0;
line-height:25px;
font-size:24px;
font-family:Theinhardt_medium, sans-serif;
}

.learn-more {
display:inline-block;
font-size:14px;
font-family:Theinhardt_medium, sans-serif;
width:100%;
border:none;
margin:0 0 25px;
padding:7px 0 0;
}

.learn-more h5 {
display:inline;
font-size:18px;
font-weight:400;
font-family:Theinhardt_Medium, sans-serif;
margin:0 10px 0 0;
}

.bold-anchor {
border:solid #03a6e3;
display:inline-block;
width:100%;
border-width:0 0 6px;
margin:0 0 25px;
padding:0 0 25px;
}

.bold-anchor .metadata {
display:inline-block;
height:38px;
font-size:14px;
width:100%;
background-color:#efefef;
margin:0!important;
padding:22px 0 0;
}

.bold-anchor .shift.metadata {
padding:22px 0!important;
}

.bold-anchor .shift.metadata .button {
margin-left:22px;
}

#comments-section h6.section-title {
margin:0 0 18px;
}

#comments-section .policy {
position:absolute;
top:7px;
right:0;
font-family:Theinhardt_regular,sans-serif;
}

#disqus_thread iframe body {
font-family:Theinhardt_regular,sans-serif!important;
}

.article-detail article #artBdyImg,.article-detail #artBdyImg {
font-family:Helvetica,Arial,sans-serif;
font-size:16px;
line-height:20px;
text-align:left;
color:#565656;
margin:0 0 26px;
}

.article-detail article #artImg,.article-detail #artImg {
margin-bottom:26px;
}

body.pinned #main {
padding-top:234px!important;
}

.article-detail article figure figcaption,.article-detail figure figcaption {
max-width:100%;
}

.article-detail article figure .hi-cap,.article-detail figure .hi-cap, #artImg .artImgBy {
color: #565656;
line-height:16px;
min-height: 18px;
margin:0 0 4px;
}

.article-detail iframe {
display:block;
margin:auto;
}

.article-detail article figure,.article-detail figure {
width:100%;
margin:0 0 26px;
}

.article-detail article img.badge,.article-detail img.badge {
margin-bottom:20px!important;
}

.article-detail article img.xsm,.article-detail img.xsm {
width:100px;
}

.load-more-btn:hover {
cursor:pointer;
}

.article-detail article .inlay.lt,.article-detail .inlay.lt {
margin:7px 26px 26px 0;
}

.article-detail article .inlay.rt,.article-detail .inlay.rt {
margin:7px 0 26px 26px;
}

.article-detail .inlay h5 {
font-size:20px;
line-height:25px;
margin:0;
}

.ad-module {
margin:0;
}

#tag-filter {
left:0;
width:99.2%;
}

#tag-filter div {
float:left;
}

a.zoom .magnifier {
position:relative;
display:block;
float:right;
margin:-44px 6px 0 0;
}

.feature-slides.gallery .carousel .carouselInner article,.feature-slides.gallery .carousel {
max-width:620px;
max-height:465px;
}

.feature-slides.gallery .carousel .carouselInner article a {
line-height:465px;
}

.feature-slides.gallery .carousel img {
margin-top:auto!important;
height:auto!important;
vertical-align: top;
}

.feature-slides .slideshow-content strong {
font-family: "Theinhardt-Medium", sans-serif!important;
font-weight: 500;
}

#article-list.blog-post-list article:first-of-type {
border-top:none;
}

.lt-ie9 a.zoom .magnifier {
margin-top:0;
}

.related-articles,.sponsored label {
display:none;
}

.article-detail article #artBdyImg .artBdyImgBy,.article-detail #artBdyImg .artBdyImgBy {
color: #565656;
font-size:12px;
min-height:18px;
line-height: 16px;
}

.article-detail article #artBdyImg .artBdyImgCptn,.article-detail #artBdyImg .artBdyImgCptn {
display:block;
font-size: 16px;
line-height: 20px;
}

.article-detail article figure figcaption, .article-detail figure figcaption, .artBdyImgCptn, #artImg .artImgCptn  {
font-size: 16px;
line-height: 20px;
}

.article-detail article figure.rt,.article-detail figure.rt,.article-detail article img.rt,.article-detail img.rt {
margin:7px 0 26px 20px;
}

.article-detail article figure.lt,.article-detail figure.lt,.article-detail article img.lt,.article-detail img.lt {
margin:7px 20px 26px 0;
}

.article-detail article #artBdyImg img,.article-detail #artBdyImg img,.article-detail article figure img,.article-detail figure img,.article-detail figure iframe {
	margin-bottom:5px;
}

.article-detail article figure.lrg,.article-detail figure.lrg,.article-detail aside.lrg,.article-detail article img.lrg,.article-detail img.lrg {
width:460px;
}

.article-detail article figure.med,.article-detail figure.med,.article-detail aside.med,.article-detail article img.med,.article-detail img.med {
width:300px;
}

.article-detail article figure.sm,.article-detail figure.sm,.article-detail aside.sm,.article-detail article img.sm,.article-detail img.sm {
width:140px;
}

.listicle {
margin: 1em 0;
padding: 0;
list-style-type: none;
font-family: "Theinhardt-Regular", sans-serif;
}

.listicle li {
border-top: 2px solid #7d7d7d; 
padding: 1em 0 0;
}

.listicle li h3 {
font-size: 22px;
line-height: 1em;
font-family: "Theinhardt-Medium", sans-serif;
font-weight: 500;
color: rgb(216,4,4);
margin: 4px 0 15px;
}

.article-detail article .listicle p strong, .article-detail .listicle p strong {
font-family: "Theinhardt-Medium", sans-serif!important;
font-weight: 500;
}

hr {
height: 2px solid #7d7d7d;
}

.feature-slides .slideshow-content>p b {
font-family: "Theinhardt-Medium",sans-serif!important;
}

#artImg .artImgBy {
	font-family: "Helvetica", Arial, sans-serif;
	text-align: left;
	font-size: 12px;
}

#artImg .artImgCptn {
color: #565656;
font-family: "Helvetica", Arial, sans-serif;
text-align: left;
min-height: 18px;
margin: 0;
}

.article-detail #artImg .artImgCptn b {
font-family: "Helvetica", Arial, sans-serif!important;
}

#artImg img {
margin-bottom: 5px;
}

header nav #ticker {
font-family: "Theinhardt-Regular", sans-serif;
height: 40px;


line-height: 40px;
}

header nav #ticker a {
font-family: "Theinhardt-Regular", sans-serif;
}

header nav #ticker .commonwrap {
max-width: 1205px;
padding: 0 35px;
}

header nav #ticker .commonwrap strong {
margin-left: 0;
font-family: "Theinhardt-Medium", sans-serif;
font-weight: 500;
}

header nav #ticker #close-ticker {
top: 10px;
}

.pullquote {
font-family: "Helvetica", Arial, sans-serif;
font-size: 22px;
line-height: 1.25em;
font-weight: bold;
}

.sm.pullquote {
font-size: 18px;
}

.blog-post-list article {
overflow-y: auto;
}

#article-list.blog-post-list article a em {
color: inherit!important;
font-style: italic;
}

/* Temp color schemes for channels. To be moved to main site css */
.transportation figcaption {
  border-left: 10px solid #e24c2d;
}
.transportation a:hover h2,
.transportation a:hover h3,
.transportation a:hover h6,
.transportation a:hover h5,
.transportation a em span,
.transportation h3.isotope-title,
.transportation h1,
.transportation div em a,
.transportation .breadcrumb .tag,
.transportation .breadcrumb a.tag {
  color: #e24c2d !important;
}
.transportation .border-box {
  border-color: #e24c2d;
}
.transportation a.button.sign-up {
  background: linear-gradient(top, #fa6445 50%, #e24c2d);
  background: -webkit-linear-gradient(top, #fa6445 50%, #e24c2d);
  background: -moz-linear-gradient(bottom, #e24c2d 20%, #fa6445);
  background-image: -ms-linear-gradient(top, #fa6445 50%, #e24c2d);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00acee', EndColorStr='#0394cb')";
  background-color: #fa6445;
}
.transportation a.button.sign-up:hover {
  background: linear-gradient(top, #e24c2d 40%, #fa6445);
  background: -webkit-linear-gradient(top, #e24c2d 40%, #fa6445);
  background: -moz-linear-gradient(bottom, #fa6445 40%, #e24c2d);
  background-image: -ms-linear-gradient(top, #e24c2d 50%, #fa6445);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0394cb', EndColorStr='#00acee')";
}


/* Begin print styles */

@media print {
@page {
margin:1.5cm 1.5cm 2cm;
}

.article-detail h1 {
font-size:16pt!important;
line-height:1.2em!important;
margin-top:0!important;
}

.article-detail h2 {
font-size:13pt!important;
line-height:1.2em!important;
}

.wrap,#medium-content {
width:auto!important;
border:0;
float:none!important;
padding:0!important;
}

* {
overflow:visible!important;
position:relative!important;
}

body #main {
display:block;
}

body.pinned #main {
padding-top:0!important;
display:block!important;
}

.article-detail article p,.article-detail p {
font-size:10pt!important;
line-height:1.5em!important;
}

figure,inlay,img {
display:inline-block!important;
text-align:center!important;
margin:auto;
}

figure.xlrg,#artImg {
float:right;
clear:both;
width:50%;
margin:7px 0 26px 20px;
}

.article-detail article figure figcaption, .article-detail figure figcaption, #artImg .artImgCptn {
font-size:8pt;
line-height:1.5em;
}

.article-detail article figure .hi-cap, .article-detail figure .hi-cap, #artImg .artImgBy {
font-size:7pt;
line-height:1.3em;
}

.rt,.lt {
clear:both;
}

.pullquote {
font-size: 12pt;
width: 100%;
}

#comments-section {
display:none;
}

.buttons {
overflow:visible!important;
}

.buttons a.button {
float:none;
display:inline;
}

#header,#ieee-metanav,#masthead,.masthead-wrap,#mainNav,#breadcrumbs,.article-share-options,#global-footer,.learn-more,#bottom-share-tools,#iso-content,#narrow-right-pane,#mediaContent,.article-detail iframe,object {
display:none!important;
}
}
/* End print styles */