* {
	margin: 0;
	padding: 0;			
}

body {
	font-family: Verdana,Arial,Helvetica,sans-serif;	
	font-size: 11px;
	font-weight: normal;
	text-align:center;
	background:url(images/stripesBG.png);
}

select {
	width: 375px;
}

.text input {
	width: 373px;
}

.clear {
	clear:both;
}

#wrapper {
	width: 820px;
	margin: 20px auto;
	margin-bottom: 0;
	border: 1px solid #000;
	text-align:left;
	background: #FFF;
}
#footer {
	width: 820px;
	margin: 0px auto;
	margin-bottom: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 11px;
	background: #858080;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a
{
	color: #FFFFFF;
}

#privacy_body
{
	overflow:auto;
	height:115px;
	background:#FFFFFF;
	text-align:left;
	color:#000000;
	padding:5px;
}

#privacy_body a:link, #privacy_body a:visited, #privacy_body a:active, #privacy_body a
{
	color: #0000FF;
}

.requiredNote {
	color: #F00;
	text-align: right;
	margin: 5px 10px 10px 0;
	font-size: 10px;
}

fieldset {
	margin: 15px;
	border: 1px solid #7F9DB9;
}

legend {
	margin-left: 15px; 
	padding: 0 5px;
}

.input {
	margin: 5px 5px;
	clear: both;
}

.submit {
	margin: 5px 5px;
	clear: both;
}

.input label {
	width: 16em;
	float: left;display:inline;	
	padding-right: 3px;
}

.input .inputField {
	float:left;	display:inline;	
}

#passwordDirections {
	margin-left:25px;
}

.radio .inputField div, .checkbox .inputField div, .checkgroup .inputField div {
	margin: 10px 0 5px 0;
} 

.checkGroupSpacing .checkgroup .inputField div {
	margin: 0;
}


/*
.checkgroup .inputField div {
	margin-left: 3em;
	padding-left: 3px;
}
*/
			
.submit, .image {
	text-align: center;
}

.submitBtn {
	cursor: pointer;
	cursor: hand;
}

.input input,.input select, .input textarea{
	border: 1px solid #7F9DB9;
}

.radio input, .checkbox input, .checkgroup input {
	border: 0;
} 
			
.input_error input, .input_error textarea, .input_error select {
	border: 1px solid #f00;
}
			
.input_error label, .required, .input_error p, .input_error .label, label.input_error, .input_error .longLabel {
	color: #f00;
}

.infoBox, .messageBox {
	border:1px solid #7F9DB9;
	padding:15px;
	margin: 15px;
}

.infoBox h3, .messageBox h3 {
	margin-bottom: 10px;
}
.signIn h3 {
	margin: 10px 5px;
}

.errorMsg {
	margin: 15px; 
	border: 1px solid #f00;
	background: #FFFFE1;
	padding: 10px;	
}

.errorMsg h3 {
	color: #f00;
}
			
.successMsg {
	margin: 15px; 
	border: 1px solid #7F9DB9;
	background: #FFFFFF;
	padding: 10px;	
}

#error_msg {
	margin: 15px; 
	border: 1px solid #f00;
	background: #FFFFE1;
	padding: 10px;				
}
	
#error_msg h3 {
	color: #f00;
}

.viewForm .input .edit, .viewForm .editButton {
	display:none;
}

.editForm .input .view, .editForm .viewButton {
	display:none;
}

h1.pageTitle {
	color: #AB1E24;
	border-bottom: 1px solid #AB1E24;
	margin:5px 15px;
	padding: 0 0 5px 0;
}

p {
	margin:5px 15px;
	padding: 0;
}

a img {
	border:0;
}

#tabs {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom: 3px solid #7D181C;
}
#tabs ul {
	margin:0;
	padding:10px 10px 0 10px;
	list-style:none;
}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
}

#tabs a {
	float:left;
	background:url("images/tableft.gif") #C60000 no-repeat left top;
	margin:0 5px;
	padding:0 0 0 4px;
	text-decoration:none;
}

#tabs a span {
	float:left;
	display:block;
	background:url("images/tabright.gif") #C60000 no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
}
  
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
	color:#FFF;
}

#tabs a:hover {
	background-position:0% -42px;
	/* background-color: #090303; */
}

#tabs a:hover span {
	background-position:100% -42px;
	/* background-color: #090303; */
}

#tabs div.logoutLink {
	float:right;
	width: 100px;
	display: inline;
}

#tabs div.logoutLink a {
	background:#fff;
	margin:0;
	padding:0;
	text-decoration:none;
	color: #AB1E24;
}

#tabs div.logoutLink a:link {
	text-decoration:none;
}

#tabs div.logoutLink a:hover {
	text-decoration:underline;	
}


/*******  Newsletter Subscriptions  *******/
.clear:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    }
    
h2.groupTitle {
	color: #fff;
	background: #AB1E24;
	margin: 0;
	padding: 5px;
	font-size: 100%;
}
span.nlTitle {
	font-weight: bold;
	margin-left: 2px;
}
p.nlDesc {
	margin-left: 30px;
}

.group{
	margin: 15px 15px;
	border: #AB1E24 1px solid;
}

.newsletter {
	width: 100%;
}

.subscribe {
	padding-bottom: 5px;
	border-bottom: #AB1E24 2px solid;
}
.inputwrap {
	margin: auto;
	width: 50%;
}

#newsletterInfo {
	margin:  15px;
}

.input .optionContainer {
	margin: 10px 0;
	clear:both;
}

.input .optionLabel {
	float:left;
	margin-left:5px;
	width: 275px;
}

.input .optionDiv {
	float:left;
	width:10px;
}

.input .optionHeader {
	clear:both;
	margin: 10px 0;	
}

#budgetTable td.budgetTable {
	font-size: 10px;
}

#budgetTable td {
	padding: 5px 0;
}

#budgetTable tr.even, #budgetTable tr.even td {
	background: #E1B3B6;
}

#budgetTable th {
	text-align: center;
}

#loginBox label{
	width:85px;
}

#displayFrame div {
	padding: 3px;
}

.nl_col
{
    float: left;
    width: 253px;
    margin-right: 5px;
}

.nl_col_left
{
    margin-left: 5px;   
}

.nl_col_right
{
    margin-right: 5px;
}

.nl_grp
{
    margin-bottom: 20px;
}

.nl_grp .newsletter
{
    padding: 2px;
}

.nl_grp .nlDesc, #nl_spotlight .nlDesc
{
    margin: 0;
    margin-left: 20px;
}

.nl_grp .newsletterSubCheckBox
{
    float: left;
}

.nl_grp .nlTitle
{
    display: block;
    padding-left: 20px;
}

.nl_grp_title
{
    font-size: 14px;
    color: #225282;
    font-weight: bold;
    border-bottom: 1px solid #225282;
    margin-bottom: 5px;
    text-align: left;
}

.nl_submitbar
{
    text-align: center;
    padding: 20px;
}

.nl_submitbar input
{
    padding: 5px;
}

#nl_spotlight
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.spotlight_item
{
    float: left;
    width: 245px;
    padding: 5px;
}

.nl_even
{
    /*background: #EFE1E1;*/
    background: #FFFFFF;
}

.nl_odd
{
    background: #FFFFFF;
}

#sub_top_left
{
    float: left;
    width: 375px;
    margin-right: 15px;
}

#recommendbox_loggedout
{
    float: left;
    width: 375px;
}

.sub_input
{
    width: 100%;
}

.sub_field_wrap
{
    margin-bottom: 10px;
}

.sub_label_wrap
{
    font-weight: bold;
}

.req
{
    color: red;
}

.nl_ss_wrap
{
    float: left;
    width: 75px;
    text-align: center;
}

.nl_ss_wrap img
{
    max-width: 75px;
    margin-bottom: 5px;
}

.nl_descrip_wrap
{
    padding-left: 85px;
}

.nl_sp_logo
{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    min-height: 50px;
}

.nl_sp_logo_img
{
    max-width: 215px;
}