.scroll_division_big {position:relative; height:400px; width:auto; overflow:auto}

BODY {
	font-family: Arial, Helvetica;
	font-size: 12px;
	background-color: #C0C0C0;
}

A {
	color: #000000 ;
	text-decoration: none;
}

a:hover {
	text-decoration:none;
	color: White;
	background-color : #000066;
}

a:active {
	text-decoration:none;
	color: White;
	background-color : #000066
}