/*
 * CSS: all layout properties for this display code only
 *      layout and site-specific overrides belong in their own files
 */

/*#header { position: relative; }*/

a { text-decoration: none; }
a:hover { text-decoration: underline; }
#breadcrumbs a { text-decoration: underline; }
blockquote { border-left: 2px solid #ccc; font-size: 11px; margin: 10px 15px 15px; padding: 5px 15px; }

#sectionTitleFeatureBar { margin-bottom: 0; }
#sectionTitleFeatureBar ul.empty { display: none; }
#sectionTitleFeatureBar h2 { border-bottom: 1px solid #999; margin-bottom: 15px; padding-bottom: 5px; }
#sectionTitleFeatureBar h3 { font-size: 16px; padding-bottom: 5px; }
#sectionTitleFeatureBar h4 { font-size: 11px; font-weight: normal; }

.syntaxhighlighter { padding: 1px !important; }

/* BEGIN: button classes */
.iconButton { background: #fff url(../images/dc5/buttonBackground.png) repeat-x bottom; border: 1px solid #ccc; color: #000; display: inline-block; font-size: 10px; margin: 0; min-height: 15px; max-height: 15px; height: 15px; padding: 6px 6px 5px; position: relative; text-decoration: none; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); text-transform: uppercase; }
.iconButton:hover { background-image: url(../images/dc5/buttonBackgroundHover.png); color: #fff; text-decoration: none; }
.iconButton:active { background-image: url(../images/dc5/buttonBackgroundActive.png); top: 1px; }
.iconButton span.icon { background-position: top; background-repeat: no-repeat; display: inline-block; height: 16px; margin-bottom: -5px; margin-right: 5px; padding: 0; position: relative; width: 16px; }
.iconButton.postMessage span.icon, .iconButton.replyToPost span.icon, .iconButton.replyToOriginalPost span.icon { background-image: url(../images/dc5/discussionButtonsPostMessage.png); top: -2px; }
.iconButton.getFeed span.icon { background-image: url(../images/dc5/discussionButtonsGetFeed.png); }
.iconButton.noIcon span.icon { display: none; }
/* END: button classes */

/* BEGIN: container styles */
#containerOuter { margin: 0 auto; width: 960px; }
#containerInner { background-color: #fff; padding-bottom: 1px; padding-top: 1px; }
.contentInner { border: solid #666; border-width: 0 1px; }
.contentHeader, .contentCols { padding: 0 10px; }
.colmask {
	background-color: #fff; /* right column background color */
	margin-bottom: 35px;
}
.home .colmask .colmid {	
	background-color: #fff; /* center column background color */
	right: 160px;     /* width of the right column */
}
.home .colmask .colleft {
	background-color: #fff; /* left column background color */
	right: 610px;     /* width of the middle column */
}
.home .colmask .col1 {
	left: 942px;  /* 100% plus left padding of center column */
	width: 592px; /* width of center column content (column width minus padding on either side) */
}
.home .colmask .col2 {
	left: 178px;  /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	width: 160px; /* width of left column content (column width minus padding on either side) */
}
.home .colmask .col3 {
	left: 796px;  /* (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	width: 160px; /* width of right column content (column width minus padding on either side) */
}

.discussionsPost .colmask .col1 {
	width: 598px;
	padding-right: 20px;
}

.discussionsPost .colmask .col2 {
	display: none;
}

.discussionsPost .colmask .col3 {
	width: 310px;
}

.register .colmask .col2, .register .colmask .col3 {
	display: none;
}

.infoCenterLanding .colmask .col1, .rssAbout .colmask .col1, .rssAbout .colmask .col1,
.eventsLanding .colmask .col1, .mcCICommon .colmask .col1, .contactUs .colmask .col1,
.rssLanding .colmask .col1, .newsArchive .colmask .col1, .ateBiosLanding .colmask .col1,
.ateLanding .colmask .col1, .ateListing .colmask .col1, .meetTheEditors .colmask .col1, 
.ateBio .colmask .col1, .siteIndex .colmask .col1 {
	width: 752px;
}
.ciCLT .colmask .col1, .topicsLanding .colmask .col1, .topicsListing .colmask .col1,
.discussionsLanding .colmask .col1, .discussions .colmask .col1,
.infoCenter .colmask .col1 {
	width: 610px;
}
.newsLanding .colmask .col1, .tipsLanding .colmask .col1, .tipsListing .colmask .col1 {
	width: 582px;
}
.newsLanding .threecol .col2, .tipsLanding .threecol .col2, .tipsListing .threecol .col2 {
	left: 10px;
}
/* END: container styles */




/* BEGIN: styles by page and component */
/* BEGIN: Ads */
#leaderboard { background: none; border-color: #fff; margin-left: 95px; position: absolute; top: 24px; }
#leaderboard div { background: url(../images/dc5/leaderboardBackground.png) no-repeat left top; }
#leaderboard iframe { border-color: #fff; }
#leaderboard p { background: url(../images/dc5/leaderboardExpandBackground.png) no-repeat right top; }
#leaderboard p.collapse { background-image: url(../images/dc5/leaderboardCollapseBackground.png); }
/* END: Ads */
/* BEGIN: Error Pages */
.pageNotFound #siteIndex h4 { color: #317d94; }
.pageNotFound #siteIndex #siteIndexFeatureList h4 { position: absolute; visibility: hidden; }
.pageNotFound #siteIndex ul li a { color: #636563; font-size: 0.95em; text-decoration: underline; }
/* END: Error Pages */
/* BEGIN: Footer */
#footer { border-top-style: none; border: 1px solid #666; width: auto; }
/* END: Footer */
/* BEGIN: Header */
#adjInterstitial {height: 1px; line-height: 1px;} /* fix so interstitial div occupies no space */ 
#loginBand {
	border: 1px solid #000; margin-bottom: 6px;
	margin-bottom: 124px; /* reserves space for standard leaderboard */
}
#headerLogoBand { border: 1px solid #666; border-bottom: none; }
#inlineNavLinks {
	float:right;
	margin-top:1em;
	padding:5px;
	font-size:0.95em;
	text-transform:uppercase;
}
#inlineNavLinks li {display:inline;list-style-type:none;margin-right:22px;}
#inlineNavLinks li a {
	display:inline-block; /* fixes an Opera bug with line wrapping */
	line-height:20px;
	padding-left:6px; /* width of the arrow image */
	text-decoration:none;
	background:transparent url(../images/dc5/inlineNavLinksBullet.png) no-repeat left center;
}
#topicalNavbar { clear:both;border:solid #666;border-width:0 1px;font-size:0.85em;background:#fff url(../images/dc5/topicalNavbarBackground.png) repeat-x left 1px; }
#topicalNavbar:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
#ddMenu {height:100%;border-right:1px solid #fff;}
#ddMenu:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
#ddNav {float:left;}
#ddNav a {color:#fff;text-decoration:none;}
#ddNav li {float:left;height:25px;line-height:25px;}
#ddNav li div {padding:0 1em;text-transform:uppercase;text-align:center;white-space:nowrap;border-left:1px solid #fff;}
#ddNav li ul {position:absolute;z-index:100;background:#999;border:1px solid #fff;border-bottom:none;}
#ddNav li ul {visibility:hidden;}
#ddNav li ul.right {}
#ddNav li:hover ul, #ddNav li.over ul {visibility:visible;}
#ddNav li ul li {float:none;height:auto;line-height:20px;white-space:nowrap;}
#ddNav li ul li a {display:block;border-bottom:1px solid #fff;padding:0 8px;}
* html #ddNav li ul li {width:1%;height:20px;} /* IE6 hack */
* html #ddNav li ul li a {width:100%;height:20px;} /* IE6 hack */


#searchBar { background-color:#efefef; border:solid #666; border-width:0px 1px; color:#999; }
#searchBar #searchBarFormTextbox { border-color:#000; }
#searchBar strong { display:none; }
#searchBar a { color:#999; text-decoration:none; }
#searchBar a:hover { text-decoration:underline; }

/* END: Header */
/* BEGIN: Home Page */
.home .col1 h2, .todayOnArchive .col1 h2 {
	font-size: 1.6em;
	margin: 15px 0;
	padding: 0 5px 4px 0;
}

.home .col1 h3, .todayOnArchive .col1 h3 {
	font-size: 1.45em;
	line-height: 1.2em;
}

.home .col1 p, .todayOnArchive .col1 p {
	font-size: 14px;
	margin-bottom: 25px;
}


.col1 p.articleSummary{
	color: #999;
	font-size: 0.75em;
	margin-bottom: 0;
}

p.articleSummary .separator {
	padding: 0 3px; 
}

#emailUpdates, #topicalNewsSplash, #meetTheEditorSplash, #webcastsSplash, #specialSectionSplash, #webcastsSplash, #whatsNewSplash {
	clear: both;
	color: #000;
	margin: 15px 0 15px;
	position: relative;	
}
#emailUpdatesHeader, #topicalNewsSplashHeader, #meetTheEditorSplashHeader, #whitePapersSplashHeader, #specialSectionSplashHeader, #webcastsSplashHeader, #whatsNewSplash #whatsNewSplashHeader  {
	background: transparent url(../images/dc5/splashHeader.png) no-repeat left top;
}
#emailUpdatesHeader h3, #topicalNewsSplashHeader h3, #meetTheEditorSplashHeader h4, #whitePapersSplashHeader h3, #specialSectionSplashHeader h3, #webcastsSplashHeader h3 a, #whatsNewSplash #whatsNewSplashHeader h3 {
	color: #2e5e8d;
	font-size: 0.8em;
	font-weight: normal;
	height: 19px;
	line-height: 19px;
	padding: 0 5px 0 14px;
	text-decoration: none;
	text-transform: uppercase;
}
#webcastsSplashHeader, #whatsNewSplashHeader {
	height: 19px;
}
#whatsNewSplash #whatsNewSplashHeader {
	border-bottom: none;
}
#whatsNewSplash #whatsNewSplashHeader h3 {
	margin-left: 0;
}	
#whatsNewSplash {
	border: none;
}
#whatsNewSplash ul {
	background: none;
	padding: 8px 0;
}
#whatsNewSplash ul li {
	background: none;
	font-size: 0.9em;
	margin-left: 0;
}
#whatsNewSplash ul li a {
	font-weight: bold;
	text-decoration: none;
}

#whatsNewSplash h4 {
	display: none;
}
#whatsNewSplash ul {
	background-color: #eaeff3;
}
#emailUpdatesCol1, #emailUpdatesCol2, #topicalNewsSplash .topicalNewsSplashContainer, #meetTheEditorSplash #meetTheEditorSplashContent, #whitePapersSplash .whitePapersSplashContainer, #specialSectionSplash .specialSectionContent, #webcastsSplash p, #webcastsSplash dl {
	background-color: #eaeff3;
	font-size: 0.85em;
	padding: 10px 6px;
}
#emailUpdatesCol1 .p1 {
	margin-bottom: 10px;
}
#emailUpdatesCol1 .p1 strong {
	font-weight: normal;
}
#emailUpdatesCol1 .p2 {
	color: #999;
}
#emailUpdatesCol1 #emailUpdatesForm {
	margin-bottom: 10px;
}
#emailUpdatesCol1 #emailUpdatesForm ul {
	font-weight: bold;
	margin-bottom: 10px;
}
#emailUpdatesCol1 #emailUpdatesForm ul li {
	margin-left: 16px;
}
#emailUpdatesCol1 #emailUpdatesForm ul li input {
	left: -16px;
	margin-right: -13px;
	position: relative;
	top: 2px;
}
#emailUpdatesCol1 #emailUpdatesForm #emailUpdatesTextbox {
	padding: 2px;
	width: 140px;
}
#emailUpdatesCol1 #emailUpdatesForm #emailUpdatesSubmit {
	color: #fff; 
	background-color: #aaa;
	border: none;
	font-size: 0.85em;
	margin: 8px 50px 0;
	padding: 1px 3px;
	text-transform: uppercase;
}
#emailUpdatesCol2 {
	border-top: 1px solid #fff;
}
#emailUpdatesCol2 h4 {
	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: normal;
	color: #ff9900;
}
#meetTheEditorSplash #meetTheEditorSplashContent {
	font-size: 11px;
	min-height: 46px;
}
#meetTheEditorSplash #meetTheEditorSplashContent img {
	float: left;
	overflow: auto;
	padding-right: 5px;
}
#meetTheEditorSplash #meetTheEditorSplashContent p {
	clear: both;
}
#topicalNewsSplash .topicalNewsSplashContainer a, #meetTheEditorSplash #meetTheEditorSplashContent a, #whitePapersSplash .whitePapersSplashContainer a, #specialSectionSplash .specialSectionContent a {
	font-weight: bold;
	text-decoration: none;
}
#topicalNewsSplash .topicalNewsSplashContainer ul li, #meetTheEditorSplash #meetTheEditorSplashContent ul li, #whitePapersSplash .whitePapersSplashContainer ul li, #specialSectionSplash .specialSectionContent ul li {
	margin-bottom: 12px;
}
#webcastsSplash dl, #videosSplash dl {padding:4px;font-size:0.85em;}
#webcastsSplash dl dt, #videosSplash dl dt {float:left;position:relative;padding-right:3px;color:#327e93;text-transform:uppercase;}
*:first-child+html #webcastsSplash dl dt, *:first-child+html #videosSplash dl dt {padding:0;}
* html #webcastsSplash dl dt, * html #videosSplash dl dt {padding:0;margin-right:-3px;}
#webcastsSplash dl dd, #videosSplash dl dd {color:#000;margin-bottom:4px;}



.home #content #siteIndex { clear: both; height: 100%; margin-top: 10px; padding: 20px 0 15px; }
.home #siteIndex:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.home #siteIndexHeader h3 { color: #ff9900; font-size: 1em; font-weight: normal; text-transform: uppercase; }
.home #siteIndex p { font-size: 0.85em; margin: 8px 0; }
.home #siteIndex h4 { color: #999; font-size: 0.85em; font-weight: normal; padding: 5px 0 4px 0; text-transform: uppercase; }
.home #siteIndex ul li { background: none; font-size: 0.90em; margin-top: 7px; position: relative; }
.home #siteIndex ul li a { color: #636563; font-size: 0.95em; text-decoration: underline; }
.home #siteIndex #siteIndexFeatureList { float: left; padding: 6px 6px 6px 0; position: relative; width: 65%; }
.home #siteIndex #siteIndexFeatureList h4 { display: none; }
.home #siteIndex #siteIndexFeatureList ul li { display: inline; float: left; white-space: nowrap; width: 120px; }
.home #siteIndex #siteIndexFeatureList a.more { clear: left; float: left; font-size: 0.85em; margin-top: 2em; }
.home #siteIndex #siteIndexFeatureList a.more:after { content: " ]"; }
.home #siteIndex #siteIndexFeatureList a.more:before { content: "[ "; }
.home #siteIndex #siteIndexMembers, .home #siteIndex #siteIndexMoreInfo { clear: right; float: right; padding-right: 0; padding: 6px; position: relative; right: 6px; width: 30%; }
.rotatingSplash { display: none; }
#vendorOffer { margin: 0 -10px 10px; }

#submitAnItem { float: right; margin: -12px 0 10px; }
#submitAnItem em { float: left; font-size: 10px; color: #999; margin-right: 5px; font-style: normal; vertical-align: top; position: relative; top: -3px; }
#submitAnItem #submitAnItemButton { display: inline-block; text-indent: -1000px; }
.todayOnList { clear: both; }



a.viewMore { text-transform: uppercase; text-decoration: underline; }
#postingGuidelinesSplashHeader { background-color: #224b7a; border-bottom: 1px solid #ccc; }
#postingGuidelinesSplashHeader h3 { color: #fff; font-size: 12px; font-weight: normal; padding: 8px 10px; text-transform: uppercase; }
#postingGuidelinesSplash { border: 1px solid #ccc; margin-top: 40px; width: 98%; }
#postMessageFormButtons { margin-top: 25px; }
#postMessageFormButtons input, #postMessageUseParentTitle, #postMessageQuoteOriginal, #postMessageClearContents { background-color: #cfcfcf; border: 1px solid #000; color: #000; font-size: 10px; padding: 1px 3px; text-decoration: none; text-transform: uppercase; }
#postMessageUseParentTitle, #postMessageQuoteOriginal { display: none; }
#postingGuidelinesSplashContainer { padding: 10px; }
#postingGuidelinesSplashContainer p { font-size: 11px; line-height: 1.2; margin-bottom: 10px; }
#postMessageFormHeader { border-bottom: 1px solid #ccc; margin-bottom: 15px; padding-bottom: 10px; position: relative; }
#postMessageFormHeader p { margin-bottom: 20px; }
#postMessageFormHeader h2 { font-size: 15px; font-weight: normal; margin-bottom: 20px; }
#postMessageFormHeader h1 { font-size: 20px; margin-bottom: 20px; }
.requiredFieldWarning { color: #666; float: right; font-size: 11px; margin-top: -10px; }
#postMessageFormError { background: url(../images/dc5/postMessageFormError.png) no-repeat 10px 10px; border: 1px solid #c00; color: #c00; font-weight: bold; margin-bottom: 20px; padding: 10px 33px; }
#postMessageForm { margin: 30px 0 300px; }
#postMessageForm #reCaptcha { margin: 20px 0 0 1px; }
#postMessageForm #reCaptcha p { margin-bottom: 15px; }
#postMessageForm label { display: block; font-weight: bold; margin-bottom: 5px; position: relative; }
#postMessageForm label.error { color: #c00; }
#postMessageForm #postMessageFormTitle, #postMessageForm #postMessageFormSummary { border: 1px solid #ccc; clear: right; font-size: 14px; margin-bottom: 20px; padding: 3px; width: 400px; }
#postMessageUseParentTitle { right: 190px; position: absolute; top: 0; }
#postMessageQuoteOriginal { right: 0; position: absolute; top: -1px; }
#postMessageForm #ogPost { margin: 40px 0; }
#postMessageForm #ogPost h3 { padding: 5px 10px; font-size: 10px; text-transform: uppercase; }
#postMessageForm #ogPost #ogPostMeta { margin: 15px 0; }
#postMessageForm #ogPost #ogPostMeta strong { display: block; }
#postMessageForm #ogPost #ogPostMeta em { display: block; font-style: normal; font-size: 11px; }
textarea#postMessageFormContent { border: 1px solid #ccc; width: 596px; }

/* TO DELETE */
#postMessageTabs { clear: right; margin-bottom: 45px; }
#postMessageTabs #tabs-2 { padding: 10px 5px; }
#postMessageTabs #tabs-1 { padding: 10px 0 0 10px; }
#insertQuote textarea { height: 100px; width: 270px; }
/* TO DELETE */


.todayOnPagination { color: #999; font-size: 11px; overflow: auto; }
.todayOnPagination .paginationCount { float: left; }
.todayOnPagination .paginationNav { float: right; }
.todayOnPagination .currentPage { padding: 0 2px; }
.todayOnPagination a { color: #2e5e8d; padding: 0 2px; }
.todayOnPagination a.previous, .todayOnPagination a.next { color: #ff9900; }
.home .todayOnPagination { margin-top: 15px; padding-bottom: 15px; }


.discussionsThread { margin-bottom: 25px; }
.discussionsThread .userDiscovery { margin-bottom: 0; }
.discussionsThread .userDiscovery a.addthis_button { float: left; }
.discussionsThread .userDiscovery a.getFeed { float: right; }
.discussionsThreadPostsList { border: 1px solid #ccc; clear: both; }
.discussionsThreadPostsList .postHeader h4 { background-color: #efefef; margin-bottom: 5px; padding: 5px 10px; }
.discussionsThreadPostsList li#originalPost .postHeader h4 { font-size: 14px; }
.discussionsThreadPostsList li#originalPost .postHeader h4 em { font-size: 12px; font-style: normal; font-weight: normal; }
.discussionsThreadPostsList .postHeader h4 a { color: #000; }
.discussionsThreadPostsList .postHeader h4 a:hover { text-decoration: none; }
.discussionsThreadPostsList .postHeader h4 .goToTop { float: right; font-size: 10px; font-weight: normal; position: relative; text-transform: uppercase; }
.discussionsThreadPostsList .postHeader h4 .goToTop a { text-decoration: underline; }
.discussionsThreadPostsList .postHeader ul.postMetaData { clear: both; padding: 0 10px; }
.discussionsThreadPostsList .postHeader ul.postMetaData li { display: inline; font-size: 11px; padding-right: 10px; }
.discussionsThreadPostsList .postHeader ul.postMetaData li em { color: #999; font-style: normal; text-transform: uppercase; }
.discussionsThreadPostsList .postResponseButtons { margin: 0 10px 20px; }
.discussionsThreadPostsList .postResponseButtons a { margin-right: 10px; }
.discussionsThreadPostsList .threadMessagesList { background-color: #e9edf2; border: 1px dashed #ccc; color: #666; display: none; margin: 10px 10px 25px; padding: 10px 8px; }
.discussionsThreadPostsList .threadMessagesList h4 { font-size: 14px; }
.discussionsThreadPostsList .threadMessagesList h4 a { background: url(../images/dc5/discussionsForumMinusSmallIcon.png) no-repeat 0 3px; color: #666; padding-left: 15px; }
.discussionsThreadPostsList .threadMessagesList h4 a.closed { background: url(../images/dc5/discussionsForumMinusPlusIcon.png) no-repeat 0 3px; }
.discussionsThreadPostsList .threadMessagesList h4 em { font-style: normal; font-weight: normal; }
.discussionsThreadPostsList .threadMessagesList ul { margin: 0 0 0 15px; }
.discussionsThreadPostsList .threadMessagesList ul li { font-size: 11px; padding: 5px 0 0; }
.discussionsThreadPostsList .threadMessagesList ul li a { font-size: 13px; }
.postContent { padding: 10px; }
.postContent p, #ogPostContent p { margin-bottom: 15px; }
.postContent ul, #ogPostContent ul { list-style-type: disc; margin-bottom: 25px; }
.postContent ul li, #ogPostContent ul li { padding-left: 5px; margin-left: 35px; margin-bottom: 5px; }
.postContent ol, #ogPostContent ol { list-style-type: decimal; margin-bottom: 25px; }
.postContent ol li, #ogPostContent ol li { padding-left: 0; margin-left: 40px; margin-bottom: 5px; }

.discussionsForum { margin-bottom: 30px; padding-left: 20px; position: relative; }
.discussionsForum h3 a { color: #224b7a; font-size: 15px; line-height: 16px; text-decoration: none; }
.discussionsForum h3 a:hover { text-decoration: underline; }
.discussionsForum h4 { font-size: 10px; font-style: italic; margin-bottom: 10px; width: 400px; }
.discussionsForumToggle { background: url(../images/dc5/discussionsForumMinusIcon.png) no-repeat 0 0; display: block; height: 16px; left: 0; position: absolute; text-indent: -500px; width: 16px; }
.discussionsForumToggle.hide { background: url(../images/dc5/discussionsForumPlusIcon.png) no-repeat 0 0; }
* html .discussionsForumToggle { left: -20px; } /* IE6 hack */
.discussionsForumButtons { right: 0; top: -28px; position: absolute; }
.discussionsForumButtons a { float: left; margin-left: 8px; }

.discussionsForumAllThreadsSearch { display: none; height: 28px; width: 200px; }
.discussionsForumAllThreadsButtons { float: right; height: 28px; position: relative; }
.discussionsForumAllThreadsButtons a { float: left; margin-left: 8px; }

.discussionsForumThreads { position: relative; }
.discussionsForumAllThreads, .discussionsForumAllUserThreads { margin-bottom: 50px; position: relative; zoom: 1.0; }
.discussionsForumThreads table { clear: both; width: 100%; }
.discussionsForumAllThreads table, .discussionsForumAllUserThreads table { clear: both; width: 99.9%; margin-left: 1px; }
.discussionsForumThreads table thead, .discussionsForumAllThreads table thead, .discussionsForumAllUserThreads table thead { border: 1px solid #ccc; }
.discussionsForumThreads table thead th, .discussionsForumAllThreads table thead th, .discussionsForumAllUserThreads table thead th { background-color: #224b7a; color: #fff; font-size: 10px; padding: 5px 6px 4px; text-transform: uppercase; }
.discussionsForumThreads table tfoot td { padding: 5px 0 0; }
.discussionsForumThreads table tfoot a { color: #ff9900; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.discussionsForumThreads table tbody td, .discussionsForumAllThreads table tbody td, .discussionsForumAllUserThreads table tbody td { border: 1px solid #ccc; padding: 6px; }
.discussionsForumThreads table tbody td span.lastPostDate, .discussionsForumAllThreads table tbody td span.lastPostDate, .discussionsForumAllUserThreads table tbody td span.lastPostDate { display: block; }
.discussionsForumThreads table thead th.th1 { width: 50%; }
.discussionsForumThreads table thead th.th2 { width: 15%; }
.discussionsForumThreads table thead th.th3 { width: 35%; }
.discussionsForumAllThreads table thead th.th1 { width: 50%; }
.discussionsForumAllThreads table thead th.th2 { width: 15%; }
.discussionsForumAllThreads table thead th.th3 { width: 35%; }
.discussionsForumAllUserThreads table thead th.th1 { width: 20%; }
.discussionsForumAllUserThreads table thead th.th2 { width: 35%; }
.discussionsForumAllUserThreads table thead th.th3 { width: 10%; }
.discussionsForumAllUserThreads table thead th.th4 { width: 35%; }
 
table td.tablePagination { background-color: #ededed; border: 1px solid #ccc; padding: 6px 10px; }
table td.tablePagination .paginationCount { color: #000; }
table td.tablePagination a.previous, table td.tablePagination a.next { color: #2e5e8d; }
 





#popularThreadsSplash { border: 1px solid #ccc; border-bottom: none; margin-bottom: 25px; position: relative; }
#popularThreadsSplashHeader { background-color: #224b7a; border-bottom: 1px solid #ccc; }
#popularThreadsSplashHeader h3 { color: #fff; font-size: 10px; font-weight: normal; padding: 5px 8px; text-transform: uppercase; }
#popularThreadsContainer { background-color: #e4eaef; }
#popularThreadsContainer ul li { border-bottom: 1px solid #ccc; display: block; padding: 5px; }
#popularThreadsContainer ul li a { font-size: 11px; font-weight: bold; text-decoration: none; }
#popularThreadsContainer ul li a:hover { text-decoration: underline; }

#cancelConfirmation .ui-dialog .ui-dialog-titlebar-close { display: none; } 

/*
.home #googleTextAds {clear:both;position:relative;border:1px solid #cecfce;margin:6px;color:#333;}
.home #googleTextAds {padding:0;}
.home #googleTextAds {background:url(../images/dc3/splash_head_bg.gif) repeat-x left top;}
.home #googleTextAds h3 {margin:0;margin-left:4px;padding:0;padding-left:8px;font-weight:bold;font-size:1em;}
*/

#regFormContainer .regCol1 { width: 536px; }
#regFormContainer .regCol2 { width: 400px; }
 
#loginBandPopout { background-color: #abbfd1; border: 1px solid #797979; display: none; padding: 0 10px 10px; position: absolute; right: 0; top: 20px; width: 230px; z-index: 1; }
#loginBandPopoutTab { background-color: #abbfd1; border-bottom: none; border: 1px solid #797979; display: block; padding: 3px 0 1px 5px; position: relative; right: -199px; top: -21px; width: 35px; }
#loginBandPopoutTab a { color: #fff; text-decoration: none; }

/* TinyMCE specific rules */
.mceContentBody { font-size: 14px; margin: 0; padding: 10px; }

/*BEGIN: thread redesign */
/* new */
#threadTitleBar h2 {border-bottom:1px solid #999;margin:0;padding-bottom:5px;}
.threadByline {background: url('../images/dc5/bylineBackground.png') repeat-x top left;height:27px;margin-top:-0.5em;padding:5px;}
.col3Thread {margin-top:10px;}
.rssIcon {background: url('../images/dc5/discussionButtonsGetFeedSm.png') no-repeat top left;display:inline-block;height:16px;width:16px;}
.threadMessagesHeader {margin:0 10px;}
.threadMessagesHeader h3 {color:#666;font-size:18px;margin:0;padding:0;}
.threadByline ul.postMetaData {clear:both;padding:0;}
.threadByline ul.postMetaData li {display:inline;font-size:11px;padding-right:5px;}
.threadByline ul.postMetaData li em {color:#999;font-style:normal;text-transform:uppercase;}
.threadByline ul.postMetaData li img {vertical-align:middle;}
.threadBottomBorder {border-top:1px solid #ccc;margin:0 10px;}



/* existing addon */
#threadTitleBar h2 {font-size:13.5pt;line-height:13.5pt;}
#threadTitleBar {margin:12px 0 0 0;}

/* existing replace */
.discussionsThreadPostsList {border:none;}
.discussionsThreadPostsList .postResponseButtons {margin:0 10px;padding-bottom:20px;}
.discussionsThreadPostsList .threadMessagesList {border:1px solid #ccc;margin-bottom:0;}
ol.discussionsThreadPostsList > li {border-left:1px solid #ccc;border-right:1px solid #ccc;margin:0 10px;}
ol.discussionsThreadPostsList > li#originalPost {border:none;margin:0;}


.discussionsThreadPostsList .postHeader h4 .goToTop {float:right;}
.discussionsThreadPostsList .postHeader h4 > a {float:left;}
.discussionsThreadPostsList .postHeader h4 {height:18px;}
/*END: thread redesign */



/* BEGIN: jquery wysiwyg plugin styles */
div.wysiwyg { background-color: #fff; }
div.wysiwyg * { margin: 0; padding: 0; }
div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: left; }
div.wysiwyg ul.panel { border-bottom: 1px solid #ccc; float: left; width: 100%; padding: 0; }
div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 1px 2px 3px 0;  background: #fff;}
div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #ccc; }
div.wysiwyg ul.panel li a { text-indent: -5000px; opacity: 0.85; filter:alpha(opacity=85); display: block; width: 16px; height: 16px; background: url('../images/global/wysiwygToolbarIcons.png') no-repeat -64px -80px; border: 0; cursor: pointer; margin: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 1.00; filter:alpha(opacity=100); }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #ccc; border-left-color: #aaa; border-top-color: #aaa; margin: 0; }
div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }
div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }
div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }
div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }
div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }
div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }
div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }
div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }
div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }
div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }
div.wysiwyg ul.panel li a.html { background-position: -47px -46px; }
div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -63px; }
div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }
/* END: jquery wysiwyg plugin styles */