/* ------------------
	Forbes - EOP - RESP - 8
------------------------- */

/* ------------------
  Widget Container
------------------------- */
#grv_widget {
	position: relative;
  color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 0px;
}

/* ------------------
  Widget Title
------------------------- */
h3.grv_stories_header {
  color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	text-transform: uppercase;
}

/* ------------------
  Articles
------------------------- */
ul.grv_articles {
	list-style: none;
	padding: 0;
	margin: 0px 0 0 0;
	overflow: visible;
  /*border-bottom: 1px solid #d5d5d5;
  height: 190px;*/
}

li.grv_article {
	float: left;
	height: 196px;
  width: 23.5%;
  position: relative;
  margin: 0 2% 10px 0px;
  padding: 5px 0;
}

.grv_article.grv_num_4, 
.grv_article.grv_num_5, 
.grv_article.grv_num_6, 
.grv_article.grv_num_7 {
	margin-bottom: 0px;
}

.grv_article.grv_num_3, 
.grv_article.grv_num_7 {
	margin-right: 0px;
}

a.grv_article_title {
	display: block;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
	margin-top: 6px;
	padding: 0px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  z-index: 10;
}
a.grv_article_title:hover {
	text-decoration: none;
}

li.grv_article a.grv_img_link {
  height: 129px;
  width: 100%;
  display: block; 
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
  z-index: 0;
}


/* ------------------
 	Gravity Attribution
------------------------- */
#grv_badge {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.grv_text_badge #grv_personalization {
  color: #111;
}

#grv_personalization:before {
  color: #111;
  content: "Ads ";
  display: block;
  float: left;
  font-size: 11px;
  margin-right: 3px;
}




/* ------------------
 less than 322
------------------------- */

.grv_less_322 li.grv_article {
  width: 48%;
  margin-right: 4%;
}


.grv_less_322 li.grv_article.grv_num_1,
.grv_less_322 li.grv_article.grv_num_3,
.grv_less_322 li.grv_article.grv_num_5,
.grv_less_322 li.grv_article.grv_num_7,
.grv_less_322 li.grv_article.grv_num_9,
.grv_less_322 li.grv_article.grv_num_11{
	margin-right: 0;
}


#grvWidgetStylesLoaded_forbes_eop_resp_8_vb_a1f9bcc7c6476061a696a3a78d6153a8_css {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
